<common-modal [nextActionName]="nextActionName" [previousActionName]="previousActionName" [isSkippable]="isSkippable"
    [isReady]="true" [isWithProgress]="true" [isWithProgress]="false" [progress]="progress"
    [progressLabel]="progressLabel" (next)="nextStep()" (previous)="previousStep()">

    <ng-container *ngIf="currentStep === 'Welcome'">
        <ng-container *ngTemplateOutlet="welcome"></ng-container>
    </ng-container>

    <ng-container *ngIf="currentStep === 'CreateTeam'">
        <ng-container *ngTemplateOutlet="createteam"></ng-container>
    </ng-container>

    <ng-container *ngIf="currentStep === 'Terminology'">
        <ng-container *ngTemplateOutlet="terminology"></ng-container>
    </ng-container>

    <ng-container *ngIf="currentStep === 'PickColor'">
        <ng-container *ngTemplateOutlet="pickcolor"></ng-container>
    </ng-container>

    <ng-container *ngIf="currentStep === 'Ending'">
        <ng-container *ngTemplateOutlet="ending"></ng-container>
    </ng-container>
</common-modal>

<ng-template #welcome>
    <ng-template #yourfirstmap>
        <span class="text-accent">👋 {{user?.firstname}}</span>, your first map is just a few clicks away!
    </ng-template>
    <ng-template #guide>
        We'll guide you through creating your first map, it should only take a few minutes.
    </ng-template>


    <div class="display-3 d-none d-md-block">
        <ng-container *ngTemplateOutlet="yourfirstmap"></ng-container>
    </div>
    <div class="h1 d-md-none">
        <ng-container *ngTemplateOutlet="yourfirstmap"></ng-container>
    </div>

    <h4 class="my-4 text-muted d-none d-md-block">
        <ng-container *ngTemplateOutlet="guide"></ng-container>

    </h4>

    <h6 class="my-4 text-muted d-md-none">
        <ng-container *ngTemplateOutlet="guide"></ng-container>

    </h6>

</ng-template>

<ng-template #createteam>
    <ng-template #createteamtitle>
        What should we call your organisation?
    </ng-template>


    <h1 class="text-center d-none d-md-block">
        <ng-container *ngTemplateOutlet="createteamtitle"></ng-container>
    </h1>
    <h3 class="text-center d-md-none">
        <ng-container *ngTemplateOutlet="createteamtitle"></ng-container>
    </h3>
    <div class="my-3 my-md-5">
        <div class="form-row w-100 d-flex justify-content-center align-items-center flex-column">
            <input [(ngModel)]="team.name" type="text" class="form-control col-12 col-md-6">
            <small *ngIf="teamCreationErrorMessage" class="form-text text-danger">{{teamCreationErrorMessage}}</small>
            <small *ngIf="isCreatingTeam" class="text-green">
                <i class="fas fa-circle-notch fa-spin"></i> Setting up your organisation</small>
        </div>
    </div>

</ng-template>

<ng-template #terminology>
    <ng-template #terminologytitle>What should we call them?</ng-template>

    <ng-template #terminologysubtitle>
        <span class="text-muted">What language do you use to refer to people at
            <b>{{team.name}}</b>?</span>
    </ng-template>


    <h1 class="text-center d-none d-md-block">
        <ng-container *ngTemplateOutlet="terminologytitle"></ng-container>
    </h1>
    <h3 class="text-center d-md-none">
        <ng-container *ngTemplateOutlet="terminologytitle"></ng-container>
    </h3>


    <h4 class="text-center d-none d-md-block">
        <ng-container *ngTemplateOutlet="terminologysubtitle"></ng-container>
    </h4>
    <h6 class="text-center d-md-none">
        <ng-container *ngTemplateOutlet="terminologysubtitle"></ng-container>
    </h6>


    <div class="my-5 ">
        <onboarding-add-terminology [team]="team" (saved)="onTerminologySaved($event)"></onboarding-add-terminology>

    </div>

</ng-template>

<ng-template #ending>

    <div class="d-flex justify-content-center align-items-center flex-column text-gradient-gold">
        <i class="d-none d-md-block fas fa-trophy  icon-ending"></i>
        <i class="d-md-none fas fa-trophy  icon-ending-xs"></i>
        <h1>Nice one!</h1>
    </div>

    <div class="d-flex justify-content-center align-items-center flex-column my-3">

        <h4 class="text-muted">Your map is ready. Go and create some circles, we'll be here if you need us.</h4>
    </div>



    <!-- <h4 class="my-5">
        You can start mapping right away. Any questions?
        <ul class="ml-2 my-3">
            <li class="h6 py-2"> Start a chat with us or email us at support@maptio.com</li>
            <li class="h6 py-2"> Read our
                <a target="blank" href="https://medium.com/maptio/create-organisational-clarity-using-initiative-mapping-967069247380">free guide</a> to mapping your organisation
            </li>
            <li class="h6 py-2">
                <a target="blank" href="https://calendly.com/tomnixon/30min">Book a free mastery call</a> with Maptio founder Tom Nixon

            </li>

        </ul>
    </h4> -->
    <!-- <h4>Look forward to talking to you!</h4> -->


</ng-template>
