
::ng-deep .node circle {
  /*fill: #fff;*/
  stroke: steelblue;
  /* stroke-width: 1.5px; */
}

::ng-deep .node circle .withChildren{
  stroke-width: 3px;
}

/* .node text {
  font: normal;
} */

::ng-deep .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

::ng-deep .name{
  font-size: small;
}
::ng-deep .name:hover{
  pointer-events: auto;
  text-decoration: underline;
}

::ng-deep .accountable{
  font-weight: bold;
}

::ng-deep .accountable:hover{
  text-decoration: underline;
}



::ng-deep image.accountable{
  border: 2px red solid
}

.tooltip-initiative{
  position: absolute;
  z-index: 5;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}