.node {
  cursor: pointer;
}

.node circle {
  /*fill: #fff;*/
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node circle .withChildren{
  stroke-width: 3px;
}

/* .node text {
  font: normal;
} */

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.name{
  font-style: italic;
}

.accountable{
  font-weight: bold;
}

.accountable:hover{
  text-decoration: underline;
}



image.accountable{
  border: 2px red solid
}
