.node {
  cursor: pointer;
}

.node circle {
  /*fill: #fff;*/
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node circle .withChildren{
  stroke-width: 3px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.name{
  font-style: italic;
}

.accountable{
  font-weight: bold;
  font: 16px sans-serif;
}


image.accountable{
  border: 2px red solid
}


svg{
  /*padding-left:100px;*/
}