.unresizable {
    resize: none;
}

.box{
	position: relative;
	width: 50%;		/* desired width */
}
.box:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#preview-container > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}