<form [formGroup]="form" (submit)="submit()" class="form-row d-flex flex-column">
    <div class="form-group ">
        <label class="h5" for="inputMapName">Create a new map</label>
        <input type="text" id="inputMapName" formControlName="mapName" [class.is-invalid]="form.controls['mapName'].invalid  && (form.controls['mapName'].dirty || form.controls['mapName'].touched)"
            class="form-control w-100" required>
        <small class="invalid-feedback">
            Please enter at least 2 characters
        </small>
    </div>
    <div class="form-group " *ngIf="teams?.length > 1">
        <label for="inputTeamName">Organization</label>
        <select id="inputTeamName" formControlName="teamId" required class="form-control">
            <option value="null" disabled="true" [selected]="teams?.length > 1">Select an organization</option>
            <option *ngFor="let team of teams; let i = index" [value]="team.team_id" [selected]="teams?.length === 1 && i===0">{{team?.name}}</option>
        </select>
        <a *ngIf="teams?.length === 0 " class="text-success" routerLink="/teams">
            <small class="offset-md-6">Don't have a organization?</small>
        </a>
    </div>
    <div class="">
        <button *ngIf="!isCreatingMap" type="submit" class="btn btn-success pull-right">Create</button>
        <div *ngIf="isCreatingMap" class=" text-success d-flex justify-content-end align-items-center">
            <i class="fas fa-circle-notch fa-spin text-success mx-1"></i> Creating
        </div>
    </div>

</form>