<svg:path
  id="circleEdge"
  #namePath
  d="M 0,500 A 500,500 0 0 1 0,-500 A 500,500 0 0 1 0,500"
  fill="none"
/>

<svg:text fill="white" stroke-width="0" font-size="3rem" font-weight="600">
  <textPath
    #name
    xlink:href="#circleEdge"
    startOffset="50%"
    text-anchor="middle"
  >
    <tspan dy="46">{{ circle.data.name }}</tspan>
  </textPath>
</svg:text>

<svg:g *ngFor="let tag of tags">
  <svg:path
    [attr.id]="tag.pathId"
    [attr.d]="tag.path"
    [attr.stroke]="tag.color"
    stroke-width="36"
    stroke-linecap="round"
    fill="none"
  />

  <svg:text fill="white" stroke-width="0" font-size="3rem" font-weight="600">
    <!-- <tspan font-size="1.5rem">
      {{ tag.name }}
    </tspan> -->

    <textPath #tagText [attr.xlink:href]="'#' + tag.pathId">
      <tspan dy="8" font-size="1.5rem">
        {{ tag.name }}
      </tspan>
    </textPath>
  </svg:text>
</svg:g>

<svg:g
  *ngFor="let person of people; let i = index"
  maptioHelperAvatarSvg
  [helper]="person"
  [attr.transform]="
    'translate(' +
    (radius - 45) * math.sin(0.2 * (i + 0.5 - people.length / 2)) +
    ',' +
    (radius - 45) * math.cos(0.2 * (i + 0.5 - people.length / 2)) +
    ')'
  "
></svg:g>
