<div class="card" [class.overflow-hidden]="team.isExample" >
        <div *ngIf="team.isExample" class="corner-ribbon top-right bg-info box-shadow"><i class="fas fa-flask mx-1"></i>Example</div>
    
    <div class="card-body">
        <h5 class="card-title">
            <a routerLink="/teams/{{team.team_id}}/{{team.getSlug()}}"> {{team?.name}}</a>
        </h5>
        <div class="card-text mb-1 d-flex flex-wrap">
            <div *ngFor="let member of team?.members;trackBy:trackByMemberId" [class.deleted]="member.isDeleted"  class=" mb-1" >
                <img class="rounded-circle border border-thick border-white" width="32" height="32" src="{{member.picture}}" placement="top" container="body"
                    ngbTooltip="{{member.name}}">
            </div>
        </div>
    </div>
    <div class="card-footer border-top-0">
        <small class="text-muted">{{team.members?.length}} {{team.members?.length === 1 ? "person" :"people" }}</small>
    </div>
</div>