.in:before {
    content: "";
    font-family: FontAwesome;
}

.panel-heading{
    width:100%
}

.profile{
    /* width: 10vw; */
    /* height: 45px; */
    background-repeat: no-repeat;
    background-size: contain;
}

.visionnary{
    width: 25px;
    height: 25px;
}

.name{
    line-height: 12vh;
}