<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Profile</h3>
                <h4>{{user?.name}}</h4>
                <img class="rounded-circle" src="{{user?.picture}}" />
                <h6>{{user?.email}}</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Initiatives</h3>
                <div class="list-group">
                    <a *ngFor="let dataset of datasets$ | async" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{dataset.initiative.name}} <a routerLink="/map/{{dataset._id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></h5>
                            <a mwlConfirmationPopover title="This cannot be undone ! Are you sure you want to remove the map ?" placement="left" focusButton="cancel"
                                appendToBody="true" (confirm)="deleteDataset(dataset)" (cancel)="cancelClicked = true">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>