<div class="m-3">

    <h1 class="name offset-3">{{user?.name}}</h1>
    <div class="alert alert-success alert-dismissable" role="alert" *ngIf="feedbackMessage">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{feedbackMessage}}
    </div>
    <div class="alert alert-danger alert-dismissable" role="alert" *ngIf="errorMessage">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{errorMessage}}
    </div>
    <div class="row">
        <div class="col-3">
            <div class="profile" [style.background-image]="'url('+ user?.picture +')'">
                <div *ngIf="isRefreshingPicture">Refreshing...</div>
            </div>
            <input class="inputfile" type="file" id="fileupload" #fileInput ng2FileSelect [uploader]="uploader" (change)="fileInput.value=''"
            accept="image/*"  />
            <label for="fileupload" >
                <i class="fa fa-upload" aria-hidden="true" ></i>
            </label>
        </div>


        <form class="form-group col-9" [formGroup]="accountForm" (submit)="save()">
            <div class="form-group" [class.has-warning]="accountForm.controls['firstname'].invalid  && (accountForm.controls['firstname'].dirty || accountForm.controls['firstname'].touched)">
                <label for="inputFirstname">Firstname</label>
                <input type="text" class="form-control form-control-warning form-control-lg" [(ngModel)]="firstname" formControlName="firstname"
                    placeholder="e.g. Harvey" required>
                <small class="form-control-feedback" *ngIf="accountForm.controls['firstname'].invalid  && (accountForm.controls['firstname'].dirty || accountForm.controls['firstname'].touched)">
                    Is this really how your mum calls you?
                </small>
            </div>
            <div class="form-group" [class.has-warning]="accountForm.controls['lastname'].invalid  && (accountForm.controls['lastname'].dirty || accountForm.controls['lastname'].touched)">
                <label for="inputLastname">Lastname</label>
                <input type="text" class="form-control form-control-warning form-control-lg" [(ngModel)]="lastname" formControlName="lastname"
                    placeholder="e.g. Dent" required>
                <small class="form-control-feedback" *ngIf="accountForm.controls['lastname'].invalid  && (accountForm.controls['lastname'].dirty || accountForm.controls['lastname'].touched)">
                    In the army, that's how they would refer to you. Just tell us (please)
                </small>
            </div>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input id="email" type="email" class="form-control form-control-lg" value="{{user?.email}}" placeholder="e.g. harvey.dent@gothamcity.gov"
                    disabled>
            </div>
            <button type="submit" class="btn btn-success btn-lg pull-right" [class.disabled]="!accountForm.valid">Save</button>
        </form>

    </div>
</div>