.in:before {
    content: "";
    font-family: FontAwesome;
}

.panel-heading {
    width: 100%
}

.profile {
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    border-radius: 10px;
}

.upload {
    margin-top: 62vh;
    margin-left: 17vw;
}

.visionnary {
    width: 25px;
    height: 25px;
}

.name {
    line-height: 12vh;
}
