<ul class="nav nav-tabs">
    <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="true">Activity</a></li>
    <li class="disabled"><a>Profile</a></li>
</ul>



<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="activity">
        <div class="alert alert-dismissible alert-success" *ngIf="message">
            <button type="button" class="close" data-dismiss="alert">&times;</button> {{message}}
        </div>

        <h5>Projects</h5>
        <ul class="list-group col-lg-4">
            <li *ngFor="let dataset of datasets$ | async" class="list-group-item">
                <a (click)="open(dataset)">{{dataset.name}}</a>
                <a class="pull-right" (click)="delete(dataset)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                <a (click)="open(dataset)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</div>