<ng-template #adminTipContent>
  <span class="text-orange"
    >You don't have permission to do this.
    <a href="{{ KB_URL_PERMISSIONS }}" target="blank">Learn more.</a>
  </span>
</ng-template>

<div class="">

  <div class="card w-100 mb-3 border" *permissionsOnly="Permissions.canAddUser">
    <div class="card-body">
      <div class="card-title lead">Add people</div>

      <maptio-member-form
        *ngIf="team && !team?.isExample"
        [team]="team"
        [disableDeduplication]="true"
        (addMember)="onAddMember($event)"
      >
      </maptio-member-form>
    </div>
  </div>

  <div
    *ngIf="showMultipleAdminsWarning"
    class="alert alert-warning fade show mt-5 mb-0"
    role="alert"
  >
    Your organisation appears to have multiple admin users.
    We recommend that you only have one admin user at any one time.
    We are working on a multiuser realtime map editing system, however in the
    meantime, there is a small possibility that data will be overriden when
    multiple admin users make edits at the same time.
    If you need multiple admin users, please communicate to avoid making changes
    at the same time.
    If this is something particularly important for you, please
    <a
      href="mailto:support@maptio.com?subject=I need multiuser realtime editing"
      class="alert-link"
    >reach out and let us know</a>.
    You can also
    <a href="#" class="alert-link">learn more here</a>.
  </div>

  <div class="my-4">
    <div class="d-none d-md-block border-bottom pt-4 text-muted">
      <div class="d-flex align-items-center">
        <div
          *permissionsOnly="Permissions.canEditUser"
          class="col-1 px-0 justify-content-between d-flex align-items-center"
        >
          <button class="btn text-white pointer-none invisible">
            <i class="fas fa-caret-down"></i>
          </button>

          <button
            class="remove text-white pointer-none btn invisible"
            aria-hidden="true"
          ></button>
        </div>

        <div class="col-3 text-uppercase text-bold text-gray-light small">Name</div>

        <div class="col-4 text-uppercase text-bold text-gray-light small">Email</div>

        <a
          class="col-2 nowrap mb-0 text-uppercase text-bold text-gray-light small text-decoration-none"
          ngbTooltip="Learn about permission types"
          href="{{ KB_URL_PERMISSIONS }}"
          target="blank"
          container="body"
        >
          Permission type
          <i class="fa fa-info-circle text-gray-light" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <div
      class="border-bottom border-light row"
      *ngFor="
        let member of members$ | async;
        trackBy: trackByMemberId;
        let i = index
      "
    >
      <div class="col-12 my-1">
        <maptio-member-single
          [isOnlyMember]="team.members.length === 1"
          [user]="user"
          [member]="member"
          [team]="team"
          [numberOfAdminUsers]="numberOfAdminUsers"
          (refreshMembersList)="getAllMembers()"
          (delete)="deleteMember(member)"
        ></maptio-member-single>

        <hr class="d-md-none" />
      </div>
    </div>
  </div>
</div>
