<ng-template #adminTipContent>
  <span class="text-orange"
    >You don't have permission to do this.
    <a href="{{ KB_URL_PERMISSIONS }}" target="blank">Learn more.</a>
  </span>
</ng-template>

<div class="">

  <div class="card w-100 mb-3 border" *permissionsOnly="Permissions.canAddUser">
    <div class="card-body">
      <div class="card-title lead">Add people</div>

      <maptio-member-form
        *ngIf="team && !team?.isExample"
        [team]="team"
        [disableDeduplication]="true"
        (addMember)="onAddMember($event)"
      >
      </maptio-member-form>
    </div>
  </div>

  <div class="my-4">
    <div class="d-none d-md-block border-bottom py-2 text-muted">
      <div class="d-flex align-items-center">
        <div
          *permissionsOnly="Permissions.canEditUser"
          class="col-1 px-0 justify-content-between d-flex align-items-center"
        >
          <button class="btn text-white pointer-none invisible">
            <i class="fas fa-caret-down"></i>
          </button>

          <button
            class="remove text-white pointer-none btn invisible"
            aria-hidden="true"
          ></button>
        </div>

        <div class="col-3">Name</div>

        <div class="col-4">Email</div>

        <div class="col-2 nowrap">
          Permission type
          <a href="{{ KB_URL_PERMISSIONS }}" target="blank">
            <i class="fa fa-info-circle text-muted" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>

    <div
      class="border-bottom border-light row"
      *ngFor="
        let member of members$ | async;
        trackBy: trackByMemberId;
        let i = index
      "
    >
      <div class="col-12 my-1">
        <maptio-member-single
          [isOnlyMember]="team.members.length === 1"
          [user]="user"
          [member]="member"
          [team]="team"
          (delete)="deleteMember(member)"
        ></maptio-member-single>

        <hr class="d-md-none" />
      </div>
    </div>
  </div>
</div>
