<div class="d-flex justify-content-center align-items-center flex-column h-75 row">
    <div class="col-12 col-md-6 col-xl-4">
            <h1 class="d-none d-md-block text-left text-md-center mb-5 mb-md-0">Reset your password</h1>
            <h3 class="d-block d-md-none text-left text-md-center mb-5 mb-md-0">Reset your password</h3>
           
        <!-- <h1 class="text-center">Reset your password</h1> -->
        <div class="alert alert-success" role="alert" *ngIf="feedbackMessage">
            {{feedbackMessage}}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
        <div class="alert alert-warning" role="alert" *ngIf="isActivationPending">
            {{user.name}} ? Looks like you're haven't confirmed your email yet! Check your inbox or
            <a (click)="resendEmail()" class="alert-link cursor-pointer">resend a confirmation email
                <i *ngIf="isResending" class="text-muted fas fa-circle-notch fa-spin ml-1 "></i>
            </a>
        </div>
        <div class="alert alert-success" role="alert" *ngIf="isConfirmationEmailSent">
                <span class="alert-heading">We have sent a confirmation email to
                    <b>{{changePasswordForm.controls['email'].value}}.</b>
                </span>
                <p> Please follow the link in the email to complete set-up.</p>
                <hr>
                <p>Not received? Email <a href="mailto:support@maptio.com?subject=Support requestw"></a> support@maptio.com</p>
            </div>

        <form class="form-group " [formGroup]="changePasswordForm" (submit)="resetPassword()">
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" [class.is-invalid]="changePasswordForm.controls['email'].invalid  && (changePasswordForm.controls['email'].dirty || changePasswordForm.controls['email'].touched)"
                    class="form-control form-control-warning form-control-lg" formControlName="email" placeholder="e.g. jason.bourne@cia.gov"
                    email>
                <small class="invalid-feedback">
                    This is not an email!
                </small>
            </div>
            <button type="submit" class="btn btn-success btn-lg w-100">Reset password</button>
        </form>

    </div>
</div>