<div class="card bg-transparent border-0">
    <div class="">
        <h6 class="card-title mb-2 d-flex justify-content-start align-items-center">
            <img width="32" height="32" src="/assets/images/slack-icon.png" alt="Slack logo"> Share on Slack
        </h6>
        <ng-container *ngIf="!showConfiguration">
            <small class="text-muted">Share the current map with your organisation! Let them know what you have changed : </small>
            <div class="card-text">
                <textarea #slackMessage class="form-control unresizable" id="slackMessage" [(ngModel)]="message" rows="3"></textarea>
                <div class="d-flex justify-content-end mt-2">
                    <button *ngIf="isPrinting" class="btn btn-outline-secondary disabled">
                        <span>Share</span>
                    </button>
                    <button *ngIf="!isPrinting" class="btn btn-outline-secondary btn-sm" (click)="sendNotification()">
                        <span>Share</span>
                    </button>
                </div>
                <span class="my-1 text-muted small  d-flex justify-content-end align-items-center" *ngIf="isPrinting && !hasNotified && !hasConfigurationError">
                    <i class="fas fa-circle-notch fa-spin mx-1"></i>Generating image preview
                </span>
                <span class="my-1 text-danger small  d-flex justify-content-end" *ngIf="hasConfigurationError">
                    We cannot post to your Slack workspace anymore!
                    <a routerLink="/teams/{{team?.team_id}}/{{team?.getSlug()}}/integrations" class="ml-1">Go to settings</a>

                </span>
                <span class="my-1 text-green small  d-flex justify-content-end" *ngIf="hasNotified && !hasConfigurationError">Shared!</span>
            </div>
        </ng-container>
        <ng-container *ngIf="showConfiguration">
            Slack is not setup for organisation
            <strong>{{team?.name}}</strong>!
            <a routerLink="/teams/{{team?.team_id}}/{{team?.getSlug()}}/integrations">Configure updates first.</a>
        </ng-container>

    </div>
</div>