<ng-template #rt let-r="result" let-t="term">
    <img src="{{r.picture}}" class="rounded-circle participant-picture" /> {{r.name}}
</ng-template>
<span class="d-flex align-items-baseline text-gray-light mb-1">
    <i class="fas fa-user  mr-1"></i>
    <span class="text-uppercase text-bold small">{{team?.settings.authority}}</span>
</span>
<div class="d-flex justify-content-start align-items-center bg-light rounded p-2" >

    <div class="d-flex justify-content-start align-items-center flex-grow-1">
        <div class="w-100">
            <common-autocomplete #autocomplete [placeholder]="placeholder"
                [removeConfirmationMessage]="'Remove this authority and associated role?'" [resultTemplate]="rt"
                [resultFormatter]="formatter" [item]="authority" [filter]="filterMembers" (pick)="onSelect($event)">
                <span *ngIf="authority">
                    <img src="{{authority?.picture}}"  class="rounded-circle participant-picture" />
                    {{authority?.name}}
                </span>
                <span *ngIf="!authority">
                    No {{team?.settings.authority}}
                </span>
            </common-autocomplete>
        </div>

    </div>
</div>