
.icon-text-label{
  font-size: xx-small;
  width: 2.5vw;
  max-width: 2.5vw;
  min-height: 1.5vh;
  /* max-height: 2.0vh; */
  white-space: normal;
}



.edit-tags .overflow {
  overflow-y: auto;
  max-height: 45vh;
}

.filter-tags {
  background-color: transparent;
  position: absolute;
  top: 2vh;
  left: 7vw;
  min-width: 80vw;
}


.fontSizeOutput{
  position: absolute;
  top: 4.5vh;
  left: 16vw;
  font-size: small;
}

#fontSizeInput{
  background: transparent;
}


.instructions {
  position: absolute;
  left: 32%;
  top: 50%;
}

.input-group-prepend.options {
  position: absolute;
  right: 3vw;
}

.windows{
  right:0;
}

.summary-tooltip{
  left:0
}

