<div class="control zero ">
  <div class="btn-group-vertical">
    <a class="btn btn-light p-1 text-dark btn-control" [class.active]="isSearchToggled" [class.disabled]="isSearchDisabled" (click)="isSearchToggled=!isSearchToggled"
      data-toggle="collapse" href="#collapseSearch" role="button">
      <i class="fa fa-search"></i>
      <div class="icon-text-label">Search</div>
    </a>
    <a class="btn btn-light p-1 text-dark btn-control" [class.active]="isFiltersToggled" [class.disabled]="isSearchDisabled"
      (click)="isFiltersToggled=!isFiltersToggled" data-toggle="collapse" href="#collapseFilter" role="button">
      <i class="fa fa-filter"></i>
      <div class="icon-text-label">Filter</div>
    </a>
    <a class="btn btn-light p-1 text-dark btn-control" [class.active]="isSharingToggled" [class.disabled]="isSearchDisabled"
      (click)="isSharingToggled=!isSharingToggled" data-toggle="collapse" href="#collapseSlack" role="button">
      <i class="fa fa-slack"></i>
      <div class="icon-text-label">Share</div>
    </a>

  </div>
</div>



<div class="control zero panel d-flex flex-column col-5 align-items-start">
  <div id="collapseSearch" class="collapse mb-3 col-12">
    <search [list]="flattenInitiative" (selectInitiative)="zoomToInitiative($event)"></search>
  </div>
  <div id="collapseFilter" class="collapse col-12">
    <filter-tags [team]="team" [tags]="tags" (changeTags)="broadcastTagsSelection($event)"></filter-tags>
  </div>
  <div id="collapseSlack" class="collapse col-12">
    <slack-share [slack]="team?.slack" [team]="team" [isPrinting]="isPrinting" (shareMap)="sendSlackNotification($event)"></slack-share>
  </div>
</div>

<div class="control first">
  <div class=" btn-group-vertical">

    <a class="btn btn-light circles text-dark p-1 btn-control" routerLinkActive="active" routerLink="/map/{{datasetId}}/{{slug}}/circles"
      fragment="x={{VIEWPORT_WIDTH / 2}}&y={{VIEWPORT_WIDTH / 2 -180}}&scale=1=1&{{tagsFragment}}">
      <div class="icon-text-label" style="bottom: 2px;position: absolute;">Circles</div>
    </a>
    <a class="btn btn-light tree text-dark p-1 btn-control" routerLinkActive="active" routerLink="/map/{{datasetId}}/{{slug}}/tree"
      fragment="x={{VIEWPORT_WIDTH / 10}}&y={{VIEWPORT_HEIGHT / 2}}&scale=1&{{tagsFragment}}">
      <div class="icon-text-label">Tree</div>
    </a>
    <a class="btn btn-light network text-dark p-1 btn-control" routerLinkActive="active" routerLink="/map/{{datasetId}}/{{slug}}/network"
      fragment="x=0&y={{-this.VIEWPORT_HEIGHT / 4}}&scale=1&{{tagsFragment}}">
      <div class="icon-text-label">Network</div>
    </a>

    <!-- <a class="btn btn-light experimental icon" routerLinkActive="active-link" routerLink="/map/{{datasetId}}/{{slug}}/zoomable"
      fragment="x=640&y=460&scale=1&{{tagsFragment}}" placement="left" container="body" ngbTooltip="Experimental"></a> -->
  </div>
</div>

<div class="control  second mt-4">
  <div class=" btn-group-vertical">
    <a class="btn btn-light text-dark p-1 btn-control" [class.disabled]="isSearchDisabled" (click)="zoomOut()">
      <i class="fa fa-minus"></i>
      <div class="icon-text-label">Zoom out</div>
    </a>
    <a class="btn btn-light text-dark p-1 btn-control" [class.disabled]="isSearchDisabled" (click)="zoomIn()">
      <i class="fa fa-plus"></i>
      <div class="icon-text-label">Zoom in</div>
    </a>
    <a class="btn btn-light text-dark p-1 btn-control" [class.disabled]="isSearchDisabled" (click)="resetZoom()">
      <i class="fa fa-compress" aria-hidden="true"></i>
      <div class="icon-text-label">Zoom fit</div>
    </a>
    <a class="btn btn-light text-dark p-1 btn-control" [class.active]="isSettingToggled" [class.disabled]="isSearchDisabled"
      (click)="isSettingToggled=!isSettingToggled" data-toggle="collapse" href="#collapseSettings" role="button">
      <i class="fa fa-sliders" aria-hidden="true"></i>
      <div class="icon-text-label">Settings</div>
    </a>
  </div>
</div>

<div class="control third mt-4 collapse" id="collapseSettings">
  <div class="card bg-light border-light">
    <div class="card-body">
      <h6 class="card-title">Text settings</h6>
      <div class="form-group form-inline">
        <label for="fontSizeInput" class="col-form-label col-2">Size</label>

        <!-- <span class="fontSizeOutput">x {{fontSize$ | async}}</span> -->
        <input class="col-6 form-control ml-1" id="fontSizeInput" #fontSizeInput name="fontSizeInput" type="range" min="0.2" max="2"
          value="{{fontSize$ | async}}" step="0.1" (change)="changeFontSize(fontSizeInput.value)" orient="vertical">

        <button class="btn  btn-outline-secondary  ml-4" (click)="changeFontSize(1)">Reset</button>

      </div>
      <div class="form-group form-inline">
        <label for="example-time-input" class="col-form-label col-2">Color</label>
        <input class="col-6 form-control ml-1" [(colorPicker)]="fontColor" [style.background]="fontColor" [value]="fontColor" [cpOutputFormat]="'hex'"
          [cpPosition]="'top'" [cpPositionOffset]="'40%'" [cpPositionRelativeToArrow]="true" (colorPickerChange)="changeFontColor($event)"
        />
        <button class="btn  btn-outline-secondary  ml-4" (click)="changeFontColor('#000')">Reset</button>
      </div>
      <h6 class="card-subtitle mt-2 mb-2">Map settings</h6>
      <div class="form-group form-inline">
        <label for="example-time-input" class="col-form-label col-2">Color</label>
        <input class="col-6 form-control ml-1" [(colorPicker)]="mapColor" [style.background]="mapColor" [value]="mapColor" [cpOutputFormat]="'hex'"
          [cpPosition]="'top'" [cpPositionOffset]="'40%'" [cpPositionRelativeToArrow]="true" (colorPickerChange)="changeMapColor($event)"
        />
        <button class="btn  btn-outline-secondary ml-4" (click)="changeMapColor('#ddd')">Reset</button>
      </div>
    </div>

  </div>

</div>


<div *ngIf="isFirstEdit" class="instructions h2">
  Click
  <button type="button" class="btn  btn-success" (click)="addFirstNode()" placement="top" ngbTooltip="New initiative" container="body">
    <i class="fa fa-plus"></i>
  </button> to create your first circle
</div>

<div tabIndex="-1" class="map" *ngIf="!isFirstEdit">
  
  <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
</div>