<div class="d-flex justify-content-start">
  <div class="summary-tooltip col-3 position-absolute my-0" *ngIf="hoveredInitiatives">
    <tooltip *ngFor="let hoveredInitiative of hoveredInitiatives" [initiative]="hoveredInitiative" [isNameOnly]="isNameOnly"></tooltip>
  </div>
  <context-menu [initiatives]="selectedInitiatives" [isReadOnly]="isReadOnlyContextMenu" [x]="selectedInitiativeX" [y]="selectedInitiativeY"
    (add)="emitAddInitiative($event)" (remove)="emitRemoveInitiative($event)" (edit)="emitOpenInitiative($event)" (openAccountable)="goToUserSummary($event)"></context-menu>

  <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>

  <div class="d-flex flex-column justify-content-start align-items-end  pr-2">
    <div class="btn-group-vertical mb-2">
      <a class="btn btn-light p-1 text-dark btn-control" [class.active]="isSearchToggled" [class.disabled]="isSearchDisabled" (click)="isSearchToggled=!isSearchToggled"
        data-toggle="collapse" href="#collapseSearch" role="button">
        <i class="fa" [class.fa-search]="!isSearchToggled" [class.fa-times]="isSearchToggled"></i>

        <div class="icon-text-label">Search</div>
      </a>
      <a class="btn btn-light p-1 text-dark btn-control" [class.active]="isFiltersToggled" [class.disabled]="isSearchDisabled"
        (click)="isFiltersToggled=!isFiltersToggled" data-toggle="collapse" href="#collapseFilter" role="button">
        <i class="fa" [class.fa-filter]="!isFiltersToggled" [class.fa-times]="isFiltersToggled"></i>
        <div class="icon-text-label">Filter</div>
      </a>
      <a class="btn btn-light p-1 text-dark btn-control" [class.active]="isSharingToggled" [class.invisible]="isMapSettingsDisabled"
        (click)="isSharingToggled=!isSharingToggled" data-toggle="collapse" href="#collapseSlack" role="button">
        <i class="fa" [class.fa-slack]="!isSharingToggled" [class.fa-times]="isSharingToggled"></i>
        <div class="icon-text-label">Share</div>
      </a>

    </div>

    <div class=" btn-group-vertical my-1">
      <button class="btn btn-light circles text-dark p-1 btn-control" #rlaCircles="routerLinkActive" [routerLinkActive]="['active']"
        routerLink="/map/{{datasetId}}/{{slug}}/circles" fragment="x={{VIEWPORT_WIDTH / 2}}&y={{VIEWPORT_WIDTH / 2 -180}}&scale=1=1&{{tagsFragment}}">
        <div class="icon-text-label" style="bottom: 2px;position: absolute;">Circles </div>
      </button>
      <a class="btn btn-light tree text-dark p-1 btn-control" routerLink="/map/{{datasetId}}/{{slug}}/tree" fragment="x={{VIEWPORT_WIDTH / 10}}&y={{VIEWPORT_HEIGHT / 2}}&scale=1&{{tagsFragment}}">
        <div class="icon-text-label">Tree</div>
      </a>
      <button class="btn btn-light network text-dark p-1 btn-control" #rlaNetwork="routerLinkActive" [routerLinkActive]="['active']"
        routerLink="/map/{{datasetId}}/{{slug}}/network" fragment="x=0&y={{-this.VIEWPORT_HEIGHT / 4}}&scale=1&{{tagsFragment}}">
        <div class="icon-text-label">Network</div>
      </button>
      <button class="btn btn-light summary-list text-dark p-1 btn-control" [routerLinkActive]="['active']" routerLink="/map/{{datasetId}}/{{slug}}/summary">
        <div class="icon-text-label">Summary</div>
      </button>
      <button class="btn btn-light menu text-dark p-1 btn-control" [class.d-none]="!( rlaNetwork.isActive || rlaCircles.isActive)"
        (click)="toggleOptions( rlaNetwork.isActive || rlaCircles.isActive)">
        <i class="fa" [class.fa-ellipsis-h]="!_toggleOptions" [class.fa-times]="_toggleOptions"></i>
        <div class="icon-text-label">{{_toggleOptions ? 'Close' : 'Options'}}</div>
      </button>


    </div>

    <div class=" btn-group-vertical my-3">
      <a class="btn btn-light text-dark p-1 btn-control" [class.invisible]="isMapSettingsDisabled" (click)="zoomOut()">
        <i class="fa fa-minus"></i>
        <div class="icon-text-label">Zoom out</div>
      </a>
      <a class="btn btn-light text-dark p-1 btn-control" [class.invisible]="isMapSettingsDisabled" (click)="zoomIn()">
        <i class="fa fa-plus"></i>
        <div class="icon-text-label">Zoom in</div>
      </a>
      <a class="btn btn-light text-dark p-1 btn-control" [class.invisible]="isMapSettingsDisabled" (click)="resetZoom()">
        <i class="fa fa-compress" aria-hidden="true"></i>
        <div class="icon-text-label">Zoom fit</div>
      </a>
      <a class="btn btn-light text-dark p-1 btn-control" [class.active]="isSettingToggled" [class.invisible]="isMapSettingsDisabled"
        (click)="isSettingToggled=!isSettingToggled" data-toggle="collapse" href="#collapseSettings" role="button">
        <i class="fa" [class.fa-sliders]="!isSettingToggled" [class.fa-times]="isSettingToggled"></i>
        <div class="icon-text-label">Settings</div>
      </a>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-start align-items-end col-5 position-absolute pr-3 my-2 mx-5 windows">
    <div id="collapseSearch" class="collapse mb-3 col-12">
      <search [list]="flattenInitiative" (selectInitiative)="zoomToInitiative($event)" (selectUser)="goToUserSummary($event)"></search>
    </div>
    <div id="collapseFilter" class="collapse mb-3 col-12">
      <filter-tags [team]="team" [tags]="tags" (changeTagsSettings)="broadcastTagsSettings($event)" (changeTagsSelection)="broadcastTagsSelection($event)"></filter-tags>
    </div>
    <div id="collapseSlack" class="collapse mb-3 col-12">
      <slack-share [slack]="team?.slack" [team]="team" [isPrinting]="isPrinting" [hasNotified]="hasNotified" [hasConfigurationError]="hasConfigurationError"
        (shareMap)="sendSlackNotification($event)"></slack-share>
    </div>
    <div class="collapse col-12" id="collapseSettings">
      <div class="card bg-light border-light">
        <div class="card-body">
          <h6 class="card-title">Text settings</h6>
          <div class="form-group form-inline">
            <label for="fontSizeInput" class="col-form-label col-form-label-sm  col-2">Size</label>
            <input class="col-6 form-control ml-1" id="fontSizeInput" #fontSizeInput name="fontSizeInput" type="range" min="0.2" max="2"
              value="{{fontSize$ | async}}" step="0.1" (change)="changeFontSize(fontSizeInput.value)" orient="vertical">

            <button class="btn btn-sm btn-outline-secondary  ml-4" (click)="changeFontSize(1)">Reset</button>

          </div>
          <div class="form-group form-inline">
            <label for="example-time-input" class="col-form-label col-form-label-sm col-2">Color</label>
            <input class="col-6 form-control form-control-sm ml-1" [(colorPicker)]="fontColor" [style.background]="fontColor" [value]="fontColor"
              [cpOutputFormat]="'hex'" [cpPosition]="'bottom'" [cpPositionOffset]="'40%'" [cpPositionRelativeToArrow]="true"
              (colorPickerChange)="changeFontColor($event)" />
            <button class="btn btn-sm btn-outline-secondary  ml-4" (click)="changeFontColor('#000')">Reset</button>
          </div>
          <h6 class="card-subtitle mt-2 mb-2">Map settings</h6>
          <div class="form-group form-inline">
            <label for="example-time-input" class="col-form-label col-form-label-sm col-2">Color</label>
            <input class="col-6 form-control form-control-sm ml-1" [(colorPicker)]="mapColor" [style.background]="mapColor" [value]="mapColor"
              [cpOutputFormat]="'hex'" [cpPosition]="'bottom'" [cpPositionOffset]="'40%'" [cpPositionRelativeToArrow]="true"
              (colorPickerChange)="changeMapColor($event)" />
            <button class="btn btn-sm  btn-outline-secondary ml-4" (click)="changeMapColor('#aaa')">Reset</button>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<div *ngIf="isEmptyMap" class="instructions h2">
  Click
  <button type="button" class="btn  btn-success" (click)="addFirstNode()" placement="top" ngbTooltip="New circle" container="body">
    <i class="fa fa-plus"></i>
  </button> to create your first circle
</div>