<div class="d-flex justify-content-center h-100 position-relative">
  <div class="w-100">

    <div class="w-100 h-100">
      <div class="row  h-100 ">
        <div  class="col-12 h-100 d-flex justify-content-between px-0">
        

          <div class="h-100 col-11">
            <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
          </div>
          <div class="d-flex flex-column justify-content-start align-items-end col-auto mx-0 pl-0 my-2 z-index-1">
            <div class="btn-group-vertical mb-2">
              <button class="btn btn-light p-1 text-dark d-flex flex-column align-items-center" [class.disabled]="isSearchDisabled || isMapSettingsDisabled"
                (click)="isSearchToggled=!isSearchToggled" data-toggle="collapse" href="#collapseSearch" role="button">
                <i class="fa fa-search"></i>
                <span class="icon-text-label">Search</span>
              </button>
              <button class="btn btn-light p-1 text-dark d-flex flex-column align-items-center" [class.disabled]="isSearchDisabled || isMapSettingsDisabled"
                (click)="isFiltersToggled=!isFiltersToggled" data-toggle="collapse" href="#collapseFilter" role="button">
                <i class="fa fa-filter"></i>
                <span class="icon-text-label">Filter</span>
              </button>
              <button class="btn btn-light p-1 text-dark d-flex flex-column align-items-center" [class.disabled]="isMapSettingsDisabled"
                (click)="isSharingToggled=!isSharingToggled" data-toggle="collapse" href="#collapseSlack" role="button">
                <i class="fab fa-slack"></i>
                <span class="icon-text-label">Share</span>
              </button>

            </div>

            <div class=" btn-group-vertical my-1">
              <button class="btn btn-light circles text-dark p-1 d-flex flex-column align-items-center" #rlaCircles="routerLinkActive"
                [routerLinkActive]="['active']" routerLink="/map/{{datasetId}}/{{slug}}/circles" fragment="x={{VIEWPORT_WIDTH / 2}}&y={{VIEWPORT_WIDTH / 2 -180}}&scale=1=1&{{tagsFragment}}">
                <span class="icon-text-label" style="bottom: 2px;position: absolute;">Circles </span>
              </button>
              <button class="btn btn-light tree text-dark p-1 d-flex flex-column align-items-center" routerLink="/map/{{datasetId}}/{{slug}}/tree"
                fragment="x={{VIEWPORT_WIDTH / 10}}&y={{VIEWPORT_HEIGHT / 2}}&scale=1&{{tagsFragment}}">
                <span class="icon-text-label">Tree</span>
              </button>
              <button class="btn btn-light network text-dark p-1 d-flex flex-column align-items-center" #rlaNetwork="routerLinkActive"
                [routerLinkActive]="['active']" routerLink="/map/{{datasetId}}/{{slug}}/network" fragment="x=0&y={{-this.VIEWPORT_HEIGHT / 4}}&scale=1&{{tagsFragment}}">
                <span class="icon-text-label">Network</span>
              </button>
              <button class="btn btn-light summary-list text-dark p-1 btn-control d-flex flex-column align-items-center" [routerLinkActive]="['active']"
                routerLink="/map/{{datasetId}}/{{slug}}/summary">
                <span class="icon-text-label">Directory</span>
              </button>
              <button class="btn btn-light menu text-dark p-1 btn-control d-flex flex-column align-items-center" [class.invisible]="!rlaNetwork.isActive"
                (click)="toggleOptions(rlaNetwork.isActive)">
                <i class="fas fa-angle-double-left"></i>
                <span class="icon-text-label">Options</span>
              </button>


            </div>

            <div class=" btn-group-vertical my-3">
              <button class="btn btn-light text-dark p-1 d-flex flex-column align-items-center" [class.disabled]="isMapSettingsDisabled"
                (click)="zoomOut()">
                <i class="fa fa-minus py-1"></i>
                <span class="icon-text-label">Zoom out</span>
              </button>
              <button class="btn btn-light text-dark p-1 d-flex flex-column align-items-center" [class.disabled]="isMapSettingsDisabled"
                (click)="zoomIn()">
                <i class="fa fa-plus py-1"></i>
                <span class="icon-text-label">Zoom in</span>
              </button>
              <button class="btn btn-light text-dark p-1 d-flex flex-column align-items-center" [class.disabled]="isMapSettingsDisabled"
                (click)="resetZoom()">
                <i class="fa fa-compress py-1" aria-hidden="true"></i>
                <span class="icon-text-label">Zoom fit</span>
              </button>
              <button class="btn btn-light text-dark p-1 d-flex flex-column align-items-center" [class.disabled]="isMapSettingsDisabled"
                (click)="isSettingToggled=!isSettingToggled" data-toggle="collapse" href="#collapseSettings" role="button">
                <i class="fas fa-sliders-h"></i>
                <span class="icon-text-label">Colors & Text</span>
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="summary-tooltip col-4 position-absolute top-left ml-3 z-index-2 mh-100 overflow-hidden pointer-none" *ngIf="hoveredInitiatives">
      <tooltip *ngFor="let hoveredInitiative of hoveredInitiatives" [initiative]="hoveredInitiative" [isNameOnly]="isNameOnly"
        [team]="team"></tooltip>
    </div>
    <context-menu [initiatives]="selectedInitiatives" [isReadOnly]="isReadOnlyContextMenu" [x]="selectedInitiativeX" [y]="selectedInitiativeY"
      (add)="emitAddInitiative($event)" (remove)="emitRemoveInitiative($event)" (edit)="emitOpenInitiative($event)" (openAccountable)="goToUserSummary($event)"></context-menu>

  </div>


  <div class="d-flex flex-column justify-content-start align-items-end col-5 position-absolute pr-3 mx-5 my-2 windows z-index-1">
    <div closable id="collapseSearch" class="collapse rounded bg-light p-3 mb-3 col-12" [class.d-none]="isSearchDisabled">
      <search #search [list]="flattenInitiative" (selectInitiative)="zoomToInitiative($event)" (selectUser)="goToUserSummary($event)"></search>
    </div>
    <div closable id="collapseFilter" class="collapse rounded mb-3 col-12 bg-light p-3">
      <filter-tags [team]="team" [tags]="tags" (changeTagsSettings)="broadcastTagsSettings($event)" (changeTagsSelection)="broadcastTagsSelection($event)"></filter-tags>
    </div>
    <div closable id="collapseSlack" class="collapse rounded mb-3 col-12 bg-light p-3">
      <slack-share [slack]="team?.slack" [team]="team" [isPrinting]="isPrinting" [hasNotified]="hasNotified" [hasConfigurationError]="hasConfigurationError"
        (shareMap)="sendSlackNotification($event)"></slack-share>
    </div>
    <div closable class="collapse rounded col-auto bg-light p-3" id="collapseSettings">
      <div class="card bg-transparent border-0">
        <div class="">
          <h6 class="card-title my-2">Text settings</h6>
          <div class="form-group form-inline">
            <label for="fontSizeInput" class="col-form-label  col-2">Size</label>
            <input class="col-6 custom-range" id="fontSizeInput" #fontSizeInput name="fontSizeInput" type="range" min="0.2" max="2" value="{{settings.fontSize}}"
              step="0.1" (change)="changeFontSize(fontSizeInput.value)">

            <button class="btn btn-outline-secondary  ml-4" (click)="changeFontSize(1)">Reset</button>

          </div>
          <common-color-picker [color]="settings.fontColor" [default]="'#000'" (change)="changeFontColor($event)"></common-color-picker>

          <h6 class="card-title my-2">Map settings</h6>

          <common-color-picker [color]="settings.mapColor" [default]="'#aaa'" (change)="changeMapColor($event)"></common-color-picker>

        </div>

      </div>

    </div>
  </div>
</div>
<div *ngIf="isEmptyMap" class="instructions h2">
  Click
  <button type="button" class="btn  btn-success" (click)="addFirstNode()" placement="top" ngbTooltip="New circle" container="body">
    <i class="fa fa-plus"></i>
  </button> to create your first circle
</div>
