<div class="mt-3 col-12">

    <div class="d-flex col-12 mt-3">
        <div class="col-3 border-right p-0">
            <ul class="nav flex-column nav-pills mt-3">
                <ng-container *ngIf="!isOnboarding || isOnboardingAddMembers || isOnboardingAddMap || isOnboardingAddTerminology">
                    <li class="nav-item">
                        <a class="nav-link py-4" data-toggle="tab" routerLink="./members" queryParamsHandling="merge" routerLinkActive="active" role="tab">
                            Members</a>
                    </li>
                </ng-container>
                <ng-container *ngIf="!isOnboarding || isOnboardingAddMembers || isOnboardingAddMap || isOnboardingAddTerminology">
                    <li class="nav-item" *permissionsOnly="Permissions.canAddUser">
                        <a class="nav-link py-4" data-toggle="tab" routerLink="./import" queryParamsHandling="merge" routerLinkActive="active" role="tab">
                            Import </a>
                    </li>
                </ng-container>
                <ng-container *ngIf="!isOnboarding || isOnboardingAddMap">
                    <li class="nav-item">
                        <a class="nav-link py-4" data-toggle="tab" routerLink="./maps" queryParamsHandling="merge" routerLinkActive="active" role="tab">
                            Maps</a>
                    </li>
                </ng-container>
                <ng-container *ngIf="!isOnboarding || isOnboardingAddMap || isOnboardingAddTerminology">
                    <li class="nav-item">
                        <a class="nav-link py-4" data-toggle="tab" routerLink="./settings" queryParamsHandling="merge" routerLinkActive="active" role="tab">
                            Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-4" data-toggle="tab" routerLink="./integrations" queryParamsHandling="merge" routerLinkActive="active" role="tab">
                            Integrations</a>
                    </li>
                </ng-container>

                <li class="nav-item">
                    <a class="nav-link py-4" data-toggle="tab" routerLink="./billing" routerLinkActive="active" queryParamsHandling="merge" role="tab">
                        Billing</a>
                </li>

            </ul>
        </div>
        <div class="col">
            <h3 class="mb-3 mt-3 w-100">
                {{team.name}}
                <small class="text-muted h6 pull-right">{{team.members.length}} members</small>
            </h3>
            <div *ngIf="isOnboardingAddMembers" class="accent-blue box-shadow  mb-5 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-start align-items-center">
                            <div class="col-auto">
                                <i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="col-auto">
                                <div class="card-body">
                                    <b class="card-title">
                                        Add a few members to help your map look more realistic.
                                    </b>
                                    <p class="card-text">
                                        You can always come back here later. Ready to create your map?
                                        <a class="alert-link" routerLink="/home">Click here</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isOnboardingAddTerminology" class="accent-blue box-shadow  mb-5 ">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex justify-content-start align-items-center">
                                <div class="col-auto">
                                    <i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i>
                                </div>
                                <div class="col-auto">
                                    <div class="card-body">
                                        <b class="card-title">
                                            Tell us how your organization calls its people internally, it will help make the maps more realistic.
                                        </b>
                                        <p class="card-text">
                                            You can always come back here later. Ready to create your map?
                                            <a class="alert-link" routerLink="/home">Click here</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <router-outlet></router-outlet>
        </div>
    </div>

</div>