<div class="d-flex flex-column justify-content-center align-items-center col-12 col-xl-6">
    <div class="text-blue text-center">
        <h1>Maptio helps you organise without traditional management hierarchy</h1>
        <h4>Visualise your organisation in nested circles</h4>
        <h4>Keep track of everyone’s roles</h4>

        <button class="btn btn-success btn-lg my-3" routerLink="/signup">Get started - Free for 14 days</button>

        <div class="text-muted">Already use Maptio?
            <a routerLink="/login">Log in</a>
        </div>
    </div>
</div>
<div class="col-12 col-xl-6" >
    <picture>
        <source [srcset]="SCREENSHOT_URL | safe" type="image/webp">
        <source [srcset]="SCREENSHOT_URL_FALLBACK | safe" type="image/jpeg">
        <img class="w-100" [src]="SCREENSHOT_URL_FALLBACK | safe" alt="">
    </picture>
</div>