<div class="h5">
  <h1 i18n="@@three-ways-to-get-maptio">Three ways to get Maptio</h1>

  <dl class="mt-3 mb-5">
    <dt class="h4 fw-bold">
      1. Maptio Hosted: Your own account on our hosted platform
    </dt>
    <dd class="mb-4">
      The simplest, most popular option. We take care of all maintenance and
      tech support.
      <a routerLink="/signup">Try it free for 30 days.</a>
    </dd>

    <dt class="h4 fw-bold">
      2. Open Source Self-hosted: Install and run your own instance of Maptio
    </dt>
    <dd class="mb-4">
      You'll be responsible for set-up, support and maintenance yourself
      although we'll try to help when we can.
      <a href="https://github.com/Maptio/maptio#readme">Get started.</a>
    </dd>

    <dt class="h4 fw-bold">
      3. Maptio Custom: A tailored, maintained and supported instance of Maptio
    </dt>
    <dd class="mb-4">
      Giving you the highest level of control, data protection, integrations and
      security possible.
      <a href="mailto:support@maptio.com">Contact us to chat.</a>
    </dd>
  </dl>

  <h1 class="mt-5">What does Maptio Hosted cost?</h1>

  <p class="my-4 fw-bold">
    We want Maptio Hosted to be accessible to everyone, globally.
  </p>

  <p>
    Unlike most software, Maptio has no fixed pricing and nobody is excluded
    based on their financial means. Our way is simpler, based on trust, and
    radically inclusive, but it does need a bit more explanation so thank you
    for reading this.
  </p>

  <p>
    We are funded by the contributions that people feel they would love to pay
    towards our running costs and livelihoods, and to fuel the creative energy
    we put into building it.
  </p>

  <p>
    You can
    <a routerLink="/signup">try Maptio for free,</a>
    and if you love it, you decide what to contribute.
  </p>

  <h1 class="mt-5">Finding the price you'd love to pay</h1>

  <p>
    We love it when customers contribute $50 - $150 per month, depending on the
    value they get from Maptio and their financial means. This helps us build a
    sustainable operation, care for our livelihoods, and fuel the creative
    energy we put into it.
  </p>

  <p>
    But we live in an unequal world where that's peanuts for some, and
    impossible for others.
  </p>

  <p>
    So we also love to be able to offer Maptio for much less, and sometimes even
    for free, to support purpose-driven initiatives with less funding. Money
    should never be a barrier.
  </p>

  <p>
    And, we love to receive larger contributions from those who get a lot of
    value from Maptio and have the financial means, who want to support the
    Maptio team and see our project succeed.
  </p>

  <p>
    At the end of your free trial we'll help you decide what is the right
    contribution for you, that reflects both the value you get from Maptio and
    what is within your means.
  </p>

  <p>
    As well as money, we welcome contributions like testimonials, blog, and
    social media posts to tell your friends about us, and contributions to our
    open source project. Or perhaps you can suggest another way you'd like to
    contribute?
  </p>

  <p>Together, we'll prove that an alternative economic model is possible.</p>

  <button
    maptioLoginRedirect
    [isSignup]="true"
    class="btn btn-success btn-lg mt-4 mb-5"
    i18n="@@tryMaptioForFree"
  >
    Try Maptio for FREE
  </button>
</div>
