<div class="d-flex justify-content-center align-items-center flex-column row ">
    <div class="d-flex flex-column justify-content-center align-items-center col-12">
        <div class="d-flex flex-column justify-content-center align-items-center w-50">
            <div class="card bg-white border-0">
                <div class="card-body">
                    <div class="d-flex justify-content-center align-items-center flex-column text-gradient-error">
                        <i class="fas fa-minus-circle  icon-ending"></i>
                        <h1>You cannot see this!</h1>
                    </div>

                    <h4 class="text-muted mt-5 nowrap ">
                        Chat with us or email us at
                        <a class="ml-1" href="mailto:support@maptio.com?subject=Support request">
                            support@maptio.com</a> if the issue persists.
                    </h4>

                    <div class="">
                        You will be redirected to the
                        <a class="mx-1" routerLink="/home">homepage</a> in {{timeToRedirect}} seconds.

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>