<div
  class="svg-zoom-pan__wrapper"
  (click)="onWrapperClick($event)"
>
  <svg
    #map
    class="circle-map"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1000 1000"
    width="100%"
    height="100%"
    (panstart)="onPanStart()"
    (pan)="onPan($event)"
    (panend)="onPanEnd()"
    (wheel)="onWheel($event)"
    (pinchstart)="onPinchStart()"
    (pinch)="onPinch($event)"
    (pinchend)="onPinchEnd()"
  >
    <g
      class="svg-zoom-pan__virtual-viewport"
      [class.svg-zoom-pan__virtual-viewport--panning]="isPanning"
      [style.transform]="transform"
      [style.transform-origin]="'50% 50%'"
    >
      <ng-content></ng-content>
    </g>

    <!-- Temporary helper for showing center of zoom -->
    <!-- <circle
      *ngIf="zoomCenter"
      [attr.cx]="zoomCenter.x"
      [attr.cy]="zoomCenter.y"
      fill="red"
      r="10"
    ></circle> -->
  </svg>

  <div
    class="svg-zoom-pan__click-cover"
    [class.svg-zoom-pan__click-cover--panning]="isPanning"
  >
  </div>
</div>
