<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isTeamSettingSaved">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    Successfully updated team
    <strong>{{teamName}}</strong> settings
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isTeamSettingFailed">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    Cannot update settings.
</div>

<form class="form-group col-9" [formGroup]="teamSettingsForm" (submit)="saveTeamSettings()">
    <fieldset [disableIfNoPermission]="Permissions.canEditTeam">
        <div class="form-group" [class.has-warning]="teamSettingsForm.controls['name'].invalid  && (teamSettingsForm.controls['name'].dirty || teamSettingsForm.controls['name'].touched)">
            <label class="col-form-label" for="inputTeamName">Team name</label>
            <input type="text" class="col-3 form-control form-control-warning" [(ngModel)]="teamName" formControlName="name" placeholder="e.g. The Avengers"
                required>
            <small class="form-control-feedback" *ngIf="teamSettingsForm.controls['name'].invalid  && (teamSettingsForm.controls['name'].dirty || teamSettingsForm.controls['name'].touched)">
                Give us a real team name!
            </small>
        </div>
        <ng-container *hasPermission="Permissions.canEditTeam; then thenMessageBlock; else elseMessageBlock"></ng-container>
        <ng-template #thenMessageBlock>
            <legend class="mt-3">Terminology</legend>
        </ng-template>
        <ng-template #elseMessageBlock>
            <legend class="mt-3">Terminology
                <small class="text-muted"><i class="fa fa-lock mr-1"></i>Only admin can edit</small>
            </legend>
        </ng-template>
        <div class="form-group">
            <label class="col-form-label" for="inputAuthorityName">Authority</label>
            <div class="">
                <input type="text" class="mr-2 col-3 form-control form-control-warning " [(ngModel)]="teamAuthority" formControlName="authority"
                    placeholder="e.g. Authority, Grand Masterflash" maxlength="25">
                <small class="form-text text-muted">
                    What does your team call the person in the main key role for each initiative? e.g. Authority, Driver, Lead link, Source.
                </small>
            </div>


        </div>

        <div class="form-group">
            <label class="col-form-label" for="inputHelperName">Helper</label>
            <div class="">
                <input type="text" class="mr-2 col-3 form-control form-control-warning " [(ngModel)]="teamHelper" formControlName="helper"
                    placeholder="e.g. Contributor, Backseat driver" maxlength="25">
                <small class="form-text text-muted">And what do you call others contributing to an initiative? e.g. Contributor, Helper, Role-holder, Sub-source.
                </small>
            </div>
        </div>

        <button type="submit" class="btn btn-success  pull-right mt-2" [class.disabled]="!teamSettingsForm.valid || !teamSettingsForm.dirty">Save</button>

    </fieldset>
</form>