<!-- <div
  class="alert alert-success alert-dismissable"
  role="alert"
  *ngIf="feedbackMessage"
>
  <a href="#" class="close" data-dismiss="alert" aria-label="close">
    &times;
  </a>
  {{ feedbackMessage }}
</div>

<div
  class="alert alert-danger alert-dismissable"
  role="alert"
  *ngIf="errorMessage"
>
  <a href="#" class="close" data-dismiss="alert" aria-label="close">
    &times;
  </a>
  {{ errorMessage }}
</div> -->

<div class="image-upload input-group">
  <img
    src="{{ user?.picture }}"
    class="avatar avatar--medium"
  />

  <label class="image-upload__button btn btn-outline-secondary">
    <input
      type="file"
      class="d-none"
      id="customFile"
      id="fileupload"
      #fileInput
      ng2FileSelect
      [uploader]="uploader"
      (change)="fileInput.value = ''"
      accept="image/*"
    />
      <i
        *ngIf="isRefreshingPicture"
        class="ml-1 text-muted fas fa-circle-notch fa-spin"
      ></i>
      <span *ngIf="!isRefreshingPicture">Choose image</span>
  </label>
</div>
