@if (dataset) {
  <maptio-circle-map
    [circleMapData$]="circleMapData$"
    [showDetailsPanel]="true"
  ></maptio-circle-map>
} @else {
  <div class="message">
    @if (isLoading) {
      <ng-container i18n>
      Loading Maptio map
    </ng-container>
    } @else {
      <ng-container i18n>
  The requested Maptio map could not be found.
</ng-container>
    }
  </div>
}



<a
  class="credit"
  href="https://www.maptio.com"
  (pinch)="onCreditPinch($event)"
  i18n
  >
  <span class="credit__text">Powered by</span>
  <span class="credit__link">&nbsp;Maptio</span>
</a>
