<div class="building">
	<div class="form-group">
		<input id="searchTreeInput" type="text" class="form-control" placeholder="Search map by name or description" (input)="filterNodes($event.target.value)"
		/>
	</div>
	<Tree [nodes]="nodes" (onUpdateData)="mapData($event)">
		<template #treeNodeTemplate let-node>
			<initiative-node [node]="node"  (updateData)="mapData($event)" (updateTree)="updateTreeModel($event)" (openSelected)="editInitiative($event)" ></initiative-node>
		</template>
	</Tree>
</div>
<initiative #initiative></initiative>