<div class="col-lg-8 mt-3 ">
    <h1>My teams</h1>

    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
    </div>

    <div class="col-lg-8 mb-3 mt-3 row">
        <div class="input-group">
            <input #teamInput type="text" class="form-control" placeholder="e.g. Planet Express">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" (click)="createNewTeam(teamInput.value)">Create</button>
            </span>
        </div>
    </div>

    <div class="overflow">

        <div class="card mb-3 " *ngFor="let team of (teams$ | async);trackBy:trackByTeamId">
            <div class="d-flex w-100 justify-content-between card-header">
                <h5><a routerLink="/team/{{team?.team_id}}/{{team?.getSlug()}}"> {{team?.name}}</a></h5>
                <small>{{team?.members?.length}} members</small>
            </div>
            <div class="card-block">
                <div class="mb-1 d-flex flex-wrap">
                    <div *ngFor="let member of team?.members;trackBy:trackByMemberId" [class.deleted]="member.isDeleted">
                        <img class="rounded-circle member mr-1 mb-1" src="{{member.picture}}" alt="{{member.name}}" placement="top" container="body"
                            ngbTooltip="{{member.name}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>