<div class="col-lg-8 mt-3 ">
    <h1>My teams</h1>

    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
    </div>

    <div class="mb-3">
        <form class="w-75" [class.has-warning]="createForm.controls['teamName'].invalid  && (createForm.controls['teamName'].dirty || createForm.controls['teamName'].touched)"
            [formGroup]="createForm" (submit)="createNewTeam()">
            <div class="input-group">
                <input type="text" class="form-control form-control-warning" formControlName="teamName" placeholder="e.g. Planet Express"
                    required>

                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success" [class.disabled]="!createForm.valid">Create</button>
                </span>
            </div>
            <small class="form-control-feedback" *ngIf="createForm.controls['teamName'].invalid  && (createForm.controls['teamName'].dirty || createForm.controls['teamName'].touched)">
               That doesnt sound right... actually does it even sound like the name of your team?
            </small>

        </form>
    </div>

    <div *ngIf="isLoading">Loading...</div>
    <div class="overflow">

        <div class="card mb-3 " *ngFor="let team of (teams$ | async);trackBy:trackByTeamId">
            <div class="d-flex w-100 justify-content-between card-header">
                <h5>
                    <a routerLink="/team/{{team?.team_id}}/{{team?.getSlug()}}"> {{team?.name}}</a>
                </h5>
                <small>{{team?.members?.length}} members</small>
            </div>
            <div class="card-block">
                <div class="mb-1 d-flex flex-wrap">
                    <div *ngFor="let member of team?.members;trackBy:trackByMemberId" [class.deleted]="member.isDeleted">
                        <img class="rounded-circle member mr-1 mb-1" src="{{member.picture}}" alt="{{member.name}}" placement="top" container="body"
                            ngbTooltip="{{member.name}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>