<div class="row mt-3">
    <div class="col-sm-9" *ngIf="(team$ | async)">
        <div class="">
            <div class="">
                <h3 class="">{{(team$ | async)?.name}}</h3>

                <ul class="list-inline mt-3">
                    <li *ngFor="let member of (members$ | async)" class="list-inline-item col-sm-3">
                        <div class="card mb-1">
                            <div class="card-title ml-1">
                                <img width="20px" src="{{member.picture}}" class="rounded-circle" >                              {{member.nickname}}
                            </div>
                            <div class="card-title ml-1 small">
                                <i *ngIf="member.email">{{member.email}}</i>
                                <i class="text-warning" *ngIf="!member.email">No email</i>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="input-group mt-3 col-sm-7" *ngIf="team$ |async">
                    <ng-template #rt let-r="result" let-t="term">
                        <img src="{{r.picture}}" width="16"> {{r.nickname}}
                    </ng-template>

                    <input #inputNewMember type="text" id="inputNewMember" [resultTemplate]="rt" placeholder="e.g. name@maptio.com" class="form-control"
                        [ngModelOptions]="{standalone: true}" [ngModel]="newMember" (selectItem)="saveNewMember($event)" [ngbTypeahead]="searchUsers"
                        [resultFormatter]="formatter" [inputFormatter]="formatter" email />
                    <span *ngIf="searching">searching...</span>

                    <span class="input-group-btn">
                <button class="btn btn-primary" [class.disabled]="searchFailed" type="button" (click)="addMemberToTeam()">Add</button>
                </span>
                </div>
                <div class="card col-sm-6 mt-1 ml-3" *ngIf="searchFailed">
                    <span *ngIf="!isUserSearchedEmail">No results</span>
                    <div *ngIf="isUserSearchedEmail">

                        <div>
                            <p class="card-text"><b>{{userSearched}}</b> ? We don’t know that person. Add a name and click Add and we’ll add
                                a virtual team member. They'll automatically receive access to <b>{{(team$ | async)?.name}}</b>'s
                                maps once they sign up and confirm their email address.</p>
                            <div class="from-group" [class.has-warning]="name.invalid && (name.dirty || name.touched)">
                                <div class="input-group">
                                    <input type="text" id="name" name="name" class="form-control form-control-warning" required minlength="2" [(ngModel)]="fullname"
                                        #name="ngModel">
                                    <button class="btn btn-success" type="button" (click)="createUser(fullname, userSearched)">Invite</button>
                                </div>
                                <small class="form-control-feedback" *ngIf="name.invalid && (name.dirty || name.touched)">Full name must be more than 2 characters.</small>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-3">
        <div class="card card-inverse card-info">
            <div class="card-block">
                <h3 class="card-title">My teams</h3>

                <div class="list-group">

                    <a class="mb-3">
                        <div class="input-group">
                            <input #teamInput type="text" class="form-control" placeholder="Your team name">
                            <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" (click)="createNewTeam(teamInput.value)">Create</button>
                    </span>
                        </div>
                    </a>

                    <a *ngFor="let team of (teams$ | async)| slice:start:end" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1"><a routerLink="/account/team/{{team.team_id}}">
                        {{team.name}}
                    </a></h6>
                            <small>{{team.members.length}} members</small>
                        </div>

                    </a>
                    <nav aria-label="Navigation through teams" class="mt-2">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" [class.disabled]="start === 0">
                                <a class="page-link previous navigation" tabindex="-1" (click)="backward()"></a>
                            </li>

                            <li class="page-item" [class.disabled]="end >= (teams$ | async)?.length">
                                <a class="page-link next navigation" (click)="forward()"></a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>

</div>