
  ::ng-deep input.search +  ngb-typeahead-window.dropdown-menu {
    margin-left:-38px;
  }
  
  
  ::ng-deep  input.search +  ngb-typeahead-window.dropdown-menu > .dropdown-item {
    padding-left:0!important;
    padding-right:0!important;
  }
  
.clear-button::before{
  content: "";
    position: absolute;
    left: 0;
    top: 10%;
    border-left: 1px solid #ddd;
    height: 80%;
}
