<ng-template #rt let-r="result" let-t="term">
    <div class="pointer-none" *ngIf="r.header">
        <span class="pointer-none text-gray-light text-uppercase small">{{r.header}}</span>
    </div>
    <div class="row " *ngIf="!r.header">
        <div class="col-12 d-flex justify-content-start align-items-baseline">

            <ng-container>
                <ng-container *ngIf="r.type===SearchResultType.Initiative">
                    <button class="btn opacity-50"><i class="fas fa-circle"></i></button>
                    <div class="d-flex flex-column align-items-start w-100">
                        <div class="w-100 text-wrap">
                            <span>{{r.result.name}}</span>

                        </div>
                        <div>
                            <small class="flex-shrink-0 d-flex align-items-center" *ngIf="r.result.accountable">
                                <span *ngIf="r.result.accountable" class="mr-1">led by</span>
                                <img [src]="r.result.accountable.picture" [alt]="r.result.accountable.name"
                                    class="rounded-circle participant-picture small mr-1">{{r.result.accountable.name}}
                            </small>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="r.type===SearchResultType.User">
                        <button class="btn opacity-50"><i class="fas fa-user"></i></button>
                    <div>
                        <img [src]="r.result.picture" [alt]="r.result.name" width="30" height="30"
                            class="rounded-circle user mr-1">{{r.result.name}}
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>

 
<div class="d-flex input-group search" [class.focused]="isFocus">
    <div class="input-group-prepend ">
        <ng-content></ng-content>

    </div>
       
    <input [value]="getResultDisplay()"
    (focus)="selectAllContent($event);isFocus=true" (blur)="isFocus=false" (mouseup)="$event.preventDefault()"
    #initiativeSearch="ngbTypeahead" highlightClass="highlight-typeahead" [resultTemplate]="rt" type="text"
        id="initiativeSearch" class="text-truncate z-index-1 box-shadow-0 form-control search border-0 pr-5" (selectItem)="select($event)"
        [ngbTypeahead]="search" [resultFormatter]="formatter" [inputFormatter]="formatter" editable="false"
         placement="bottom-left" placeholder="Search circles" />
    <span class="position-absolute z-index-3 text-muted opacity-50" style="top:calc(50% - 12px); right:48px;"><i
            class="fa fa-search "></i></span>
   
    <div class="input-group-append">
        <button ngbTooltip="Clear search" [ngClass]="{'bg-accent text-white highlight': (selectedResult && selectedResult.result) || highlightClear}"  
       placement="top" container="body" class="clear-button btn border-0"
            (click)="initiativeSearch.value='';clearSearch()">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>
