<ng-template #logout>
  <a class="btn btn-link px-0" routerLink="/logout" id="logoutButton">
    Log out
  </a>
</ng-template>
<ng-template #profile>
  <a
    class="btn btn-link px-0"
    routerLink="profile/{{ user?.shortid }}/{{ user?.getSlug() || 'profile' }}"
    >Profile</a
  >
</ng-template>
<ng-template #freetrial
  >This is a demo organisation... Ready to create your own?
</ng-template>

<ng-container
  *ngIf="
    (userService.isAuthenticated$ | async) && (isMap() || isHome() || isTeam())
  "
>
  <nav
    class="d-flex flex-column py-3 flex-md-row justify-content-center align-items-center align-items-md-baseline bg-gradient-inverse rounded-bottom text-white mx-3"
    *ngIf="isSandbox"
  >
    <div class="h5 d-none d-md-block">
      <ng-container *ngTemplateOutlet="freetrial"></ng-container>
    </div>
    <small class="text-center d-md-none">
      <ng-container *ngTemplateOutlet="freetrial"></ng-container>
    </small>

    <button
      class="d-none d-md-block btn btn-success mx-1"
      (click)="openOnboarding()"
    >
      Start a 14 day free trial
    </button>

    <button
      class="d-md-none btn-sm btn btn-success my-1"
      (click)="openOnboarding()"
    >
      Start a 14 day free trial
    </button>
  </nav>
</ng-container>

<nav
  class="d-flex header navbar navbar-expand-md navbar-light bg-transparent justify-content-between align-items-baseline pr-3"
  [class.grayscale]="loaderService.isLoading"
>
  <a routerLink="home" class="no-underline navbar-brand">
    <img
      width="32"
      height="32"
      class="d-inline-block align-center"
      src="/assets/images/logo-full.png"
      alt="Home"
    />
  </a>
  <div
    *ngIf="userService.isAuthenticated$ | async"
    class="d-none d-md-flex nav-item col-auto flex-row justify-content-end"
  >
    <lib-breadcrumbs></lib-breadcrumbs>
  </div>
  <button
    class="navbar-toggler d-block d-md-none btn border-0 px-0"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isMenuOpened = !isMenuOpened"
  >
    <i
      class="fas"
      [class.fa-bars]="!isMenuOpened"
      [class.fa-times]="isMenuOpened"
    ></i>
  </button>

  <div
    class="navbar-collapse collapse"
    [ngClass]="{ ' p-2 vh-100 vw-100': isMenuOpened }"
    id="navbarSupportedContent"
  >
    <ul
      class="navbar-nav d-flex justify-content-end w-100"
      (click)="onMenuClick()"
    >
      <li
        class="navbar-text d-none d-md-flex align-items-center position-relative ml-auto mr-auto"
        *ngIf="team && isMap()"
      >
        <span *ngIf="team?.name" class="text-muted mr-1"
          >Organisation
          <a routerLink="/teams/{{ team?.team_id }}/{{ team?.getSlug() }}">
            {{ team?.name }}
          </a>
        </span>
        <span
          *ngIf="!team?.isPaying && !team.isExample"
          style="bottom: -5px"
          class="x-small text-green position-absolute"
          >{{ team?.getRemainingTrialDays() }} days left on your free trial.
          <a
            routerLink="/teams/{{ team?.team_id }}/{{
              team?.getSlug()
            }}/billing"
            >Subscribe now</a
          >
        </span>
      </li>
      <li
        class="nav-item dropdown d-none d-md-flex align-items-center"
        *ngIf="
          (userService.isAuthenticated$ | async) &&
          datasets &&
          datasets?.length !== 0
        "
      >
        <a
          class="nav-link dropdown-toggle"
          id="mapsListDropdownLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Maps
        </a>
        <div
          class="dropdown-menu dropdown-menu-right overflow"
          aria-labelledby="mapsListDropdownLink"
        >
          <ng-container *ngFor="let dataset of datasets">
            <ng-container *ngIf="dataset.initiative">
              <a
                class="dropdown-item"
                routerLink="/map/{{ dataset.datasetId }}/{{
                  dataset.initiative.getSlug()
                }}"
              >
                {{ dataset?.initiative.name }}
              </a>
            </ng-container>
          </ng-container>
        </div>
      </li>
      <li
        class="nav-item dropdown ml-3"
        id="profileInformation"
        *ngIf="userService.isAuthenticated$ | async"
      >
        <a
          class="nav-link dropdown-toggle without-caret px-0 d-none d-md-block"
          id="profileDropdownLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <div>
            <img
              src="{{ user?.picture }}"
              class="rounded-circle participant-picture"
              alt="{{ user?.name }}"
            />
          </div>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="profileDropdownLink"
        >
          <div class="dropdown-item">
            <ng-container *ngTemplateOutlet="profile"></ng-container>
          </div>

          <div class="dropdown-divider" *ngIf="teams?.length > 0"></div>

          <h6 class="dropdown-header" *ngIf="teams?.length > 0">
            Organisations
          </h6>
          <ng-container *ngIf="teams?.length > 1">
            <a
              class="dropdown-item"
              *ngFor="let team of teams | slice: 1:5"
              routerLink="/teams/{{ team.team_id }}/{{ team?.getSlug() }}"
              >{{ team?.name }}</a
            >

            <a class="dropdown-item" routerLink="/teams">More ...</a>
          </ng-container>
          <a
            class="dropdown-item"
            *ngIf="teams?.length === 1"
            routerLink="/teams/{{ teams[0]?.team_id }}/{{
              teams[0]?.getSlug()
            }}"
            >{{ teams[0]?.name }}</a
          >

          <div class="dropdown-divider"></div>
          <div class="dropdown-item d-flex align-items-center">
            <ng-container *ngTemplateOutlet="logout"> </ng-container>
          </div>
        </div>
      </li>

      <li class="nav-item d-flex align-items-center" *ngIf="!isSignUp()">
        <maptio-login-button></maptio-login-button>
      </li>

      <li class="nav-item d-md-none">
        <ng-container *ngTemplateOutlet="profile"></ng-container>
      </li>

      <ng-container *ngIf="datasets?.length > 0">
        <li class="d-md-none dropdown-divider"></li>
        <li class="d-md-none dropdown-header px-0 text-uppercase">Maps</li>
        <li
          class="nav-item d-md-none"
          *ngFor="let dataset of datasets | slice: 0:2"
        >
          <a
            class="btn btn-link px-0"
            routerLink="/map/{{ dataset.datasetId }}/{{
              dataset.initiative.getSlug()
            }}"
          >
            {{ dataset?.initiative.name }}
          </a>
        </li>
        <li class="nav-item d-md-none" *ngIf="datasets?.length > 3">
          <a class="btn btn-link px-0" routerLink="/home">All maps ...</a>
        </li>
      </ng-container>

      <ng-container *ngIf="teams?.length > 0">
        <li class="d-md-none dropdown-divider"></li>
        <li class="d-md-none dropdown-header px-0 text-uppercase">
          Organizations
        </li>
        <li class="nav-item d-md-none" *ngFor="let team of teams | slice: 0:2">
          <a
            class="btn btn-link px-0"
            routerLink="/teams/{{ team.team_id }}/{{ team.getSlug() }}"
            >{{ team.name }}</a
          >
        </li>
        <li class="nav-item d-md-none" *ngIf="teams?.length > 3">
          <a
            *ngIf="teams?.length > 1"
            class="btn btn-link px-0"
            routerLink="/teams"
            >All organizations...</a
          >
        </li>
      </ng-container>

      <li class="d-md-none dropdown-divider"></li>
      <li class="nav-item d-md-none">
        <a class="btn btn-link px-0" routerLink="/legal/terms">Terms</a>
      </li>
      <li class="nav-item d-md-none">
        <a class="btn btn-link px-0" routerLink="/legal/privacy">Privacy</a>
      </li>
      <li class="nav-item d-md-none">
        <a class="btn btn-link px-0" href="{{ BLOG_URL }}">Blog</a>
      </li>
      <li class="nav-item d-md-none">
        <a class="btn btn-link px-0" routerLink="/help">Help</a>
      </li>
      <li class="nav-item d-md-none">
        <a class="btn btn-link px-0" routerLink="/pricing">Pricing</a>
      </li>
      <li class="d-md-none dropdown-divider"></li>
      <li class="nav-item d-md-none">
        <ng-container *ngTemplateOutlet="logout"></ng-container>
      </li>
    </ul>
  </div>
</nav>
