<li
  ngbDropdown
  class="nav-item dropdown d-none d-md-flex align-items-center cursor-pointer"
>
  <a
    class="nav-link dropdown-toggle d-none d-md-block"
    id="languageListDropdownLink"
    ngbDropdownToggle
  >
    <span>{{ currentLocale?.shortLabel }}</span>
  </a>

  <div
    class="dropdown-menu dropdown-menu-end overflow"
    ngbDropdownMenu
    aria-labelledby="languageListDropdownLink"
  >
    <a
      class="dropdown-item"
      ngbDropdownItem
      *ngFor="let locale of LOCALES"
      (click)="onLanguageSelection(locale)"
    >
      {{ locale.name }}
    </a>
  </div>
</li>

<li class="nav-item d-md-none" *ngFor="let locale of LOCALES">
  <a class="btn btn-link px-0" (click)="onLanguageSelection(locale)">
    {{ locale.name }}
  </a>
</li>
