<a
  class="nav-link dropdown-toggle"
  id="languageListDropdownLink"
  data-toggle="dropdown"
  aria-haspopup="true"
  aria-expanded="false"
  i18n
  (click)="onClick()"
>
  EN
</a>

<div
  class="dropdown-menu dropdown-menu-right overflow"
  aria-labelledby="languageListDropdownLink"
>
  <a class="dropdown-item" [href]="'/en-US' + currentLocation">
    English (United States)
  </a>
  <a class="dropdown-item" [href]="'/fr' + currentLocation">French</a>
  <a class="dropdown-item" [href]="'/pl' + currentLocation">Polish</a>
</div>
