<a
  class="nav-link dropdown-toggle d-none d-md-block"
  id="languageListDropdownLink"
  data-toggle="dropdown"
  aria-haspopup="true"
  aria-expanded="false"
>
  <span>{{ currentLocale?.shortLabel }}</span>
</a>

<div
  class="dropdown-menu dropdown-menu-right overflow"
  aria-labelledby="languageListDropdownLink"
>
  <a
    class="dropdown-item"
    *ngFor="let locale of LOCALES"
    (click)="onLanguageSelection(locale)"
  >
    {{ locale.name }}
  </a>
</div>

<li class="nav-item d-md-none" *ngFor="let locale of LOCALES">
  <a class="btn btn-link px-0" (click)="onLanguageSelection(locale)">
    {{ locale.name }}
  </a>
</li>
