<nav
  class="onboarding-banner"
  *ngIf="true"
>
  <div class="onboarding-banner__free-trial-text">
    Free trial time left: {{ team?.getRemainingTrialDays() }}
    day<span *ngIf="team?.getRemainingTrialDays() > 1">s</span>
  </div>

  <button
    class="d-none d-md-block btn btn-success mx-1"
    (click)="openOnboarding()"
  >
    Start a 14 day free trial
  </button>

  <button
    class="d-md-none btn-sm btn btn-success my-1"
    (click)="openOnboarding()"
  >
    Start a 14 day free trial
  </button>
</nav>
