<nav
  class="onboarding-banner"
  *ngIf="true"
>
  <div class="onboarding-banner__free-trial-text">
    Free trial time left: {{ team?.getRemainingTrialDays() }}
    day<span *ngIf="team?.getRemainingTrialDays() > 1">s</span>
  </div>

  <a
    class="btn btn-info text-white"
    [href]="REQUEST_TRIAL_EXTENSION_EMAIL"
  >
    Request longer
  </a>

  <a
    class="btn btn-success text-white"
    routerLink="{{ SUBSCRIBE_NOW_LINK }}"
  >
    Subscribe now
  </a>

  <a
    class="btn btn-success text-white"
    [href]="BOOK_ONBOARDING_URL"
  >
    Book free onboarding
  </a>
</nav>
