<ng-template #editTipContent>
  <ng-content></ng-content>
</ng-template>

<ng-template #rt let-r="result" let-t="term">
  <span *ngIf="r.user_id">
    <img src="{{ r.picture }}" class="avatar" />
    {{ r.name }}
  </span>

  <span *ngIf="!r.user_id && t">{{t}} (Add a new team member)</span>
  <span *ngIf="!r.user_id && !t">Add a new team member</span>
</ng-template>

<span class="d-flex align-items-baseline text-gray-light mb-1">
  <i class="fas fa-user mr-1"></i>
  <span class="text-uppercase text-bold small mr-1">
    {{ team?.settings.authority }}
  </span>

  <span
    *ngIf="isUnauthorized"
    class="text-gray-light small"
    [stickyPopover]="editTipContent"
    placement="right"
  >
    <i class="fas fa-lock"></i>
  </span>
</span>

<div
  *ngIf="!isCreateNewMemberMode; else newMemberForm"
  class="d-flex justify-content-start align-items-center bg-light rounded p-2"
>
  <div
    class="d-flex justify-content-start align-items-center flex-grow-1"
  >
    <div class="w-100">
      <common-autocomplete
        #autocomplete
        [placeholder]="placeholder"
        [removeConfirmationMessage]="
          'Remove this authority and associated role?'
        "
        [resultTemplate]="rt"
        [showSelectedResult]="true"
        [resultFormatter]="formatter"
        [isUnauthorized]="isUnauthorized"
        [item]="authority"
        [filter]="filterMembers"
        (pick)="onSelect($event)"
      >
        <a
          *ngIf="authority"
          [routerLink]="summaryUrlRoot"
          [queryParams]="{ member: authority?.shortid }"
        >
          <img
            src="{{ authority?.picture }}"
            class="avatar"
          />
          {{ authority?.name }}
        </a>
        <span *ngIf="!authority"> No {{ team?.settings.authority }} </span>
      </common-autocomplete>
    </div>
  </div>
</div>

<ng-template #newMemberForm>
  <maptio-member-form
    [team]="team"
    [member]="newMemberData"
    [showCancelButton]="true"
    (addMember)="onCreateNewMember($event)"
    (cancel)="onCancelAddingMember($event)"
  >
  </maptio-member-form>
</ng-template>
