<nav class="navbar bg-transparent d-flex justify-content-between col-11 mx-3">
    <span class="navbar-text">
        <div class="text-muted">
            <a class="small mr-1" href="{{TOS_URL}}" target="blank">
                <span class="text-muted">Terms</span>
            </a>|
            <a class="small mr-1 text-muted" href="{{PRIVACY_URL}}" target="blank">
                <span class="text-muted">Privacy</span>
            </a>|
            <a class="small mr-1 text-muted" href="{{BLOG_URL}}" target="blank">
                <span class="text-muted">Blog</span>
            </a>|
            <a class="small mr-1 text-muted" routerLink="/help">
                <span class="text-muted">Help &amp; support</span>
            </a>
        </div>
    </span>
    <span class="navbar-text text-muted">
        <small class="">Copyright
            <i class="fa fa-copyright" aria-hidden="true"></i> {{today | date:'yyyy'}} Maptio Ltd</small>
    </span>
</nav>