<nav class="footer navbar bg-transparent d-flex justify-content-between col-11 mx-3 py-1 px-0">
    <span class="navbar-text">
        <div class="text-muted">
            <a class="small mr-1" routerLink="/terms">
                <span class="text-muted">Terms</span>
            </a>|
            <a class="small mr-1 text-muted" routerLink="/privacy" >
                <span class="text-muted">Privacy</span>
            </a>|
            <a class="small mr-1 text-muted" href="{{BLOG_URL}}" target="blank">
                <span class="text-muted">Blog</span>
            </a>|
            <a class="small mr-1 text-muted" routerLink="/help">
                <span class="text-muted">Help</span>
            </a>|
            <a class="small mr-1 text-muted" routerLink="/pricing">
                <span class="text-muted">Pricing</span>
            </a>
        </div>
    </span>
    <span class="navbar-text text-muted">
        <small class="">Copyright
            <i class="far fa-copyright" aria-hidden="true"></i> {{today | date:'yyyy'}} Maptio Ltd</small>
    </span>
</nav>