<h2 class="my-5 text-center"> Maps</h2>

<ng-container *ngIf="isOnboarding()">
    <div class="d-flex justify-content-center align-items-center">
            <div class="  d-flex flex-column h-50 align-items-center box-shadow rounded p-3">
                    <h3 class="text-dark">Let's get you started with 4 simple steps : </h3>
            
                    <div class="d-flex justify-content-center text-muted">
                        <div class="d-flex flex-column col-auto align-items-start h4">
                            <div class="d-flex align-items-center my-4">
                                <span class="mx-2">
                                    <i *ngIf="isZeroTeam" class="fa fa-square-o" aria-hidden="true"></i>
                                    <i *ngIf="!isZeroTeam" class="fa fa-check-square text-success" aria-hidden="true"></i>
                                </span>
                                <a routerLink="/teams">
                                    Set up a team
                                </a>
                            </div>
            
                            <div class="d-flex align-items-center my-4">
                                <span class="mx-2">
                                    <i *ngIf="isZeroTeammates" class="fa fa-square-o" aria-hidden="true"></i>
                                    <i *ngIf="!isZeroTeammates" class="fa fa-check-square text-success" aria-hidden="true"></i>
                                </span>
                                <div *ngIf="teamId">
                                    <a routerLink="/teams/{{teamId}}/team/members">
                                        Add a few teammates
                                    </a>
                                    or
                                    <a routerLink="/teams/{{teamId}}/team/import"> import a .csv </a> file (recommended)
                                </div>
                                <div *ngIf="!teamId">
                                    <span>
                                        Add a few teammates
                                    </span>
                                    or
                                    <span> import a .csv </span> file (recommended)
                                </div>
                            </div>
            
                            <div class="d-flex align-items-center my-4">
                                <span class="mx-2">
                                    <i *ngIf="isZeroMaps" class="fa fa-square-o" aria-hidden="true"></i>
                                    <i *ngIf="!isZeroMaps" class="fa fa-check-square text-success" aria-hidden="true"></i>
                                </span>
                                <div *ngIf="teamId">
                                    <a routerLink="/teams/{{teamId}}/team/maps">
                                        Create a map
                                    </a>
                                </div>
                                <div *ngIf="!teamId">
                                    <span>
                                        Create a map
                                    </span>
                                </div>
                            </div>
            
                            <div class="d-flex align-items-center my-4">
                                <span class="mx-2">
                                    <i *ngIf="isZeroInitiative" class="fa fa-square-o" aria-hidden="true"></i>
                                    <i *ngIf="!isZeroInitiative" class="fa fa-check-square text-success" aria-hidden="true"></i>
                                </span>
                                <div *ngIf="datasetId">
                                    <a routerLink="/map/{{datasetId}}/circles/map">
                                        Add a first initiative
                                    </a>
                                </div>
                                <div *ngIf="!datasetId">
                                    <span>
                                        Add a first initiative
                                    </span>
                                </div>
                            </div>
            
            
                        </div>
                    </div>
                </div>
    </div>
   

</ng-container>

<ng-container *ngIf="!isOnboarding()">
    <div class="d-flex flex-column justify-content-center col-12 align-items-center">
        <div class="card-columns col-12">
            <ng-container *ngFor="let dataset of datasets">
                <ng-container *ngIf="dataset.initiative.name">
                    <div class="card box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">
                                <div class="d-flex justify-content-between align-items-start">
                                    <small class="">
                                        <a routerLink="/map/{{dataset.datasetId}}/{{dataset.initiative.getSlug()}}/circles"> {{dataset.initiative.name}}</a>
                                    </small>
                                    <small class="">
                                        Team
                                        <a routerLink="/teams/{{dataset.team?.team_id}}/{{dataset.team?.getSlug()}}">{{dataset.team?.name}}</a>

                                    </small>
                                </div>

                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <div class="d-flex justify-content-between">
                                    <small>
                                        <div *ngIf="dataset.initiative.children" class="text-muted">Vision held by
                                            <img class="visionnary rounded-circle" src="{{dataset.initiative.children[0]?.accountable?.picture}}" alt="{{dataset.initiative.children[0]?.accountable?.name}}">
                                            <a class="text-muted" routerLink="/map/{{dataset.datasetId}}/{{dataset.initiative.getSlug()}}/u/{{dataset.initiative.children[0]?.accountable?.shortid}}/{{dataset.initiative.children[0]?.accountable?.getSlug()}}">
                                                <b> {{dataset.initiative.children[0]?.accountable?.name}}</b>
                                            </a>

                                        </div>

                                        <div *ngIf="!dataset.initiative.children" class="text-warning">
                                            No vision holder yet.
                                        </div>
                                    </small>
                                </div>

                            </h6>
                        </div>
                        <div class="card-footer">
                            <div class="small d-flex justify-content-between align-items-center">
                                <div>{{dataset.depth}} sub-initiatives</div>
                                <button class="btn btn-sm btn-outline-secondary " (click)="export(dataset)">
                                    <span *ngIf="!isDisplayLoader(dataset._id)">
                                        <i class="fa fa-table" aria-hidden="true"></i> Export</span>
                                    <span class="text-muted" *ngIf="isDisplayLoader(dataset._id)">Exporting</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>

    </div>

</ng-container>