<div class="col-12">
    <div class="col-12 my-5 d-flex justify-content-between">
        <div class="col-8 p-0 mr-5" *ngIf="!isOnboarding()">
            <h2 class="text-left mb-5"> Maps</h2>
            <div>
                <div class="d-flex flex-column justify-content-start align-items-start">
                    <div class="card-columns w-100">
                        <ng-container *ngFor="let dataset of datasets">
                            <ng-container *ngIf="dataset.initiative.name">
                                <common-card-map [dataset]="dataset" [isExportAvailable]="true"></common-card-map>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 col d-flex" [class.justify-content-center]="isOnboarding()" [class.w-100]="isOnboarding()">
            <div class="h-100">
                <div class="  d-flex flex-column align-items-center bg-white box-shadow rounded p-3 accent-blue">
                    <common-onboarding [datasets]="datasets" [teams]="teams" [user]="user"></common-onboarding>
                </div>
            </div>
        </div>
    </div>

</div>