.in:before {
    content: "";
    font-family: FontAwesome;
}

.panel-heading{
    width:100%
}

.profile{
    width: 45px;
    height: 45px;
}

.visionnary{
    width: 25px;
    height: 25px;
}

.overflow{
    min-height:70vh;
    max-height: 70vh;
    overflow-y: auto;
}

.card-block{
    padding:1em;
}

.btn.focus, .btn:focus{
  box-shadow: 0 0 0;
}

.dropdown-toggle{
    cursor: pointer;
}