<div class="circle-info" [style.font-size]="fontSize">
  <div class="circle-info__name">
    {{ circle.data.name }}
  </div>

  <div class="circle-info__tags-list cluster">
    <div class="cluster__wrapper">
      @for (tag of circle.data.tags; track tag) {
        <div
          class="circle-info__tag"
          [style.background-color]="tag.color"
          (click)="onTagClick($event)"
          >
          {{ tag.name }}
        </div>
      }
    </div>
  </div>

  <div class="helpers-list cluster">
    <div class="cluster__wrapper">
      @if (circle.data.accountable) {
        <maptio-helper-avatar
          [helper]="circle.data.accountable"
        ></maptio-helper-avatar>
      }

      @for (helper of circle.data.helpers; track helper) {
        <maptio-helper-avatar
          [helper]="helper"
        ></maptio-helper-avatar>
      }
    </div>
  </div>
</div>
