<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
            <div> <a routerLink=""><img src="/assets/images/logo.png" class="brand-logo"></a></div>
        </div>

        <div class="collapse navbar-collapse" id="navbar-brand-centered">
            <ul class="nav navbar-nav navbar-left">
                <!--
                <div routerLinkActive="hidden">
                    <a routerLink="/workspace">{{selectedDatasetName}}</a>
                </div>-->
                <li><h4 class="map-name"> <a routerLink="/workspace/{{selectedDataset?._id}}">{{selectedDataset?.initiative?.name}}</a></h4>
                </li>


            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="auth.authenticated()" class="dropdown">

                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <div>Maps <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                    </a>

                    <ul class="dropdown-menu">
                        <li *ngFor="let dataset of datasets$ | async">
                            <a (click)="goTo(dataset)" class="h4"> {{dataset.name}}</a>
                        </li>
                    </ul>
                </li>
                <li *ngIf="auth.authenticated()" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <div>Create <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="disabled">

                            <div class="create-option">
                                <div class="h4">Map</div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input #inputMap type="text" class="form-control" placeholder="Initiative name" (input)="validate($event.target.value)">

                                        <span class="input-group-btn">
      <button class="btn btn-default" type="button" (click)="createDataset(inputMap.value)" [ngClass]="{disabled: !isValid}">Create</button>
    </span>
                                    </div>
                                </div>
                            </div>



                        </li>
                        <li class="disabled">

                            <div class="create-option">
                                <div class="h4">Team</div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input #inputTeam type="text" class="form-control" placeholder="Team name" (input)="validate($event.target.value)">

                                        <span class="input-group-btn">
      <button class="btn btn-default" type="button" (click)="createTeam(inputTeam.value)" [ngClass]="{disabled: !isValid}">Create</button>
    </span>
                                    </div>
                                </div>
                            </div>



                        </li>
                    </ul>
                </li>

                <li class="dropdown" id="profileInformation" *ngIf="auth.authenticated()">

                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="profile-img"><img src="{{ user?.picture }}" class="profile-img" alt=""></div>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a routerLink="/account/profile">Profile</a>
                        </li>
                        <li>
                            <a routerLink="/account/teams">My teams</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <!-- Log out -->
                        <li id="logoutButton">
                            <a (click)="logout()">Log Out</a>
                        </li>
                    </ul>
                </li>
                <li id="loginButton">
                    <a (click)="auth.login()" placement="bottom" *ngIf="!auth.authenticated()">Log In</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>