.profile-image {
    margin-top: -5px;
    margin-right: 16px;
    float: left;
    background: 50% 50% no-repeat;
    background-size: auto 100%;
    max-width: 36px;
}

.brand-logo {
       /* min-height: 100%; */
    /* margin-right: 10px; */
    background: url(/assets/images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 31px;
}

#saving {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode: forwards;
}
#saving::before {
    content: "\f0c7";
    font-family: FontAwesome;
    color:black;
    animation: blinker 2s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

.small{
    /*line-height: 30px;  to align with logo */
   font-size: xx-small
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

   .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: transparent;
        padding: 0;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }


.big{
    font-size:1.5em;
}

.map-option{
    width:200px;
     padding-left: 8px;
    padding-right: 8px;
}

.create-option{
    width: 360px;
    padding-left: 8px;
    padding-right: 8px;
}
/* curious is this the bootstrap overwrite file */
.navbar {
    
    min-height: 52px;
    
}

.map-name {
    padding-top:13px;
}

