<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand " href="#">
    <!-- <div alt="Maptio Home" class="d-inline-block align-top brand-logo" ></div> -->
    <img src="/assets/images/logo.png" width="40"  height="30" alt="">
    </a>

    <span class="navbar-text col-lg-4">
    <a routerLink="/map/{{selectedDataset?._id}}">{{selectedDataset?.initiative?.name}}</a>
  </span>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto mt-2 mt-md-0">

            <li class="nav-item dropdown" *ngIf="auth.authenticated()">
                <a class="nav-link dropdown-toggle" id="mapsListDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Maps
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="mapsListDropdownLink">
                    <a class="dropdown-item" (click)="goTo(dataset)" *ngFor="let dataset of datasets$ | async">
                            {{dataset.name}}
                        </a>
                </div>
            </li>


            <li class="nav-item dropdown" *ngIf="auth.authenticated()">
                <a class="nav-link dropdown-toggle" id="createListDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Create
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="createListDropdownLink">
                    <div class="dropdown-item create-option disabled">
                        <form class="form-inline">
                            <label for="inputMap" class="col-2 col-form-label">Map</label>
                            <input #inputMap type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" (input)="validate($event.target.value)" placeholder="New initiative name">

                            <button type="submit" (click)="createDataset(inputMap.value)" class="btn btn-primary" [class.disabled]="!isValid">Create</button>
                        </form>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-item create-option disabled">
                        <form class="form-inline">
                            <label for="inputTeam" class="col-2 col-form-label">Team</label>
                            <input #inputTeam type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" (input)="validate($event.target.value)" placeholder="New team name">

                            <button type="submit" (click)="createTeam(inputTeam.value)" class="btn btn-primary" [class.disabled]="!isValid">Create</button>
                        </form>
                    </div>
                </div>
            </li>





            <li class="nav-item dropdown" id="profileInformation" *ngIf="auth.authenticated()">
                <a class="nav-link dropdown-toggle without-caret" href="http://example.com" id="profileDropdownLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <div><img src="{{ user?.picture }}" class="rounded-circle profile-image" alt=""></div>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdownLink">
                    <a class="dropdown-item" routerLink="/account/profile">Profile</a>
                    <a class="dropdown-item" routerLink="/account/teams">My teams</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()" id="logoutButton">Log Out</a>
                </div>
            </li>
            <li id="loginButton">
                <a (click)="auth.login()" placement="bottom" *ngIf="!auth.authenticated()">Log In</a>
            </li>
        </ul>
    </div>
</nav>

