<nav class="navbar fixed-top  navbar-expand-sm navbar-light bg-light justify-content-between">
    <a class="navbar-brand">
        <a routerLink="home" class="no-underline">
            <img width="30" height="30" class="d-inline-block align-top" src="/assets/images/logo-full.webp" alt="Home">

        </a>
        <span class="navbar-text ml-2">
            <mc-breadcrumbs></mc-breadcrumbs>
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
        <span class="navbar-text offset-6" *ngIf="team">
            <span class="text-muted mr-1">Team </span>
            <a routerLink="/teams/{{team?.team_id}}/{{team?.getSlug()}}">
                {{team?.name}}
            </a>
        </span>
        <ul class="navbar-nav ml-auto" *ngIf="auth.allAuthenticated()">

            <li class="nav-item dropdown" *ngIf="(datasets$ | async)?.length !== 0">
                <a class="nav-link dropdown-toggle" id="mapsListDropdownLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Maps
                </a>
                <div class="dropdown-menu dropdown-menu-right overflow" aria-labelledby="mapsListDropdownLink">
                    <a class="dropdown-item" (click)="goTo(dataset)" *ngFor="let dataset of datasets$ | async">
                        {{dataset?.name}}
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="(teams$ | async)?.length > 0">
                <a class="nav-link dropdown-toggle " id="mapsListDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Create a map
                </a>
                <div class="dropdown-menu dropdown-menu-right form-big">
                    <form [formGroup]="createMapForm" (submit)="createDataset()" class="p-4">
                        <div class="form-group ">
                            <label for="inputMapName">Map name</label>
                            <input type="text" id="inputMapName" formControlName="mapName" class="form-control w-100" placeholder="Enter map name " required>
                            <small class="form-text text-muted">
                                This is usually your company or organisation name
                            </small>
                        </div>
                        <div class="form-group ">
                            <label for="inputTeamName">Team</label>
                            <select id="inputTeamName" formControlName="teamId" required class="form-control">
                                <option value="null" disabled="true" [selected]="true">Select a team</option>
                                <option *ngFor="let team of teams$ | async" [value]="team.team_id">{{team?.name}}</option>
                            </select>
                            <a *ngIf="(teams$ | async)?.length === 0 " class="text-danger" (click)="createTeam()">
                                <small class="offset-md-6">Don't have a team?</small>
                            </a>
                        </div>
                        <button type="submit" class="btn btn-outline-success pull-right" [class.disabled]="!createMapForm.valid">Create</button>
                    </form>

                </div>
            </li>
            <!-- <li class="nav-item dropdown" *ngIf="(teams$ | async)?.length === 0">
                <a class="nav-link dropdown-toggle without-caret text-success" (click)="createTeam()" [class.coloured]="isCreateMode">
                    Create a team
                </a>
            </li> -->
            <li class="nav-item dropdown" id="profileInformation">
                <a class="nav-link dropdown-toggle without-caret" id="profileDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div>
                        <img src="{{ user?.picture }}" class="rounded-circle profile-image" alt="{{user?.name}}">
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdownLink">
                    <a class="dropdown-item" routerLink="{{user?.shortid}}/{{user?.getSlug() || 'profile'}}">Profile</a>
                    <a class="dropdown-item" routerLink="/teams">Teams</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/home">Export maps</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()" id="logoutButton">
                        <i class="fa fa-sign-out text-muted" aria-hidden="true"></i> Log Out</a>
                </div>
            </li>
        </ul>
        <ng-container *showItBootstrap="['md','lg','xl']">
            <ng-container *ngIf="!auth.allAuthenticated()">
                <form id="loginForm" class="form-inline pr-2" [formGroup]="loginForm" (submit)="login()">
                    <div class="d-flex flex-column">
                        <div>
                            <input type="email" id="inputEmail" formControlName="email" class="form-control form-control-sm form-control-warning" placeholder="Email"
                                required email>
                            <input id="inputPassword" type="password" class="form-control form-control-sm form-control-warning" formControlName="password"
                                placeholder="e.g. ••••••••" autocomplete="on">
                            <button type="submit" class="btn btn-outline-success btn-sm" [class.disabled]="!loginForm.valid">Log in</button>

                        </div>
                        <small class="text-muted">
                            <a routerLink="/forgot">Forgot your password?</a>
                        </small>
                    </div>
                </form>
            </ng-container>
        </ng-container>
    </div>
</nav>