<div class="d-flex flex-column justify-content-center row">
    <div class="col-12">
        <div class="d-flex align-items-center">
            <img class="rounded-circle user col-auto p-0 d-none d-md-block" width="128" height="128" src="{{member?.picture}}">
            <div class="ml-3 w-100" role="navigation">
                <div class="position-absolute d-flex flex-column">
                    <h1 class=""> {{member?.name}}</h1>
                    <h6 class="text-muted d-none d-md-block">{{authorities.length + helps.length}} circles</h6>
                </div>
                <ul class="nav nav-tabs justify-content-end my-3" role="tablist">
                    <li class="nav-item mr-1">
                        <a class="nav-link active d-flex flex-column align-items-center" id="authority-tab" data-toggle="tab" href="#authority" role="tab"
                            aria-controls="authority" aria-selected="true">
                            <span>{{authorityName | titlecase }}</span>
                            <span class="small text-muted">{{authorities.length}} circles</span>
                        </a>
                    </li>
                    <li class="nav-item d-flex flex-column align-items-center">
                        <a class="nav-link  d-flex flex-column align-items-center" id="helper-tab" data-toggle="tab" role="tab" aria-controls="helper"
                            aria-selected="false" href="#helper">
                            <span>{{helperName | titlecase }}</span>
                            <span class="small text-muted">{{helps.length}} circles</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="col-12 d-flex justify-content-end">
        <div class="btn-group" role="group" aria-label="">
            <button type="button" (click)="setColumnNumber(3)" [class.active]="isColumnToggleActive(3)" class="btn btn-light">
                <i class="fas fa-th"></i>
            </button>
            <button type="button" (click)="setColumnNumber(2)" [class.active]="isColumnToggleActive(2)" class="btn btn-light">
                <i class="fas fa-th-large"></i>
            </button>
            <button type="button" (click)="setColumnNumber(1)" [class.active]="isColumnToggleActive(1)" class="btn btn-light">
                <i class="fas fa-list"></i>
            </button>
        </div>
    </div>



    <div class="tab-content col-12 mt-3" id="tab-content">
        <div id="authority" role="tabpanel" aria-labelledby="authority-tab" class="tab-pane fade show active card-columns" [class.one-column]="isColumnToggleActive(1)"
            [class.two-column]="isColumnToggleActive(2)" [class.three-column]="isColumnToggleActive(3)">
            <div class="w-100 d-flex justify-content-center">

                <span *ngIf="authorities.length===0" class="h3 text-orange">Not a {{authorityName | lowercase }} yet</span>
            </div>
            <div *ngFor="let i of authorities; let ix=index" class="">
                <personal-card [initiative]="i" [datasetId]="datasetId" [team]="team" [isWithLeader]="false" (selectMember)="onSelectMember($event)"
                    (selectInitiative)="onSelectInitiative($event)"></personal-card>
            </div>

        </div>
        <div id="helper" role="tabpanel" aria-labelledby="helper-tab" class="tab-pane fade card-columns " [class.one-column]="isColumnToggleActive(1)"
            [class.two-column]="isColumnToggleActive(2)" [class.three-column]="isColumnToggleActive(3)">
            <div class="w-100 d-flex justify-content-center">
                <span *ngIf="helps.length===0" class="h3 text-orange">No helping participation yet</span>

            </div>

            <div *ngFor="let i of helps; let ix=index" class="">

                <personal-card [initiative]="i" [datasetId]="datasetId" [team]="team" [isWithLeader]="true" [selctedMemberId]="member?.user_id" (selectMember)="onSelectMember($event)"
                    (selectInitiative)="onSelectInitiative($event)"></personal-card>

            </div>
        </div>
    </div>






    <!-- <div class="d-flex justify-content-between mt-3">
            <div class="w-50 mr-1">
                <span *ngIf="authorities.length===0" class="card-title text-muted">Not a {{_team?.settings.authority | lowercase }} yet</span>
                <span *ngIf="authorities.length>0" class="card-title text-muted">{{_team?.settings.authority | titlecase }} of circles</span>

                <div *ngFor="let i of authorities; let ix=index" class="my-2">
                    <personal-card [initiative]="i" [datasetId]="datasetId" [team]="team" [isWithLeader]="false"></personal-card>
                </div>


            </div>
            <div class="w-50 ml-1">

                <span *ngIf="helps.length===0" class="card-title text-muted">No helping participation yet</span>
                <span *ngIf="helps.length>0" class="card-title text-muted">A {{_team.settings.helper | lowercase }} in circles</span>

                <div *ngFor="let i of helps; let ix=index" class="my-2">
                    <personal-card [initiative]="i" [datasetId]="datasetId" [team]="team" [isWithLeader]="true"></personal-card>
                </div>


            </div>

        </div> -->

</div>