<ng-container *ngFor="let role of roles; let roleIndex = index; let last = last">
    <initiative-helper-role
        *ngIf="role !== roleBeingEdited"
        [role]="role"
        [showControls]="true"
        [alwaysShowDetailsToggle]="hasInitiatives(role)"
        [isDirectoryView]="true"
        (edit)="onEditRole($event)"
        (remove)="onDeleteRole($event)"
        (toggleDetails)="onToggleDetails($event)"
    ></initiative-helper-role>

    <initiative-helper-role-input
        *ngIf="isEditRoleMode && role === roleBeingEdited"
        [role]="role"
        [isDirectoryView]="true"
        (cancel)="onCancelEditingRole()"
        (save)="onChangeRole()"
    ></initiative-helper-role-input>

    <div *ngIf="areDetailsVisible(role)">
        <div *ngFor="let initiative of getInitiativesFor(role); let index=index" class="">
            <personal-card
                [initiative]="initiative"
                [datasetId]="datasetId"
                [team]="team"
                [isWithLeader]="true"
                (selectMember)="onSelectMember($event)">
            </personal-card>
        </div>
    </div>

    <hr *ngIf="!last && roles[roleIndex +1]" class="role-divider my-1">
</ng-container>
