<div class="jumbotron transparent jumbotron-fluid h-100">
    <div class="container">
        <h1 class="display-4 d-flex justify-content-center text-warning">You got lost ... This is why we need maps!</h1>
        <h1 class="display-5 d-flex justify-content-center text-warning mb-5">(404) This page doesn't exist.</h1>
        
        <!-- <div class="card-deck mb-4">
            <div class="card bg-light border-light">
                <div class="card-body">
                    <h5 class="card-title">Without maps</h5>
                    <div class="card-text d-flex justify-content-start display-4 flex-wrap">
                        <i class="fa fa-home text-success col-3" aria-hidden="true"></i>
                        <i class="fa fa-suitcase text-success col-3" aria-hidden="true"></i>
                        <i class="fa fa-mobile text-success col-3" aria-hidden="true"></i>
                        <i class="fa fa-signal text-success col-3" aria-hidden="true"></i>
                        <i class="fa fa-road text-success col-3" aria-hidden="true"></i>
                        <i class="fa fa-tint text-warning col-3" aria-hidden="true"></i>
                        <i class="fa fa-mobile text-warning col-3" aria-hidden="true"></i>
                        <i class="fa fa-moon-o text-warning col-3" aria-hidden="true"></i>
                        <i class="fa fa-mobile text-warning col-3" aria-hidden="true"></i>
                        <i class="fa fa-compass text-danger col-3" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card bg-light border-light">
                <div class="card-body">
                    <h5 class="card-title">With maps</h5>
                    <div class="card-text d-flex justify-content-start display-4 flex-wrap">
                        <i class="fa fa-home text-success col-3" aria-hidden="true"></i>
                        <i class="fa fa-suitcase text-success col-3" aria-hidden="true"></i>
                        <i class="fa fa-map-o text-success col-3" aria-hidden="true"></i>
                        <i class="fa fa-road text-success col-3" aria-hidden="true"></i>
                        <i class="fa fa-tint text-warning col-3" aria-hidden="true"></i>
                        <i class="fa fa-map-o text-success col-3" aria-hidden="true"></i>
                        <i class="fa fa-moon-o text-warning col-3" aria-hidden="true"></i>
                        <i class="fa fa-map-o text-success col-3" aria-hidden="true"></i>
                        <i class="fa fa-map-marker text-success col-3" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="card card-body">
                <p class="text-dark lead d-flex justify-content-center">
                        We move fast and sometime we break things, but we are always
                        happy to help get you back on track.
                    </p>
                    <p class="text-dark  lead d-flex justify-content-center"> 
                        Email us at
                        <a class="text-success ml-1 mr-0" href="mailto:support@maptio.com?subject=Support request"> support@maptio.com</a>.
                    </p>
        </div>
        

    </div>
</div>
<!-- 
<h4 class="m-3">Did we break something? In doubt, support@maptio.com ;)</h4> -->