<div class="jumbotron jumbotron-fluid h-100">
    <div class="container">
        <h1 class="display-4 d-flex justify-content-center">You got lost ... This is why we need maps!</h1>
        <h1 class="display-5 d-flex justify-content-center text-warning mb-5">(404) This page doesn't exist.</h1>
        
        <div class="card-deck">
            <div class="card bg-light border-light">
                <div class="card-body">
                    <h5 class="card-title">Without maps</h5>
                    <div class="card-text d-flex justify-content-between display-4">
                        <i class="fa fa-home text-success" aria-hidden="true"></i>
                        <i class="fa fa-suitcase text-success" aria-hidden="true"></i>
                        <i class="fa fa-mobile text-success" aria-hidden="true"></i>
                        <i class="fa fa-signal text-success" aria-hidden="true"></i>
                        <i class="fa fa-road text-success" aria-hidden="true"></i>
                        <i class="fa fa-tint text-warning" aria-hidden="true"></i>
                        <i class="fa fa-mobile text-warning" aria-hidden="true"></i>
                        <i class="fa fa-moon-o text-warning" aria-hidden="true"></i>
                        <i class="fa fa-mobile text-warning" aria-hidden="true"></i>
                        <i class="fa fa-compass text-danger" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card bg-light border-light">
                <div class="card-body">
                    <h5 class="card-title">With maps</h5>
                    <div class="card-text d-flex justify-content-between display-4">
                        <i class="fa fa-home text-success" aria-hidden="true"></i>
                        <i class="fa fa-suitcase text-success" aria-hidden="true"></i>
                        <i class="fa fa-map-o text-success" aria-hidden="true"></i>
                        <i class="fa fa-road text-success" aria-hidden="true"></i>
                        <i class="fa fa-tint text-warning" aria-hidden="true"></i>
                        <i class="fa fa-map-o text-success" aria-hidden="true"></i>
                        <i class="fa fa-moon-o text-warning" aria-hidden="true"></i>
                        <i class="fa fa-map-o text-success" aria-hidden="true"></i>
                        <i class="fa fa-map-marker text-success" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <p class="lead d-flex justify-content-center">
            We move fast and sometime we break things, but we are always
            happy to help get you back on track.
        </p>
        <p class="lead d-flex justify-content-center"> 
            Email us
            <a class="text-success ml-1 mr-1" href="mailto:support@maptio.com?subject=Support request"> support@maptio.com</a>
        </p>

    </div>
</div>
<!-- 
<h4 class="m-3">Did we break something? In doubt, support@maptio.com ;)</h4> -->