<div class="jumbotron">
    <h1 class="display-3">Welcome to Maptio !</h1>
    <p>We know you are excited to explore your maps but we need you to confirm your email first. Please take a second to do
        so, and come back here to start using Maptio.</p>

    <button class="btn btn-primary" (click)="sendConfirmationEmail()">Resend confirmation email</button><small><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw waiting"
        *ngIf="isWaiting"></i></small>
    <div *ngIf="!isWaiting && isConfirmationSent !== undefined">
        <p class="text-success" *ngIf="isConfirmationSent">Sent.</p>
        <p class="text-danger" *ngIf="!isConfirmationSent">Nope ! Something went wrong.</p>
    </div>

    <br><br>
    <p>If you are having any issues with your account, please don’t hesitate to contact us at <b>support@maptio.com</b></p>

</div>