
 ::ng-deep g.node{
     pointer-events: all;
     cursor: pointer;
 }

 ::ng-deep g.node:hover circle{
    stroke-width: 2px;
    stroke-opacity: 1;
    stroke: white;
 }

::ng-deep g.node foreignObject.name {
    transform: scale(1);
    transition:all 250ms;
}

::ng-deep g.node:hover foreignObject.name {
    transform: scale(.8);
    transition:all 250ms;
}

::ng-deep g.node foreignObject.name div.details > div.secondary{
    opacity:0;
    display:none!important;
    transition:all 250ms;
}

::ng-deep g.node:hover foreignObject.name div.details > div.secondary{
    opacity:1;
    display:flex!important;
    transition:all 250ms;
}


 ::ng-deep circle.node{
    stroke-opacity: 0;
    fill-opacity: 0.9;
    pointer-events: inherit;
}


::ng-deep circle.node.node--leaf{
    fill-opacity: 1;
    fill:white ;
}


::ng-deep .node--root foreignObject.name{
    display: none;
}
 

::ng-deep .node foreignObject.name{
    color:white;
}


::ng-deep .node.node--leaf foreignObject.name{
    color:black;
}



 

::ng-deep circle.accountable{
    cursor: pointer;
    pointer-events: all;
}

 ::ng-deep circle.accountable.with-children{
     display: none;
 }

 ::ng-deep circle.accountable.with-children:not(node--root){
    display: inline;
}