
 .top-left-corner{
     left: 2.5%;
     z-index:1;
 }

 .controls-panel{
     background: hsla(255, 100%, 100%, .5);
 }


 
 ::ng-deep g.node{
     pointer-events: all;
     cursor: pointer;
 }

 

 ::ng-deep g.node:hover >  circle, ::ng-deep g.node.highlighted >  circle{
    stroke-width: 2px;
    stroke-opacity: 1;
    stroke: white;
 }

 ::ng-deep g.node.highlighted >  foreignObject.name{
    color:var(--maptio-accent);
 }

::ng-deep g.node foreignObject.name {
    transform: scale(1);
    transition:all 250ms;
    color:white;
}

::ng-deep g.node:hover foreignObject.name, ::ng-deep g.node.highlighted foreignObject.name{
    transform: scale(.95);
    transition:all 250ms;
}

::ng-deep g.node foreignObject.name div.details > div.secondary{
    opacity:0;
    display:none!important;
    transition:all 250ms;
}

::ng-deep g.node:hover foreignObject.name div.details > div.secondary, ::ng-deep g.node.highlighted foreignObject.name div.details > div.secondary{
    opacity:1;
    display:flex!important;
    transition:all 250ms;
    padding-top: 5%;
    pointer-events: visible;
}


 ::ng-deep circle.node{
    stroke-opacity: 0;
    fill-opacity: 0.9;
    pointer-events: inherit;
}


::ng-deep circle.node.node--leaf{
    fill-opacity: 1;
    fill:white ;
}


::ng-deep .node--root foreignObject.name{
    display: none;
}
 




::ng-deep .node.node--leaf foreignObject.name{
    color:black;
}



 

::ng-deep circle.accountable{
    cursor: pointer;
    pointer-events: all;
}

 ::ng-deep circle.accountable.with-children{
     display: none;
 }

 ::ng-deep circle.accountable.with-children:not(node--root){
    display: inline;
}

::ng-deep div.tooltip{
    position: absolute;
    background: black; /*var(--maptio-black)*/;
    font-size: small;
    color:var(--maptio-white);
    padding:.5rem;
    border-radius:.5rem;
    transform: translateX(-50%) translateY(-50%);
}

::ng-deep div.tooltip::before{
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    margin-right: 2px;
    font-size: 10px;
    vertical-align: text-bottom;
}

::ng-deep div.tooltip.tag::before{
    content: "\f02b";
}

::ng-deep div.tooltip.member::before{
    content: "\f007";
}
