/* ::ng-deep svg {
    background: transparent;
}

::ng-deep .initiative-map.node {
    cursor: pointer;
}

::ng-deep .initiative-map.node--leaf {
    fill: white;
    pointer-events: visible;
}

::ng-deep .initiative-map.node--leaf text {
    fill: #000;
}

::ng-deep .initiative-map.deleting>circle:not(.accountable),.initiative-map.deleting>text{
    fill: var(--maptio-red) !important;
}

::ng-deep .initiative-map.adding>circle:not(.accountable),.initiative-map.adding>text{
    fill: var(--maptio-green) !important;
}

::ng-deep .initiative-map.node--root {
    display: none;
}

::ng-deep svg text.initiative-map.accountable {
    fill: #555;
}

::ng-deep .accountable.initiative-map {
    font-weight: 500;
}

::ng-deep .name.initiative-map {
    font-weight: 500;
}

::ng-deep .label.initiative-map {
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: start;
}
 */

 ::ng-deep circle.node{
    stroke-opacity: 0;
    fill-opacity: 0.9;
    pointer-events: visible;
    cursor: pointer;
}

::ng-deep circle.node:hover{
    stroke-width: 2px;
    stroke-opacity: 1;
    stroke: black;
 }


::ng-deep circle.node.node--leaf{
    fill-opacity: 1;
    fill:white ;
}


::ng-deep .node--root foreignObject.name{
    display: none;
}
 

::ng-deep .node foreignObject.name{
    color:white;
}

::ng-deep .node.node--leaf foreignObject.name{
    color:black;
}



 

::ng-deep circle.accountable{
    cursor: pointer;
    pointer-events: all;
}

 ::ng-deep circle.accountable.with-children{
     display: none;
 }

 ::ng-deep circle.accountable.with-children:not(node--root){
    display: inline;
}