.input-size__button {
  border: none;
}

.input-size__input {
  border-color: #f8f9fa!important;
  border-style: solid;
  text-align: center;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
