 .sidenav{
    /* height: 100%;  */
    /* position: absolute; */
    /* z-index: 1; */
    /* top: 0; /* Stay at the top */
    /* left: 0; */ 
    /* margin-top: 61px; */
    /* transition: width 0.5s;  */

    /* border:solid 1px red; */
    /* box-shadow: 0 6px 50px #999; */
 }

 .sidenav > .opened{
    /* width: 42vw; */
    /* z-index: 1; */
 }

 .sidenav > .closed{
    /* width:0; */
    /* z-index: 0; */
}
 

 #sidenav-hierarchy, #sidenav-details{
    /* transition: width 0.5s; */
 }


/* The side navigation menu */
.sidenav >  .hierarchy {
    background-color: transparent; 
}

.sidenav >  .details {
    margin-left: 1vw;
}

.sidenav >  .details.offset {
    margin-left: 4vw;
}


/* The navigation menu links */
.sidenav a {
    /* padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s; */
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    /* color: #f1f1f1; */
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* .card-body.show{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.card-body.hide{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
} */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    /* margin-left:4.5vw;
    margin-right:2vw; */
    /* margin-top:1w; */
    /* position: fixed; */
    /* z-index: 1; */
    /* margin-top: 4px; */
    /*  */
    /* 
    
    margin-right:2vw; */
}

#main.half-push{
    margin-left:43vw;
}

#main.half-push.offset{
    margin-left:47vw;
}


#main.full-push{
    margin-left:86vw;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} */

.open-nav{
    /* margin-top: 61px; */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border-left:0;
    overflow-x: hidden;
    transition: 0.5s;
    /* width: 3vw; */
    /* margin-right :1vw; */
    background: var(--white);
    margin-left:0;
}

.open-nav.closed{

}

.open-nav.opened, .open-nav.opened:hover{
    /* width: 0vw; */
    transition: 0.25s;
}

.open-nav:hover{
    padding-left:2vw;
    transition: 0.25s;
}
