.member{
    float: left;
    background: 50% 50% no-repeat;
    background-size: auto 100%;
    max-width: 22px;
    border-radius: 18px;
}

.no-padding{
    padding: 0;
}

.header {
    padding-left: 60px;
    MARGIN-TOP: 8px;
    background: transparent;
    background-color: transparent;
    z-index: 59;
    /* opacity: 0.5; */
    position: absolute;
    width: 30%;
}
.team-name{
    /* padding: 0 8px 1px 0; */
    /* margin: -18px 0 0 0; */
    font-size: initial;
    margin-right: 13px;
}


.profile-img{
    border-radius: 23px;
}

.mapping{
    /* opacity: 0.8; */
    margin-left: 25px;
    position: absolute;
    /* left: 0; */
    /* top: 0; */
    width: 100%;
    height: 100%;
}

/* The side navigation menu */
#mySidenav {
    position: absolute;
    height: 85%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 11%;
    left: 0;
    overflow-x: hidden;
    padding-top: 5px;
    transition: 0.5s;
    padding-left: 40px;
    box-shadow: 1px 1px 6px #888888;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
position: absolute;
    top: -5px;
    right: 3px;
    font-size: 20px;
    /* margin-left: 50px; */
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    width:100%;
    /*padding: 20px;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.edit-map{
      position: absolute;
    opacity: 0.8;
    top: -4%;
    left:3px;
     transition: 0.5s; 
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: bottom left;
    transform: rotate(90deg);
    transform-origin: bottom left;
}

.edit-map > a{
   color: gray;
    border: 1px solid lightgray;
    background-color: #FCFCFC;
    clear:both;
}

.edit-map > a:hover{
  color:black;
}


.edit-map a{
  border:0;
}


.toggle-edit:before{
  
    content:"\f07c";
  font-family: FontAwesome;
}
