<div id="sideNavTree" class="" [class.showTree]="!isBuildingPanelCollapsed">
    <a class="btn toggle" (click)="toggleBuildingPanel()" [class.showTree]="!isBuildingPanelCollapsed">
        <i class="fa all" [class.fa-list]="isBuildingPanelCollapsed" aria-hidden="true"></i>
        <i class="fa" [class.fa-times]="!isBuildingPanelCollapsed" aria-hidden="true"></i>
    </a>

    <div id="edit-panel-tree" class="mt-3 ml-1 mr-3 row" [class.showTree]="!isBuildingPanelCollapsed">
        <div class="building">
            <building #building (save)="saveChanges($event)" (openDetails)="openDetails($event)" (openDetailsEditOnly)="openDetails($event,true)">Loading...</building>
        </div>
    </div>
</div>

<div id="sideNavDetails" class="rounded-right" [class.showDetails]="!isDetailsPanelCollapsed" [class.showTree]="!isBuildingPanelCollapsed">
    <a class="btn toggle" (click)="toggleDetailsPanel()" [class.showDetails]="!isDetailsPanelCollapsed">
        <i class="fa" [class.fa-times]="!isDetailsPanelCollapsed" aria-hidden="true"></i>
    </a>

    <div id="edit-panel-details" class=" ml-1 showDetails" [class.showDetails]="!isDetailsPanelCollapsed">
        <div class="details" *ngIf="!isDetailsPanelCollapsed">
            <initiative *ngIf="!isDetailsPanelCollapsed" #initiative [datasetTags]="tags" [datasetId]="datasetId" [node]="openedNode"
                [parent]="openedNodeParent" (edited)="saveDetailChanges()"></initiative>

        </div>
    </div>
</div>




<div id="main" tabindex="1"  [class.expand]="!isBuildingPanelCollapsed"
(focus)="isBuildingPanelCollapsed=true; isDetailsPanelCollapsed=true;">
    <div  class="mapping" >
        <mapping [tags]="selectableTags" (showDetails)="openDetails($event, true)" (addInitiative)="addInitiative($event)" (removeInitiative)="removeInitiative($event)"
            (moveInitiative)="moveInitiative($event)" (closeEditingPanel)="closeEditingPanel()" (openTreePanel)="isBuildingPanelCollapsed=false" (applySettings)="applySettings($event)"
            
            
            >
        Loading...</mapping>
    </div>
</div>