<div class="row header">
    <h4 class="pull-left">{{(dataset | async)?.name}}</h4>
    <p class="pull-right team-name"> {{(team|async)?.name}}</p>
    <div class="btn-group pull-right">
        <a *ngFor="let user of members | async" class="btn btn-link btn-xs no-padding">
            <img class="member " src="{{user?.picture}}" alt="{{user?.name}}" title="{{user?.name}}">
        </a>
        <a class="btn btn-link btn-xs" routerLink="/account/team/{{(team |async)?.team_id}}">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </div>
</div>

<div class="row col-lg-12" id="workAreaPanel">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h4 class="panel-title ">
                    <a *ngIf="!isBuildingPanelCollapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" (click)="toggleBuildingPanel();"
                        class="pull-right">
                        Map your initiative
                        <i class="fa fa-minus-square " aria-hidden="true"></i>
                        </a>

                    <a *ngIf="isBuildingPanelCollapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" (click)="toggleBuildingPanel();"
                        class="pull-right">
                            Map your initiative
                            <i class="fa fa-plus-square " aria-hidden="true"></i>
                            </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body  ">
                    <div class="textRotate pull-right">
                        <building #building>Loading...</building>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default rotate">
            <mapping>Loading...</mapping>
        </div>
    </div>
</div>