<ng-template #rt let-r="result" let-t="term">
	<img src="{{r.picture}}" width="32" height="32" class="rounded-circle user" alt={{r.name}} /> {{r.name}}
</ng-template>
<ng-template #editTipContent>
	<div class="text-orange">
		You don't have permission to edit this.
		<a href="{{KB_URL_PERMISSIONS}}" target="blank">Learn more.</a>
	</div>
</ng-template>
<ng-template #deleteTipContent>
	<span class="text-orange">You don't have permission to delete this.
		<a href="{{KB_URL_PERMISSIONS}}" target="blank">Learn more.</a>
	</span>
</ng-template>


<form>
	<div class="card border-0 mb-2 p-2 ">
		<fieldset name="initiativeName" *permissionsOnly="Permissions.canEditInitiativeName;initiative node; authorisedStrategy: enableFieldset; unauthorisedStrategy: disableFieldset; ">
			<div class="d-flex justify-content-start input-group">
				<input class="form-control borderless" id="inputName" type="text" name="inputName" [ngModelOptions]="{standalone: true}"
				 [ngModel]="node?.name" placeholder="Circle name" (ngModelChange)="saveName($event)" rows="2" cols="" (blur)="onBlur()"
				/>
				<div class="input-group-append">
					<span class="icon-disabled text-muted transparent bg-white border-white input-group-text" [stickyPopover]="editTipContent"
					 placement='top'>
					</span>
				</div>

			</div>
		</fieldset>
	</div>

	<div class="card border-0 mb-2 p-2">
		<fieldset name="initiativeTags" *permissionsOnly="Permissions.canEditInitiativeTags;initiative node; authorisedStrategy: enableFieldset; unauthorisedStrategy: disableFieldset;">
			<div class="d-flex justify-content-start align-items-baseline flex-wrap">
				<div *ngFor="let tag of node?.tags; let i=index">
					<a class="badge badge-pill p-2  border-thick text-white mr-1 my-1" [style.border-color]="tag.color" [style.background]="tag.color">
						<i class="fa fa-tag mr-1" aria-hidden="true"></i>{{tag?.name}}
						<span class="remove transparent ml-2" (click)="removeTag(tag)"></span>
					</a>
				</div>
				<div class="dropdown">
					<button class="btn btn-sm btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
					 aria-expanded="false">
						Select tag
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<button (click)="saveTag(tag)" *ngFor="let tag of datasetTags; let i=index" class="dropdown-item" type="button" [style.color]="tag.color">
								<i class="fa fa-tag mr-1" aria-hidden="true"></i>{{tag.name}}
							</button>
					</div>
				</div>
				<div class="input-group-append">
					<span class="icon-disabled text-muted transparent bg-white border-white input-group-text" [stickyPopover]="editTipContent"
					 placement='top'>
					</span>
				</div>
			</div>
		</fieldset>
	</div>


	<div class="card border-0 mb-2 p-2">
		<fieldset name="initiativeAuthority" *permissionsOnly="Permissions.canEditInitiativeAuthority;initiative node; authorisedStrategy: enableFieldset; unauthorisedStrategy: disableFieldset; ">
			<div class="d-flex justify-content-start input-group">
				<div class="form-inline mr-auto">
					<label for="inputAccountable" class="form-control-label col-form-label text-muted mr-2">{{(team$ | async)?.settings.authority | titlecase }}

					</label>
					<div class="">
						<div class="input-group">
							<input #inputAuthority required="required" [resultTemplate]="rt" type="text" id="inputAccountable" placeholder="Who's the {{(team$ | async)?.settings.authority | lowercase }} for this? Enter a team member"
							 [ngStyle]="{'background': ' url(' + node?.accountable?.picture + ') no-repeat'}" class="form-control background" [class.borderless-left]="node?.accountable?.picture"
							 [ngModelOptions]="{standalone: true}" [ngModel]="node?.accountable" (selectItem)="saveAccountable($event)" [ngbTypeahead]="searchTeamMember"
							 [resultFormatter]="formatter" [inputFormatter]="formatter" (blur)="onBlur()" />
							<div class="input-group-append">
								<button *permissionsOnly="Permissions.canEditInitiativeAuthority;initiative node" class="btn btn-outline-danger remove text-danger"
								 mwlConfirmationPopover [popoverMessage]="'Remove this authority and associated role?'" placement="top" container="body"
								 focusbutton="cancel" appendToBody="false" (confirm)="removeAuthority()" (cancel)="cancelClicked=true"></button>
							</div>

						</div>
					</div>
				</div>
				<div class="input-group-append">
					<span class="icon-disabled text-muted transparent bg-white border-white input-group-text" [stickyPopover]="editTipContent"
					 placement='top'>
					</span>
				</div>
			</div>
		</fieldset>
	</div>

	<div class="card border-0 mb-2 p-2">
		<fieldset name="initiativeDescription" *permissionsOnly="Permissions.canEditInitiativeDescription;initiative node; authorisedStrategy: enableFieldset; unauthorisedStrategy: disableFieldset; ">
			<ng-container *permissionsOnly="Permissions.canEditInitiativeDescription;initiative node;">
				<button *ngIf="descriptionHideMe" class="edit-description btn btn-link btn-sm col" (click)="descriptionHideMe=!descriptionHideMe">
					Edit
				</button>
			</ng-container>

			<div class="d-flex justify-content-start input-group description overflow">
				<textarea [hidden]="descriptionHideMe" #inputDescription class="form-control initiativeMarkdownDescription" id="inputDescription"
				 [ngModelOptions]="{standalone: true}" data-provide="markdown" data-iconlibrary="fa" data-autofocus="true" [ngModel]="node?.description || ''"
				 rows="5" placeholder='Describe the circle in your own words and/or add a URL to your main resource' (ngModelChange)="saveDescription($event)"
				 (blur)="onBlur(); descriptionHideMe= !(node?.description === '') && !descriptionHideMe " (change)="saveDescription($event.target.value)">
	
											</textarea>
				<markdown [hidden]="!descriptionHideMe" class="small mb-3 form-control bg-white border-white" *ngIf="node?.description || ''"
				 [data]="node?.description || ''"></markdown>

				<div class="input-group-append">
					<span class="icon-disabled text-muted transparent bg-white border-white input-group-text" [stickyPopover]="editTipContent"
					 placement='top'>
					</span>
				</div>
			</div>
			<small [hidden]="descriptionHideMe" class="help-popup text-default text-muted">
				You can use
				<a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">markdown</a> to create links and add formatting
			</small>
		</fieldset>
	</div>

	<div class="card border-0 p-2 helpers overflow">
		<div class="">
			<h6 class="card-subtitle mb-1 mt-1 text-muted">Who’s helping with this circle?
			</h6>

			<div class="mb-2">
				<div *permissionsOnly="Permissions.canAddHelper;initiative node; then thenAddHelperBlock ; else elseAddHelperBlock "></div>
				<ng-template #thenAddHelperBlock>
					<input #person required="required" [resultTemplate]="rt" type="text" id="inputHelper" placeholder="Enter the name of a {{helper | lowercase}}"
					 class="form-control" (selectItem)="saveHelper($event)" (focus)="person.value=''" [ngbTypeahead]="searchTeamMember" [resultFormatter]="formatter"
					 [inputFormatter]="formatter" editable="false" />
				</ng-template>
				<ng-template #elseAddHelperBlock>
					<input #person required="required" [resultTemplate]="rt" type="text" id="inputHelper" placeholder="Enter the name of a {{helper | lowercase}}"
					 class="form-control" (selectItem)="saveHelperRestricted($event)" (focus)="person.value=''" [ngbTypeahead]="searchTeamMember"
					 [resultFormatter]="formatter" [inputFormatter]="formatter" editable="false" />
					<span class="text-accent small" *ngIf="isRestrictedAddHelper">You can only add
						<strong>yourself</strong> as a {{helper | lowercase}} in this circle</span>
				</ng-template>
			</div>

			<!-- <div *ngIf="node?.helpers.length === 0 || !(node?.helpers); then thenNoHelpersTemplate ; else elseNoHelpersTemplate"></div> -->
			<!-- <ng-template #elseNoHelpersTemplate> -->
			<div class="">
				<div class="d-flex justify-content-between align-items-center" *ngIf="getAllHelpers().length > 0">
					<div></div>
					<span class="small d-flex mr-2 ml-auto" ngbTooltip="Check this box to allow contributors to edit the details of this circle"
					 placement="top" container="body">Can edit</span>
				</div>
				<ng-container *ngFor="let user of getAllHelpers(); let i=index;trackBy:trackByUserId">
					<div class="d-flex justify-content-between align-items-center">
						<div class="w-100">
							<div class="d-flex flex-column">
								<div class="d-flex justify-content-between align-items-center">
									<div class="d-flex justify-content-between col-11 pl-0 pr-0">
										<div class="d-flex justify-content-start">
											<div *permissionsOnly="Permissions.canDeleteHelper;initiative node;helper user; then thenDeleteHelperBlock; else elseDeleteHelperBlock "></div>
											<ng-template #thenDeleteHelperBlock>
												<span class="remove text-danger mr-1 " placement="top" container="body" mwlConfirmationPopover [popoverMessage]="'Remove this helper and associated role?'"
												 focusbutton="cancel" appendToBody="false" (confirm)="removeHelper(user)" (cancel)="cancelClicked = true"></span>
											</ng-template>
											<ng-template #elseDeleteHelperBlock>
												<span class="remove text-muted mr-1 " [stickyPopover]="deleteTipContent" placement='top'></span>
											</ng-template>

											<span class="pl-1 col">
												<img src="{{user.picture}}" width="16" class="rounded-circle user" alt={{user.name}}>
												<a routerLink="/map/{{datasetId}}/{{(dataset$ | async)?.initiative?.getSlug()}}/summary" [queryParams]="{member: user.shortid}">{{user.name}}</a>
												<span class="text-muted small" *ngIf="isAuthority(user)">({{authority | titlecase }})</span>

											</span>
										</div>
										<div>
											<ng-container *permissionsOnly="Permissions.canEditHelper;initiative node; helper user; then thenEditRoleButtonBlock; else elseEditRoleButtonBlock"></ng-container>
											<ng-template #thenEditRoleButtonBlock>
												<button class="btn btn-link pull-right btn-sm" (click)="toggleRole(i)">Role
													<i class="fa" [class.fa-caret-left]="!hideme[i]" [class.fa-caret-down]="hideme[i]" aria-hidden="true"></i>
												</button>
											</ng-template>
											<ng-template #elseEditRoleButtonBlock>
												<button class="btn btn-link pull-right btn-sm disabled" [stickyPopover]="editTipContent" placement='top'>Role
													<i class="fas fa-lock"></i>
												</button>
											</ng-template>
										</div>
									</div>
									<div class="w-100 d-flex justify-content-center">
										<ng-container *ngIf="!isAuthority(user)">
											<fieldset *permissionsOnly="Permissions.canGiveHelperPrivileges;initiative node; authorisedStrategy: enableFieldset; unauthorisedStrategy: disableFieldset; ">
												<div class="custom-control custom-checkbox small">
													<input type="checkbox" class="custom-control-input small" id="customCheck-{{i}}" (ngModelChange)="savePrivilege(user,$event)"
													 [ngModel]="user.hasAuthorityPrivileges" [ngModelOptions]="{standalone: true}">
													<label class="custom-control-label" for="customCheck-{{i}}"></label>
												</div>
											</fieldset>
										</ng-container>
										<ng-container *ngIf="isAuthority(user)">
											<div class="custom-control custom-checkbox small">
												<input readonly disabled type="checkbox" class="custom-control-input small" id="customCheck-{{i}}" checked="true">
												<label class="custom-control-label" for="customCheck-{{i}}"></label>
											</div>
										</ng-container>

									</div>
								</div>

								<div>

								</div>
							</div>

							<div class="col-12">

								<textarea [hidden]="!hideme[i]" #inputRole class="form-control form-control-sm unresizable" id="inputRole" [ngModelOptions]="{standalone: true}"
								 data-provide="markdown" data-iconlibrary="fa" data-autofocus="true" [ngModel]="user.roles[0]?.description || ''"
								 rows="3" placeholder="How is {{user.name}} helping?" (ngModelChange)="saveRole(user,$event)" (blur)="onBlur();toggleRole(i)"
								 (change)="saveRole(user,$event.target.value)"></textarea>

								<markdown class="small" [hidden]="hideme[i]" *ngIf="user.roles[0]?.description" [data]="user.roles[0]?.description || ''"></markdown>

							</div>



						</div>



					</div>
				</ng-container>

			</div>
		</div>
	</div>
</form>