.unresizable {
    resize: none;
    background-color: white;
}

.help-popup::before {
    content: "\f05a";
    font-family: FontAwesome;
    color: #ccc;
}

span.help-popup {
    background: transparent;
}

.authority {
    width: 20px;
}

.transparent {
    background: transparent;
}

@media only screen and (max-height: 800px) {
    .helpers.overflow {
        max-height: 23vh;
        overflow-y: auto;
    }
    .description.overflow {
        max-height: 22vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media only screen and (min-height: 800px) {
    .helpers.overflow {
        max-height: 27vh;
        overflow-y: overlay;
    }
    .description.overflow {
        max-height: 23vh;
        overflow-y: overlay;
        overflow-x: hidden;
    }
}

.background {
    background-size: contain !important;
    padding-left: 3vw;
}

.invisible {
    opacity: 0;
    height: 0
}

textarea {
    background-color: white;
}

.remove {
    background-color: white;
}

.btn-link:focus, .btn-link:active {
    box-shadow: none!important;
}

.edit-description {
    text-align: right;
}




