<div class="h-100 flex-shrink-1 w-100" id="main">
  <div class="h-100">
    <ng-container *ngIf="workspaceService.isLoading()">
      <div
        style="font-size: 4rem"
        class="d-flex justify-content-center align-items-center h-100 text-accent"
      >
        <i class="fas fa-circle-notch fa-spin fa-pulse"></i>
      </div>
    </ng-container>

    <ng-container *ngIf="!workspaceService.isLoading()">
      <!-- Mapping component -->
      <mapping
        class="mapping--inside-map-container"
        [tags]="selectableTags"
        [isEmptyMap]="isEmptyMap"
        (openDetails)="workspaceService.onOpenDetails($event)"
        (addInitiative)="addInitiative($event)"
        (openTreePanel)="openBuildingPanel()"
        (expandTree)="buildingComponent.toggleAll(true)"
        (toggleEditingPanelsVisibility)="
          workspaceService.toggleEditingPanelsVisibility($event)
        "
      ></mapping>
    </ng-container>
  </div>
</div>
