<div
  class="card bg-transparent border-0"
  *ngIf="!isFilterDisabled; else filterDisabledMessage"
>
  <div class="card-body">
    <div class="d-flex flex-wrap">
      <span *ngFor="let tag of tags; let i = index" class="me-1 my-1">
        <span
          *ngIf="!tag.isSelected"
          class="cursor-pointer badge rounded-pill p-2 border-thick"
          [style.color]="tag.color"
          [style.border-color]="tag.color"
          (click)="toggleTag(tag)"
        >
          <i class="fa fa-tag" aria-hidden="true"></i>
          {{ tag.name }}
          <!-- <i class="fa fa-check" aria-hidden="true" [style.color]="'white'"></i> -->
        </span>
        <span
          *ngIf="tag.isSelected"
          class="cursor-pointer badge rounded-pill p-2 border-thick text-white"
          [style.border-color]="tag.color"
          [style.background]="tag.color"
          (click)="toggleTag(tag)"
        >
          <i class="fa fa-tag" aria-hidden="true"></i>
          {{ tag.name }}
          <!-- <i *ngIf="tag.isSelected" class="fa fa-check" aria-hidden="true" [style.color]="white"> </i> -->
        </span>
      </span>
    </div>
  </div>

  <div class="card-footer border-0 bg-transparent">
    <button
      class="btn btn-outline-secondary btn-sm me-1"
      (click)="selectAllTags()"
    >
      <ng-container i18n="@@selectAll">Select all</ng-container>
    </button>
    <button
      class="btn btn-outline-secondary btn-sm"
      (click)="unselectAllTags()"
    >
      <ng-container i18n="@@unselectAll">Unselect all</ng-container>
    </button>
  </div>
</div>

<ng-template #filterDisabledMessage>
  <h3 class="editing-title" i18n>Please use the expanded view</h3>

  <p i18n>
    The expanded view is more suitable for filtering by tags. Please navigate
    there by choosing the expanded view from the toolbar or clicking the button
    below.
  </p>

  <div class="d-flex flex-row w-100 mt-3 justify-content-end">
    <button class="btn btn-success" [routerLink]="expandedMapLink">
      <ng-container i18n="@@takeMeThere">Take me there</ng-container>
    </button>
  </div>
</ng-template>
