.node {
  cursor: auto;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

svg {
  /* pointer-events: auto; */
  background: transparent!important
}

svg text {
  /* font-size:1em; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: start;
  /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;*/
  /*color:white;*/
  opacity: 0.7;
  transition: opacity 200ms;
  /* pointer-events: auto; */
  cursor: pointer;
  /* cursor: url(/assets/images/cursors/more.cur), auto; */
}

svg text:hover {
  opacity: 1;
  /* font-size: larger; */
}

svg circle:hover {
  stroke: black !important;
  stroke-width: 1.5px !important;
  stroke-opacity: 0.5;
  /*fill-opacity: 0.7;*/
}

svg circle.node--root, svg circle.node--root:hover {
  /* stroke-opacity: 0.5 !important; */
  stroke-dasharray: 10, 3 !important;
  stroke: #f7f7f7 !important;
  stroke-width: 3 !important;
  /* fill: #f7f7f7!important; */
}

svg circle.node.dragged{
  stroke-opacity: 0.5 !important;
  stroke-dasharray: 10, 3 !important;
  stroke: black !important;
  stroke-width: 3 !important;
}

/* svg circle.node--root.inactive {
  stroke: none!important;
  fill: white !important
} */

svg .icon {
  font-family: FontAwesome;
  font-size: 12px;
}

svg group {
  visibility: visible;
  opacity: 0.7;
}


svg circle.accountable {
  /* pointer-events: auto; */
  cursor: pointer;
}

svg circle.highlighted, svg circle.highlighted:hover {
  fill: #ff5a00 !important;
  fill-opacity: 0.5;
  stroke:#ff5a00 !important;
  stroke-width: 5!important;
}

svg circle.cut {
  fill-opacity: 0.5;
  stroke-dasharray: 10, 3;
  stroke: black !important;
  stroke-width: 3;
}

.add:before {
  content: "\f067";
  font-family: FontAwesome;
}

.remove:before {
  content: "\f1f8";
  font-family: FontAwesome;
}

.edit:before {
  content: "\f040";
  font-family: FontAwesome;
}

.cut:before {
  content: "\f0c4";
  font-family: FontAwesome;
}

.paste:before {
  content: "\f0ea";
  font-family: FontAwesome;
}

.undo:after {
  content: "\f0e2";
  font-family: FontAwesome;
}

.tooltip {
  position: absolute;
  z-index: 10;
  opacity: 0;
}

.undo-box {
  position: absolute;
  z-index: 10;
  opacity: 1;
  top: 14vh;
  right: 22vh;
}

.instructions {
  position: absolute;
  z-index: 10;
  opacity: 1;
  top: 34vh;
  right: 24vw;
}

.tooltip-initiative{
  position: absolute;
  z-index: 5;
}


.background
{
  background-color: #f7f7f7;
}

.text-color{
  color: #266DAC !important;
}

dede{
  color : rgb(198, 223, 219);
  color : rgb(138, 194, 201) ;
  color: rgb(80, 162, 193);
  color: rgb(40, 127, 184);
}