<!--<div class="initative-tooltip col-lg-3 row">
   
</div>-->



<svg width="100%" viewBox="0 0 1522 1522"></svg>

<div class="undo-box">
    <button *ngIf="isWaitingForDestinationNode" type="button" class="btn undo btn-secondary text-muted" (click)="undo()" placement="top"
        ngbTooltip="Cancel" container="body">Undo cut </button>
</div>

<div *ngIf="isFirstEditing" class="instructions h2 text-muted">
        <button type="button" class="btn  add btn-secondary" (click)="addFirstNode()" placement="top"
        ngbTooltip="New initiative" container="body"></button> or right click anywhere to create your first initiative    
</div>

<div class="tooltip-initiative col-3">
    <div class="card card-inverse background">
        <div class="card-block">
            <h6 class="card-title text-color"> {{hoveredNode?.name}}</h6>
            <markdown class="small text-muted" [data]="hoveredNode?.description || ''"></markdown>
        </div>

    </div>
</div>

<div class="tooltip">
    <div>
        <div class="btn-group" role="group">
            <button *ngIf="!isWaitingForDestinationNode" type="button" class="btn  add btn-secondary" (click)="add(selectedNode)" placement="top"
                ngbTooltip="New initiative" container="body"></button>

            <button *ngIf="!isWaitingForDestinationNode && !isFirstEditing"  type="button" class="btn  edit btn-secondary"
                (click)="edit(selectedNode)" placement="top" ngbTooltip="Edit" container="body"></button>

            <button *ngIf="!isWaitingForDestinationNode && !isFirstEditing" type="button" class="btn  remove btn-secondary"
                placement="top" container="body" ngbTooltip="Remove" mwlConfirmationPopover title="Remove initiative {{selectedNode?.name}} and sub initiatives ?"
                focusbutton="cancel" appendToBody="false" (confirm)="remove(selectedNode)" (cancel)="cancelClicked = true"></button>


        </div>
    </div>

</div>