<svg width="100%" viewBox="0 0 1522 1522"></svg>

<div *ngIf="isFirstEditing" class="instructions h2">
    <button type="button" class="btn add btn-success" (click)="addFirstNode()" placement="top" ngbTooltip="New initiative" container="body"></button> or bring up the context menu to create your first initiative

    <h6 class="offset-4">
        <small class="text-muted pull-right">On
            <i class="fa fa-apple" aria-hidden="true"></i> , use Ctrl+click or tap with two fingers</small>
        <br>
        <small class="text-muted pull-right">On
            <i class="fa fa-windows" aria-hidden="true"></i> , use right-click</small>
    </h6>

</div>

<div class="tooltip-initiative col-3">
    <div class="card card-inverse background">
        <div class="card-block">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="card-title text-color"> {{hoveredNode?.name}}</h6>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-sm add btn-secondary" (click)="add(hoveredNode)" placement="top" ngbTooltip="New initiative"
                        container="body"></button>

                    <button *ngIf="!isFirstEditing" type="button" class="btn btn-sm edit btn-secondary" (click)="editQuick(hoveredNode)" placement="top"
                        ngbTooltip="Edit" container="body"></button>

                    <button *ngIf="!isFirstEditing" type="button" class="btn btn-sm remove btn-secondary" placement="top" container="body" ngbTooltip="Remove"
                        mwlConfirmationPopover title="Remove initiative {{hoveredNode?.name}} and sub initiatives ?" focusbutton="cancel"
                        appendToBody="false" (confirm)="removeQuick(hoveredNode)" (cancel)="cancelClicked = true"></button>


                </div>
            </div>

            <markdown class="small text-muted" [data]="hoveredNode?.description || ''"></markdown>
        </div>
    </div>
</div>

<div class="tooltip">
    <div>
        <div class="btn-group" role="group">
            <button type="button" class="btn  add btn-secondary" (click)="add(selectedNode)" placement="top" ngbTooltip="New initiative"
                container="body"></button>

            <button *ngIf="!isFirstEditing" type="button" class="btn  edit btn-secondary" (click)="edit(selectedNode)" placement="top"
                ngbTooltip="Edit" container="body"></button>

            <button *ngIf="!isFirstEditing" type="button" class="btn  remove btn-secondary" placement="top" container="body" ngbTooltip="Remove"
                mwlConfirmationPopover title="Remove initiative {{selectedNode?.name}} and sub initiatives ?" focusbutton="cancel"
                appendToBody="false" (confirm)="remove(selectedNode)" (cancel)="cancelClicked = true"></button>


        </div>
    </div>

</div>