.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

svg{
  pointer-events: move;
}

svg text {
  font-size:1em;
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: start;
  /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;*/
  /*color:white;*/
    transition: font-weight 200ms;
    /*pointer-events: auto;*/
    cursor: url(/assets/images/cursors/more.cur), auto;
}

svg text.with-children{
  font-size:1.2em;
}

svg text.without-children{
  font-size:1em;
}

svg text:hover{
  font-weight: bolder;
  
}

svg circle:hover{

    stroke:  black !important;
    stroke-width: 1.5px !important;
    stroke-opacity: 0.5;
    /*fill-opacity: 0.7;*/
}


svg .icon{
  font-family: FontAwesome;
  font-size:12px;
}

svg group{
 visibility: visible;
  opacity: 0.7;
}
.hidden{
    visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

 .initative-tooltip {
      position: absolute;
    }


.zoom{
    position: absolute;
    left: 50%;
    opacity: 0.8;
}

.zoom > a{
   color: gray;
    border: 1px solid lightgray;
    background-color: #FCFCFC;
}

.zoom > a:hover{
  color:black;
}

.in{
  margin-left:33px;
}

.in:before{
  content:"\f067";
  font-family: FontAwesome;
}

.out:before{
  content:"\f068";
  font-family: FontAwesome;
}

.reset:before{
  content:"\f0b2";
  font-family: FontAwesome;
}