<!-- <ngx-loading [show]="isLoading" [config]="{ backdropBackgroundColour: '#fff' }"></ngx-loading> -->
<svg id="map"></svg>
<div class="card control switch border-0 w-25 p-0 collapse" [class.show]="_isDisplayOptions">

    <div class=" card-body bg-light border-dark rounded">
        <h6 class="card-title">Circles map options</h6>
        <form>
            <div class="form-group small">
                <div class="custom-control custom-radio ">
                    <input type="radio" id="helpModeRadio" name="radioViewMode" class="custom-control-input" [checked]="_isFullDisplayMode" (click)="switch()">
                    <label class="custom-control-label" for="helpModeRadio">Static mode (Best for small organizations) </label>
                    <small class="form-text text-muted">
                        All circles are shown, explore by dragging and zooming
                    </small>
                </div>
                <div class="custom-control custom-radio ">
                    <input type="radio" id="participationModeRadio" name="radioViewMode" class="custom-control-input" [checked]="!_isFullDisplayMode"
                        (click)="switch()">
                    <label class="custom-control-label" for="participationModeRadio">Interactive mode (Best for large organizations)</label>
                    <small class="form-text text-muted">
                        Reveal a circle details by clicking on it
                    </small>
                </div>
            </div>
        </form>
    </div>
</div>