<svg id="map"></svg>
<div closable class=" control bg-light switch border-0 w-25 p-3 collapse rounded">

    <div  class=" card-body bg-transparent border-0">
        <h6 class="card-title">Circles view options</h6>
        <p class="card-text small">Maptio can display details of all circles on the map, or only as you click on a circle to zoom in:</p>
        <form>
            <div class="form-group small">
                <div class="custom-control custom-radio ">
                    <input type="radio" id="helpModeRadio" name="radioViewMode" class="custom-control-input" [checked]="_isFullDisplayMode" (click)="switch()">
                    <label class="custom-control-label" for="helpModeRadio">Show everything (Best for smaller maps) </label>
        
                </div>
                <div class="custom-control custom-radio ">
                    <input type="radio" id="participationModeRadio" name="radioViewMode" class="custom-control-input" [checked]="!_isFullDisplayMode"
                        (click)="switch()">
                    <label class="custom-control-label" for="participationModeRadio">Click to reveal (Best for larger maps)</label>
         
                </div>
            </div>
        </form>
    </div>
</div>