::ng-deep svg {
    background: transparent;
}

::ng-deep .initiative-map.node {
    cursor: pointer;
}

::ng-deep .initiative-map.node:hover {
    /* stroke: initial; */
    /* stroke-width: initial; */
}

::ng-deep .initiative-map.node--leaf {
    fill: white;
    pointer-events: visible;
}

::ng-deep .initiative-map.node--leaf text {
    fill: #000;
}

::ng-deep .initiative-map.node--root {
    display: none;
}

/* ::ng-deep svg circle.initiative-map:hover{
    stroke: var(--maptio-blue) !important;
    stroke-width: 3px;
    fill: var(--maptio-blue) !important;
} */

/* ::ng-deep svg circle.initiative-map.hovered {
    stroke: #000;
} */

::ng-deep svg text.initiative-map.accountable {
    fill: #555;
}

::ng-deep .accountable.initiative-map {
    font-weight: 500;
}

::ng-deep .name.initiative-map {
    font-weight: 500;
}

::ng-deep .label.initiative-map {
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: start;
}

