.google-sso{
    background: url(/assets/images/sso/google/icon.png) white 12px 50% no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    background-position: center center;
    display: inline-block;
    margin-right: 24px;
}

/* .google-sso.focus , .google-sso:focus{
    background: url(/assets/images/sso/google/btn_google_signin_light_focus_web@2x.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 3rem;
    background-position: center center;
}

.google-sso:hover{
    background: url(/assets/images/sso/google/btn_google_signin_light_pressed_web@2x.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 3rem;
    background-position: center center;
} */