<div class="modal-header d-flex justify-content-center border-bottom-0 ">
    <button *ngIf="isClosable"  type="button" class="close btn" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <i class="fa fa-times"></i>
    </button>
</div>
<div class="modal-body fixed-height">
    <div class="card border-0 bg-transparent">
        <div class="card-body">
            <ng-content> </ng-content>
        </div>

    </div>
</div>
<div class="modal-footer d-flex justify-content-between align-items-center" [class.border-top-0]="!nextActionName">
    <div class="d-flex justify-content-start col-8 h-100" *ngIf="isWithProgress">
        <div class="d-flex flex-column justify-content-end align-items-end w-100" *ngIf="progress!=='100'">
            <div class="progress w-100" [style.height.px]="20">
                <div class="progress-bar bg-gray" role="progressbar" [style.width.%]="progress">{{progressLabel}}</div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end w-100">
        <button type="button" class="btn btn-outline-secondary mx-1" [class.invisible]="!previousActionName" (click)="previousStep()">{{previousActionName}}</button>
        <button type="button" class="btn btn-link mx-1" *ngIf="isSkippable" (click)="nextStep()">Skip for now</button>
        <button type="button" class="btn btn-success" [class.invisible]="!nextActionName" [class.disabled]="!isReady" (click)="isReady && nextStep()">{{nextActionName}}</button>
    </div>
</div>