<svg
  #map
  class="circle-map"
  [class.circle-map--state-circle-selected]="isCircleSelected"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 1000 1000"
  width="100%"
  height="97.5vh"
>
  <rect
    class="circle-map__backdrop"
    (click)="onBackdropClick()"
    height="1000"
    width="1000"
  >
  </rect>

  <!-- <g maptioCircle
    *ngIf="rootCircle"
    [circle]="rootCircle"
  ></g> -->
  <g
    maptioCircle
    *ngFor="let child of rootCircle?.children"
    [circle]="child"
  ></g>
</svg>
