:host {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.collapsible {
  opacity: 1;
  transition: opacity 1000ms ease;
}

.collapsible.hide {
  width: 0;
  opacity: 0;
  transition: all 1s;
}

.accordion-toggle {
  // TODO: Redo these classes:
  // class="d-none h-100 rounded-end py-3 flex-shrink-0 flex-column justify-content-start align-items-center cursor-pointer collapsible"
  &.show {
    width: 4rem;
    transition: all 250ms;
  }

  &.show:hover {
    transition: all 250ms;
    width: 6rem;
  }

  &.hide {
    pointer-events: none;
  }
}

.clean-close-button {
  /* Position adjusted to look good both with and without scrollbar */
  top: 4px;
  right: 7px;

  /* With icon achieves a 26px by 26px button */
  padding: 0 6px 0 7px;

  /* Match bootstrap button styles */
  border-radius: 0.25rem;

  background-color: transparent !important;
  z-index: 1;
}

.clean-close-button:hover {
  color: rgba(0, 0, 0, 0.75);
  background-color: rgba(255, 255, 255, 0.75) !important;
}

.clean-close-button__icon {
  color: rgba(0, 0, 0, 0.35);
  transition: color 0.15s ease-in-out;
}

.clean-close-button:hover .clean-close-button__icon {
  color: rgba(0, 0, 0, 0.75);
}
