<svg:g
  class="circle"
  [class.circle--state-selected]="circle.data.isSelected"
  [class.circle--state-opened]="circle.data.isOpened"
  [class.circle--type-primary]="circle.data.isPrimary"
  [class.circle--type-child-of-primary]="circle.data.isChildOfPrimary"
  [class.circle--type-leaf]="circle.data.isLeaf"
  [style.transform]="'translate(' + x + '%, ' + y + '%) scale(' + scale + ')'"
  [satPopoverAnchor]="popover"
  [satPopoverHover]="300"
  (click)="onClick($event)"
>
  <circle
    class="circle__shadow"
    [attr.cx]="0"
    [attr.cy]="0"
    [attr.r]="defaultRadius"
    [attr.fill]="circle.data.color"
  />

  <circle
    class="circle__circle"
    [attr.cx]="0"
    [attr.cy]="0"
    [attr.r]="defaultRadius"
    [attr.fill]="circle.data.color"
  />

  <g class="circle__children">
    @for (child of circle.children; track child) {
    <g maptioCircle [circle]="child"></g>
    }
  </g>

  <g class="circle__info">
    <foreignObject
      [attr.x]="infoX"
      [attr.y]="infoY"
      [attr.width]="infoSize"
      [attr.height]="infoSize"
    >
      <!-- <g maptioCircleInfo [circle]="circle"></g> -->
      <p>
        {{ circle.data.name }},
        {{ circle.data.isSelected }}
      </p>
    </foreignObject>
  </g>

  <svg:g
    maptioCircleMenu
    [defaultRadius]="defaultRadius"
    [menu]="circleActionsMenu"
    [style.display]="circle.data.isSelected ? 'block' : 'none'"
  >
    <!-- Content of maptio-circle-menu will be projected here by its template -->
  </svg:g>
</svg:g>

<mat-menu #circleActionsMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>add</mat-icon>
    <span>Add Child</span>
  </button>
  <button mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>

<sat-popover
  #popover
  verticalAlign="below"
  (opened)="onPopoverOpen()"
  (closed)="onPopoverClose()"
>
  <div
    class="circle__popover"
    [class.circle__popover--hidden]="isPopoverHidden"
  >
    <div class="circle__popover-name">
      {{ circle.data.name }}
    </div>
  </div>
</sat-popover>
