<ng-template #editTipContent>
  <maptio-insufficient-permissions-message></maptio-insufficient-permissions-message>
</ng-template>

<div class="d-flex align-items-baseline text-gray-light mb-2">
  <i class="fas fa-tags me-1"></i>
  <span class="text-uppercase text-bold small me-1" i18n="@@tags">Tags</span>
  @if (isUnauthorized) {
    <span
      class="text-gray-light small"
      [stickyPopover]="editTipContent"
      >
      <i class="fas fa-lock"></i>
    </span>
  }
</div>

<div class="d-flex justify-content-start align-items-center flex-wrap">
  @for (tag of selectedTags; track tag; let i = $index) {
    <div>
      <a
        class="badge rounded-pill p-2 border-thick text-white me-1"
        [style.border-color]="tag.color"
        [style.background]="tag.color"
        >
        <i class="fa fa-tag me-1" aria-hidden="true"></i>
        {{ tag.name }}
        @if (!isUnauthorized) {
          <span
            class="remove transparent ms-2"
            (click)="removeTag(tag)"
          ></span>
        }
      </a>
    </div>
  }

  @if (!isUnauthorized) {
    <div ngbDropdown class="dropdown">
      <button
        ngbDropdownToggle
        class="btn btn-sm btn-outline-secondary badge rounded-pill dropdown-toggle p-2"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >
        <ng-container i18n="@@selectTag">Select tag</ng-container>
      </button>
      <div
        ngbDropdownMenu
        class="dropdown-menu"
        aria-labelledby="dropdownMenuButton"
        >
        <button class="dropdown-item" type="button" (click)="editTags()">
          <ng-container i18n="@@editTags">Edit tags</ng-container>
        </button>
        <div class="dropdown-divider"></div>
        @for (tag of availableTags; track tag; let i = $index) {
          <button
            (click)="addTag(tag)"
            ngbDropdownItem
            class="dropdown-item"
            type="button"
            [style.color]="tag.color"
            >
            <i class="fa fa-tag me-1" aria-hidden="true"></i>
            {{ tag.name }}
          </button>
        }
      </div>
    </div>
  }
</div>
