<modal #initiativeModal [keyboard]="true" [backdrop]="true">
	<modal-header [show-close]="false">
		<h4 class="modal-title">Initiative details</h4>
	</modal-header>
	<modal-body>

		<form class="form-horizontal">
			<fieldset>
				<div class="form-group">
					<label for="inputName" class="col-lg-2 control-label">Short Name</label>
					<div class="col-lg-10">
						<input class="form-control input-sm" id="inputName" type="text" [ngModelOptions]="{standalone: true}" [ngModel]="data?.name"
							placeholder="Initiative name" (ngModelChange)="saveNodeName($event)">
						<span class="help-block">A short but descriptive title for the initiative</span>
					</div>
				</div>

				<div class="form-group">
					<label for="select" class="col-lg-2 control-label">Accountability</label>
					<div class="col-lg-10">

						<div class="input-group">
							<input type="text" editable="true" placeholder="Select or add an accountable team member" class="form-control" [ngModelOptions]="{standalone: true}"
								[ngModel]="data?.accountable" (ngModelChange)="saveNodeAccountable($event)" [ngbTypeahead]="searchTeamMember" [resultFormatter]="formatter"
								[inputFormatter]="formatter" />
							<span class="input-group-btn">
	  <button [ngClass]="{'disabled': isTeamMemberFound, 'btn-success': isTeamMemberAdded}"  class="btn btn-default" type="button" (click)="addTeamMember()">
		  <i *ngIf="!isTeamMemberAdded" class="fa fa-user-plus" aria-hidden="true"></i>
		  <i *ngIf="isTeamMemberAdded" class="fa fa-check" aria-hidden="true"></i>
		  </button>
    </span>
						</div>
						<span class="help-block">The accountable team member (see RACI)</span>

					</div>
				</div>

				<div class="form-group">
					<label for="inputStartDate" class="col-lg-2 control-label">Start Date</label>
					<div class="col-lg-10">
						<div class="input-group">
							<input class="form-control" placeholder="yyyy-mm-dd" name="dp" [ngModel]="data?.start" (ngModelChange)="saveNodeStartDate($event)"
								ngbDatepicker #d="ngbDatepicker">
							<div class="input-group-addon" (click)="d.toggle()">
								<i class="fa fa-calendar" aria-hidden="true"></i>
								<!--<img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />-->
							</div>
						</div>
						<span class="help-block">When the initiative started</span>
					</div>
				</div>

				<!--<div class="form-group">
					<label for="inputSize" class="col-lg-2 control-label">Team size</label>
					<div class="col-lg-10">
						<input class="form-control input-sm" id="inputSize" type="text" [ngModelOptions]="{standalone: true}" [ngModel]="data?.size"
							placeholder="Team size" (ngModelChange)="saveNodeSize($event)">
						<span class="help-block">The team size changes the size of associated circle</span>
					</div>
				</div>-->

				<div class="form-group">
					<label for="inputDescription" class="col-lg-2 control-label">Description</label>
					<div class="col-lg-10">
						<textarea autofocus data-provide="markdown" data-iconlibrary="fa" class="form-control initiativeMarkdownDescription" id="inputDescription"
							rows="10" [ngModelOptions]="{standalone: true}" [ngModel]="data?.description" placeholder="Description" (ngModelChange)="saveNodeDescription($event)"></textarea>

						<span class="help-block">Describe the initiative here : budget, stakeholders, etc</span>
					</div>
				</div>
			</fieldset>
		</form>
	</modal-body>
	<modal-footer>
		<!--<button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>-->
		<button type="button" class="btn btn-primary" (click)="modal.close()">Save &amp; Close</button>
	</modal-footer>
</modal>