.signup{
    background-color: white;
    opacity: 0.9
}

.home{
    background-color: #f8f9fa
}

.jumbotron{
    color: white;
}

.background{
    background-image: url('/assets/images/screenshot.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
}