<div class="h-100  d-flex justify-content-center align-items-center flex-column">
    <div class="d-flex flex-column justify-content-start align-items-center h-100 " [class.col-6]="!auth.allAuthenticated()" [class.col-12]="auth.allAuthenticated()">
        <div *ngIf="!auth.allAuthenticated()" class="text-blue text-center">
            <h1>Maptio is the online tool for mapping self-managing organisations.</h1>
            <h4>Maptio's maps help you making agility at work easier, onboard new people quickly, make smarter decisions and
                keep everyone aligned.</h4>

            <button class="btn btn-success btn-lg my-3" routerLink="/signup">Get started - Free for 14 days</button>

            <div class="text-muted">Already use Maptio?
                <a routerLink="/login">Log in</a>
            </div>
        </div>
        <div *ngIf="auth.allAuthenticated()" class="h-100 col-12">
            <dashboard *ngIf="!isLoading" [datasets]="datasets" [teams]="teams"></dashboard>
        </div>
    </div>
</div>