<ng-template #dragAndDropTipContent>
	<span class="text-warning">You don't have permission to drag-and-drop.
		<a href="{{KB_URL_PERMISSIONS}}" target="blank">Learn more.</a>
	</span>
</ng-template>
<ng-template #editTipContent>
	<span class="text-warning">You don't have permission to edit this.
		<a href="{{KB_URL_PERMISSIONS}}" target="blank">Learn more.</a>
	</span>You don't have permission to edit this.
</ng-template>
<ng-template #deleteTipContent>
	<span class="text-warning">You don't have permission to delete this.
		<a href="{{KB_URL_PERMISSIONS}}" target="blank">Learn more.</a>
	</span>
</ng-template>

<div class="w-100 pl-2">
	<div class="input-group rounded" [class.box-shadow]="isDraggable()">
		<div class="input-group-prepend">
			<ng-container *ngIf="!isRoot()">
				<div *permissionsOnly="Permissions.canMoveInitiative; else elseMoveBlock; then thenMoveBlock; "></div>
				<ng-template #thenMoveBlock>
					<span class="input-group-text knurled text-secondary cursor-move " (mouseover)="node.data.isDraggable=true" (mouseout)="node.data.isDraggable=false">
						<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
					</span>
				</ng-template>
				<ng-template #elseMoveBlock>
					<span class="p-0 input-group-text knurled cursor-default text-secondary" (mouseover)="node.data.isDraggable=false" (mouseout)="node.data.isDraggable=false"
					 >
						<i class="fa fa-ellipsis-v invisible" aria-hidden="true"></i>
					</span>
				</ng-template>
			</ng-container>
		</div>
		<div *permissionsOnly="Permissions.canEditInitiativeName;initiative node.data; else elseNameBlock; then thenNameBlock; "></div>
		<ng-template #thenNameBlock>
			<input class="form-control input inputNodeName box-shadow-0 border-left-0 border-right-0 text-truncate" type="text" [focusif]="node.data.hasFocus" [ngModel]="node.data.name" 
			 (focus)="node.data.isDraggable=false;openNode(node.data)" (blur)="node.data.isDraggable=true" 
			 debounce (func)="saveNodeName($event, node.data)"
			 />
		</ng-template>
		<ng-template #elseNameBlock>
			<input class="text-muted form-control input inputNodeName box-shadow-0 border-left-0 border-right-0 text-truncate" type="text" [ngModel]="node.data.name" (keydown)="$event.preventDefault();isEditWarningToggled=true"
			 (focus)="node.data.isDraggable=false;openNode(node.data)" (blur)="node.data.isDraggable=true" />
		</ng-template>

		<div class="input-group-append">
			<ng-template #addButtonTooltip>
				<p *ngIf="isRoot()">Create outer circle</p>
				<p *ngIf="!isRoot()">Add sub-circle</p>
			</ng-template>
			<button class="btn add border border-left-0 border-right-0 btn-outline-secondary" (click)="addChildNode(node.data)" placement="top" [ngbTooltip]="addButtonTooltip"
			 container="body" angulartics2On="click" angularticsEvent="Map" [angularticsProperties]="{mode: 'list', action:'add', team:teamName, teamId:teamId  }"></button>
			<button class="btn edit border border-left-0 border-right-0 btn-outline-secondary" *ngIf="!isRoot()" (click)="openNode(node.data)" placement="top" container="body"
			 ngbTooltip="Open circle" angulartics2On="click" angularticsEvent="Map" [angularticsProperties]="{mode: 'list', action:'edit', team:teamName, teamId:teamId }"></button>
			<ng-container *ngIf="!isRoot()">
				<div *permissionsOnly="Permissions.canDeleteInitiative; initiative node.data; else elseDeleteBlock;then thenDeleteBlock; ">

				</div>
				<ng-template #thenDeleteBlock>
					<button class="btn remove border border-left-0  btn-outline-secondary" placement="top" container="body" mwlConfirmationPopover [popoverMessage]="'Remove circle and sub-circles ?'"
					 focusbutton="cancel" appendToBody="false" (confirm)="removeChildNode(node.data)" (cancel)="cancelClicked = true" angularticsEvent="Map"
					 [angularticsProperties]="{mode: 'list', action:'remove', team:teamName, teamId:teamId }" angulartics2On="click"></button>

				</ng-template>
				<ng-template #elseDeleteBlock>
					<button class="btn remove border border-left-0  btn-outline-secondary disabled not-allowed" placement="top"  [stickyPopover]="deleteTipContent">

					</button>
				</ng-template>

			</ng-container>
		</div>
	</div>
</div>