<div class="form-group mr-1">
	<div class="input-group">
		<span *ngIf="!isRoot()" class="input-group-addon knurled" (mouseenter)="node.data.isDraggable=true" (mouseleave)="node.data.isDraggable=false">
			<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
		</span>

		<input class="form-control input inputNodeName" type="text" [focusif]="node.data.hasFocus" [ngModel]="node.data.name" (ngModelChange)="saveNodeName($event, node.data)"
		 (focus)="node.data.isDraggable=false;openNode(node.data)" (blur)="node.data.isDraggable=true" />

		<span class="btn-group control">
			<ng-template #addButtonTooltip>
				<p *ngIf="isRoot()">Create outer circle</p>
				<p *ngIf="!isRoot()">Add sub-initiative</p>
			</ng-template>
			<a class="btn add " (click)="addChildNode(node.data)" placement="top" [ngbTooltip]="addButtonTooltip" container="body" angulartics2On="click"
			 angularticsEvent="Map" [angularticsProperties]="{mode: 'list', action:'add', team:teamName, teamId:teamId  }"></a>
			<a class="btn edit" *ngIf="!isRoot()" (click)="openNode(node.data)" placement="top" container="body" ngbTooltip="Edit initiative"
			 angulartics2On="click" angularticsEvent="Map" [angularticsProperties]="{mode: 'list', action:'edit', team:teamName, teamId:teamId }"></a>

			<ng-container *ngIf="!isRoot()">
				<div *permissionsOnly="Permissions.canDeleteInitiative; initiative node.data; else elseDeleteBlock;then thenDeleteBlock; ">

				</div>
				<ng-template #thenDeleteBlock>
					<a class="btn remove" placement="top" container="body" mwlConfirmationPopover title="Remove initiative and sub initiatives ?"
					 focusbutton="cancel" appendToBody="false" (confirm)="removeChildNode(node.data)" (cancel)="cancelClicked = true" angularticsEvent="Map"
					 [angularticsProperties]="{mode: 'list', action:'remove', team:teamName, teamId:teamId }" angulartics2On="click">

					</a>
				</ng-template>
				<ng-template #elseDeleteBlock>
					<a disabled class="btn remove disabled" placement="top" container="body" mwlConfirmationPopover title="Remove initiative and sub initiatives ?"
					focusbutton="cancel" appendToBody="false" (confirm)="cancelClicked = true" message="Only the {{authority}} of this initiative can delete it"
					hideCancelButton="true" confirmText="OK" confirmButtonType="secondary">
					
				</a>
				</ng-template>

			</ng-container>



		</span>
	</div>
</div>