<ng-template #dragAndDropTipContent>You don't have permission to drag-and-drop. <a href="{{KB_URL_PERMISSIONS}}" target="blank">Learn more.</a></ng-template>
<ng-template #editTipContent>You don't have permission to edit this. <a href="{{KB_URL_PERMISSIONS}}" target="blank">Learn more.</a></ng-template>
<ng-template #deleteTipContent>You don't have permission to delete this. <a href="{{KB_URL_PERMISSIONS}}" target="blank">Learn more.</a></ng-template>

<div class="col-12">
	<div class="input-group">
		<div class="input-group-prepend">
			<ng-container *ngIf="!isRoot()">
				<div *permissionsOnly="Permissions.canMoveInitiative; else elseMoveBlock; then thenMoveBlock; "></div>
				<ng-template #thenMoveBlock>
					<span class="input-group-text knurled" (mouseenter)="node.data.isDraggable=true" (mouseleave)="node.data.isDraggable=false">
						<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
					</span>
				</ng-template>
				<ng-template #elseMoveBlock>
					<span class="input-group-text knurled not-allowed" (mouseenter)="node.data.isDraggable=false" (mouseleave)="node.data.isDraggable=false"
					placement="right" container="body" [ngbTooltip]="dragAndDropTipContent" triggers="manual"
					#t="ngbTooltip" (click)="t.isOpen() ? t.close() : t.open()">
						<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
					</span>
				</ng-template>
			</ng-container>
		</div>
		<div *permissionsOnly="Permissions.canEditInitiativeName;initiative node.data; else elseNameBlock; then thenNameBlock; "></div>
		<ng-template #thenNameBlock>
			<input class="form-control input inputNodeName" type="text" [focusif]="node.data.hasFocus" [ngModel]="node.data.name" (ngModelChange)="saveNodeName($event, node.data)"
			 (focus)="node.data.isDraggable=false;openNode(node.data)" (blur)="node.data.isDraggable=true" />
		</ng-template>
		<ng-template #elseNameBlock>
			<input readonly class="form-control input inputNodeName" type="text" [ngModel]="node.data.name" (keydown)="$event.preventDefault();isEditWarningToggled=true"
			 (focus)="node.data.isDraggable=false;openNode(node.data)" (blur)="node.data.isDraggable=true"
			/>
		</ng-template>

		<div class="input-group-append">
			<ng-template #addButtonTooltip>
				<p *ngIf="isRoot()">Create outer circle</p>
				<p *ngIf="!isRoot()">Add sub-initiative</p>
			</ng-template>
			<button class="btn add btn-outline-secondary" (click)="addChildNode(node.data)" placement="top" [ngbTooltip]="addButtonTooltip"
			 container="body" angulartics2On="click" angularticsEvent="Map" [angularticsProperties]="{mode: 'list', action:'add', team:teamName, teamId:teamId  }"></button>
			<button class="btn edit btn-outline-secondary" *ngIf="!isRoot()" (click)="openNode(node.data)" placement="top" container="body"
			 ngbTooltip="Open initiative" angulartics2On="click" angularticsEvent="Map" [angularticsProperties]="{mode: 'list', action:'edit', team:teamName, teamId:teamId }"></button>
			<ng-container *ngIf="!isRoot()">
				<div *permissionsOnly="Permissions.canDeleteInitiative; initiative node.data; else elseDeleteBlock;then thenDeleteBlock; ">

				</div>
				<ng-template #thenDeleteBlock>
					<button class="btn remove btn-outline-secondary" placement="top" container="body" mwlConfirmationPopover title="Remove initiative and sub initiatives ?"
					 focusbutton="cancel" appendToBody="false" (confirm)="removeChildNode(node.data)" (cancel)="cancelClicked = true" angularticsEvent="Map"
					 [angularticsProperties]="{mode: 'list', action:'remove', team:teamName, teamId:teamId }" angulartics2On="click"></button>

				</ng-template>
				<ng-template #elseDeleteBlock>
					<button class="btn remove btn-outline-secondary disabled not-allowed" 
					
					placement="top" container="body" [ngbTooltip]="deleteTipContent" triggers="manual"
					#t="ngbTooltip" (click)="t.isOpen() ? t.close() : t.open()">

					</button>
				</ng-template>

			</ng-container>
		</div>
	</div>
</div>
