
<!-- <ng-template #list>
 <a class="card border cursor-pointer" *ngFor="let member of filteredMembers" (click)="onSelectMember(member)">
                        <div class="card-body">
                            <img *ngIf="member.picture" [src]="member.picture"  class="rounded-circle participant-picture mr-1">{{member.name}}
                        </div>
                    </a>
</ng-template>-->


<div class="mt-5 mt-md-0 row h-100 overflow-y overflow-y pt-2 pt-md-4 cursor-auto overflow-x-hidden justify-content-center" id="summary-canvas" >
    <div class="d-flex flex-column col-11 px-5">
        <div class="w-100" role="navigation">
            <ul class="nav nav-tabs my-3" role="tablist">
                <li class="nav-item mr-1">
                    <a class="nav-link active d-flex flex-column align-items-center" id="people-tab"
                        data-toggle="tab" href="#people" role="tab" aria-controls="people"
                        aria-selected="true">
                        <span>People</span>
                    </a>
                </li>

                <li class="nav-item d-flex flex-column align-items-center">
                    <a class="nav-link d-flex flex-column align-items-center" id="roles-tab" data-toggle="tab"
                        role="tab" aria-controls="roles" aria-selected="false" href="#roles">
                        <span>Roles</span>
                    </a>
                </li>

                <li class="nav-item d-flex flex-column align-items-center">
                    <a class="nav-link d-flex flex-column align-items-center" id="vacancies-tab" data-toggle="tab"
                        role="tab" aria-controls="vacancies" aria-selected="false" href="#vacancies">
                        <span>Vacancies</span>
                    </a>
                </li>
            </ul>
        </div>



        <div class="tab-content mt-3" id="tab-content">
            <div id="people" role="tabpanel" aria-labelledby="authority-tab"
                class="tab-pane fade show active card-columns d-flex flex-column">
                <summary-people
                    (selectInitiative)="onSelectInitiative($event)"
                ></summary-people>
                <!-- <div class="w-100 d-flex justify-content-center">
    
                    <span *ngIf="authorities.length===0" class="h3 text-orange">Not a {{authorityName | lowercase }}
                        yet</span>
                </div>
                <div *ngFor="let i of authorities; let ix=index" class="">
                    <personal-card [initiative]="i" [datasetId]="datasetId" [team]="team" [isWithLeader]="false"
                        (selectMember)="onSelectMember($event)" (selectInitiative)="onSelectInitiative($event)">
                    </personal-card>
                </div> -->
            </div>

            <div id="roles" role="tabpanel" aria-labelledby="helper-tab" class="tab-pane fade card-columns ">
                <p>Viewing library roles will be implemented soon!</p>
                <!-- <div class="w-100 d-flex justify-content-center">
                    <span *ngIf="helps.length===0" class="h3 text-orange">No helping participation yet</span>
    
                </div>
    
                <div *ngFor="let i of helps; let ix=index" class="">
    
                    <personal-card [initiative]="i" [datasetId]="datasetId" [team]="team" [isWithLeader]="true"
                        [selectedMemberId]="member?.user_id" (selectMember)="onSelectMember($event)"
                        (selectInitiative)="onSelectInitiative($event)"></personal-card>
    
                </div> -->
            </div>

            <div id="vacancies" role="tabpanel" aria-labelledby="helper-tab" class="tab-pane fade card-columns ">
                <p>Viewing role vacancies will be implemented soon!</p>
                <!-- <div class="w-100 d-flex justify-content-center">
                    <span *ngIf="helps.length===0" class="h3 text-orange">No helping participation yet</span>
    
                </div>
    
                <div *ngFor="let i of helps; let ix=index" class="">
    
                    <personal-card [initiative]="i" [datasetId]="datasetId" [team]="team" [isWithLeader]="true"
                        [selectedMemberId]="member?.user_id" (selectMember)="onSelectMember($event)"
                        (selectInitiative)="onSelectInitiative($event)"></personal-card>
    
                </div> -->
            </div>
        </div>








        <!-- <div class="col mr-3  justify-content-between align-items-start" *ngIf="selectedMember">
            <div class="w-100 d-flex flex-column align-items-end mt-3">
                <button class="btn btn-link btn-sm d-none d-md-block" type="button" (click)="isOthersPeopleVisible=!isOthersPeopleVisible" data-toggle="collapse" data-target="#collapseOtherMembers" aria-expanded="false"
                    aria-controls="collapseOtherMembers">{{ isOthersPeopleVisible ? 'Hide' : 'Show'}}  other people</button>
                <div class="w-100">
                    <summary-personal [dataset]="dataset" [member]="selectedMember" [team]="team" [initiative]="initiative" (selectMember)="onSelectMember($event)" (selectInitiative)="onSelectInitiative($event)"></summary-personal>
               </div>


            </div>

        </div> -->

        <!-- <div id="collapseOtherMembers" [class.col-3]="selectedMember" [class.collapse]="selectedMember" [class.w-100]="!selectedMember"
            class="  border-0 " [class.mt-3]="selectedMember">
            <div class="d-none d-md-block card border-0 bg-transparent">
                <div *ngIf="!selectedMember && !!initiative">
                    <h1 class="">Directory</h1>
                    <h6 class="text-muted ">

                        This is a directory of organisation
                        <a routerLink="/teams/{{team.team_id}}/{{team.getSlug()}}">{{team.name}}</a>. Select a person to see their circles in map
                        <a routerLink="../circles">{{initiative?.name}}</a>: 
                    </h6>
                </div>

            </div>

            <div>-->

                <!-- <h6 *ngIf="selectedMember"> Other people</h6> -->
<!--                <div class=" form-group form-inline d-none d-md-flex flex-column align-items-start" [class.w-25]="!selectedMember" [class.my-3]="!selectedMember"
                    *ngIf="initiative">
                    <input id="inputQuickFilter" #inputQuickFilter placeholder="Find a person" type="text" class="form-control w-100" (keyup)="onKeyDown(inputQuickFilter.value)">
                    <div [class.invisible]="!inputQuickFilter.value" class="d-flex justify-content-between align-items-center w-100">
                        <span class="text-muted small">{{filteredMembers.length}}/{{members?.length}} people</span>

                        <button class="btn btn-link btn-sm px-0" (click)="onKeyDown('');inputQuickFilter.value=''">
                            Show all
                        </button>
                       
                    </div>
                </div>

                <ul class="d-none d-md-block card-columns p-0" [class.five-columns]="!selectedMember" [class.one-column]="selectedMember">
                    <button *permissionsOnly="Permissions.canAddUser" class="card bg-secondary border cursor-pointer text-white" (click)="onAddingNewMember()">
                        <div class="card-body">
                            Add new person
                        </div>
                    </button>
                    <ng-container *ngTemplateOutlet="list"></ng-container>
                  
                </ul>
                 <ul class=" d-md-none card-columns p-0 one-column">
                 
                    <ng-container *ngTemplateOutlet="list"></ng-container>
                  
                </ul>
            </div>


        </div>-->
    </div>
</div> 
