<div class="mt-5 mt-md-0 row h-100 overflow-y overflow-y pt-2 pt-md-4 cursor-auto overflow-x-hidden justify-content-center" id="summary-canvas" >
    <div class="d-flex flex-column col-11 px-5">
        <h1 class="mb-3">Directory</h1>

        <div class="w-100" role="navigation">
            <ul class="nav nav-tabs my-3" role="tablist">
                <li class="nav-item mr-1">
                    <a
                        #peopleTab 
                        id="people-tab"
                        class="nav-link active d-flex flex-column align-items-center" 
                        data-toggle="tab"
                        href="#people"
                        role="tab"
                        aria-controls="people"
                        aria-selected="true">
                        <span>People</span>
                    </a>
                </li>

                <li class="nav-item d-flex flex-column align-items-center">
                    <a class="nav-link d-flex flex-column align-items-center" id="roles-tab" data-toggle="tab"
                        role="tab" aria-controls="roles" aria-selected="false" href="#roles">
                        <span>Roles</span>
                    </a>
                </li>

                <li class="nav-item d-flex flex-column align-items-center">
                    <a class="nav-link d-flex flex-column align-items-center" id="vacancies-tab" data-toggle="tab"
                        role="tab" aria-controls="vacancies" aria-selected="false" href="#vacancies">
                        <span>Vacancies</span>
                    </a>
                </li>
            </ul>
        </div>

        <div
            id="tab-content"
            class="tab-content mt-3"
        >
            <div
                id="people"
                class="tab-pane fade show active flex-column"
                role="tabpanel"
                aria-labelledby="people-tab"
            >
                <summary-people (selectInitiative)="onSelectInitiative($event)"></summary-people>
            </div>

            <div
                id="roles"
                class="tab-pane fade card-columns flex-column"
                role="tabpanel"
                aria-labelledby="roles-tab"
            >
                <summary-roles (changeTab)="onChangeTab($event)"></summary-roles>
            </div>

            <div
                id="vacancies"
                class="tab-pane fade card-columns flex-column"
                role="tabpanel"
                aria-labelledby="vacancies-tab"
            >
                <p>Coming soon!</p>
            </div>
        </div>
    </div>
</div> 
