<div
  *ngIf="(user$ | async) as user"
  class="d-flex justify-content-start align-items-center flex-column h-75 row"
>
  <div class="col-12 col-md-6">
    <h1 class="d-flex flex-column justify-content-center align-items-center flex-nowrap">
      <img src="{{ user.picture }}" class="rounded-circle user" width="75" />
      {{ user.name }}
    </h1>

    <hr />

    <maptio-member-form
      [member]="user"
    ></maptio-member-form>
  </div>
</div>



<!--
    <div
      class="alert alert-success alert-dismissable"
      role="alert"
      *ngIf="feedbackMessage"
    >
      <a href="#" class="close" data-dismiss="alert" aria-label="close">
        &times;
      </a>
      {{feedbackMessage}}
    </div>

    <div
      class="alert alert-danger alert-dismissable"
      role="alert"
      *ngIf="errorMessage"
    >
      <a href="#" class="close" data-dismiss="alert" aria-label="close">
        &times;
      </a>
      {{errorMessage}}
    </div>


    <div class="d-flex justify-content-center row">
      <div class="col-12">
        <form
          class="form-group row"
          [formGroup]="accountForm"
          (submit)="save()"
        >
          <fieldset class="col-12">
            <div class="form-group form-inline row">
              <label
                class="col-12 col-md-4 d-flex justify-content-start"
                for="inputPicture"
              >
                Avatar
              </label>
              <div class="input-group col-12 col-md-8">
                <div class="input-group-prepend">
                  <button
                    class="btn btn-light cover"
                    type="button"
                    [ngStyle]="{'background': ' url(' + user?.picture + ') no-repeat'}"
                  ></button>
                </div>
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="customFile"
                    id="fileupload"
                    #fileInput
                    ng2FileSelect
                    [uploader]="uploader"
                    (change)="fileInput.value=''"
                    accept="image/*"
                  />
                  <label class="custom-file-label" for="customFile">
                    <i
                      *ngIf="isRefreshingPicture"
                      class="ml-1 text-muted fas fa-circle-notch fa-spin"
                    ></i>
                    <span *ngIf="!isRefreshingPicture">Choose file</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group form-inline row">
              <label
                class="col-12 col-md-4 d-flex justify-content-start"
                for="inputFirstname"
                >First name</label
              >
              <div class="col-12 col-md-8">
                <input
                  type="text"
                  [class.is-invalid]="accountForm.controls['firstname'].invalid  && (accountForm.controls['firstname'].dirty || accountForm.controls['firstname'].touched)"
                  class="w-100 form-control form-control-warning"
                  [(ngModel)]="firstname"
                  formControlName="firstname"
                  required
                />
                <small class="invalid-feedback"> First name required </small>
              </div>
            </div>

            <div class="form-group form-inline row">
              <label
                class="col-12 col-md-4 d-flex justify-content-start"
                for="inputLastname"
                >Last name</label
              >
              <div class="col-12 col-md-8">
                <input
                  type="text"
                  [class.is-invalid]="accountForm.controls['lastname'].invalid  && (accountForm.controls['lastname'].dirty || accountForm.controls['lastname'].touched)"
                  class="w-100 form-control form-control-warning"
                  [(ngModel)]="lastname"
                  formControlName="lastname"
                  required
                />
                <small class="invalid-feedback"> Last name required </small>
              </div>
            </div>

            <div class="form-group form-inline row">
              <label
                class="col-12 col-md-4 d-flex justify-content-start"
                for="inputRole"
                >Email</label
              >
              <div class="col-12 col-md-8">
                <input
                  type="text"
                  disabled
                  class="w-100 form-control form-control-warning disabled"
                  [value]="user?.email"
                />
              </div>
            </div>

            <div class="form-group form-inline row">
              <label
                class="col-12 col-md-4 d-flex justify-content-start"
                for="inputRole"
              >
                Permission type
              </label>
              <div class="col-12 col-md-8">
                <input
                  type="text"
                  disabled
                  class="w-100 form-control form-control-warning disabled"
                  [value]="UserRole[user?.userRole]"
                />
              </div>
            </div>

            <div class="form-group form-inline row">
              <div class="col-12 d-flex justify-content-end">
                <button
                  type="submit"
                  class="d-md-none btn-block btn btn-success"
                >
                  Save
                </button>
                <button type="submit" class="d-none d-md-block btn btn-success">
                  Save
                </button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div> -->
