<div class="card bg-transparent border-0">
  <div class="card-body">
    <h6 class="card-title mb-2 d-flex justify-content-start">Tags
      <span class="btn btn-link btn-sm pl-0 ml-auto" (click)="isEditTags=!isEditTags">Edit tags
        <span class="mr-1">
          <i *ngIf="isEditTags" class="fa fa-caret-down" aria-hidden="true"></i>
          <i *ngIf="!isEditTags" class="fa fa-caret-left" aria-hidden="true"></i>
        </span>
      </span>
    </h6>
    <span>
      <button class="btn btn-link btn-sm p-0" (click)="selectAllTags()">Select all</button>
      <button class="btn btn-link btn-sm p-0" (click)="unselectAllTags()">Unselect all</button>
    </span>
    <div class="d-flex flex-wrap">
      <span *ngFor="let tag of tags; let i=index" class="mr-1 my-1">
        <span *ngIf="!tag.isSelected" class="cursor-pointer badge badge-pill p-2  border-thick" [style.color]="tag.color" [style.border-color]="tag.color" (click)="toggleTag(tag)">
          <i class="fa fa-tag" aria-hidden="true"></i> {{tag.name}}
          <!-- <i class="fa fa-check" aria-hidden="true" [style.color]="'white'"></i> -->
        </span>
        <span *ngIf="tag.isSelected" class="cursor-pointer badge badge-pill p-2  border-thick text-white" [style.border-color]="tag.color" [style.background]="tag.color" (click)="toggleTag(tag)">
          <i class="fa fa-tag" aria-hidden="true"></i> {{tag.name}}
          <!-- <i *ngIf="tag.isSelected" class="fa fa-check" aria-hidden="true" [style.color]="white"> </i> -->
        </span>
      </span>

    </div>
    
  </div>

</div>