<div class="card bg-light border-light">
  <div class="card-body">
    <h6 class="card-title mb-2 d-flex justify-content-start">Tags
      <span class="btn btn-link btn-sm pl-0 ml-auto" (click)="isEditTags=!isEditTags">Edit tags
        <span class="mr-1">
          <i *ngIf="isEditTags" class="fa fa-caret-down" aria-hidden="true"></i>
          <i *ngIf="!isEditTags" class="fa fa-caret-left" aria-hidden="true"></i>
        </span>
      </span>
    </h6>
    <span>
      <button class="btn btn-link btn-sm p-0" (click)="selectAllTags()">Select all</button>
      <button class="btn btn-link btn-sm p-0" (click)="unselectAllTags()">Unselect all</button>
    </span>
    <div class="d-flex flex-wrap">
      <span *ngFor="let tag of tags; let i=index">
        <a *ngIf="!tag.isSelected" class="btn btn-sm btn-tag btn-light mr-1" [style.border-color]="tag.color" [style.color]="tag.color"
          (click)="toggleTag(tag)">
          <i class="fa fa-tag" aria-hidden="true"></i> {{tag.name}}
          <i class="fa fa-check" aria-hidden="true" [style.color]="'white'"></i>
        </a>
        <a *ngIf="tag.isSelected" class="btn btn-sm btn-tag  btn-light active mr-1" [style.border-color]="tag.color" [style.background-color]="tag.color"
          (click)="toggleTag(tag)">
          <i class="fa fa-tag" aria-hidden="true"></i> {{tag.name}}
          <i *ngIf="tag.isSelected" class="fa fa-check" aria-hidden="true" [style.color]="white"> </i>
        </a>
      </span>

    </div>
    <div class="edit-tags" *ngIf="isEditTags">
      <h6 class="mt-4">Edit tags</h6>
      <form class="form-group form-inline ml-3 mt-1" [formGroup]="newTagForm" (submit)="addTag()">
        <div class="pl-0 pr-0" [class.has-warning]="newTagForm.controls['name'].invalid  && (newTagForm.controls['name'].dirty || newTagForm.controls['name'].touched)">
          <input type="text" id="inputname" formControlName="name" placeholder="New tag" required name class="w-100 form-control ">
        </div>
        <div class="ml-2 pl-2 pr-0">
          <input class="form-control" placeholder="Pick a color" [(colorPicker)]="newTagColor" [style.background]="newTagColor" [value]="newTagColor"
            [cpOutputFormat]="'hex'" [cpPosition]="'bottom'" [cpPositionOffset]="'40%'" [cpPositionRelativeToArrow]="true"
            (colorPickerChange)="newTagColor=$event" formControlName="color" />
        </div>
        <button type="submit" class="btn btn-success ml-2" [class.disabled]="!newTagForm.valid">Add</button>

      </form>
      <div class="overflow ">

        <div class="form-group row ml-0" *ngFor="let tag of tags; let i=index">
          <span class="remove text-danger mr-1 mt-1" placement="top" container="body" mwlConfirmationPopover title="This cannot be undone! The tag {{tag.name}} will be removed from all initiatives too. Confirm?"
            focusbutton="cancel" appendToBody="false" (confirm)="removeTag(tag)" (cancel)="cancelClicked = true">

          </span>
          <input type="text" class="col-4 col-form-label form-control" name="inputTagName" [ngModelOptions]="{standalone: true}" [ngModel]="tag.name"
            (ngModelChange)="saveTagName(tag, $event)" (blur)="saveTagChanges()" />
          <div class="col-4">
            <input class="form-control" [(colorPicker)]="tag.color" [style.background]="tag.color" [value]="tag.color" [cpOutputFormat]="'hex'"
              [cpPosition]="'bottom'" [cpPositionOffset]="'40%'" [cpPositionRelativeToArrow]="true" (colorPickerChange)="saveColor(tag, $event)"
            />
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
