<!-- id="toggle" -->
<div
  class="accordion-toggle collapsible d-none h-100 rounded-end py-3 flex-shrink-0 flex-column justify-content-start align-items-center cursor-pointer"
  type="button"
  [class.hide]="!previewService.isBuildingPanelCollapsed()"
  [class.show]="previewService.isBuildingPanelCollapsed()"
  [class.bg-accent]="previewService.isBuildingVisible()"
  [class.d-md-flex]="previewService.isBuildingVisible()"
  (click)="previewService.openBuildingPanel()"
>
  <div
    class="flex flex-column text-white"
    *ngIf="previewService.isBuildingPanelCollapsed()"
  >
    <i
      class="h2 fa fa-angle-right fw-bolder w-100 text-center"
      aria-hidden="true"
    ></i>
    <div class="w-100 text-center small" i18n="@@editMap">Edit map</div>
  </div>
</div>

<div
  id="hierarchy"
  [class.hide]="
    previewService.isBuildingPanelCollapsed() ||
    !previewService.isBuildingVisible()
  "
  [class.show]="
    !previewService.isBuildingPanelCollapsed() &&
    previewService.isBuildingVisible()
  "
  class="d-none d-md-block collapsible sidenav h-100 justify-content-start"
>
  <div
    id="sidenav-hierarchy"
    class="hierarchy w-100 h-100 card border-light border-end bg-white"
  >
    <button
      class="clean-close-button position-absolute top-right btn bg-transparent"
      [class.invisible]="previewService.isBuildingPanelCollapsed()"
      (click)="previewService.closeBuildingPanel()"
    >
      <span aria-hidden="true" class="clean-close-button__icon">
        <i class="fas fa-times"></i>
      </span>
    </button>

    <div class="clean-scrollbar card border-0 bg-transparent h-100">
      <div class="card-body h-100 pt-0 px-3 pb-3">
        <building
          #building
          [user]="previewService.user()"
          [isEmptyMap]="previewService.isEmptyMap()"
          (save)="previewService.saveChanges($event)"
          (openDetails)="previewService.onOpenDetails($event)"
        ></building>
      </div>
    </div>
  </div>
</div>

<div
  id="details"
  [class.hide]="
    previewService.isDetailsPanelCollapsed() ||
    !previewService.isBuildingVisible()
  "
  [ngClass]="{
    'show border-end':
      !previewService.isDetailsPanelCollapsed() &&
      previewService.isBuildingVisible()
  }"
  class="position-relative d-none d-md-block collapsible bg-white details h-100 justify-content-start"
>
  <button
    class="clean-close-button position-absolute btn bg-transparent"
    [class.invisible]="previewService.isDetailsPanelCollapsed()"
    (click)="previewService.closeDetailsPanel()"
  >
    <span aria-hidden="true" class="clean-close-button__icon">
      <i class="fas fa-times"></i>
    </span>
  </button>

  <div id="sidenav-details" class="h-100 w-100 clean-scrollbar">
    <div class="card border-0 bg-transparent">
      <div class="card-body pt-1 px-3 pb-3">
        <initiative
          *ngIf="!previewService.isDetailsPanelCollapsed()"
          #initiative
          [dataset]="previewService.dataset()"
          [node]="previewService.openedNode()"
          [user]="previewService.user()"
          [team]="previewService.team()"
          (edited)="previewService.saveDetailChanges()"
          [isEditMode]="isEditMode"
          (editTags)="previewService.onEditTags()"
        ></initiative>
      </div>
    </div>
  </div>
</div>
