<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 1000 1000"
  width="100%"
  height="97.5vh"
>
  <g
    class="initiative"
    *ngFor="let circle of circles"
  >
    <circle
      class="initiative__circle"
      [attr.cx]="circle.x"
      [attr.cy]="circle.y"
      [attr.r]="circle.r"
      [attr.fill]="circle.data.colour || '#e9c46a'"
      opacity="0.8"
    />

    <foreignObject
      class="initiative__info"
      [attr.x]="circle.x - circle.r / math.sqrt(2)"
      [attr.y]="circle.y - circle.r / math.sqrt(2)"
      [attr.width]="circle.r * 2 / math.sqrt(2)"
      [attr.height]="circle.r * 2 / math.sqrt(2)"
    >
      <div class="initiative__info-container">
        <div class="initiative__name">{{ circle.data.name }}</div>
      </div>
    </foreignObject>
  </g>
</svg>

<div class="box">
  <div></div>
</div>
