<form [formGroup]="createForm" (submit)="createNewTeam()">
  <fieldset class="d-flex flex-column">
    <div class="form-group">
      <label class="lead" for="teamName" i18n="@@createneworganisation">
        Create a new organisation
      </label>

      <input
        type="text"
        class="form-control rounded mr-1 w-100"
        [class.is-invalid]="
          createForm.controls['teamName'].invalid &&
          (createForm.controls['teamName'].dirty ||
            createForm.controls['teamName'].touched)
        "
        formControlName="teamName"
        required
      />

      <small class="invalid-feedback" i18n="@@atLeast2Chars">
        Please enter at least 2 characters
      </small>

      <small *ngIf="errorMessage" class="text-danger">
        {{ errorMessage }}
      </small>
    </div>

    <div class="d-flex justify-content-end">
      <button [disabled]="isCreating" type="submit" class="btn btn-success">
        <ng-container *ngIf="isCreating; else createButtonEnabled">
          <i class="fas fa-circle-notch fa-spin"></i>
          <span>&nbsp;</span>
          <span i18n="@@creating">Creating</span>
        </ng-container>

        <ng-template #createButtonEnabled i18n="@@create">Create</ng-template>
      </button>
    </div>
  </fieldset>
</form>
