<form [formGroup]="createForm" (submit)="createNewTeam()">
  <ng-container
    *permissionsOnly="
      Permissions.canCreateMap;
      else elseCreateTeamBlock;
      then: thenCreateTeamBlock
    "
  ></ng-container>

  <ng-template #thenCreateTeamBlock>
    <fieldset class="d-flex flex-column">
      <div class="form-group">
        <label class="lead" for="teamName" i18n="@@createneworganisation">
          Create a new organisation
        </label>

        <input
          type="text"
          class="form-control rounded mr-1 w-100"
          [class.is-invalid]="
            createForm.controls['teamName'].invalid &&
            (createForm.controls['teamName'].dirty ||
              createForm.controls['teamName'].touched)
          "
          formControlName="teamName"
          required
        />

        <small class="invalid-feedback" i18n="@@atLeast2Chars">
          Please enter at least 2 characters
        </small>
      </div>

      <div class="form-group d-flex flex-row">
        <div class="w-100">
          <div *ngIf="!isCreating" class="text-green mt-1">
            <i class="fas fa-circle-notch fa-spin"></i>
            <span i18n="@@settingUpYourTeam">Setting up your team</span>
          </div>
        </div>

        <button type="submit" class="btn btn-success" i18n="@@create">
          Create
        </button>
      </div>
    </fieldset>
  </ng-template>

  <ng-template #permissionsTipContent>
    <maptio-insufficient-permissions-message></maptio-insufficient-permissions-message>
  </ng-template>

  <ng-template #elseCreateTeamBlock>
    <fieldset
      [stickyPopover]="permissionsTipContent"
      class="d-flex flex-column"
    >
      <div class="form-group">
        <label class="lead" for="teamName" i18n="@@createneworganisation">
          Create a new organisation
        </label>

        <input
          type="text"
          class="form-control rounded mr-1 w-100"
          disabled
          required
        />
      </div>

      <div class="form-group d-flex justify-content-end">
        <button
          disabled
          type="submit"
          class="btn btn-success cursor-not-allowed"
          i18n="@@create"
        >
          Create
        </button>
      </div>
    </fieldset>
  </ng-template>
</form>
