<svg id="map"></svg>
<div class="control top-left position-absolute col-auto p-0 ml-5  border border-light rounded-bottom" *ngIf="!(hideOptions$ | async)">
    <div class=" card-body bg-light border-dark">
            <button class="btn btn-sm btn-outline-secondary mr-1" (click)="expandAllLink()">
                    <i class="fa fa-plus-circle mx-1" aria-hidden="true"></i>Expand all</button>
                <button class="btn btn-sm btn-outline-secondary" (click)="collapseAllLink()">
                    <i class="fa fa-minus-circle mx-1" aria-hidden="true"></i>Collapse all</button>
     
    </div>
</div>