<div class="m-3">
    <h3 class="mt-4">
        <img class="rounded-circle profile" src="{{(member$ |async)?.picture}}" alt="{{(member$ |async)?.name}}"> {{(member$|async)?.name}} in
        <a routerLink="/map/{{datasetId}}/{{initiative?.getSlug()}}">{{initiative?.name}}</a>
    </h3>

    <h5>
        <span class="text-muted ml-5">Team </span>
        <a routerLink="/team/{{(team$ | async)?.team_id}}/{{(team$ | async)?.getSlug()}}">{{(team$ | async)?.name}}</a>
    </h5>

</div>
<div *ngIf="isLoading">Loading...</div>
<div class="row overflow">
    <div class="col-6">
        <div class="card borderless">
            <div class="card-block" *ngIf="authorities.length===0">
                <h6 class="card-title">No authorities yet.</h6>
            </div>
            <div class="card-block" *ngIf="authorities.length >0">
                <h6 class="card-title">Responsible for</h6>
                <div class="list-group">
                    <div *ngFor="let i of authorities" class=" list-group-item flex-column align-items-start ">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{i.name}}</h5>

                        </div>
                        <span class="mb-2 text-muted" *ngIf="(i.helpers?.length !== 0)">with the help of

                        </span>
                        <div class="row ml-1 mb-1" *ngFor="let h of i.helpers">
                            <a class="" routerLink="/summary/map/{{datasetId}}/{{initiative?.getSlug()}}/u/{{h.shortid}}/{{h.getSlug()}}">
                                <img class="rounded-circle helper" src="{{h.picture}}" alt="{{h.name}}" title="{{h.name}}" placement="top" container="body"
                                    ngbTooltip="{{h.name}}">
                            </a>
                            <markdown class="small col" *ngIf="h.roles[0]?.description" [data]="h.roles[0]?.description"></markdown>

                        </div>
                        <span class="mb-1" *ngIf="(i.helpers?.length === 0)">No helpers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card borderless">
            <div class="card-block" *ngIf="helps.length === 0">
                No helping participation yet.
            </div>

            <div class="card-block" *ngIf="helps.length > 0">
                <h6 class="card-title">Helping with</h6>
                <div class="list-group">
                    <div *ngFor="let i of helps" class=" list-group-item flex-column align-items-start ">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{i.name}}</h5>
                            <span class="mb-1" *ngIf="(i.helpers?.length !== 0)">Authority
                                <a routerLink="/summary/map/{{datasetId}}/{{initiative?.getSlug()}}/u/{{i.accountable?.shortid}}/{{i.accountable?.getSlug()}}">
                                    <img class="rounded-circle authority" src="{{i.accountable?.picture}}" alt="{{i.accountable?.name}}" title="{{i.accountable?.name}}"
                                        placement="top" container="body" ngbTooltip="{{i.accountable?.name}}">
                                </a>
                            </span>

                        </div>
                        <div *ngIf="i.getRoles((member$ |async)?.user_id)[0]?.description">
                            <span class="text-muted small"> by </span>
                            <markdown class="" *ngIf="i.getRoles((member$ |async)?.user_id)[0]?.description" [data]="i.getRoles((member$ |async)?.user_id)[0]?.description || ''"></markdown>
                        </div>
                        <span class="text-muted mb-2" *ngIf="(i.helpers?.length !== 0)">Other helpers

                        </span>
                        <div class="btn-group">
                            <a *ngFor="let h of i.helpers" class="btn btn-link btn-xs no-padding" routerLink="/summary/map/{{datasetId}}/{{initiative?.getSlug()}}/u/{{h.shortid}}/{{h.getSlug()}}">
                                <img [hidden]="h.user_id === (member$ |async)?.user_id " class="rounded-circle helper" src="{{h.picture}}" alt="{{h.name}}" title="{{h.name}}" placement="top" container="body"
                                    ngbTooltip="{{h.name}}">
                            </a>
                        </div>
                        <span class="mb-1" *ngIf="(i.helpers?.length === 0)">No helpers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>