.profile {
    width: 45px
}

.helper {
    float: left;
    background: 50% 50% no-repeat;
    background-size: auto 100%;
    max-width: 22px;
}

.authority {
    background: 50% 50% no-repeat;
    background-size: auto 100%;
    max-width: 22px;
}


.borderless {
    border: none
}

.no-padding
{
    padding: 0
}

.overflow{
    overflow-y: auto;
    max-height: 60vh
}


.btn-link:focus, .btn-link:active {
    box-shadow: none!important;
}

.fake-link{
    white-space: normal;
    text-align: left;
    cursor: pointer;
}