.container {
padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.mapping {
  float:left;
  border:solid 2px #fcfcfc;
  margin-right:10px;
  background-color: #fcfcfc;
  border-radius: 5px;
}

.building {
    float: left;;
    font: 12px sans-serif;
    background-color: #fcfcfc;
    scroll-behavior: auto;
    overflow: scroll;
    height: 754px;
}

