.container {
  width:95%;
  clear:both;
  height: 800px;

}

.mapping {
  float:left;
  border:solid 2px #CCC;
  margin-right:10px;
  background-color: #CCC;
}

.building {
    width: 200px;
    margin-left: 20px;
    float: left;
    /* position: absolute; */
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
    /* width: 300px; */
    /* left: 982px; */
    height: 80%;
    scroll-behavior: auto;
    /* top: 44px; */
}