<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

			<a class="navbar-brand">Source Mapper</a>
		</div>

		<ul class="nav navbar-nav navbar-left">
			<li *ngIf="selectedDataset">
				<p class="navbar-text" id="datasetName"> Working on <b>{{selectedDataset.name}}</b></p>
			</li>
		</ul>


		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">

				<li>
					<div class="btn-group">
						<a (click)="start(empty)" class="btn btn-primary" id="loadNewProjectButton">New project</a>
						<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
						<ul class="dropdown-menu" id="loadDatasetDropdown">
							<li class="dropdown-header">Examples</li>
							<li *ngFor="let dataset of datasets">
								<a (click)="start(dataset)">{{dataset.name}}</a>
							</li>
						</ul>
					</div>
				</li>
				<li>

					<img *ngIf="auth.authenticated()" [src]="auth.userProfile?.picture" alt="" class="profile-img"><strong>{{auth.userProfile?.name}}</strong>

				</li>
				<li>
					<a (click)="auth.login()" placement="bottom" *ngIf="!auth.authenticated()">Log In</a>
					<a (click)="auth.logout()" placement="bottom" *ngIf="auth.authenticated()">Log Out</a>
				</li>
				<li>
					<a id="openHelpWindow" ngbTooltip="Help" placement="bottom" (click)="openHelp()"><i class="fa fa-question-circle-o fa-lg" aria-hidden="true"></i></a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row-fluid col-lg-12">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default ">
				<div class="panel-heading">
					<h4 class="panel-title ">
						<a *ngIf="!isBuildingPanelCollapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" (click)="toggleBuildingPanel();"
							class="pull-right">
								Build your initiative
                           <i class="fa fa-minus-square "  aria-hidden="true"></i>
                        </a>

						<a *ngIf="isBuildingPanelCollapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" (click)="toggleBuildingPanel();"
							class="pull-right">
								Build your initiative
						   <i class="fa fa-plus-square "  aria-hidden="true"></i>
                        </a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse">
					<div class="panel-body  ">
						<div class="textRotate pull-right">
							<building #building>Loading...</building>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default rotate">

				<mapping>Loading...</mapping>
			</div>
		</div>
	</div>
</div>

<help #help></help>
<!--<import #import></import>-->