<div class="building">
	<a id="saveButton" class="btn btn-link" (click)="saveChanges()" type="button"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
	<div class="form-group">
		<input id="searchTreeInput" type="text" class="form-control" placeholder="Search map by name or description" (input)="filterNodes($event.target.value)"
		/>
	</div>
	<Tree [nodes]="nodes" (onUpdateData)="mapData($event)" [options]="options">
		<template #loadingTemplate><div class="loading"></div></template>
		<template #treeNodeTemplate let-node>
			<initiative-node [node]="node" (map)="mapData($event)" (update)="updateTreeModel($event)" (openSelected)="editInitiative($event)"></initiative-node>
		</template>
	</Tree>
</div>
<initiative #initiative></initiative>