
.nodeDiv
{
  background-color: #eee;
  border-radius: 3px;
}

.tree-children {
  flex-grow: 1;
  width: 100%;
}

inpu, textarea{
  font-size:15px;

}

.pull-right {
  position: absolute;
  right: 10px;
}

.initiative{
  clear:both;
}

.building {
    font: 12px sans-serif;
    /* background-color: #fcfcfc; */
    width: 2000px;
    /* height: 2000px; */
    max-width: 622px;
    max-height: 1332px;
    /* overflow: auto; */
    /*position: absolute;*/
    top: -323%;
    left: 13%;
    overflow-y: auto;
}


/*.form-control {
border: 1px solid #333;
border-radius: 0;
box-shadow: none;
font-size: 16px;
height: 40px;
}*/
