<div class="building">
	<!--<a id="saveButton" class="btn btn-link" (click)="saveChanges()" type="button"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>-->
	<div class="form-group">
		<input id="searchTreeInput" type="text" class="form-control" placeholder="Search map by name or description" (input)="filterNodes($event.target.value)"
		/>
	</div>
	<Tree [nodes]="nodes" (onUpdateData)="saveChanges()" [options]="options">
		<ng-template #loadingTemplate>
			<div class="loading"></div>
		</ng-template>
		<ng-template #treeNodeTemplate let-node>
			<initiative-node [node]="node" [datasetId]="datasetId" (edited)="saveChanges()" (update)="updateTreeModel($event)"></initiative-node>
		</ng-template>
	</Tree>
</div>
<!-- 
<modal #initiativeModal [keyboard]="true" [backdrop]="true">
	<modal-header [show-close]="false">
		<h4 class="modal-title">{{openedNode?.name}}</h4>
	</modal-header>
	<modal-body>
		<initiative #initiative [node]="openedNode" [parent]="openedNodeParent" (edited)="saveChanges()"></initiative>
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-primary" (click)="modal.close()">Save</button>
	</modal-footer>
</modal> -->

<ng-template #initiativeDetails let-c="close" let-d="dismiss">
	<!-- <div class="modal-header">
		<h4 class="modal-title">{{openedNode?.name}}</h4>
		
	</div> -->
	<div class="modal-body">
		<button type="button" class="close" aria-label="Close" (click)="d(false)">
      <span aria-hidden="trsue">&times;</span>
    </button>
		<initiative #initiative [datasetId]="datasetId" [node]="openedNode" [parent]="openedNodeParent" (edited)="saveChanges()"></initiative>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-success" (click)="c(true)">Save</button>

	</div>
</ng-template>

<ng-template #dragConfirmation let-c="close" let-d="dismiss">
	<div class="modal-header">
		You are about to move ...
		<button type="button" class="close" aria-label="Close" (click)="d(false)">
      <span aria-hidden="true">&times;</span>
    </button>
	</div>

	<div class="modal-body">
		<p>
			<span *ngIf="fromInitiative.accountable"><b class="text-default">{{fromInitiative.accountable?.name}}</b>'s initiative <b class="text-info">{{fromInitiative.name}}</b></span>
			<span *ngIf="!fromInitiative.accountable">Initiative <b class="text-info">{{fromInitiative.name}}</b></span> and its sub-initiatives
			<br/> to
			<br/>
			<span *ngIf="toInitiative.accountable"><b class="text-default">{{toInitiative.accountable?.name}}</b>'s initiative <b class="text-info">{{toInitiative.name}}</b></span>
			<span *ngIf="!toInitiative.accountable">Initiative <b class="text-info">{{toInitiative.name}}</b></span>
		</p>
	</div>
	<div class="modal-footer">
		<p>These changes cannot be undone. Are you sure ? </p>
		<button type="button" class="btn btn-warning" (click)="c(true)">Yes</button>
		<button type="button" class="btn btn-default" (click)="c(false)">No</button>
	</div>
</ng-template>