
.node-content-wrapper {
    display: inline-block;
  position: relative;
  cursor:move;
}

.node-content-wrapper, .tree-children {
  position: relative;
}

.node-content-wrapper::before, .tree-children::after {
  content: "";
  position: absolute;
}

.node-content-wrapper::before {
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
    height: 141%;
    top: -145%;
    width: 4%;
    /* left: -41px; */
    margin-left: -4%;
    margin-top: 5%;
}


.tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
  width: 25px;
}

.tree-children::after {
   /*border-left: 1px solid lightgrey;*/
  height: 100%;
  top: -15px;
  left: 13px;
}

treenode:last-child > .tree-node > .tree-children::after {
  border-left: none;
}

.toggle-children {
  z-index: 1;
  background-image: none !important;
}


.toggle{
background-size: 15px;
    background-repeat: no-repeat;
    padding: 0 5px 15px 17px;
}

.open-node {
    position:relative;
}    
.open-node:before {
content: "\F055";
    font-family: FontAwesome;
    left: 2px;
    position: absolute;
    top: 0;
    color: #0C60A2;
    font-size: 1.05em;
 }

 .close-node {
    position:relative;
}    
.close-node:before {
content: "\F056";
    font-family: FontAwesome;
    left: 2px;
    position: absolute;
    top: 0;
    color: #0C60A2;
    font-size: 1.05em;
 }


/*.close-node{
    background-image: url("/assets/images/minus.png");
}*/


.tree-node-expanded{
    background-image: none;

}
.tree-node-collapsed{
    background-image: none ; 
    /*url("/assets/images/plus.png");*/
    background-size: 15px;
    background-repeat: no-repeat;
}

.toggle-children-wrapper{
display: flex;
    align-items: center;
    margin: 3px;
      padding: 0 !important;
}


.tree-node {
flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
}


.form-group {
    margin-bottom: 0 !important ;
}