



/*.close-node{
    background-image: url("/assets/images/minus.png");
}*/

.tree-node-expanded {
    background-image: none;
}

.tree-node-collapsed {
    background-image: none;
    /*url("/assets/images/plus.png");*/
    background-size: 15px;
    background-repeat: no-repeat;
}


/* .toggle-children-wrapper{
display: flex;
    align-items: center;
    margin: 3px;
      padding: 0 !important;
} */

.tree-node {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
}

.form-group {
    margin-bottom: 0;
}

.inputNodeName {
    cursor: text;
}

.knurled {
    border: none;
    background-color: transparent;
    cursor: move;
}

.add:before {
    content: "\f067";
    font-family: FontAwesome;
}

.remove:before {
    content: "\f1f8";
    font-family: FontAwesome;
}

.edit:before {
    content: "\f040";
    font-family: FontAwesome;
}

.move-up:before{
    content: "\f176";
    font-family: FontAwesome;
    
}

.move-down:before{
    content: "\f175";
    font-family: FontAwesome;
   
}

.zoom:before {
    content: "\f002";
    font-family: FontAwesome;
}

.control {
    opacity: 0.8;
}

.control > a {
    color: gray;
    border: 1px solid lightgray;
    background-color: #FCFCFC;
    clear: both;
    height: 100%;
}

.control > a:hover {
    color: black;
}

.form-group{
    padding-left:5px;
}