<div class="form-group">
	<!-- <label class="form-control-label" *ngIf="isRoot()">Project</label> -->
	<div class="input-group">
			<!--  -->
		
<!-- <span class="btn-group">
	
			<a class="btn toggle open-node " [class.disabled]="!hasChildren()" *ngIf="!isExpanded() && hasChildren()"
				(click)="toggleNode(node)"></a>

			<a class="btn toggle close-node " [class.disabled]="!hasChildren()" *ngIf="isExpanded() && hasChildren()"
				(click)="toggleNode(node)"></a>

		</span> -->
		<span *ngIf="!isRoot()" class="input-group-addon knurled"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
		{{node.data.isDraggable}}
		<input class="form-control input inputNodeName" type="text" [focusif]="node.data.hasFocus" autoselect [ngModel]="node.data.name"
		 (ngModelChange)="saveNodeName($event, node.data)" (focus)="node.data.isDraggable=false" (blur)="node.data.isDraggable=true" />

		<span class="btn-group control">
			 <ng-template #addButtonTooltip>
				 <p *ngIf="isRoot()"> Add overall vision </p>
				 <p *ngIf="!isRoot()"> Add sub-initiative</p>
			 </ng-template>
		<a class="btn add " (click)="addChildNode(node.data)" placement="top" [ngbTooltip]="addButtonTooltip" container="body" ></a>
		<a class="btn edit" *ngIf="!isRoot()" (click)="openNode(node.data)" placement="top" container="body" ngbTooltip="Edit initiative"></a>
		
		<a class="btn remove"   *ngIf="!isRoot()"
		placement="top" container="body" 
		mwlConfirmationPopover title="Remove initiative and sub initiatives ?" focusbutton="cancel" appendToBody="false"  (confirm)="removeChildNode(node.data)"
      (cancel)="cancelClicked = true">
    </a>

		
		<!-- <a class="btn zoom" *ngIf="!isRoot()" (click)="zoomInNode(node.data)" placement="top" container="body" ngbTooltip="Zoom"></a> -->

		</span>
	</div>
</div>