<div class="form-group">
	<label class="control-label" *ngIf="isRoot()">Project</label>
	<div class="input-group">
		<span class="input-group-btn">
						<a class="btn btn-link btn-lg toggle open-node" [ngClass]="{'disabled': !hasChildren() }" *ngIf="!isExpanded() && hasChildren()"
							(click)="toggleNode(node)"></a>
						<a class="btn btn-link btn-lg toggle close-node" [ngClass]="{'disabled': !hasChildren() }" *ngIf="isExpanded() && hasChildren()"
							(click)="toggleNode(node)"></a>
					</span>
		<!--NAME-->
		<span *ngIf="!isRoot()" class="input-group-addon knurled"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
		<input class="form-control input inputNodeName" type="text" [focusif]="node.data.hasFocus" autoselect [ngModel]="node.data.name"
		 (ngModelChange)="saveNodeName($event, node.data)">
		<span class="input-group-btn control">
						<!--ADD-->
		<a class="btn add" (click)="addChildNode(node.data)" [attr.data-placement]="PLACEMENT" [attr.data-toggle]="TOGGLE" [attr.title]="'Add sub initiative'"></a>
		<!--REMOVE-->
		<a class="btn remove" *ngIf="!isRoot()" [attr.data-placement]="PLACEMENT" [attr.data-toggle]="TOGGLE" [attr.title]="'Delete initiative and its sub-initiatives'" 
      mwlConfirmationPopover
	  title="Remove initiative and sub initiatives ?"
      placement="top"
	  focusButton="cancel"
	  appendToBody="true"
      (confirm)="removeChildNode(node.data)"
      (cancel)="cancelClicked = true">
     
    </a>
		<!--EDIT-->
		<a class="btn edit" *ngIf="!isRoot()"  (click)="openNode(node.data)" [attr.data-placement]="PLACEMENT" [attr.data-toggle]="TOGGLE" [attr.title]="'Edit initiative'"></a>
		<!--ZOOM IN-->
		<a class="btn zoom" *ngIf="!isRoot()" (click)="zoomInNode(node.data)" [attr.data-placement]="PLACEMENT" [attr.data-toggle]="TOGGLE" [attr.title]="'Zoom'"></a>

		</span>

	</div>
</div>

<!--<div>{{node.data.name}}</div>-->