<div class="d-flex justify-content-center align-items-center flex-column row ">
    <div class="d-flex flex-column justify-content-center align-items-center col-12 col-md-6">
        <div class="card bg-white border-0">
            <div class="">
                <div class="d-flex justify-content-center align-items-center flex-column text-gradient-error">
                    <i class="fas fa-flushed d-none d-md-block icon-ending"></i>
                    <i class="fas fa-flushed d-md-none icon-ending-xs"></i>
                    <h1 class="d-none d-md-block">This page doesn't exist!</h1>
                    <h3 class="d-md-none">This page doesn't exist!</h3>
                </div>

                <h4 class="text-muted mt-5 ">
                    We move fast and sometimes we break things, but we are always happy to help get you back on track.

                </h4>

                <div class="mt-4">
                    Chat with us or email us at
                    <a class="mx-1" href="mailto:support@maptio.com?subject=Support request"> support@maptio.com</a> if
                    the issue persists.

                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="jumbotron transparent jumbotron-fluid h-100">
    <div class="container">
        <h1 class="display-4 d-flex justify-content-center">You got lost ... This is why we need maps!</h1>
        <h1 class="display-5 d-flex justify-content-center text-danger mb-5">(404) This page doesn't exist.</h1>

        <div class="card card-body box-shadow">
            <p class="text-dark lead d-flex justify-content-center">
                We move fast and sometime we break things, but we are always happy to help get you back on track.
            </p>
            <p class="text-dark  lead d-flex justify-content-center">
                Email us at
                <a class="text-green ml-1 mr-0" href="mailto:support@maptio.com?subject=Support request"> support@maptio.com</a>.
            </p>
        </div>
    </div>
</div> -->