<div class="building">

	<div class="form-group" *ngIf="!isEmpty()">
		<input type="text" class="form-control" placeholder="Search initiatives by name" (keyup)="filterNodes($event.target.value)">
	</div>
	<Tree [nodes]="nodes" (onUpdateData)="saveData($event)">
		<template #treeNodeTemplate let-node>
			<div class="panel panel-default" *ngIf="!node.isRoot">
				<div class="panel-heading">
					<div class="btn-group">
						<a class="btn btn-default" ngbTooltip="Add" placement="bottom" (click)="addChildNode(node.data)"><i class="fa fa-plus" aria-hidden="true"></i></a>

						<a class="btn btn-default" ngbTooltip="Remove" placement="bottom" *ngIf="!node.isRoot" (click)="removeChildNode(node.data)"><i class="fa fa-minus" aria-hidden="true"></i></a>

						<a class="btn btn-default" ngbTooltip="Edit" placement="bottom" (click)="openNode(node.data)"><i class="fa fa-sticky-note" aria-hidden="true"></i></a>

						<a class="btn btn-default" ngbTooltip="Zoom in" placement="bottom" (click)="goToNode(node.data)"><i class="fa fa-circle" aria-hidden="true"></i></a>

						<a class="btn btn-default" [ngClass]="{'disabled': !node.children }" ngbTooltip="Expand" placement="bottom" *ngIf="!node.isExpanded"
							(click)="toggleNode(node)"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></a>

						<a class="btn btn-default" [ngClass]="{'disabled': !node.children }" ngbTooltip="Collapse" placement="bottom" *ngIf="node.isExpanded"
							(click)="toggleNode(node)"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="panel-body">
					<input class="form-control input-sm" type="text" [focus]="node.data.hasFocus" autoselect [ngModel]="node.data.name"
						placeholder="Initiative name" (ngModelChange)="saveNodeName($event, node.data)">
				</div>
			</div>

			<div class="form-group" *ngIf="node.isRoot">
				<div class="input-group">
					<input class="form-control" type="text" [focus]="node.data.hasFocus" autoselect [ngModel]="node.data.name"
						placeholder="Project name" (ngModelChange)="saveNodeName($event, node.data)">
					<span class="input-group-btn" >
						<button class="btn btn-default" [ngClass]="{'disabled': !isRootValid() }" ngbTooltip="Add" placement="top" (click)="addChildNode(node.data)"><i class="fa fa-plus" aria-hidden="true"></i></button>

						</span>
				</div>
			</div>


		</template>
	</Tree>
	<modal #initiativeModal [keyboard]="true" [backdrop]="'static'">
		<modal-header [show-close]="false">
			<h4 class="modal-title">Initiative details</h4>
		</modal-header>
		<modal-body>
			<initiative [initiative]="selectedNode"></initiative>
		</modal-body>
		<modal-footer>
			<button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
			<button type="button" class="btn btn-primary" (click)="saveData(); modal.close()">Save</button>
		</modal-footer>
	</modal>
</div>