<div class="building">
    <div>
        <a class="btn btn-lg btn-success" *ngIf="root.children.length === 0 " (click)="initializeTree()">Start mapping your project</a>
        <a class="btn btn-lg btn-success" *ngIf="root.children.length != 0" (click)="initializeTree()">Reset</a>
        <a class="btn btn-lg btn-success"  (click)="loadData()">Vestd data</a>
       
    </div>
    <Tree [nodes]="nodes" (onUpdateData)="saveData($event)">
        <template #treeNodeTemplate let-node>
            <div class="nodeDiv">
                <div class="btn-group">
                    <a class="btn addNode" (click)="addChildNode(node.data)"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    <a class="btn removeNode" *ngIf="!node.isRoot" (click)="removeChildNode(node.data)"><i class="fa fa-minus" aria-hidden="true"></i></a>
                    <a class="btn expandNode" *ngIf="!node.isRoot && !node.isExpanded" (click)="toggleNode(node)"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></a>
                    <a class="btn hideNode" *ngIf="!node.isRoot && node.isExpanded" (click)="toggleNode(node)"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i></a>
                </div>

                <div class="initiative">
                    <input class="name"  [focus]="node.data.hasFocus" [ngModel]="node.data.name" placeholder="Initiative name" (ngModelChange)="saveNodeName($event, node.data)">
                    <input class="size" *ngIf="!node.isRoot" [ngModel]="node.data.size" placeholder="Team Size"  (ngModelChange)="saveNodeSize($event, node.data)">
                    <textarea class="description" rows="3" *ngIf="!node.isRoot" [ngModel]="node.data.description" placeholder="Description" (ngModelChange)="saveNodeDescription($event, node.data)"></textarea>
                </div>
            </div>
        </template>
    </Tree>
</div>