.tree {
  width: 500px;
}

.tree-node {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.node-content-wrapper {
  flex-grow: 1;
  position: relative;
}

.nodeDiv
{
  background-color: #eee;
  border-radius: 3px;
}

.tree-children {
  flex-grow: 1;
  width: 100%;
}

inpu, textarea{
  font-size:15px;

}

.pull-right {
  position: absolute;
  right: 10px;
}

div.initiative{
  clear:both;
}