<ngx-loading [show]="isLoading" [config]="{ backdropBackgroundColour: '#fff' }"></ngx-loading>
<svg id="map"></svg>
<div class="switch card-body bg-light border-dark rounded">
    <span>Show connections between</span>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="helpModeRadio" name="radioViewMode" class="custom-control-input" [checked]="_isAuthorityCentricMode" (click)="switch()">
        <label class="custom-control-label" for="helpModeRadio">{{team?.settings.authority}} and {{team?.settings.helper}}</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="participationModeRadio" name="radioViewMode" class="custom-control-input" [checked]="!_isAuthorityCentricMode" (click)="switch()">
        <label class="custom-control-label" for="participationModeRadio">All {{team?.settings.helper}}</label>
    </div>
</div>
