<ngx-loading [show]="isLoading" [config]="{ backdropBackgroundColour: '#fff' }"></ngx-loading>
<svg id="map"></svg>
<!-- <button class="btn btn-secondary switch" (click)="switch()">Switch</button> -->
<div class="switch">
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="helpModeRadio" name="radioViewMode" class="custom-control-input" [checked]="_isAuthorityCentricMode" (click)="switch()">
        <label class="custom-control-label" for="helpModeRadio">Who helps who?</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="participationModeRadio" name="radioViewMode" class="custom-control-input" [checked]="!_isAuthorityCentricMode" (click)="switch()">
        <label class="custom-control-label" for="participationModeRadio">Who works together?</label>
    </div>
    <!-- <ui-switch [checked]="_isAuthorityCentricMode" (change)="switch()" color="#f8f9fa" switchColor="#2f81b7"></ui-switch> -->
</div>

<!-- <div class="tooltip-initiative col-3">
    <div class="card">
        <div class="card-header p-1">

            <div class="d-flex w-100 justify-content-between">
                <h5 class="card-title text-color">
                    <img src="{{tooltipSourceUser?.picture}}" width="30" height="30" class="rounded-circle mr-2"> helps
                    <img src="{{tooltipTargetUser?.picture}}" width="30" height="30" class="rounded-circle mr-2">

                </h5>
            </div>
        </div>
        <div class="card-block p-1">
            <div *ngFor="let i of tooltipRoles" class="initiative-item mt-1">
                <div class="d-flex w-100 justify-content-between mb-1">
                    <span class="card-title text-color small mb-1 ">
                        <strong>{{i.initiative?.name}}</strong>
                        <ul class="tags">
                                <li *ngFor="let tag of i.initiative.tags">
                                    <a class="btn btn-sm btn-secondary borderless mr-1 tag" [style.color]="tag.color">
                                        <i class="fa fa-tag mr-1" aria-hidden="true" [style.color]="tag.color"></i>{{tag?.name}}
                                    </a>
                                </li>
                            </ul>
                    </span>
                   
                    <small>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm edit btn-secondary" (click)="showDetails(i.initiative)" placement="top" ngbTooltip="Edit"
                                container="body"></button>
                        </div>
                    </small>
                </div>
                <div class="card-block p-1">

                </div>
                <div *ngIf="i.role?.description" class="small">
                    <span class=" text-muted">by</span>
                    <markdown class="" [data]="i.role?.description || ''"></markdown>
                </div>

            </div>

        </div>
    </div>
</div> -->