<ng-template #list>
  @for (member of filteredMembers; track member) {
    <a
      class="card border cursor-pointer"
      (click)="onSelectMember(member)"
      >
      <div class="card-body">
        @if (member.picture) {
          <img [src]="member.picture" class="avatar me-1" />
        }
        {{ member.name }}
      </div>
    </a>
  }
</ng-template>

@if (selectedMember()) {
  <div
    class="col me-3 justify-content-between align-items-start"
    >
    <div class="w-100 d-flex flex-column align-items-end mt-3">
      <button
        class="btn btn-link btn-sm d-none d-md-block"
        type="button"
        (click)="toggleShowOtherMembers()"
        [aria-expanded]="isOthersPeopleVisible"
        aria-controls="collapseOtherMembers"
        i18n
        >
      {!!isOthersPeopleVisible, select, true {Hide} false {Show}} other people
    </button>
      <div class="w-100">
        <summary-personal
          [dataset]="dataset"
          [member]="selectedMember()"
          [team]="team"
          [initiative]="initiative"
          (selectMember)="onSelectMember($event)"
          (selectInitiative)="onSelectInitiative($event)"
        ></summary-personal>
      </div>
    </div>
  </div>
}

<div
  id="collapseOtherMembers"
  [ngbCollapse]="!showAllMembers()"
  [class.col-3]="selectedMember()"
  [class.collapse]="selectedMember()"
  [class.w-100]="!selectedMember()"
  class="border-0"
  [class.mt-3]="selectedMember()"
  >
  <div>
    @if (initiative) {
      <div
        class="form-group form-inline d-none d-md-flex flex-column align-items-start"
        [class.w-25]="!selectedMember()"
        [class.my-3]="!selectedMember()"
        >
        <input
          id="inputQuickFilter"
          #inputQuickFilter
          placeholder="Find a person"
          i18n-placeholder
          type="text"
          class="form-control w-100"
          (keyup)="onKeyDown(inputQuickFilter.value)"
          />
        <div
          [class.invisible]="!inputQuickFilter.value"
          class="d-flex justify-content-between align-items-center w-100"
          >
          <span class="text-muted small" i18n>
          {{ filteredMembers.length }}/{{ members?.length }} people
        </span>
          <button
            class="btn btn-link btn-sm px-0"
            (click)="onKeyDown(''); inputQuickFilter.value = ''"
            i18n
            >
          Show all
        </button>
        </div>
      </div>
    }

    <ul
      class="d-none d-md-block card-columns p-0"
      [class.five-columns]="!selectedMember()"
      [class.one-column]="selectedMember()"
      >
      <button
        *permissionsOnly="Permissions.canAddUser"
        class="card bg-secondary border cursor-pointer text-white"
        (click)="onAddingNewMember()"
        >
        <div class="card-body" i18n>Add new person</div>
      </button>
      <ng-container *ngTemplateOutlet="list"></ng-container>
    </ul>

    <ul class="d-md-none card-columns p-0 one-column">
      <ng-container *ngTemplateOutlet="list"></ng-container>
    </ul>
  </div>
</div>
