<div class="d-flex flex-column justify-content-center row">
  <div class="col-12">
    <div class="d-flex align-items-center">
      <img
        class="avatar avatar--large col-auto p-0 d-none d-md-block"
        width="128"
        height="128"
        src="{{ member?.picture }}"
      />
      <div class="position-relative ms-3 w-100" role="navigation">
        <div class="position-absolute d-flex flex-column">
          <h1 class="">{{ member?.name }}</h1>
          <h6 class="text-muted d-none d-md-block">
            {{ authorities.length + helps.length }} {authorities.length +
            helps.length, plural, =0 {circles} =1 {circle} other {circles}}
          </h6>
        </div>

        <ul
          ngbNav
          #authorityAndHelperTabs="ngbNav"
          class="nav nav-tabs justify-content-end my-3"
          role="tablist"
        >
          <li ngbNavItem class="nav-item me-1">
            <a
              ngbNavLink
              class="nav-link d-flex flex-column align-items-center"
              role="tab"
            >
              <span>{{ authorityName | titlecase }}</span>
              <span class="small text-muted">
                {{ authorities.length }} {authorities.length, plural, =0
                {circles} =1 {circle} other {circles}}
              </span>
            </a>

            <ng-template ngbNavContent>
              <div
                role="tabpanel"
                class="tab-pane card-columns"
                [class.one-column]="isColumnToggleActive(1)"
                [class.two-column]="isColumnToggleActive(2)"
                [class.three-column]="isColumnToggleActive(3)"
              >
                <div class="w-100 d-flex justify-content-center">
                  <span
                    *ngIf="authorities.length === 0"
                    class="h3 text-orange"
                    i18n
                  >
                    Not a {{ authorityName | lowercase }} yet
                  </span>
                </div>
                <div *ngFor="let i of authorities; let ix = index" class="">
                  <personal-card
                    [initiative]="i"
                    [datasetId]="datasetId"
                    [team]="team"
                    [isWithLeader]="false"
                    (selectMember)="onSelectMember($event)"
                    (selectInitiative)="onSelectInitiative($event)"
                  ></personal-card>
                </div>
              </div>
            </ng-template>
          </li>

          <li ngbNavItem class="nav-item d-flex flex-column align-items-center">
            <a
              ngbNavLink
              class="nav-link d-flex flex-column align-items-center"
              role="tab"
            >
              <span>{{ helperName | titlecase }}</span>
              <span class="small text-muted">
                {{ helps.length }} {helps.length, plural, =0 {circles} =1
                {circle} other {circles}}
              </span>
            </a>

            <ng-template ngbNavContent>
              <div
                role="tabpanel"
                class="tab-pane card-columns"
                [class.one-column]="isColumnToggleActive(1)"
                [class.two-column]="isColumnToggleActive(2)"
                [class.three-column]="isColumnToggleActive(3)"
              >
                <div class="w-100 d-flex justify-content-center">
                  <span *ngIf="helps.length === 0" class="h3 text-orange" i18n>
                    No helping participation yet
                  </span>
                </div>

                <div *ngFor="let i of helps; let ix = index" class="">
                  <personal-card
                    [initiative]="i"
                    [datasetId]="datasetId"
                    [team]="team"
                    [isWithLeader]="true"
                    [selectedMemberId]="member?.user_id"
                    (selectMember)="onSelectMember($event)"
                    (selectInitiative)="onSelectInitiative($event)"
                  ></personal-card>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end">
    <div class="btn-group" role="group" aria-label="">
      <button
        type="button"
        (click)="setColumnNumber(3)"
        [class.active]="isColumnToggleActive(3)"
        class="btn btn-light"
      >
        <i class="fas fa-th"></i>
      </button>

      <button
        type="button"
        (click)="setColumnNumber(2)"
        [class.active]="isColumnToggleActive(2)"
        class="btn btn-light"
      >
        <i class="fas fa-th-large"></i>
      </button>

      <button
        type="button"
        (click)="setColumnNumber(1)"
        [class.active]="isColumnToggleActive(1)"
        class="btn btn-light"
      >
        <i class="fas fa-list"></i>
      </button>
    </div>
  </div>

  <div
    [ngbNavOutlet]="authorityAndHelperTabs"
    class="tab-content col-12 mt-3"
  ></div>
</div>
