<p class="text-muted mb-4" i18n>
  Viewing the role library. Custom roles for individual circles are not shown
  here.
</p>

@if (canEditLibraryRoles()) {
  <div>
    @if (!isCreateRoleMode) {
      <button
        class="btn btn-link btn-sm align-self-start ps-0"
        (click)="onCreateRole()"
        i18n
        >
    Add new role
  </button>
    }
    @if (isCreateRoleMode) {
      <initiative-helper-role-input
        [role]="newRole"
        [isDirectoryView]="true"
        (cancel)="onCancelCreatingNewRole()"
        (save)="onSaveNewRole()"
      ></initiative-helper-role-input>
      @if (roles?.length !== 0) {
        <hr class="role-divider my-1" />
      }
    }
  </div>
}

@for (role of roles; track role; let roleIndex = $index; let last = $last) {
  @if (role !== roleBeingEdited) {
    <initiative-helper-role
      [role]="role"
      [showControls]="canEditLibraryRoles()"
      [alwaysShowDetailsToggle]="hasInitiatives(role)"
      [isDirectoryView]="true"
      (edit)="onEditRole($event)"
      (remove)="onDeleteRole($event)"
      (toggleDetails)="onToggleDetails($event)"
    ></initiative-helper-role>
  }
  @if (isEditRoleMode && role === roleBeingEdited) {
    <initiative-helper-role-input
      [role]="role"
      [isDirectoryView]="true"
      (cancel)="onCancelEditingRole()"
      (save)="onChangeRole()"
    ></initiative-helper-role-input>
  }
  @if (areDetailsVisible(role)) {
    <div>
      @for (initiative of getInitiativesFor(role); track initiative; let index = $index) {
        <div
          class=""
          >
          <role-holders-in-initiative
            [initiative]="initiative"
            [role]="role"
            [datasetId]="datasetId"
            [team]="team"
            (selectMember)="onSelectMember($event)"
            (selectInitiative)="onSelectInitiative($event)"
          ></role-holders-in-initiative>
        </div>
      }
    </div>
  }
  @if (!last && roles[roleIndex + 1]) {
    <hr class="role-divider my-1" />
  }
}

@if (roles?.length === 0 && !isCreateRoleMode) {
  <div
    class="h4 text-orange my-2"
    i18n
    >
  No library roles found
</div>
}
