<p class="text-muted mb-4" i18n>
  Showing vacancies for custom and library roles in all circles.
</p>

@for (role of vacancies; track role; let roleIndex = $index; let last = $last) {
  <initiative-helper-role
    [role]="role"
    [showControls]="false"
    [closed]="true"
    [alwaysShowDetailsToggle]="hasInitiatives(role)"
    [isDirectoryView]="true"
    (toggleDetails)="onToggleDetails($event)"
  ></initiative-helper-role>
  @if (areDetailsVisible(role)) {
    <div [class.mt-2]="!role?.description">
      @for (initiative of getInitiativesFor(role); track initiative; let index = $index) {
        <div
          class=""
          >
          <role-holders-in-initiative
            [initiative]="initiative"
            [role]="role"
            [datasetId]="datasetId"
            [team]="team"
            [hideMembers]="true"
            (selectInitiative)="onSelectInitiative($event)"
          ></role-holders-in-initiative>
        </div>
      }
    </div>
  }
  @if (!last && vacancies[roleIndex + 1]) {
    <hr class="role-divider my-1" />
  }
}

@if (vacancies?.length === 0) {
  <div class="h4 text-orange my-2" i18n>
  No vacancies found
</div>
}
