<div class="custom-control custom-switch" placement="bottom" container="body"
    ngbTooltip="Allow this contributor to edit the details of this circle">
    <input type="checkbox" [disabled]="isAuthority || isUnauthorized" class="custom-control-input" id="customCheck-{{helper.shortid}}"
        (ngModelChange)="onChange($event)" [ngModel]="helper?.hasAuthorityPrivileges"
        [ngModelOptions]="{standalone: true}">
    <label class="custom-control-label small text-uppercase text-gray-light" for="customCheck-{{helper.shortid}}">
        Can edit circle
    </label>
</div>