<ng-template #editTipContent>
    <ng-content></ng-content>
</ng-template>

<div class="d-flex align-items-center w-100">
    <div class="d-flex align-items-center w-100">
        <img src="{{helper.picture}}" class="participant-picture rounded-circle mr-1">
        <a [routerLink]="summaryUrlRoot" [queryParams]="{member: helper.shortid}">{{helper.name}}</a>
        <span class="text-muted mx-1" *ngIf="isAuthority">({{team?.settings.authority | titlecase }})</span>
    </div>

    <button *ngIf="!isUnauthorized" class="btn btn-outline-secondary remove" mwlConfirmationPopover
        [popoverMessage]="'Remove this helper and associated roles?'" placement="top" container="body"
        focusbutton="cancel" appendToBody="false" (confirm)="onRemove()" (cancel)="cancelClicked=true"></button>
</div>

<div class="d-flex flex-column mt-2">
    <div class="d-flex align-items-baseline justify-content-start">
        <span class="d-flex align-items-baseline text-gray-light mr-1">
            <i class="fas fa-align-left  mr-1"></i>
            <span class="text-uppercase text-bold small">Role</span>
        </span>

        <span *ngIf=" isUnauthorized" class="text-gray-light small" [stickyPopover]="editTipContent" placement='right'>
            <i class="fas fa-lock"></i>
        </span>

        <button *ngIf="isPickRoleMode" class="btn btn-link btn-sm" (click)="isPickRoleMode=false">Cancel</button>
        <button [class.invisible]="isPickRoleMode || isCreateRoleMode || isEditRoleMode || isUnauthorized" class="btn btn-link btn-sm"
            (click)="!isUnauthorized && isPickRoleMode=true">Add role</button>
    </div>

    <initiative-helper-role-select *ngIf="isPickRoleMode" [roles]="helper.roles" (pick)="onPickRole($event)"
        (create)="onCreateRole($event)">
    </initiative-helper-role-select>

    <ng-container *ngIf="isCreateRoleMode">
        <initiative-helper-role-input [role]="newRole" [helper]="helper" (cancel)="onCancelCreatingNewRole()"
            (save)="onSaveNewRole()">
        </initiative-helper-role-input>

        <hr class="role-divider my-1">
    </ng-container>

    <ng-container *ngFor="let role of helper.roles; let roleIndex = index; let last = last">
        <initiative-helper-role-input *ngIf="isEditRoleMode && role === roleBeingEdited" [role]="role" [helper]="helper"
            (cancel)="onCancelEditingRole()" (save)="onChangeRole()">
        </initiative-helper-role-input>

        <initiative-helper-role *ngIf="role !== roleBeingEdited" [role]="role"
            [showControls]="!isUnauthorized && !isPickRoleMode && !isCreateRoleMode && !isEditRoleMode"
            (edit)="onEditRole($event)" (remove)="onRemoveRole($event)">
        </initiative-helper-role>

        <hr *ngIf="!last" class="role-divider my-1">
    </ng-container>
</div>
