<div class="d-flex align-items-center w-100">

    <div class="d-flex align-items-center w-100">
        <img src="{{helper.picture}}"  class="participant-picture rounded-circle mr-1">
        <a routerLink="summaryUrl">{{helper.name}}</a>
        <span class="text-muted mx-1" *ngIf="isAuthority">({{team?.settings.authority | titlecase }})</span>
    </div>

    <div class="custom-control custom-switch col-auto h-100" placement="top" container="body"
    ngbTooltip="Allow this contributor to edit the details of this circle">
        <input type="checkbox" class="custom-control-input" id="customCheck-{{helper.shortid}}"
            (ngModelChange)="onChangePrivilege(helper,$event)" [ngModel]="helper.hasAuthorityPrivileges"
            [ngModelOptions]="{standalone: true}">
        <label class="custom-control-label" for="customCheck-{{helper.shortid}}">
            Can edit circle
        </label>
    </div>

    <button class="btn btn-outline-secondary remove" mwlConfirmationPopover
        [popoverMessage]="'Remove this helper and associated role?'" placement="top" container="body"
        focusbutton="cancel" appendToBody="false" (confirm)="onRemove()" (cancel)="cancelClicked=true"></button>



</div>

<div class="mt-3">
    <common-textarea rows="3" label="Role" placeholder="placeholder" [text]="helper.roles ? helper.roles[0]?.description : ''"
        (save)="onChangeRole($event)"></common-textarea>
</div>


<!-- <textarea #inputRole *ngIf="isEditMode" class="form-control form-control-sm unresizable"
    [ngModelOptions]="{standalone: true}" data-provide="markdown" data-iconlibrary="fa" data-autofocus="true"
    [ngModel]="helper.roles[0]?.description || ''" rows="3" placeholder="How is {{helper.name}} helping?"
    (blur)="onChangeRole(inputRole.value)" (change)="onChangeRole(inputRole.value)"></textarea>

<markdown class="small" *ngIf="!isEditMode" [data]="helper.roles[0]?.description || ''"></markdown> -->

<!-- <div class="d-flex justify-content-between align-items-center">
        <div class="w-100">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between col-11 pl-0 pr-0">
                        <div class="d-flex justify-content-start">
                            <div
                                *permissionsOnly="Permissions.canDeleteHelper;initiative node;helper user; then thenDeleteHelperBlock; else elseDeleteHelperBlock ">
                            </div>
                            <ng-template #thenDeleteHelperBlock>
                                <span class="remove text-danger mr-1 " placement="top" container="body"
                                    mwlConfirmationPopover
                                    [popoverMessage]="'Remove this helper and associated role?'"
                                    focusbutton="cancel" appendToBody="false" (confirm)="removeHelper(user)"
                                    (cancel)="cancelClicked = true"></span>
                            </ng-template>
                            <ng-template #elseDeleteHelperBlock>
                                <span class="remove text-muted mr-1 " [stickyPopover]="deleteTipContent"
                                    placement='top'></span>
                            </ng-template>

                            <span class="pl-1 col">
                                <img src="{{user.picture}}" width="16" class="rounded-circle user"
                                    alt={{user.name}}>
                                <a routerLink="/map/{{datasetId}}/{{(dataset$ | async)?.initiative?.getSlug()}}/summary"
                                    [queryParams]="{member: user.shortid}">{{user.name}}</a>
                                <span class="text-muted small"
                                    *ngIf="isAuthority(user)">({{authority | titlecase }})</span>

                            </span>
                        </div>
                        <div>
                            <ng-container
                                *permissionsOnly="Permissions.canEditHelper;initiative node; helper user; then thenEditRoleButtonBlock; else elseEditRoleButtonBlock">
                            </ng-container>
                            <ng-template #thenEditRoleButtonBlock>
                                <button class="btn btn-link pull-right btn-sm" (click)="toggleRole(i)">Role
                                    <i class="fa" [class.fa-caret-left]="!hideme[i]"
                                        [class.fa-caret-down]="hideme[i]" aria-hidden="true"></i>
                                </button>
                            </ng-template>
                            <ng-template #elseEditRoleButtonBlock>
                            </ng-template>
                        </div>
                    </div>
                    <div class="w-100 d-flex justify-content-center">
                        <ng-container *ngIf="!isAuthority(user)">
                            <fieldset
                                *permissionsOnly="Permissions.canGiveHelperPrivileges;initiative node; authorisedStrategy: enableFieldset; unauthorisedStrategy: disableFieldset; ">
                                <div class="custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input small" id="customCheck-{{i}}"
                                        (ngModelChange)="savePrivilege(user,$event)"
                                        [ngModel]="user.hasAuthorityPrivileges"
                                        [ngModelOptions]="{standalone: true}">
                                    <label class="custom-control-label" for="customCheck-{{i}}"></label>
                                </div>
                            </fieldset>
                        </ng-container>
                        <ng-container *ngIf="isAuthority(user)">
                            <div class="custom-control custom-checkbox small">
                                <input readonly disabled type="checkbox" class="custom-control-input small"
                                    id="customCheck-{{i}}" checked="true">
                                <label class="custom-control-label" for="customCheck-{{i}}"></label>
                            </div>
                        </ng-container>

                    </div>
                </div>

                <div>

                </div>
            </div>

            <div class="col-12">

                <textarea [hidden]="!hideme[i]" #inputRole class="form-control form-control-sm unresizable"
                    id="inputRole" [ngModelOptions]="{standalone: true}" data-provide="markdown"
                    data-iconlibrary="fa" data-autofocus="true" [ngModel]="user.roles[0]?.description || ''"
                    rows="3" placeholder="How is {{user.name}} helping?" (ngModelChange)="saveRole(user,$event)"
                    (blur)="onBlur();toggleRole(i)" (change)="saveRole(user,$event.target.value)"></textarea>

                <markdown class="small" [hidden]="hideme[i]" *ngIf="user.roles[0]?.description"
                    [data]="user.roles[0]?.description || ''"></markdown>

            </div>



        </div>



    </div> -->