<ng-template #rt let-r="result" let-t="term">
    <ng-container *ngIf="r">
        <img src="{{r.picture}}" class="rounded-circle participant-picture" /> {{r.name}}
    </ng-container>
    <ng-container *ngIf="!r">
        <a routerLink="/teams/{{team?.team_id}}/{{team?.getSlug()}}/people">
            <span class="d-flex align-items-center"><i
                    class="mr-1 fas fa-user-plus bg-dark rounded-circle text-white participant-picture d-flex align-items-center justify-content-center"></i>
                Add a new person</span>
        </a>
    </ng-container>

</ng-template>
<ng-template #editTipContent>
    <ng-content></ng-content>
</ng-template>
<div class="d-flex justify-content-between align-items-baseline text-gray-light ">
    <span>
        <!-- <i class="fas fa-users  mr-1"></i> -->
        <span class="text-uppercase  small">Who's helping?</span>
    </span>
    <button *ngIf="!isCurrentUserAlredyAdded()" class="align-self-end btn btn-sm btn-link p-0"
        (click)="onAddingCurrentUser()">
        Add yourself as a {{team?.settings.helper |  lowercase}}
    </button>
</div>
<div class="d-flex flex-column align-items-end ">
    <div class="w-100" *ngIf="!isUnauthorized">
        <common-autocomplete [isUnauthorized]="isUnauthorized" [placeholder]="placeholder" [resultTemplate]="rt"
            [showSelectedResult]="false" [resultFormatter]="formatter" [filter]="filterMembers"
            (pick)="onAddingHelper($event)">
            <button class="btn btn-outline-success">Add {{team?.settings.helper |  lowercase}} </button>
        </common-autocomplete>
    </div>
</div>




<!-- <input #person required="required" [resultTemplate]="rt" type="text" id="inputHelper"
    placeholder="Enter the name of a {{helper | lowercase}}" class="form-control" (selectItem)="saveHelper($event)"
    (focus)="person.value=''" [ngbTypeahead]="searchTeamMember" [resultFormatter]="formatter"
    [inputFormatter]="formatter" editable="false" /> -->

<!-- <div class="mb-2">
    <div
        *permissionsOnly="Permissions.canAddHelper;initiative node; then thenAddHelperBlock ; else elseAddHelperBlock ">
    </div>
    <ng-template #thenAddHelperBlock>
        <input #person required="required" [resultTemplate]="rt" type="text" id="inputHelper"
            placeholder="Enter the name of a {{helper | lowercase}}" class="form-control"
            (selectItem)="saveHelper($event)" (focus)="person.value=''" [ngbTypeahead]="searchTeamMember"
            [resultFormatter]="formatter" [inputFormatter]="formatter" editable="false" />
    </ng-template>
    <ng-template #elseAddHelperBlock>
        <input #person required="required" [resultTemplate]="rt" type="text" id="inputHelper"
            placeholder="Enter the name of a {{helper | lowercase}}" class="form-control"
            (selectItem)="saveHelperRestricted($event)" (focus)="person.value=''" [ngbTypeahead]="searchTeamMember"
            [resultFormatter]="formatter" [inputFormatter]="formatter" editable="false" />
        <span class="text-accent small" *ngIf="isRestrictedAddHelper">You can only add
            <strong>yourself</strong> as a {{helper | lowercase}} in this circle</span>
    </ng-template>
</div> -->

<!-- <div *ngIf="false" class="">
    <div class="d-flex justify-content-between align-items-center" *ngIf="getAllHelpers().length > 0">
        <div></div>
        <span class="small d-flex mr-2 ml-auto"
            ngbTooltip="Check this box to allow contributors to edit the details of this circle" placement="top"
            container="body">Can edit</span>
    </div>
    <ng-container *ngFor="let user of getAllHelpers(); let i=index;trackBy:trackByUserId">
     
    </ng-container>

</div> -->