<div class="w-100 overflow">
    <div class="card-columns ">
        <div class="card" *ngIf="teams">
            <div class="card-body bg-light">
                <common-create-map [teams]="teams" [isRedirect]="true" (created)="onNewMap($event)"></common-create-map>
            </div>
        </div>

        <div *ngFor="let dataset of datasets">
            <common-card-map [dataset]="dataset" [isExportAvailable]="true" [isTeamDisplayed]="false"></common-card-map>
        </div>

    </div>
</div>