<div class="w-100 overflow">
    <div class="card-columns ">
        <div class="card bg-gray text-white border-0" *ngIf="teams">
            <div class="card-body ">
                <common-create-map [teams]="teams" [isRedirect]="true" (created)="onNewMap($event)"></common-create-map>
            </div>
        </div>

        <ng-container *permissionsOnly="Permissions.canEditMapName; then canEditMapThen; else canEditMapElse"></ng-container>

        <ng-template #canEditMapThen>
            <div *ngFor="let dataset of datasets">
                <common-card-map [dataset]="dataset" [isExportAvailable]="true" [isTeamDisplayed]="false" [isEdit]="true" (archived)="onArchive($event)" (restored)="onRestore($event)"></common-card-map>
            </div>
        </ng-template>

        <ng-template #canEditMapElse>
            <div *ngFor="let dataset of datasets">
                <common-card-map [dataset]="dataset" [isExportAvailable]="true" [isTeamDisplayed]="false" [isEdit]="false"></common-card-map>
            </div>
        </ng-template>




    </div>
</div>