
NETWORK
<svg width="100%" viewBox="0 0 1522 1522"></svg>

<div class="tooltip-initiative col-3">
    <div class="card">
        <div class="card-header p-1">

            <div class="d-flex w-100 justify-content-between">
                <h5 class="card-title text-color">
                    <img src="{{tooltipSourceUser?.picture}}" width="30" height="30" class="rounded-circle mr-2"> helps
                    <img src="{{tooltipTargetUser?.picture}}" width="30" height="30" class="rounded-circle mr-2">

                </h5>
            </div>
        </div>
        <div class="card-block p-1">
            <div *ngFor="let i of tooltipRoles" class="initiative-item mt-1">
                <div class="d-flex w-100 justify-content-between mb-1">
                    <h6 class="card-title text-color small mb-1"><strong>{{i.initiative?.name}}</strong> </h6>
                    <small>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm edit btn-secondary" (click)="showDetails(i.initiative)" placement="top" ngbTooltip="Edit"
                                container="body"></button>
                        </div>
                    </small>
                </div>
                <div *ngIf="i.role?.description" class="small">
                    <span class=" text-muted">by</span>
                    <markdown class="" [data]="i.role?.description || ''"></markdown>
                </div>

            </div>

        </div>
    </div>
</div>