#zoom-layer:active{
    cursor: move;
}

svg text{
    pointer-events: none;
}

.links line {
  stroke: #000;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke-width: 1.5px;
}

.nodes text{
}

.nodes circle.picked {
    stroke: #202020;
    stroke-width: 3px;
    stroke-opacity: .6;
}

.node.fixed {
   fill: inherit;
  }

svg path.edge {
    fill: none;
    stroke: #bbb;
  }

svg text.edge{
  fill: #333;
  stroke-width: 1px;
}

.is-helping{

}
 
.is-helping-title{
  fill:#000;
  fill-opacity: 0.5;
  }

.is-responsible{
  fill-opacity: 1;
}

  .tooltip-initiative{
    position: absolute;
    z-index: 5;
  }

  .edit:before {
    content: "\f040";
    font-family: FontAwesome;
  }

  .initiative-item{
    border-bottom: solid 1px #f7f7f7;
  }