<form (ngSubmit)="onSave()" [formGroup]="roleForm" class="mt-2 mb-3">
  <div class="form-group">
    <label
      for="inputTitle"
      class="mb-0 text-uppercase text-bold text-gray-light small"
      i18n
    >
      Role title
    </label>
    <input
      formControlName="title"
      class="form-control mb-2"
      id="inputTitle"
      placeholder="This is the role title."
      i18n-placeholder
      [class.is-invalid]="showTitleFieldError()"
    />
    <small class="invalid-feedback">
      <ng-container
        *ngIf="
          saveAsLibraryRole.value || isDirectoryView;
          else titleErrorForCustomRoles
        "
        i18n
      >
        Role titles are required for library roles
      </ng-container>
      <ng-template #titleErrorForCustomRoles i18n="@@eitherTitleOrDescription">
        Please fill out either the title or the description
      </ng-template>
    </small>
  </div>

  <div class="form-group mb-0">
    <label class="mb-0 text-uppercase text-bold text-gray-light small" i18n>
      Role description
    </label>
    <textarea
      formControlName="description"
      class="form-control"
      id="inputDescription"
      data-provide="markdown"
      data-iconlibrary="fa"
      data-autofocus="true"
      rows="3"
      placeholder="This is the role description. It may use markdown."
      i18n-placeholder
      [class.is-invalid]="showDescriptionFieldError()"
    ></textarea>
    <small class="invalid-feedback" i18n="@@eitherTitleOrDescription">
      Please fill out either the title or the description
    </small>
  </div>

  <small class="text-default text-muted">
    <ng-container i18n="@@markdownTip">
      How to
      <a href="{{ KB_URL_MARKDOWN }}" target="_blank">
        add links and formatting
      </a>
    </ng-container>
  </small>

  <div *ngIf="!isDirectoryView" class="my-2">
    <a
      class="mb-0 text-uppercase text-bold text-gray-light small text-decoration-none"
      ngbTooltip="Learn about custom and library roles"
      href="{{ KB_URL_ROLE_TYPES }}"
      target="blank"
      container="body"
    >
      <ng-container i18n>Role type</ng-container>
      <span>&nbsp;</span>
      <i class="fa fa-info-circle text-gray-light" aria-hidden="true"></i>
    </a>

    <div class="custom-control custom-radio">
      <input
        type="radio"
        formControlName="saveAsLibraryRole"
        [value]="false"
        [id]="getCustomRoleInputId()"
        class="custom-control-input"
      />

      <label class="custom-control-label" [for]="getCustomRoleInputId()">
        <ng-container
          *ngIf="
            isAlreadySavedInLibrary;
            else radioCustomRoleChoiceTextForCustomRoles
          "
          i18n
        >
          Convert to custom role
        </ng-container>
        <ng-template #radioCustomRoleChoiceTextForCustomRoles i18n>
          Custom role for this {isVacancy, select, true {vacancy} false
          {person}}}
        </ng-template>
      </label>
    </div>

    <div class="custom-control custom-radio">
      <input
        type="radio"
        formControlName="saveAsLibraryRole"
        [value]="true"
        [id]="getLibraryRoleInputId()"
        class="custom-control-input"
      />

      <label class="custom-control-label" [for]="getLibraryRoleInputId()">
        <ng-container
          *ngIf="
            isAlreadySavedInLibrary;
            else radioLibraryRoleChoiceTextForCustomRoles
          "
          i18n
        >
          Edit role for ALL holders
        </ng-container>
        <ng-template #radioLibraryRoleChoiceTextForCustomRoles i18n>
          Add to role library
        </ng-template>
      </label>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-2">
    <button
      *ngIf="!roleForm.dirty"
      type="button"
      class="btn btn-outline-secondary mr-2"
      (click)="onCancel()"
    >
      <ng-container i18n="@@cancel">Cancel</ng-container>
    </button>
    <button
      *ngIf="roleForm.dirty"
      type="button"
      class="btn btn-outline-secondary mr-2"
      placement="top"
      container="body"
      mwlConfirmationPopover
      [popoverTitle]="'Warning'"
      [popoverMessage]="
        'Cancelling will reject any unsaved changes. This cannot be undone. Are you sure?'
      "
      (confirm)="onCancel()"
      focusbutton="cancel"
      appendToBody="false"
    >
      <ng-container i18n="@@cancel">Cancel</ng-container>
    </button>
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="isSubmissionAttempted && !roleForm.valid"
    >
      <ng-container i18n="@@save">Save</ng-container>
    </button>
  </div>

  <div class="d-flex justify-content-end mt-2" *ngIf="showDeleteButton()">
    <button
      type="button"
      class="btn btn-danger ml-auto"
      placement="top"
      container="body"
      mwlConfirmationPopover
      [popoverTitle]="'Warning'"
      [popoverMessage]="
        'This will remove the role from ALL holders in the organisation and delete it from the list of roles. This cannot be undone. Are you sure?'
      "
      (confirm)="onDelete()"
      focusbutton="cancel"
      appendToBody="false"
      i18n
    >
      Delete this role
    </button>
  </div>
</form>
