<ng-template #rt let-r="result" let-t="term">
  <span *ngIf="r.user_id">
    <img
      src="{{ r.picture }}"
      class="rounded-circle participant-picture"
      alt="{{ r.name }}"
    />
    {{ r.name }}
  </span>

  <span *ngIf="!r.user_id && t">{{t}} (Add a new team member)</span>
  <span *ngIf="!r.user_id && !t">Add a new team member</span>
</ng-template>

<ng-template #editTipContent>
  <ng-content></ng-content>
</ng-template>

<div
  class="d-flex justify-content-between align-items-center text-gray-light mb-2"
>
  <span>
    <i class="fas fa-users mr-1"></i>
    <span class="text-uppercase text-bold small mr-1">Who's helping?</span>
    <span
      *ngIf="isUnauthorized"
      class="text-gray-light small"
      [stickyPopover]="editTipContent"
      placement="right"
    >
      <i class="fas fa-lock"></i>
    </span>
  </span>

  <button
    *ngIf="!isCurrentUserAlredyAdded() && !isUnauthorized"
    class="align-self-end btn btn-sm btn-link"
    (click)="onAddingCurrentUser()"
  >
    Add yourself as a {{ team?.settings.helper | lowercase }}
  </button>
</div>

<div
  *ngIf="!isCreateNewMemberMode; else newMemberForm"
  class="d-flex flex-column align-items-end"
>
  <div class="w-100" *ngIf="!isUnauthorized">
    <common-autocomplete
      [isUnauthorized]="isUnauthorized"
      [placeholder]="placeholder"
      [resultTemplate]="rt"
      [showSelectedResult]="false"
      [resultFormatter]="formatter"
      [filter]="filterMembers"
      (pick)="onAddingHelper($event)"
    >
      <button class="btn btn-outline-success">
        Add {{ team?.settings.helper | lowercase }}
      </button>
    </common-autocomplete>
  </div>
</div>

<ng-template #newMemberForm>
  <maptio-member-form
    [team]="team"
    [member]="newMemberData"
    (addMember)="onCreateNewMember($event)"
  >
  </maptio-member-form>
</ng-template>
