<ng-template #rt let-r="result" let-t="term">
  @if (r.user_id) {
    <span>
      <img src="{{ r.picture }}" class="avatar" alt="{{ r.name }}" />
      {{ r.name }}
    </span>
  }

  @if (!r.user_id && t) {
    <span>
      {{ t }}
      <span>(</span>
      Add a new team member
      <span>)</span>
    </span>
  }

  @if (!r.user_id && !t) {
    <span>
      <ng-container i18n="@@addNewTeamMember">Add a new team member</ng-container>
    </span>
  }
</ng-template>

<ng-template #editTipContent>
  <ng-content></ng-content>
</ng-template>

<div
  class="d-flex justify-content-between align-items-center text-gray-light mb-2"
  >
  <span>
    <i class="fas fa-users me-1"></i>
    <span class="text-uppercase text-bold small me-1" i18n>Who's helping?</span>
    @if (isUnauthorized) {
      <span
        class="text-gray-light small"
        [stickyPopover]="editTipContent"
        >
        <i class="fas fa-lock"></i>
      </span>
    }
  </span>

  @if (!isCurrentUserAlreadyAdded() && !isUnauthorized) {
    <button
      class="align-self-end btn btn-sm btn-link"
      (click)="onAddingCurrentUser()"
      i18n
      >
    Add yourself as a {{ team?.settings.helper | lowercase }}
  </button>
  }
</div>

@if (!isCreateNewMemberMode) {
  <div
    class="d-flex flex-column align-items-end"
    >
    @if (!isUnauthorized) {
      <div class="w-100">
        <common-autocomplete
          [isUnauthorized]="isUnauthorized"
          [placeholder]="placeholder"
          [resultTemplate]="rt"
          [showSelectedResult]="false"
          [resultFormatter]="formatter"
          [filter]="filterMembers"
          (pick)="onAddingHelper($event)"
        ></common-autocomplete>
      </div>
    }
  </div>
} @else {
  <maptio-member-form
    [team]="team"
    [member]="newMemberData"
    [splitName]="true"
    [showCancelButton]="true"
    (addMember)="onCreateNewMember($event)"
    (cancel)="onCancelAddingMember($event)"
  ></maptio-member-form>
}

