@if (role) {
  <!-- Fail gracefully on incorrect database data leading to undefined roles -->
  <div class="d-flex flex-row align-items-center">
    <div
      class="helper-role__title text-bold"
      [class.text-gray-light]="!role.title && isDescriptionVisible"
      >
      @if (role.title) {
        {{ role.title }}
      } @else {
        @if (!isDescriptionVisible) {
          {{ role.description | stripMarkdown | ellipsis : 50 }}
        } @else {
          Untitled role
        }
      }
    </div>
    @if (alwaysShowDetailsToggle || role.description) {
      <button
        class="btn bg-transparent py-0 border-0"
        (click)="onToggleDetails()"
        >
        <i
          [class.fa-caret-right]="!isDescriptionVisible"
          [class.fa-caret-down]="isDescriptionVisible"
          class="fas"
        ></i>
      </button>
    }
    @if (showControls) {
      <button
        class="btn edit btn-outline-secondary ms-auto"
        placement="top"
        container="body"
        (click)="onEdit()"
      ></button>
      <!-- [ngbTooltip]="addButtonTooltip" -->
      <button
        class="btn remove btn-outline-secondary"
        placement="left"
        container="body"
        mwlConfirmationPopover
        [popoverMessage]="getRemoveWarning()"
        (confirm)="onRemove()"
        (cancel)="cancelClicked = true"
        focusbutton="cancel"
        appendToBody="false"
        confirmText="Confirm"
        cancelText="Cancel"
        i18n-confirmText="@@confirm"
        i18n-cancelText="@@cancel"
      ></button>
    }
  </div>
  @if (role.description && isDescriptionVisible) {
    <markdown
      class="cursor-text d-block border-0 w-100 h-100 mb-2"
      [data]="role.description"
    ></markdown>
  }
}
