<ng-template #rt let-result="result" let-term="term">
  <span *ngIf="!result.shortid && !term">
    <ng-container i18n="@@createNewRole">Create new role</ng-container>
  </span>

  <span *ngIf="!result.shortid && term">
    {{ term }}
    <span>(</span>
    <ng-container i18n="@@createNewRole">Create new role</ng-container>
    <span>)</span>
  </span>

  <span *ngIf="result.shortid">{{ result.title }}</span>
</ng-template>

<common-autocomplete
  class="d-block mt-2 mb-3"
  placeholder="Start typing the title of a role"
  i18n-placeholder
  [resultTemplate]="rt"
  [showSelectedResult]="false"
  [showCancelButton]="false"
  [filter]="filterRoles"
  (pick)="onAddingRole($event)"
></common-autocomplete>
