<ng-template #editTipContent>
  <ng-content></ng-content>
</ng-template>

<div class="d-flex flex-column">
  <div class="d-flex align-items-baseline justify-content-start">
    <span class="d-flex align-items-baseline text-gray-light me-1">
      <i class="fas fa-user-plus me-1"></i>
      <span class="text-uppercase text-bold small">
        <ng-container i18n="@@vacancies">Vacancies</ng-container>
      </span>
    </span>

    @if (isUnauthorized) {
      <span
        class="text-gray-light small"
        [stickyPopover]="editTipContent"
        >
        <i class="fas fa-lock"></i>
      </span>
    }

    @if (isPickRoleMode) {
      <button
        class="btn btn-link btn-sm"
        (click)="isPickRoleMode = false"
        >
        <ng-container i18n="@@cancel">Cancel</ng-container>
      </button>
    }

    <button
      [class.invisible]="
        isPickRoleMode || isCreateRoleMode || isEditRoleMode || isUnauthorized
      "
      class="btn btn-link btn-sm"
      (click)="!isUnauthorized && (isPickRoleMode = true)"
      i18n
      >
      Add role vacancy
    </button>
  </div>

  @if (isPickRoleMode) {
    <initiative-helper-role-select
      [roles]="initiative?.vacancies"
      (pick)="onPickRole($event)"
      (create)="onCreateRole($event)"
    ></initiative-helper-role-select>
  }

  @if (isCreateRoleMode) {
    <initiative-helper-role-input
      [role]="newRole"
      [isVacancy]="true"
      (cancel)="onCancelCreatingNewRole()"
      (save)="onSaveNewRole()"
    ></initiative-helper-role-input>
    <hr class="role-divider my-1" />
  }

  @if (showVacanciesList()) {
    <div class="bg-light rounded p-2">
      @for (
        role of initiative?.vacancies; track
        role; let roleIndex = $index; let last = $last) {
        @if (isEditRoleMode && role === roleBeingEdited) {
          <initiative-helper-role-input
            [role]="role"
            [isVacancy]="true"
            (cancel)="onCancelEditingRole()"
            (save)="onChangeRole()"
          ></initiative-helper-role-input>
        }
        @if (role !== roleBeingEdited) {
          <initiative-helper-role
            [role]="role"
        [showControls]="
          !isUnauthorized &&
          !isPickRoleMode &&
          !isCreateRoleMode &&
          !isEditRoleMode
        "
            (edit)="onEditRole($event)"
            (remove)="onRemoveRole($event)"
          ></initiative-helper-role>
        }
        @if (!last && initiative?.vacancies[roleIndex + 1]) {
          <hr
            class="role-divider my-1"
            />
        }
      }
    </div>
  }

  <p class="text-muted small my-2" i18n>
    See all vacancies in the
    <a [routerLink]="summaryUrlRoot + '/vacancies'">Directory</a>
  </p>
</div>
