.circle {
  fill-opacity: 0.3;
  cursor: pointer;
  pointer-events: none;
}

.circle__info {
  opacity: 0;
}

.circle--state-selected {
  fill-opacity: 1;
  pointer-events: auto;

  > .circle__info {
    opacity: 1;
  }
}

.circle--state-selected:not(.circle--type-leaf):hover {
  > .circle__info {
    opacity: 0;
  }
}

.circle--state-selected:hover > .circle__children > g > .circle {
  fill-opacity: 0.8;
  pointer-events: auto;

  > .circle__info {
    opacity: 1;
  }
}

// https://codepen.io/shshaw/pen/wWQZEB

.circle--state-selected:hover > .circle__children {
  visibility: hidden;
}

.circle--state-selected:hover > .circle__children > g {
  visibility: visible;
}

.circle--state-selected:hover > .circle__children:hover > g > .circle {
  opacity: 0.4;
}

.circle--state-selected:hover > .circle__children:hover > g:hover > .circle {
  opacity: 1;
}
