<svg:g
  class="circle"
  [class.circle--state-selected]="circle.data.isSelected"
  [class.circle--type-leaf]="circle.data.isLeaf"
  (click)="onClick($event)"
>
  <circle
    class="circle__circle"
    [attr.cx]="circle.x"
    [attr.cy]="circle.y"
    [attr.r]="circle.r"
    [attr.fill]="circle.data.color"
  />

  <foreignObject
    class="circle__info"
    [attr.x]="circle.x - circle.r / math.sqrt(2)"
    [attr.y]="circle.y - circle.r / math.sqrt(2)"
    [attr.width]="circle.r * 2 / math.sqrt(2)"
    [attr.height]="circle.r * 2 / math.sqrt(2)"
  >
    <g maptioCircleInfo
      [circleInfo]="circle.data"
    ></g>
  </foreignObject>

  <g class="circle__children">
    <g maptioCircle
      *ngFor="let child of circle.children"
      [circle]="child"
    ></g>
  </g>
</svg:g>
