// .circle {
//   opacity: 0.3;
// }

// foreignObject {
//   overflow: visible;
// }

.circle--type-root {
  opacity: 0 !important;
}

.circle--state-hidden {
  opacity: 0.3;
  pointer-events: none;
}

.circle--state-selected {
  opacity: 1;
}

.circle--state-selected-and-hovered {
  .circle__info {
    opacity: 0;
  }
}

.circle--state-child-of-selected {
  opacity: 0.3;

  .circle__info {
    opacity: 1;
  }
}

.circle--state-child-of-hovered-selected {
  opacity: 1;
}

.circle--state-highlighted-child-of-selected-and-hovered {
  opacity: 1;
  cursor: pointer;
}
