<!-- <loader></loader>
<header (openHelp)="openHelp($event)" (openDataset)="openDataset($event)">
</header>
<div class="container-fluid">
	
</div>

<footer></footer>
-->


<!-- Wrap all page content here -->
<div id="wrap">

	<!-- Fixed navbar -->
	<header>
	</header>
	<!-- Begin page content -->
	<div class="center-container">
		<loader></loader>

		<div class="center-row" [class.background]="isHome">

			<div class="container-fluid h-100 p-3" [class.background]="isHome" [class.overflow-hidden]="isMap">
				<div *showItDevice="['mobile','tablet']" class="alert alert-dismissible alert-warning">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<p>
						<b>Maptio</b> works best on desktop using
						<b><a target="_blank" href="https://www.google.com/chrome/browser/desktop/index.html">Chrome</a>		</b>
					</p>
				</div>
				<div *hideItBrowser="['chrome']" class="alert alert-dismissible alert-warning">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<p>
						<b>Maptio</b> works best on desktop using
						<b><a target="_blank" href="https://www.google.com/chrome/browser/desktop/index.html">Chrome</a>		</b>
					</p>
				</div>

				<router-outlet></router-outlet>

			</div>

		</div>


	</div>

</div>

<div id="footer">
	<footer></footer>
</div>
<!-- <help #help></help> -->