<div class="container-fluid h-100 overflow-auto bg-transparent" [class.grayscale]="(progress.state$ | async).active">
	<div class="d-flex flex-column h-100">
		<header>
		</header>
		<div *showItBootstrap="['xs','sm']" class="h-100">
			<div class="jumbotron jumbotron-fluid h-100 bg-white">
				<div class="container">
					<h1 class="display-4 d-flex justify-content-center">Size matters!</h1>
					<h3 class="display-4 d-flex justify-content-around">
						<i class="fa fa-mobile text-danger" aria-hidden="true"></i>
						<i class="fa fa-tablet text-danger" aria-hidden="true"></i>
						<i class="fa fa-laptop text-success" aria-hidden="true"></i>
						<i class="fa fa-desktop text-success" aria-hidden="true"></i>
					</h3>

					<p class="lead d-flex justify-content-center">Maptio is not yet optimized for small screens, come back with a larger device. </p>
				</div>
			</div>
		</div>
		<div *showItBootstrap="['md','lg','xl']" class="container-fluid h-100 overflow-x-hidden bg-transparent" >
			<loader></loader>
			<router-outlet></router-outlet>
		</div>
		<footer></footer>
	</div>
</div>