
.container-fluid {
    /* padding: 0; */
    background-color: white;
    /* overflow: hidden; */
}


.container-fluid.overflow-hidden {
    overflow: hidden;
}

.background {
    background-image: url(/assets/images/home-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-blend-mode: luminosity;
}

.unavailable{
    user-select: none;
    pointer-events: none;
}