<div class="card">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between align-items-baseline">
      <span
        class="btn-link cursor-pointer"
        (click)="openInitiative(initiative)"
        >
        {{ initiative.name }}
      </span>
      @if (initiative.accountable && isWithLeader) {
        <span
          class="text-muted nowrap"
          >
          led by
          <button
            class="btn btn-link p-0 border-0"
            (click)="onSelectMember(initiative.accountable)"
            >
            <img
              class="avatar"
              src="{{ initiative.accountable?.picture }}"
              alt="{{ initiative.accountable?.name }}"
              title="{{ initiative.accountable?.name }}"
              placement="top"
              container="body"
              ngbTooltip="{{ initiative.accountable?.name }}"
              />
          </button>
        </span>
      }
    </div>
    <!-- <div class="card-subtitle">

  </div> -->
  @if (initiative.tags && initiative.tags.length > 0) {
    <div
      class="card-subtitle"
      >
      <ul class="list-inline small no-cursor">
        @for (tag of initiative.tags; track tag; let i = $index) {
          <li
            class="list-inline-item"
            >
            <span
              class="badge rounded-pill p-2 border-thick text-white me-1 my-1"
              [style.border-color]="tag.color"
              [style.background]="tag.color"
              >
              <i class="fa fa-tag me-1" aria-hidden="true"></i>
              {{ tag?.name }}
            </span>
          </li>
        }
      </ul>
    </div>
  }

  @if (getRoles()) {
    <div class="card-subtitle mb-3">
      @for (role of getRoles(); track role) {
        <initiative-helper-role
          [role]="role"
          [closed]="true"
          [showControls]="false"
          class="d-block mb-1"
        ></initiative-helper-role>
      }
    </div>
  }

  <div class="card-text">
    @if (initiative.helpers?.length !== 0) {
      <div
        class="row"
        [class.bg-light]="isShowRoles"
        >
        <a
          class="col-auto btn btn-link px-3 text-start"
          [attr.data-target]="'.' + getMultipleCollapseClass()"
          [attr.aria-controls]="getMultipleCollapseId()"
          aria-expanded="false"
          role="button"
          (click)="isShowRoles = !isShowRoles"
          >
          <i
            class="fa"
            [class.fa-caret-right]="!isShowRoles"
            [class.fa-caret-down]="isShowRoles"
            aria-hidden="true"
          ></i>
        </a>
        <div class="col-auto ps-0">
          <div
            [ngbCollapse]="!isShowRoles" (ngbCollapseChange)="isShowRoles = $event"
            class="{{ getMultipleCollapseClass() }} w-100"
            id="{{ getWithDescriptionId() }}"
            >
            @for (h of initiative.helpers; track h) {
              <div>
                <div class="d-flex my-1 align-items-baseline my-2">
                  <button
                    (click)="onSelectMember(h)"
                    class="btn btn-link p-0 border-0"
                    >
                    <img
                      [hidden]="h.user_id === member?.user_id"
                      class="avatar"
                      src="{{ h.picture }}"
                      alt="{{ h.name }}"
                      title="{{ h.name }}"
                      placement="top"
                      container="body"
                      ngbTooltip="{{ h.name }}"
                      />
                  </button>
                  <div class="mb-2 ms-2">
                    @for (role of h.roles; track role) {
                      <initiative-helper-role
                        [role]="role"
                        [closed]="true"
                        [showControls]="false"
                        class="d-block mb-1"
                      ></initiative-helper-role>
                    }
                  </div>
                </div>
              </div>
            }
          </div>
          @if (!isShowRoles) {
            <div
              class="{{ getMultipleCollapseClass() }} w-100"
              id="{{ getNoDescriptionId() }}"
              >
              <div class="d-flex justify-content-start flex-wrap">
                <ul
                  class="list-inline d-flex flex-row-reverse picture-list my-1 flex-wrap"
                  >
                  @for (h of sortHelpers(); track h) {
                    <li
                      class="list-inline-item rounded-circle border-thick border-white"
                      >
                      <button
                        [class.d-none]="h.user_id === member?.user_id"
                        (click)="onSelectMember(h)"
                        class="btn btn-link p-0 border-0"
                        >
                        <img
                          [hidden]="h.user_id === member?.user_id"
                          class="avatar"
                          src="{{ h.picture }}"
                          alt="{{ h.name }}"
                          title="{{ h.name }}"
                          placement="top"
                          container="body"
                          ngbTooltip="{{ h.name }}"
                          />
                      </button>
                    </li>
                  }
                </ul>
              </div>
            </div>
          }
        </div>
      </div>
    }

    @if (initiative.helpers?.length === 0) {
      <span
        class="mb-1 small text-orange"
        >
        No {{ team.settings.helper | lowercase }}
      </span>
    }
  </div>
</div>
</div>
