<div class="card">
  <div class="card-body">
    <div
      class="card-title d-flex justify-content-between align-items-baseline"
      [class.mb-0]="hideMembers"
      >
      <span
        class="btn-link cursor-pointer"
        (click)="openInitiative(initiative)"
        >
        {{ initiative.name }}
      </span>
    </div>

    @if (!hideMembers) {
      <div class="card-text">
        @if (roleHolders?.length !== 0) {
          <div
            class="row"
            [class.bg-light]="isShowRoles"
            >
            <a
              class="col-auto btn btn-link px-3 text-start"
              [attr.data-target]="'.' + getMultipleCollapseClass()"
              [attr.aria-controls]="getMultipleCollapseId()"
              (click)="isShowRoles = !isShowRoles"
              aria-expanded="false"
              role="button"
              >
              <i
                class="fa"
                [class.fa-caret-right]="!isShowRoles"
                [class.fa-caret-down]="isShowRoles"
                aria-hidden="true"
              ></i>
            </a>
            <div class="col-auto ps-0">
              <!-- Members list when expanded -->
              <div
                [ngbCollapse]="!isShowRoles" (ngbCollapseChange)="isShowRoles = $event"
                class="{{ getMultipleCollapseClass() }} w-100"
                id="{{ getWithDescriptionId() }}"
                >
                @for (h of roleHolders; track h) {
                  <div>
                    <div class="d-flex my-1 align-items-baseline my-2">
                      <button
                        (click)="onSelectMember(h)"
                        class="btn btn-link p-0 border-0"
                        >
                        <img
                          class="avatar"
                          src="{{ h.picture }}"
                          alt="{{ h.name }}"
                          title="{{ h.name }}"
                          placement="top"
                          container="body"
                          />
                      </button>
                      <a
                        (click)="onSelectMember(h)"
                        class="mb-2 ms-2"
                        style="cursor: pointer"
                        >
                        {{ h.name }}
                      </a>
                      @if (h === initiative.accountable) {
                        <span
                          class="text-muted mx-1"
                          >
                          ({{ team?.settings.authority | titlecase }})
                        </span>
                      }
                    </div>
                  </div>
                }
              </div>
              <!-- Members list when collapsed -->
              @if (!isShowRoles) {
                <div
                  class="{{ getMultipleCollapseClass() }} w-100"
                  id="{{ getNoDescriptionId() }}"
                  >
                  <div class="d-flex justify-content-start flex-wrap">
                    <ul
                      class="list-inline d-flex flex-row-reverse picture-list my-1 flex-wrap"
                      >
                      @for (h of roleHolders; track h) {
                        <li
                          class="list-inline-item rounded-circle border-thick border-white"
                          >
                          <button
                            (click)="onSelectMember(h)"
                            class="btn btn-link p-0 border-0"
                            >
                            <img
                              class="avatar"
                              src="{{ h.picture }}"
                              alt="{{ h.name }}"
                              title="{{ h.name }}"
                              placement="top"
                              container="body"
                              ngbTooltip="{{ h.name }}"
                              />
                          </button>
                        </li>
                      }
                    </ul>
                  </div>
                </div>
              }
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
