
.nodeDiv
{
  background-color: #eee;
  border-radius: 3px;
}

.tree-children {
  flex-grow: 1;
  width: 100%;
}

inpu, textarea{
  font-size:1rem;

}

.pull-right {
  position: absolute;
  right: 10px;
}

.initiative{
  clear:both;
}

.building {
  font: 12px sans-serif;
  width: 43vw;
  max-width: 43vw;
}



/*.form-control {
border: 1px solid #333;
border-radius: 0;
box-shadow: none;
font-size: 16px;
height: 40px;
}*/
