<div class="h-100 d-flex flex-column">
	<!-- <div class="pr-3"> -->
		<!-- <h4>Circles hierarchy</h4> -->
		<div class="text-muted mt-1 small">Some explainer about circles and Maptio and how best to use the name, roles,
			description, etc
		</div>
	<!-- </div> -->

	<div class="card  w-100 border-0 bg-transparent">
		<div class="card-body px-0 pb-1">
			<div *ngIf="!isEmptyMap" class="d-flex justify-content-start">
				<button name="" id="" class="btn btn-link pl-0" (click)="!isToggling && toggleAll(true)" role="button">
					<i class="fas" [class.fa-plus-circle]="!isExpanding" [class.fa-circle-notch]="isExpanding"
						[class.fa-spin]="isExpanding" aria-hidden="true"></i> Expand all
				</button>
				<button name="" id="" class="btn btn-link " (click)="!isToggling && toggleAll(false)"
					role="button">
					<i class="fas" [class.fa-minus-circle]="!isCollapsing" [class.fa-circle-notch]="isCollapsing"
						[class.fa-spin]="isCollapsing" aria-hidden="true"></i> Collapse all
				</button>

			</div>

			<button *ngIf="isEmptyMap" name="" id="" class="btn btn-outline-secondary ml-auto" (click)="addRootNode()"
				role="button" placement="top" container="body" ngbTooltip="Add a new circle">
				<i class="fa fa-plus large" aria-hidden="true"></i> New outer circle
			</button>
		</div>
	</div>
	<div>
		<tree-root #tree [nodes]="nodes" [options]="options" [state]="state"
			(stateChange)="setState($event)">
			<ng-template #treeNodeTemplate let-node let-index="index">
				<initiative-node [node]="node" [datasetId]="datasetId" [team]="team" [user]="user"
					(edited)="saveChanges()" (update)="updateTreeModel(tree.treeModel)" (open)="openNodeDetails($event, false)"
					(add)="openNodeDetails($event, true)"></initiative-node>
			</ng-template>
		</tree-root>
	</div>
</div>




<ng-template #dragConfirmation let-c="close" let-d="dismiss">
	<div class="modal-body">
		<h1>Are you sure?</h1>
		<p>
			Circle
			<b>{{fromInitiative.name}}</b> and it sub-circles will be moved under
			<b>{{toInitiative.name}}</b>
		</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-link" (click)="c(false)">No</button>
		<button type="button" class="btn btn-danger" (click)="c(true)">Move circle</button>
	</div>
</ng-template>