<div class="h-100 padding-top">
  <!-- <maptio-onboarding-message
    [messageKey]="'showEditingPanelMessage'"
    [paddingTop]="'15px'"
    i18n
  >
    Edit your circle structure here.
  </maptio-onboarding-message> -->

  <ul ngbNav #nav="ngbNav" class="nav-pills nav-fill">
    <li ngbNavItem="circles-tab">
      <a ngbNavLink i18n="@@circles">Circles</a>

      <ng-template ngbNavContent>
        <div class="d-flex flex-column">
          <div class="mt-4">
            <notebits-outline
              [outlineData]="outlineData()"
              [selectedItemId]="selectedInitiativeId()"
              [expandItemId]="expandInitiativeId()"
              [disableEditing]="disableEditing()"
              [outlineItemIndent]="'20px'"
              (selectedItemIdChange)="onSelectedInitiativeIdChange($event)"
              (itemCreated)="onInitiativeCreate($event)"
              (itemEdited)="onInitiativeEdit($event)"
              (itemMoved)="onInitiativeMove($event)"
              (itemDeleted)="onInitiativeDelete($event)"
              style="display: block; margin-bottom: 1.5rem"
            ></notebits-outline>
          </div>
        </div>
      </ng-template>
    </li>

    <li ngbNavItem="tags-tab">
      <a ngbNavLink i18n="@@tags">Tags</a>

      <ng-template ngbNavContent>
        <edit-tags
          [tags]="tags"
          [team]="team"
          (edit)="onEditingTags($event)"
        ></edit-tags>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav"></div>
</div>

<ng-template #deleteConfirmation let-c="close" let-d="dismiss">
  <div class="modal-body">
    <h1 i18n="@@areYouSure">Are you sure?</h1>

    <div class="alert alert-danger" role="alert">
      <i class="fas fa-exclamation-triangle"></i>
      <ng-container i18n>This cannot be undone.</ng-container>
    </div>

    <p class="mb-0" i18n>
      Circle
      <b>{{ initiativeToBeDeleted.name }}</b>
      will be deleted
      <b>along with its sub-circles</b>
      .
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-link" (click)="c(false)">
      <ng-container i18n="@@cancel">Cancel</ng-container>
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="c(true)"
      i18n="@@deleteCircle"
    >
      Delete circle
    </button>
  </div>
</ng-template>

<ng-template #dragConfirmation let-c="close" let-d="dismiss">
  <div class="modal-body">
    <h1 i18n="@@areYouSure">Are you sure?</h1>
    <p i18n>
      Circle
      <b>{{ fromInitiative.name }}</b>
      and its sub-circles will be moved under
      <b>{{ toInitiative.name }}</b>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link" (click)="c(false)" i18n="@@no">
      No
    </button>
    <button type="button" class="btn btn-danger" (click)="c(true)" i18n>
      Move circle
    </button>
  </div>
</ng-template>
