<div class="h-100 pt-3">
  <maptio-onboarding-message [messageKey]="'showEditingPanelMessage'" i18n>
    Edit your circle structure here. Try clicking Expand All.
  </maptio-onboarding-message>

  <ul ngbNav #nav="ngbNav" class="nav-pills nav-fill">
    <li ngbNavItem="circles-tab">
      <a ngbNavLink i18n="@@circles">Circles</a>

      <ng-template ngbNavContent>
        <div class="d-flex flex-column">
          <div class="card mb-3 w-100 border-0 bg-transparent">
            <div class="card-body px-0 pb-1 pt-4 align-self-center">
              <button
                name=""
                id=""
                class="btn btn-outline-secondary"
                (click)="!isToggling && toggleAll(true)"
                role="button"
              >
                <i
                  class="fas mr-1"
                  [class.fa-angle-double-down]="!isExpanding"
                  [class.fa-circle-notch]="isExpanding"
                  [class.fa-spin]="isExpanding"
                  aria-hidden="true"
                ></i>
                <ng-container i18n>Expand all</ng-container>
              </button>
              <button
                name=""
                id=""
                class="btn btn-outline-secondary mx-2"
                (click)="!isToggling && toggleAll(false)"
                role="button"
              >
                <i
                  class="fas mr-1"
                  [class.fa-angle-double-up]="!isCollapsing"
                  [class.fa-circle-notch]="isCollapsing"
                  [class.fa-spin]="isCollapsing"
                  aria-hidden="true"
                ></i>
                <ng-container i18n>Collapse all</ng-container>
              </button>

              <ng-container
                *permissionsOnly="
                  Permissions.canCreateRootInitiative;
                  else elseFirstNodeBlock;
                  then: thenFirstNodeBlock
                "
              >
                main
              </ng-container>

              <ng-template #thenFirstNodeBlock>
                <button
                  *ngIf="isEmptyMap"
                  name=""
                  id=""
                  class="btn btn-outline-secondary ml-auto"
                  (click)="addRootNode()"
                  role="button"
                  placement="top"
                  container="body"
                  ngbTooltip="Add a new circle"
                  i18n-ngbTooltip
                >
                  <i class="fa fa-plus large" aria-hidden="true"></i>
                  <ng-conatiner i18n="@@newOuterCircle">
                    New outer circle
                  </ng-conatiner>
                </button>
              </ng-template>

              <ng-template #permissionsTipContent>
                <maptio-insufficient-permissions-message></maptio-insufficient-permissions-message>
              </ng-template>

              <ng-template #elseFirstNodeBlock>
                <button
                  *ngIf="isEmptyMap"
                  name=""
                  id=""
                  class="btn btn-outline-secondary ml-auto disabled cursor-not-allowed"
                  role="button"
                  placement="top"
                  container="body"
                  [stickyPopover]="permissionsTipContent"
                >
                  <i class="fa fa-plus large" aria-hidden="true"></i>
                  <ng-conatiner i18n="@@newOuterCircle">
                    New outer circle
                  </ng-conatiner>
                </button>
              </ng-template>
            </div>
          </div>
          <div>
            <tree-root
              #tree
              [nodes]="nodes"
              (updateData)="saveChanges()"
              [options]="options"
              [state]="state"
              (stateChange)="setState($event)"
            >
              <ng-template #treeNodeTemplate let-node let-index="index">
                <initiative-node
                  [node]="node"
                  [datasetId]="datasetId"
                  [team]="team"
                  [user]="user"
                  (edited)="saveChanges()"
                  (update)="updateTreeModel(tree.treeModel)"
                  (open)="openNodeDetails($event)"
                  (add)="openNodeDetails($event)"
                  (delete)="onDeleteNode($event)"
                ></initiative-node>
              </ng-template>
            </tree-root>
          </div>
        </div>
      </ng-template>
    </li>

    <li ngbNavItem="tags-tab">
      <a ngbNavLink i18n>Tags</a>

      <ng-template ngbNavContent>
        <edit-tags
          [tags]="tags"
          [team]="team"
          (edit)="onEditingTags($event)"
        ></edit-tags>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav"></div>
</div>

<ng-template #deleteConfirmation let-c="close" let-d="dismiss">
  <div class="modal-body">
    <h1 i18n="@@areYouSure">Are you sure?</h1>

    <div class="alert alert-danger" role="alert">
      <i class="fas fa-exclamation-triangle"></i>
      <ng-container i18n>This cannot be undone.</ng-container>
    </div>

    <p class="mb-0" i18n>
      Circle
      <b>{{ initiativeToBeDeleted.name }}</b>
      will be deleted
      <b>along with its sub-circles</b>
      .
    </p>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-link"
      (click)="c(false)"
      i18n="@@cancel"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-danger" (click)="c(true)" i18n>
      Delete circle
    </button>
  </div>
</ng-template>

<ng-template #dragConfirmation let-c="close" let-d="dismiss">
  <div class="modal-body">
    <h1 i18n="@@areYouSure">Are you sure?</h1>
    <p i18n>
      Circle
      <b>{{ fromInitiative.name }}</b>
      and its sub-circles will be moved under
      <b>{{ toInitiative.name }}</b>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link" (click)="c(false)" i18n="@@no">
      No
    </button>
    <button type="button" class="btn btn-danger" (click)="c(true)" i18n>
      Move circle
    </button>
  </div>
</ng-template>
