
::ng-deep svg {
  background: transparent;
}

/* ::ng-deep .node.tree-map:hover {
  stroke: initial!important;
  stroke-width: initial!important;
} */
::ng-deep svg text.tree-map {
  cursor: pointer;
}

::ng-deep .node.tree-map circle .withChildren{
  stroke-width: 3px;
}


::ng-deep .link.highlight.tree-map {
  fill: none !important;
  stroke:var(--maptio-blue)!important;
  stroke-width: 5px!important;
  stroke-opacity: 1!important
}

::ng-deep .node.highlight.tree-map {
  
  fill: var(--maptio-blue)!important;
}


::ng-deep .name.tree-map:hover{
  pointer-events: auto;
}

::ng-deep .accountable.tree-map{
  font-weight: bold;
}

::ng-deep image.tree-map.accountable{
  border: 2px red solid
}

.tooltip-initiative{
  position: absolute;
  z-index: 5;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}

.top-left{
  top:0;
  left:0;
} 