.helper-avatar__image {
  height: 5rem;
  width: 5rem;
  border-radius: 2.5rem;
}

.helper-avatar__details {
  // Styles copied from .mat-tooltip @ 11.2.8
  $horizontal-padding: 8px;
  $max-width: 250px;
  $margin: 14px;

  $handset-horizontal-padding: 16px;
  $handset-margin: 24px;

  // color: white;
  border-radius: 4px;
  margin: $margin;
  max-width: $max-width;
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
  overflow: hidden;
  text-overflow: ellipsis;

  // Our overrides
  padding: 0.5rem;
  color: black;
  background-color: white;
  font-size: 1rem;
  white-space: pre;
}

.helper-avatar__name {
  font-weight: 600;
}

.helper-avatar__roles {
  margin: 0.25rem 0.25rem 0.25rem -1rem;
}

.helper-avatar__role {
  margin-left: -0.25rem;
}
