<img
  class="helper-avatar__image"
  *ngIf="helper.picture"
  [src]="helper.picture"
  alt="{{ helper.name }}"
  [satPopoverAnchor]="popover"
  [satPopoverHover]="300"
>

<sat-popover
  #popover
  verticalAlign="below"
>
  <div class="helper-avatar__details">
    <div class="helper-avatar__name">
      {{ helper.name}}
    </div>

    <ul
      class="helper-avatar__roles"
      *ngIf="showRoles"
    >
      <li *ngFor="let role of helper.roles">
        <span class="helper-avatar__role">{{ role?.title }}</span>
      </li>
    </ul>
  </div>
</sat-popover>
