.container {
padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.building {
    font: 12px sans-serif;
    background-color: #fcfcfc;
    width: 2000px;
    /*height: 2000px;*/
    max-width: 580px;
    /*max-height: 900px;*/
    overflow: auto;
    position: absolute;
    top: -323%;
    left: 13%;
}

.content {
    width:960px;
    margin-right: auto;
    margin-left: auto;
}
.panel-group {
    width:99%;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(-100%) rotate(-90deg);
    -webkit-transform-origin: right top;
    -moz-transform: translateX(-100%) rotate(-90deg);
    -moz-transform-origin: right top;
    -o-transform: translateX(-100%) rotate(-90deg);
    -o-transform-origin: right top;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right top;
}
.panel-heading {
    width: 230px;
}
.panel-title {
    height:18px
}
.panel-title a {
    float:right;
    text-decoration:none;
    padding: 10px 100px;
    margin: -10px -100px;
}
.panel-body {
    height:600px;
    width:99%;
}
.panel-group img {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(0%) rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: translateX(0%) rotate(90deg);
    -moz-transform-origin: left top;
    -o-transform: translateX(0%) rotate(90deg);
    -o-transform-origin: left top;
    transform: translateX(0%) rotate(90deg);
    transform-origin: left top;
}
.textRotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 147px !important;
    padding-top: 67px !important;
    width: 500px !important;
    
}
.panel-group .panel img {
    margin-left:300px;
    position: absolute;
}

.rotate{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.profile-img{
    border-radius: 23px;
}