<header (openHelp)="openHelp($event)" (openDataset)="openDataset($event)">
</header>
<div class="container-fluid">
	<router-outlet></router-outlet>
</div>

<footer></footer>
<help #help></help>
<!--<div class="container-fluid" *ngIf="!auth.authenticated()">
	<div class="jumbotron">
		<h1>Circle mapping</h1>
		<p>A simple online tool to allow organisations and initiatives to be mapped, visualised and explored in concentric circles.</p>
		<p><a class="btn btn-primary btn-lg" (click)="auth.login()">Map your initiative now</a></p>
	</div>
</div>-->




<!--<import #import></import>-->