<form
  [formGroup]="inviteForm"
  (submit)="createUser()"
>
  <div class="form-group form-inline row">
    <label
      class="col-12 col-md-2 d-flex justify-content-start"
      for="inputFirstname"
    >
      First name
    </label>

    <div class="col-12 col-md-4">
      <input
        type="text"
        id="inputFirstname"
        formControlName="firstname"
        class="form-control form-control-warning w-100"
        [class.is-invalid]="
          inviteForm.controls['firstname'].invalid &&
          (inviteForm.controls['firstname'].dirty ||
            inviteForm.controls['firstname'].touched)
        "
        placeholder="First name"
        required
        minlength="2"
      />

      <small class="invalid-feedback">2 characters minimum</small>
    </div>
  </div>

  <div class="form-group form-inline row">
    <label
      class="col-12 col-md-2 d-flex justify-content-start"
      for="inputFirstname"
    >
      Last name
    </label>

    <div class="col-12 col-md-4">
      <input
        type="text"
        id="inputLastname"
        formControlName="lastname"
        class="form-control form-control-warning w-100"
        [class.is-invalid]="
          inviteForm.controls['lastname'].invalid &&
          (inviteForm.controls['lastname'].dirty ||
            inviteForm.controls['lastname'].touched)
        "
        placeholder="Last name"
        required
        minlength="2"
      />

      <small class="invalid-feedback">2 characters minimum</small>
    </div>
  </div>

  <div class="form-group form-inline row">
    <label
      class="col-12 col-md-2 d-flex justify-content-start"
      for="inputEmail"
    >
      Email
    </label>

    <div class="col-12 col-md-4">
      <input
        type="text"
        id="inputEmail"
        formControlName="email"
        class="form-control form-control-warning w-100"
        [class.is-invalid]="
          inviteForm.controls['email'].invalid &&
          (inviteForm.controls['email'].dirty ||
            inviteForm.controls['email'].touched)
        "
        placeholder="Email"
      />

      <small class="invalid-feedback">Please enter a valid email</small>
    </div>
  </div>

  <button type="submit" class="btn btn-success mx-3">Add</button>

  <span class="text-green" *ngIf="isCreatingUser">
    <i class="fas fa-circle-notch fa-spin mx-1"></i>
    Creating
  </span>
</form>
