<ng-template #viewsButtonGroup>
  <button
    class="btn btn-light toolbar-button text-dark p-1 d-flex flex-column justify-content-between align-items-center"
    #rlaCircles="routerLinkActive"
    [routerLinkActive]="['active']"
    routerLink="/map/{{ datasetId }}/{{ slug }}/expanded-circles"
    ngbTooltip="Expanded Circles"
    i18n-ngbTooltip="@@expanded-circles"
    openDelay="500"
    tooltipClass="toolbar-button__tooltip"
    placement="left"
  >
    <img
      class="toolbar-button__image"
      src="assets/images/circles-expanded.svg"
    />
    <span class="icon-text-label" i18n="@@expanded-circles">
      Expanded Circles
    </span>
  </button>

  <button
    class="btn btn-light toolbar-button text-dark p-1 d-flex flex-column justify-content-between align-items-center"
    #rlaCircles="routerLinkActive"
    [routerLinkActive]="['active']"
    routerLink="/map/{{ datasetId }}/{{ slug }}/covered-circles"
    ngbTooltip="Covered Circles"
    i18n-ngbTooltip="@@covered-circles"
    openDelay="500"
    tooltipClass="toolbar-button__tooltip"
    placement="left"
  >
    <img class="toolbar-button__image" src="assets/images/circles.svg" />
    <span class="icon-text-label">
      <ng-container i18n="@@covered-circles">Covered Circles</ng-container>
    </span>
  </button>

  <button
    class="btn btn-light toolbar-button text-dark p-1 d-flex flex-column justify-content-between align-items-center"
    #rlaNetwork="routerLinkActive"
    [routerLinkActive]="['active']"
    routerLink="/map/{{ datasetId }}/{{ slug }}/network"
    ngbTooltip="Network"
    openDelay="500"
    tooltipClass="toolbar-button__tooltip"
    placement="left"
    i18n-ngbTooltip="@@network"
  >
    <img class="toolbar-button__image" src="assets/images/network.png" />
    <span class="d-none d-md-block icon-text-label">
      <ng-container i18n="@@network">Network</ng-container>
    </span>
  </button>
</ng-template>

<div
  class="d-flex rounded-end justify-content-center h-100 position-relative bg-white overflow-x-hidden"
  [class.overflow-y-hidden]="!isFullScreen"
  id="mapping-canvas"
>
  <div class="w-100">
    <div class="w-100 h-100">
      <div class="row h-100">
        <div class="col-12 h-100 d-flex justify-content-between px-0">
          <div
            class="h-100 w-100 d-flex justify-content-end"
            [class.m-4]="isFullScreen && rlaSummary.isActive"
          >
            <router-outlet
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)"
            ></router-outlet>
          </div>
          <div
            class="toolbar d-flex flex-column bg-transparent position-absolute top-right align-items-center align-items-md-end col-12 col-md-auto ms-md-0 me-md-2 ps-md-0 z-index-1"
          >
            <div class="btn-group-vertical mb-3 d-none d-md-block">
              <button
                class="btn btn-light toolbar-button p-1 text-dark d-flex flex-column justify-content-between align-items-center"
                [class.disabled]="isSearchDisabled || isMapSettingsDisabled"
                (click)="onSearchToggle($event)"
                href="#collapseSearch"
                role="button"
                ngbTooltip="Search"
                openDelay="500"
                tooltipClass="toolbar-button__tooltip"
                placement="left"
                i18n-ngbTooltip="@@search"
              >
                <i class="mt-2 fa fa-search"></i>
                <span class="icon-text-label" i18n="@@search">Search</span>
              </button>

              <button
                class="btn btn-light toolbar-button p-1 text-dark d-flex flex-column justify-content-between align-items-center"
                [class.disabled]="isMapSettingsDisabled"
                (click)="onFiltersToggle($event)"
                href="#collapseFilter"
                role="button"
                ngbTooltip="Filter"
                openDelay="500"
                tooltipClass="toolbar-button__tooltip"
                placement="left"
                i18n-ngbTooltip="@@filter"
              >
                <i class="mt-2 fa fa-filter"></i>
                <span class="icon-text-label" i18n="@@filter">Filter</span>
              </button>

              <button
                class="btn btn-light toolbar-button p-1 text-dark d-flex flex-column justify-content-between align-items-center"
                [class.disabled]="isShareDisabled || isMapSettingsDisabled"
                (click)="onSharingToggle($event)"
                href="#collapseShare"
                role="button"
                ngbTooltip="Share"
                openDelay="500"
                tooltipClass="toolbar-button__tooltip"
                placement="left"
                i18n-ngbTooltip="@@share"
              >
                <i class="mt-2 fas fa-share"></i>
                <span class="icon-text-label" i18n="@@share">Share</span>
              </button>
            </div>

            <div class="d-none d-md-block btn-group-vertical my-3">
              <ng-container *ngTemplateOutlet="viewsButtonGroup"></ng-container>

              <button
                class="d-flex btn btn-light toolbar-button select-view summary-list text-dark p-1 btn-control flex-column justify-content-end align-items-center"
                #rlaSummary="routerLinkActive"
                [routerLinkActive]="['active']"
                routerLink="/map/{{ datasetId }}/{{ slug }}/directory"
                ngbTooltip="Directory"
                openDelay="500"
                tooltipClass="toolbar-button__tooltip"
                placement="left"
                i18n-ngbTooltip="@@directory"
              >
                <span class="d-none d-md-block icon-text-label">
                  <ng-container i18n="@@directory">Directory</ng-container>
                </span>
              </button>
            </div>

            <div class="d-md-none btn-group col-9 my-2">
              <ng-container *ngTemplateOutlet="viewsButtonGroup"></ng-container>
            </div>

            <div class="btn-group-vertical my-3 d-none d-md-block">
              <button
                class="btn btn-light toolbar-button text-dark pt-2 d-flex flex-column justify-content-between align-items-center"
                [class.disabled]="isZoomDisabled || isMapSettingsDisabled"
                (click)="zoomOut()"
                ngbTooltip="Zoom out"
                openDelay="500"
                tooltipClass="toolbar-button__tooltip"
                placement="left"
                i18n-ngbTooltip="@@zoomout"
              >
                <i class="fa fa-minus py-1"></i>
                <span class="icon-text-label" i18n="@@zoomout">Zoom out</span>
              </button>

              <button
                class="btn btn-light toolbar-button text-dark pt-2 d-flex flex-column justify-content-between align-items-center"
                [class.disabled]="isZoomDisabled || isMapSettingsDisabled"
                (click)="zoomIn()"
                ngbTooltip="Zoom in"
                openDelay="500"
                tooltipClass="toolbar-button__tooltip"
                placement="left"
                i18n-ngbTooltip="@@zoomin"
              >
                <i class="fa fa-plus py-1"></i>
                <span class="icon-text-label" i18n="@@zoomin">Zoom in</span>
              </button>

              <button
                class="btn btn-light toolbar-button text-dark pt-2 d-flex flex-column justify-content-between align-items-center"
                [class.disabled]="isZoomDisabled || isMapSettingsDisabled"
                (click)="resetZoom()"
                ngbTooltip="Zoom fit"
                openDelay="500"
                tooltipClass="toolbar-button__tooltip"
                placement="left"
                i18n-ngbTooltip="@@zoomfit"
              >
                <i class="fa fa-expand-arrows-alt py-1"></i>
                <span class="icon-text-label" i18n="@@zoomfit">Zoom fit</span>
              </button>

              @if (false) {
                <button
                  class="btn btn-light toolbar-button text-dark p-1 d-flex flex-column justify-content-between align-items-center"
                  (click)="fullScreen()"
                >
                  <i
                    class="fas py-1"
                    [class.fa-expand]="!isFullScreen"
                    [class.fa-compress]="isFullScreen"
                    aria-hidden="true"
                  ></i>
                  <span class="icon-text-label">
                    {{ isFullScreen ? 'Normal screen' : 'Fullscreen' }}
                  </span>
                </button>
              }
            </div>

            <div class="btn-group-vertical my-3 d-none d-md-block">
              <button
                class="btn btn-light toolbar-button text-dark p-1 d-flex flex-column justify-content-between align-items-center"
                [class.disabled]="isMapSettingsDisabled"
                (click)="onSettingToggle($event)"
                href="#collapseSettings"
                role="button"
                ngbTooltip="Colors"
                openDelay="500"
                tooltipClass="toolbar-button__tooltip"
                placement="left"
                i18n-ngbTooltip="@@colors"
              >
                <i class="mt-2 fas fa-palette"></i>
                <span class="icon-text-label" i18n="@@colors">Colors</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <context-menu
      [initiatives]="selectedInitiatives"
      [isReadOnly]="isReadOnlyContextMenu"
      [x]="selectedInitiativeX"
      [y]="selectedInitiativeY"
      (add)="emitAddInitiative($event)"
      (remove)="emitRemoveInitiative($event)"
      (edit)="emitOpenInitiative($event)"
      (openAccountable)="goToUserSummary($event)"
    ></context-menu>
  </div>

  <div
    id="collapsible-options"
    class="d-flex flex-column justify-content-start align-items-end position-absolute pe-3 mx-5 my-2 windows z-index-1"
  >
    <div
      id="collapseSearch"
      class="collapse rounded bg-light p-3 mb-3 col-12"
      [class.d-none]="isSearchDisabled"
      [ngbCollapse]="!isSearchToggled"
      (ngbCollapseChange)="isSearchToggled = $event"
      [animation]="false"
      closable
      (close)="isSearchToggled = false"
    >
      <search
        #search
        [list]="flattenInitiative"
        (selectInitiative)="zoomToInitiative($event)"
        (selectUser)="goToUserSummary($event)"
      ></search>
    </div>

    <div
      id="collapseFilter"
      class="collapse rounded mb-3 col-12 bg-light p-3"
      [ngbCollapse]="!isFiltersToggled"
      (ngbCollapseChange)="isFiltersToggled = $event"
      [animation]="false"
      closable
      (close)="isFiltersToggled = false"
    >
      <filter-tags
        [isFilterDisabled]="this.isFilterDisabled"
        [expandedMapLink]="'/map/' + datasetId + '/' + slug + '/expanded'"
        [team]="team"
        [tags]="tags"
        (changeTagsSelection)="broadcastTagsSelection($event)"
      ></filter-tags>
    </div>

    <div
      id="collapseShare"
      class="collapse rounded mb-3 col-12 bg-light p-3"
      [ngbCollapse]="!isSharingToggled"
      (ngbCollapseChange)="isSharingToggled = $event"
      [animation]="false"
      closable
      (close)="isSharingToggled = false"
    >
      <maptio-sharing [dataset]="dataset"></maptio-sharing>
    </div>

    <div
      class="collapse rounded col-auto bg-light p-4"
      id="collapseSettings"
      [ngbCollapse]="!isSettingToggled"
      (ngbCollapseChange)="isSettingToggled = $event"
      [animation]="false"
      closable
      (close)="isSettingToggled = false"
    >
      <div class="card bg-transparent border-0">
        <div class="card-body">
          <common-color-picker
            [color]="settings.mapColor"
            label="Map"
            i18n-label="@@map"
            [default]="DEFAULT_MAP_COLOR"
            (change)="changeMapColor($event)"
          ></common-color-picker>
        </div>
      </div>
    </div>
  </div>
</div>

@if (isEmptyMap) {
  <div class="instructions h2 d-none d-md-block">
    <ng-container i18n>
      Click

      <!-- Plus button -->
      <ng-container
        *permissionsOnly="
          Permissions.canCreateRootInitiative;
          else plusButtonDisabled;
          then: plusButton
        "
      ></ng-container>

      to create your first circle
    </ng-container>
    <ng-template #plusButton>
      <button type="button" class="btn btn-success" (click)="addFirstNode()">
        <i class="fa fa-plus"></i>
      </button>
    </ng-template>
    <ng-template #plusButtonDisabled>
      <button
        type="button"
        class="btn btn-success disabled cursor-not-allowed"
        [stickyPopover]="editTipContent"
      >
        <i class="fa fa-plus"></i>
      </button>
    </ng-template>
    <ng-template #editTipContent>
      <maptio-insufficient-permissions-message></maptio-insufficient-permissions-message>
    </ng-template>
  </div>
}

@if (isEmptyMap) {
  <div
    class="px-4 d-flex flex-column position-absolute center-center d-md-none w-100 text-center"
  >
    <b>Map editing is disable on mobile.</b>
    <span class="text-muted">
      Open Maptio on a desktop to start adding circles
    </span>
  </div>
}
