<ng-template #editTipContent>
    <ng-content></ng-content>
</ng-template>

<div class="d-flex flex-column bg-light p-2 rounded">
    <div class="d-flex align-items-baseline justify-content-start">
        <span class="d-flex align-items-baseline text-gray-light mr-1">
            <i class="fas fa-align-left  mr-1"></i>
            <span class="text-uppercase text-bold small">{{label}}</span>
        </span>
        <span *ngIf=" isUnauthorized" class="text-gray-light small" [stickyPopover]="editTipContent" placement='right'>
            <i class="fas fa-lock"></i>
        </span>
        <button *ngIf="isEditMode" class="btn btn-link btn-sm" (click)="isEditMode=false">Save</button>
        <button [class.invisible]="isEditMode || isUnauthorized" class="btn btn-link btn-sm"
            (click)="!isUnauthorized && isEditMode=true">Edit</button>




    </div>


    <div class="w-100 position-relative" *ngIf="isEditMode">
        <small *ngIf="!isHeader" style="bottom:1px;left:1px" class="rounded-bottom py-1 position-absolute  text-default text-muted ml-auto bg-white w-99 px-2">
            Use
            <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">markdown</a> to
            create links and add formatting.
        </small>


        <textarea #inputDescription class="form-control pb-4" id="inputDescription" [value]="text || ''"
            data-provide="markdown" data-iconlibrary="fa" data-autofocus="true" [attr.rows]="rows"
            [attr.placeholder]="placeholder" (change)="onChange($event.target.value)" (blur)="isEditMode=false">

                                            </textarea>

    </div>

    <div *ngIf="!isEditMode && !isTextEmpty" (click)="!isUnauthorized && isEditMode=true "
        class="position-relative w-100  p-2 rounded">

        <markdown class="cursor-text  border-0 w-100 h-100" [ngClass]="{'lead text-bold' : isHeader}" [data]="text">
        </markdown>

        <!-- <span *ngIf="!text" class="text-muted small text-gray-light">{{placeholder}}</span> -->
    </div>

</div>