<div class="d-flex flex-column">
    <div class="d-flex align-items-baseline justify-content-start">
        <span class="d-flex align-items-baseline text-black-50 mr-1">
            <i class="fas fa-align-left  mr-1"></i>
            <span class="text-uppercase text-bold small">{{label}}</span>
        </span>
        <button *ngIf="isEditMode" class="btn btn-link btn-sm" (click)="isEditMode=false">Cancel</button>
        <button *ngIf="!isEditMode" class="btn btn-link btn-sm" (click)="isEditMode=true">Edit</button>

        <small *ngIf="isEditMode" class="text-default text-muted ml-auto">
                Use
                <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">markdown</a> to
                create links and add formatting.
            </small>
    </div>


    <div class="w-100 position-relative" *ngIf="isEditMode">
        <textarea #inputDescription class="form-control" id="inputDescription" [value]="text" data-provide="markdown"
            data-iconlibrary="fa" data-autofocus="true" [attr.rows]="rows" placeholder="placeholder"
            (change)="onChange($event.target.value)" (blur)="isEditMode=false">

                                            </textarea>

    </div>

    <div class="position-relative w-100 bg-light p-2 rounded" *ngIf="!isEditMode">

        <markdown (click)="isEditMode=true" class="cursor-text  border-0 w-100 h-100" [data]="text">
        </markdown>
    </div>
   
</div>