<div class="  card border-0 w-100 position-relative" [ngClass]="{'box-shadow': isWithSearch}">
    <search *ngIf="isWithSearch" #search [list]="flattenNodes" [selectedResult]="getSelectedResult()"
        [highlightClear]="filteringTagsNumber > 0" (click)="isFiltersOpen=true"
        (selectInitiative)="onSelectCircle($event)" (clear)="onClear()" (selectUser)="onSelectMember($event)">
        <ng-container *ngTemplateOutlet="menu"></ng-container>

    </search>
    <div *ngIf="!isWithSearch" class="d-flex justify-content-between align-items-baseline bg-accent text-white">
        <div class="d-flex align-items-baseline">
            <ng-container *ngTemplateOutlet="menu"></ng-container>
            <h5 class="m-0 ">{{panelTitle}}</h5>
        </div>

        <button class="btn text-white align-self-end" (click)="onClosePanel()"><i class="fa fa-times"></i></button>
    </div>
</div>


<div class="box-shadow d-flex flex-column mission  card border-0 w-100 position-relative my-3 p-3"
    *ngIf="isWithAdvancedSearch">
    <div class="d-flex w-100 small">
        <span class="text-uppercase text-muted opacity-50 ">
            Filter circles</span>


    </div>
    <ng-content></ng-content>

    <div id="filters-box" class="">
        <div class="mt-2">
            <span class="  my-1 d-flex align-items-center justify-content-start" data-toggle="collapse" href="#tags-box"
                role="button" aria-expanded="true" aria-controls="tags-box">
                <span class="toggle-collapse mr-1 text-muted opacity-50">
                    <i class="fa fa-caret-right"></i>
                </span>
                <small>
                    <span> By tags</span>
                </small>

                <button class="btn btn-link btn-sm" (click)="onOpenTagsPanel()">(Edit)</button>
            </span>
            <div class="collapse show" id="tags-box">
                <div class="d-flex flex-wrap align-items-baseline ">
                    <div *ngFor="let tag of tags" class="my-1 ">
                        <initiative-single-tag [tag]="tag">
                            <div class="custom-control custom-checkbox ml-1" style="min-height:1rem">
                                <input id="check-{{tag.shortid}}" class="custom-control-input" type="checkbox" name=""
                                    id="" [value]="tag.isSelected" [checked]="tag.isSelected"
                                    (change)="$event.target.checked ? tag.isSelected = true : tag.isSelected = false; onSelectTag(tags)">
                                <label class="custom-control-label" for="check-{{tag.shortid}}"></label>
                            </div>
                        </initiative-single-tag>
                    </div>
                </div>

            </div>
        </div>
        <div class="mt-2 d-flex flex-column align-items-start">
            <span class=" my-1 d-flex align-items-center justify-content-between" data-toggle="collapse"
                href="#users-box" role="button" aria-expanded="true" aria-controls="users-box">
                <span class="toggle-collapse mr-1 text-muted opacity-50">
                    <i class="fa fa-caret-right"></i>
                </span>
                <span class="small">By {{team.settings.helper | lowercase}}</span>
            </span>
            <div class="w-100 collapse show" id="users-box">
                <div class="btn-group " *ngIf="!filteringUser">
                    <button class="btn btn-sm btn-link pl-0 dropdown-toggle" type="button" id="dropdownFilterUser"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select a {{team.settings.helper | lowercase}}
                    </button>
                    <div style="max-height:25vh" class="dropdown-menu overflow" aria-labelledby="dropdownFilterUser">
                        <h6 class="dropdown-header">My circles</h6>
                        <initiative-member-label class="dropdown-item" (click)="onSelectMember(user)" [member]="user"
                            [isLabel]="true">
                        </initiative-member-label>

                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Other people</h6>
                        <initiative-member-label *ngFor="let member of members" class="dropdown-item"
                            (click)="onSelectMember(member)" [member]="member" [isLabel]="true">
                        </initiative-member-label>
                    </div>
                </div>
                <div *ngIf="filteringUser" class="d-flex flex-column align-items-start bg-light rounded p-2 w-100">
                    <div class="d-flex align-items-center justify-content-between w-100 ">
                        <initiative-member-label (click)="onSelectMember(member)" [member]="filteringUser"
                            [isLabel]="true">
                        </initiative-member-label>
                        <span class="text-muted cursor-pointer p-1" (click)="onClearUserFilter()"><i
                                class="fa fa-times"></i></span>
                    </div>

                    <button class="btn btn-link btn-sm pl-0" (click)="onOpenUserSummary(filteringUser)">Open
                        summary</button>

                </div>
            </div>
        </div>
    </div>


</div>

<div class="box-shadow d-flex flex-column mission  card border-0 w-100 position-relative my-3 p-3"
    *ngIf="isWithAdvancedSearch">

    <div class="d-flex flex-column">
        <span class="text-uppercase text-muted small  opacity-50">{{team?.settings.vision}}</span>
        <span class="text-bold">{{mission}}</span>

    </div>
    <div class="d-flex flex-column mt-2">

        <span class="text-uppercase text-muted small  opacity-50">Organization</span>
        <a routerLink="/teams/{{team?.team_id}}/{{team?.getSlug()}}/people">{{team.name}}</a>
        <span *ngIf="!team?.isPaying && !team.isExample" class="small text-green">{{team?.getRemainingTrialDays()}}
            days left on your
            free trial.
            <a class="text-bold" routerLink="/teams/{{team?.team_id}}/{{team?.getSlug()}}/billing">Subscribe
                now</a>
        </span>
    </div>
</div>

<ng-template #menu>
    <button ngbTooltip="Menu" placement="top" container="body" class="btn  border-0 dropdown-toggle without-caret"
        [class.text-white]="!isWithSearch" type="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fa fa-bars"></i>
    </button>
    <div class="dropdown-menu ">
        <h6 class="dropdown-header text-bold opacity-50">
            View</h6>
        <button (click)="onClosePanel()" class="dropdown-item"> Circles</button>
        <div class="dropdown-divider"></div>


        <h6 class="dropdown-header text-bold opacity-50">
            Edit</h6>
            <!-- <common-color-picker class="dropdown-item p-0" [isMinimal]="true" [color]="settings.mapColor"
            [label]="'Map'" [default]="DEFAULT_MAP_COLOR" (change)="onChangeColor($event)" [placement]="'left'">
        </common-color-picker> -->
        <button (click)="onOpenBuildingPanel()" class="dropdown-item"> Circles hierarchy</button>
        <button (click)="onOpenTagsPanel()" class="dropdown-item">Tags</button>
        <div class="submenu-item dropright">
            <button class="dropdown-item dropdown-toggle " href="#" id="navbarDropdownSubMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Map color
            </button>

            <div class="dropdown-menu w-100"  aria-labelledby="navbarDropdownSubMenuLink">
                <common-color-picker class="dropdown-item p-0" [isMinimal]="true" [color]="settings.mapColor"
                    [label]="'Map'" [default]="DEFAULT_MAP_COLOR" (change)="onChangeColor($event)" [placement]="'left'">
                </common-color-picker>
            </div>
        </div>
        <!-- <div class="dropdown-divider"></div>

        <h6 class="dropdown-header text-bold opacity-50">
            Share</h6>
        <button class="dropdown-item" (click)="onOpenSlackShare()">Share on Slack</button>
        <button class="dropdown-item" (click)="onOpenSlackShare()">Print</button> -->

    </div>
</ng-template>