.custom-control-label::before{
    top:0 !important;
    border:0!important;
}

.custom-control-label::after{
    top:0!important;
    border:0!important;
    background: no-repeat 50%/75% 75%;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: unset!important
}

.custom-control-input:focus~.custom-control-label::after {
    box-shadow: unset!important
}