<div class="box-shadow  card border-0 w-100 position-relative mb-3">
    <search #search [list]="flattenNodes" [selectedResult]="getSelectedResult()" (click)="isFiltersOpen=true"
        (selectInitiative)="onSelectCircle($event)" (clear)="onClear()" (selectUser)="onSelectMember($event)">
        <button ngbTooltip="Menu" placement="top" container="body" class="btn  border-0 dropdown-toggle without-caret"
            type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bars"></i>
        </button>
        <div class="dropdown-menu">
            <span class="dropdown-header text-uppercase small text-muted opacity-50">Editing</span>
            <button (click)="onOpenBuildingPanel()" class="dropdown-item">Edit map</button>
            <button (click)="onOpenTagsPanel()" class="dropdown-item">Edit tags</button>

            <!-- <div class="dropdown-divider"></div>
    
                        <span class="dropdown-header text-uppercase small text-muted opacity-50">Views</span>
                        <a routerLink="./circles" class="dropdown-item">Circles</a>
                        <a routerLink="./tree" class="dropdown-item">Tree</a>
                        <a routerLink="./network" class="dropdown-item">Network</a> -->

            <div class="dropdown-divider"></div>

            <span class="dropdown-header text-uppercase small text-muted opacity-50">Share</span>
            <button class="dropdown-item">Share on Slack</button>
            <!-- <button class="dropdown-item">Print</button> -->

        </div>
    </search>

</div>

<div class="box-shadow d-flex flex-column mission  card border-0 w-100 position-relative my-3 p-3"
    *ngIf="isWithAdvancedSearch">
    <div class="d-flex w-100 text-muted small  opacity-50" data-toggle="collapse" href="#filters-box" role="button"
        aria-expanded="false" aria-controls="filters-box">
        <!-- <span class="toggle-collapse mr-1">
            <i class="fa fa-caret-right"></i>
        </span> -->
        <span class="text-uppercase ">Filter circles</span>


    </div>
    <ng-content></ng-content>

    <div id="filters-box" class="pl-3 pb-3">
        <div class="mt-2">
            <span class="small text-muted my-1">by tags</span>
            <div class="d-flex flex-wrap align-items-baseline" id="filterByTags">
                <div *ngFor="let tag of tags" class="my-1 ">
                    <initiative-single-tag [tag]="tag">
                        <input class="mr-1" type="checkbox" name="" id="" [value]="tag.isSelected"
                            [checked]="tag.isSelected"
                            (change)="$event.target.checked ? tag.isSelected = true : tag.isSelected = false; onSelectTag(tags)">

                    </initiative-single-tag>
                </div>
            </div>
        </div>
        <div class="mt-2 d-flex flex-column align-items-start">
            <span class="small text-muted my-1">by {{team.settings.helper | lowercase}}</span>
            <div class="w-100">
                <div class="btn-group " *ngIf="!filteringUser">
                    <button class="btn btn-sm btn-link pl-0 dropdown-toggle" type="button" id="dropdownFilterUser"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select a {{team.settings.helper | lowercase}}
                    </button>
                    <div style="max-height:25vh" class="dropdown-menu overflow" aria-labelledby="dropdownFilterUser">
                        <initiative-member-label *ngFor="let member of members" class="dropdown-item"
                            (click)="onSelectMember(member)" [member]="member" [isLabel]="true">
                        </initiative-member-label>
                        <!-- <button *ngFor="let member of members" class="dropdown-item" type="button">Action</button> -->
                    </div>
                </div>
                <div *ngIf="filteringUser" class="d-flex flex-column align-items-start bg-light rounded p-2 w-100">
                    <div class="d-flex align-items-center justify-content-between w-100 ">
                        <initiative-member-label (click)="onSelectMember(member)" [member]="filteringUser"
                            [isLabel]="true">
                        </initiative-member-label>
                        <span class="text-muted cursor-pointer p-1" (click)="onClearUserFilter()"><i
                                class="fa fa-times"></i></span>
                    </div>

                    <button class="btn btn-link btn-sm pl-0" (click)="onOpenUserSummary(filteringUser)">Open
                       summary</button>

                </div>
            </div>



            <!-- <div class="d-flex flex-wrap">
                <span class="mr-1 mb-1" [class.opacity-50]="filteringUser && !isSelectedUser(member)"
                    *ngFor="let member of members">
                    <initiative-member-label (click)="onSelectMember(member)" [member]="member" [isLabel]="true"
                        [isPictureOnly]="true"></initiative-member-label>

                </span>

            </div> -->
        </div>
    </div>


</div>

<div class="box-shadow d-flex flex-column mission  card border-0 w-100 position-relative my-3 p-3"
    *ngIf="isWithAdvancedSearch">

    <div class="d-flex flex-column">
        <span class="text-uppercase text-muted small  opacity-50">Vision</span>
        <span class="text-bold">{{mission}}</span>

    </div>
    <div class="d-flex flex-column mt-2">

        <span class="text-uppercase text-muted small  opacity-50">Organization</span>
        <a routerLink="/teams/{{team?.team_id}}/{{team?.getSlug()}}/people">{{team.name}}</a>
        <span *ngIf="!team?.isPaying && !team.isExample" class="small text-green">{{team?.getRemainingTrialDays()}}
            days left on your
            free trial.
            <a class="text-bold" routerLink="/teams/{{team?.team_id}}/{{team?.getSlug()}}/billing">Subscribe
                now</a>
        </span>
    </div>
</div>