<div class="d-flex flex-column">
    <div class="position-relative">
        <div>
            <ng-content></ng-content>

            <search #search [list]="flattenNodes" [selectedResult]="getSelectedResult()"
                (selectInitiative)="onSelectCircle($event)" (clear)="onClear()" (selectUser)="onSelectMember($event)">
                <button ngbTooltip="Menu" placement="top" container="body"
                    class="btn  border border-right-0 dropdown-toggle without-caret" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="dropdown-menu">
                    <span class="dropdown-header text-uppercase small text-muted">Editing</span>
                    <button (click)="onOpenBuildingPanel()" class="dropdown-item">Edit map</button>
                    <button (click)="onOpenTagsPanel()" class="dropdown-item">Edit tags</button>

                    <div class="dropdown-divider"></div>

                    <span class="dropdown-header text-uppercase small text-muted">Views</span>
                    <a routerLink="./circles" class="dropdown-item">Circles</a>
                    <a routerLink="./tree" class="dropdown-item">Tree</a>
                    <a routerLink="./network" class="dropdown-item">Network</a>

                    <div class="dropdown-divider"></div>

                    <span class="dropdown-header text-uppercase small text-muted">Share</span>
                    <button class="dropdown-item">Share on Slack</button>
                    <button class="dropdown-item">Print</button>

                </div>
            </search>
        </div>
        <div class="my-1" *ngIf="isWithAdvancedSearch">
            <div data-toggle="collapse" class="cursor-pointer  small text-muted" href="#controls-box" role="button"
                aria-expanded="false" aria-controls="controls-box">

                <span class="toggle-collapse mr-1">
                    <i class="fa fa-caret-right"></i>
                </span>
                Refine
            </div>


            <div class="collapse" id="controls-box">
                <div *ngIf="false" class="search-terms my-3">
                    <div data-toggle="collapse" class="cursor-pointer text-uppercase small text-muted opacity-50"
                        href="#filterByUser" role="button" aria-expanded="true" aria-controls="filterByUser">

                        Filter by user
                    </div>
                    <div class="my-1 " id="filterByUser">
                        <div *ngIf="filteringUser" class="d-flex align-items-center">
                            <initiative-member-label [member]="filteringUser" [isLabel]="true">
                            </initiative-member-label>
                            <button class="btn btn-sm" (click)="onClearUserFilter()">
                                <i class="fa fa-times text-muted"></i>
                            </button>
                        </div>
                        <div *ngIf="!filteringUser">
                            <div class="dropdown">
                                <button class="pl-0 btn  btn-link  dropdown-toggle" id="usersListDropdown"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select a person
                                </button>
                                <div class="dropdown-menu overflow-y" style="max-height:12rem"
                                    aria-labelledby="usersListDropdown">
                                    <h6 class="dropdown-header">My circles</h6>
                                    <initiative-member-label class="dropdown-item" (click)="onSelectMember(user)"
                                        [member]="user"></initiative-member-label>
                                    <h6 class="dropdown-header">Other people</h6>
                                    <ng-container *ngFor="let member of members">
                                        <initiative-member-label class="dropdown-item" (click)="onSelectMember(member)"
                                            [member]="member"></initiative-member-label>
                                    </ng-container>
                                </div>
                            </div>

                        </div>

                    </div>




                </div>
                <div class="my-3">
                    <div data-toggle="collapse" class="cursor-pointer text-uppercase small text-muted  opacity-50"
                        href="#filterByTags" role="button" aria-expanded="true" aria-controls="filterByTags">

                        <!-- <span class="toggle-collapse mr-1">
                                    <i class="fa fa-caret-right"></i>
                                </span> -->
                        Filter by tags
                    </div>
                    <div class="d-flex flex-wrap" id="filterByTags">
                        <div *ngFor="let tag of tags" class="my-1 ">


                            <initiative-single-tag [tag]="tag">
                                <input class="mr-1" type="checkbox" name="" id="" [value]="tag.isSelected"
                                    [checked]="tag.isSelected"
                                    (change)="$event.target.checked ? tag.isSelected = true : tag.isSelected = false; onSelectTag(tags)">

                            </initiative-single-tag>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="d-flex flex-column mission text-bold mt-3" *ngIf="isWithAdvancedSearch">
            <span class="text-uppercase text-muted small  opacity-50">Vision</span>
            <span class="">{{mission}}</span>
        </div>


        <div class="card border-0 bg-light  mt-5" *ngIf="false">
            <div class="card-body">
                <!-- <div class="h5 card-title">
                    Edit map
                </div> -->
                <div class="card-text">
                    <div class="d-flex flex-column my-3 align-items-start">
                        <span class="text-uppercase text-muted small my-1 opacity-50">Move, create and delete
                            circles</span>
                        <button class="btn btn-success" (click)="onOpenBuildingPanel()">Edit map</button>
                    </div>

                    <div class="d-flex flex-column my-3 align-items-start">
                        <span class="text-uppercase text-muted my-1 small opacity-50">Divide circles in
                            categories</span>
                        <button class="btn btn-outline-secondary" (click)="onOpenTagsPanel()">Edit tags</button>

                    </div>
                </div>

            </div>

        </div>


    </div>
</div>