<div class="d-md-none small w-100 text-center  text-muted">
    Map editing is disabled on mobile.
</div>

<div class="row h-100">

    <div class="col-12 position-relative h-100">

        <div class=" position-relative w-100 h-100 rounded border"
            [class.overflow-hidden]="team?.isExample && isBuildingVisible">

            <button
                class="z-index-1 box-shadow-right close-panel-button position-absolute btn btn-light rounded-0 rounded-right p-0 m-0 py-3 px-2"
                *ngIf="isFullSidebar" [class.stick-left]="isSidebarClosed" (click)="isSidebarClosed=!isSidebarClosed"
                [ngbTooltip]="isSidebarClosed ? 'Expand side panel' : 'Collapse side panel'" placement="right"
                container="body">
                <span aria-hidden="true" class="text-muted">
                    <i class="fas " [class.fa-caret-right]="isSidebarClosed"
                        [class.fa-caret-left]="!isSidebarClosed"></i>
                </span>
            </button>


            <div id="side-navigation" [ngClass]="{
                    ' bg-white  box-shadow-right  ':isFullSidebar,
                'bg-transparent ':!isFullSidebar,
            'hide':isSidebarClosed}"
                class="z-index-1 h-100 overflow-y border-0 border-right rounded-0 rounded-left position-absolute card  d-md-flex flex-md-column  justify-content-start">
                <div class="w-100 overflow-hidden d-flex flex-column h-100" [class.bg-white]="isFullSidebar">

                    <div class="p-3" [ngClass]="{
                        'bg-white   ':isFullSidebar,
                        'bg-accent':!(isBuildingPanelCollapsed && isTagsPanelCollapsed),
                        'bg-transparent ':!isFullSidebar  ,
                        'h-100' : !isOnePanelOpened()
                       }">
                        <sidebar [dataset]="dataset" [team]="team" [members]="members" [user]="user"
                            [isWithAdvancedSearch]="!isOnePanelOpened() || !isFullSidebar"
                            [isWithAdvancedSearch]="!isFullSidebar"
                            [isWithSearch]="isBuildingPanelCollapsed && isTagsPanelCollapsed"
                            [panelTitle]="visiblePanelName" (openMemberSummary)="onOpenUserSummary($event)"
                            (selectMembers)="onSelectMembers($event)" (selectInitiative)="onSelectInitiative($event)"
                            (selectTags)="onSelectTags($event)" (toggleFullHeight)="isFullSidebar=true"
                            (openBuildingPanel)="openBuildingPanel()" (openTagsPanel)="openTagsPanel()"
                            (openSlackShare)="onOpenSlackShare()" (editTags)="openTagsPanel()"
                            (closeAllPanels)="closeAllPanels()" (changeColor)="onChangeColor($event)">
                            <div>
                                <span class="small text-orange" *ngIf="isNoSearchResults">
                                    Maptio cannot find a circle matching this search.</span>
                            </div>

                        </sidebar>
                    </div>



                    <div class="overflow-y">
                        <div class="w-100" [ngClass]="{'z-index-0':!isFullSidebar}">
                            <div [class.hide]="isDetailsPanelCollapsed && isBuildingPanelCollapsed && isTagsPanelCollapsed"
                                [class.show]="!isDetailsPanelCollapsed || !isBuildingPanelCollapsed || !isTagsPanelCollapsed"
                                class="collapsible d-none d-md-flex flex-column overflow-y-hidden overflow-x-hidden ">

                                <div class="d-flex mh-100  overflow-y overflow-x-hidden">
                                    <div class="w-100 h-100 position-relative">

                                        <div class="slideable " [class.hide]="isBuildingPanelCollapsed"
                                            [ngClass]="{'show ':!isBuildingPanelCollapsed}">

                                            <building #building [user]="user" [isEmptyMap]="isEmptyMap"
                                                (save)="saveChanges($event)" (forceEdit)="isEditMode=true"
                                                (openDetails)="onSelectInitiative($event);isBackToBuildingVisible=true">
                                            </building>

                                        </div>

                                        <div class="slideable  " [class.hide]="isDetailsPanelCollapsed"
                                            [ngClass]="{'show ':!isDetailsPanelCollapsed}">
                                            <div class="w-100 d-flex flex-column">

                                                <span *ngIf="openedNode"
                                                    class="font-weight-bold h5 mb-0 p-3">{{openedNode?.name}}</span>


                                                <initiative *ngIf="openedNode" #initiative [dataset]="dataset"
                                                    [node]="openedNode" [user]="user" [team]="team"
                                                    (edited)="saveDetailChanges($event)"
                                                    (selectMember)="onSelectMembers([$event])" [isEditMode]="isEditMode"
                                                    (editTags)="onEditTags()">

                                                    <div *ngIf="!isDetailsPanelCollapsed && openedNode"
                                                        class="bg-transparent border border-left-0 border-right-0 px-3 py-4">
                                                        <button *ngIf="isBackToBuildingVisible"
                                                            class="btn btn-link btn-sm pl-0"
                                                            (click)="openBuildingPanel()">
                                                            <i class="fas fa-caret-left  mx-1"></i>
                                                            Back
                                                        </button>
                                                        <div class="d-flex justify-content-start">
                                                            <button (click)="addInitiativeTo(openedNode)"
                                                                class="btn btn-outline-secondary btn-sm mr-2">
                                                                <i class="fas fa-plus  mx-1"></i>
                                                                Add sub-circle
                                                            </button>
                                                                class="btn btn-outline-secondary btn-sm mr-2">
                                                                <span *ngIf="isEditMode"><i
                                                                        class="fas fa-save mx-1"></i>Save</span>
                                                                <span *ngIf="!isEditMode"><i
                                                                        class="fas fa-pen mx-1"></i>Edit circle</span>
                                                            </button>

                                                            <button
                                                                *permissionsOnly="Permissions.canDeleteInitiative; initiative openedNode;"
                                                                class="btn btn-danger btn-sm ml-auto" placement="top"
                                                                container="body" mwlConfirmationPopover
                                                                [popoverMessage]="'Remove circle and sub-circles ?'"
                                                                focusbutton="cancel" appendToBody="false"
                                                                (confirm)="removeInitiative(openedNode);"
                                                                (cancel)="cancelClicked = true">
                                                                <i class="fas fa-trash  mx-1">
                                                                </i>Delete
                                                            </button>
                                                        </div>


                                                    </div>

                                                </initiative>
                                                <summary-personal *ngIf="openedUser" [member]="openedUser"
                                                    [initiative]="dataset.initiative" [team]="team" [dataset]="dataset"
                                                    (selectMember)="onSelectMembers([$event])"
                                                    (selectInitiative)="onSelectInitiative($event)">
                                                </summary-personal>
                                            </div>

                                        </div>
                                        <div class="slideable" [class.hide]="isTagsPanelCollapsed"
                                            [ngClass]="{'show ':!isTagsPanelCollapsed}">

                                            <edit-tags [tags]="tags" [team]="team" (edit)="onEditingTags($event)">
                                            </edit-tags>

                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>

            </div>


            <div class="h-100 flex-shrink-0 w-100 position-relative" id="main">
                <div class="h-100 ">
                    <ng-container *ngIf="isLoading">
                        <div style="font-size: 4rem"
                            class="d-flex justify-content-center align-items-center h-100 text-accent">
                            <i class="fas fa-circle-notch fa-spin fa-pulse"></i>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!isLoading">
                        <mapping [isEmptyMap]="isEmptyMap" [selectableTags$]="selectableTags$"
                            [selectableUsers$]="selectableUsers$" [mapColor$]="mapColor$"
                            [zoomInitiative$]="zoomInitiative$"
                            (openDetails)="onOpenDetails($event);isBackToBuildingVisible=false"
                            (openUserSummary)="onOpenUserSummary($event)"
                            (addInitiative)="addInitiative($event);isEditMode=true"
                            (removeInitiative)="removeInitiative($event)" (openTreePanel)="openBuildingPanel()"
                            (expandTree)="buildingComponent.toggleAll(true)" (hideAllPanels)="closeAllPanels()"
                            (noSearchResults)="onNoSearchResults()"
                            (toggleEditingPanelsVisibility)="toggleEditingPanelsVisibility($event)">
                        </mapping>
                    </ng-container>
                </div>
            </div>
        </div>

    </div>
</div>