<div [class.invisible]="!isBuildingVisible || isLoading" class="text-muted my-1 saving text-center  small w-100">
    <i class="fas fa-save mr-1" aria-hidden="true"></i>
    <span *ngIf="isSaving">Saving...</span>
    <span *ngIf="!isSaving">All changes saved</span>
</div>

<div class="row" style="height: calc(100% - 23px) ">

    <div class="col-12 position-relative h-100">

        <div class=" position-relative d-flex justify-content-start h-99 rounded"
            [class.overflow-hidden]="team?.isExample && isBuildingVisible" [class.box-shadow]="true">

            <div id="toggle" [class.invisible]="!isBuildingVisible" [class.d-flex]="true"
                class="h-100 rounded-left py-3 flex-shrink-0  bg-accent flex-column justify-content-start align-items-center cursor-pointer collapsible "
                [class.hide]="!isBuildingPanelCollapsed" [class.show]="isBuildingPanelCollapsed"
                 (click)="openBuildingPanel()">
                <span class="h2" *ngIf="isBuildingPanelCollapsed">
                    <i class="fa fa-angle-right text-white" aria-hidden="true"></i>

                </span>
            </div>
            <div id="hierarchy" [class.d-none]="!isBuildingVisible" [class.hide]="isBuildingPanelCollapsed"
                [class.show]="!isBuildingPanelCollapsed" class="collapsible sidenav h-100 justify-content-start">
                <div id="sidenav-hierarchy" class="hierarchy w-100 h-100 card border-light border-right bg-white"
                    [class.d-none]="isBuildingPanelCollapsed" [class.d-block]="!isBuildingPanelCollapsed">
                    <div class="card border-0 bg-transparent h-100">
                        <button class="position-absolute top-right btn bg-transparent"
                            [class.invisible]="isBuildingPanelCollapsed" (click)="closeBuildingPanel()">
                            <span aria-hidden="true" class="text-muted">
                                <i class="fas fa-times"></i>
                            </span>
                        </button>
                        <div class="card-body h-100" [class.show]="!isBuildingPanelCollapsed"
                            [class.hide]="isBuildingPanelCollapsed">
                            <building #building [user]="user" [isEmptyMap]="isEmptyMap" (save)="saveChanges($event)"
                                (openDetails)="onOpenDetailsToEdit($event)"></building>

                        </div>
                    </div>

                </div>
            </div>
            <div id="details" [class.d-none]="!isBuildingVisible" [class.hide]="isDetailsPanelCollapsed"
                [class.show]="!isDetailsPanelCollapsed" [class.border-right]="!isDetailsPanelCollapsed"
                class="collapsible bg-white  details h-100 justify-content-start overflow-y">
                <div id="sidenav-details" class="h-100 w-100" [class.d-none]="isDetailsPanelCollapsed"
                    [class.d-block]="!isDetailsPanelCollapsed">
                    <div class="card border-0 bg-transparent">
                        <button class="position-absolute top-right btn bg-transparent"
                            [class.invisible]="isDetailsPanelCollapsed" (click)="closeDetailsPanel()">
                            <span aria-hidden="true" class="text-muted">
                                <i class="fas fa-times"></i>
                            </span>
                        </button>
                        <!-- <button class="position-absolute top-left btn btn-link ml-2" (click)="toggleEditMode()">
                            {{isEditMode ? "View" : "Edit"}}
                        </button> -->

                        <div class="card-body p-3" [class.show]="!isDetailsPanelCollapsed"
                            [class.hide]="isDetailsPanelCollapsed">

                            <initiative *ngIf="!isDetailsPanelCollapsed" #initiative [dataset]="dataset"
                                [node]="openedNode" [team]="team" (edited)="saveDetailChanges()"
                                [isEditMode]="isEditMode" (editTags)="onEditTags()"></initiative>
                        </div>
                    </div>
                </div>


            </div>


            <div class="h-100 flex-shrink-1 w-100" id="main">
                <div class="h-100 ">
                    <ng-container *ngIf="isLoading">
                        <div class="d-flex justify-content-center align-items-center h-100 ">
                            <div class="pulse">
                                <h1>
                                    <span class="text-accent ">Great news!</span> Your circles are here.
                                </h1>
                                <h4 class="text-muted ">We just need a sec to stick them back together </h4>
                            </div>

                        </div>
                    </ng-container>
                    <ng-container *ngIf="!isLoading">
                        <!-- <div class="bg-danger h-100"></div>  -->
                        <mapping [tags]="selectableTags" [isEmptyMap]="isEmptyMap"
                            (viewDetails)="onOpenDetailsToView($event)" (editDetails)="onOpenDetailsToEdit($event)"
                            (addInitiative)="addInitiative($event)" (removeInitiative)="removeInitiative($event)"
                            (openTreePanel)="openBuildingPanel()"
                            (expandTree)="buildingComponent.toggleAll(true)"
                            (toggleEditingPanelsVisibility)="toggleEditingPanelsVisibility($event)">
                        </mapping>
                    </ng-container>
                </div>
            </div>

        </div>
    </div>
</div>