<div
  class="card border-0"
  *ngIf="{ isAuthenticated: userService.isAuthenticated$ | async } as observables"
>
  <div class="card-body border-0 bg-white text-center">
    <div class="card-title border-bottom h4 py-4">
      {{ name }}
    </div>

    <div *ngIf="price; else contactUsPrice" class="card-text d-flex flex-row">
      <span class="display-4">${{ price }} </span>
      <small class="ml-2 text-left align-middle align-self-center">per month,<br>per organization</small>
    </div>

    <ng-template #contactUsPrice>
      <a
        class="d-md-block mt-3 mb-2"
        [class.invisible]="observables.isAuthenticated"
        style="margin-bottom: 11px !important"
        href="mailto:support@maptio.com"
      >
        Contact us
      </a>
    </ng-template>

    <div class="card-text text-muted">{{ text }}</div>

    <div class="card-text">
      <button
        maptioLoginRedirect
        [isSignup]="true"
        *ngIf="!observables.isAuthenticated"
        class="btn btn-success btn-lg my-3"
      >
        Sign up
      </button>

      <a
        *ngIf="observables.isAuthenticated && price"
        class="btn btn-success text-white btn-lg my-3"
        href="{{ billingLink }}"
      >
        Subscribe
      </a>

      <a
        *ngIf="observables.isAuthenticated && !price"
        class="btn btn-success text-white btn-lg my-3"
        href="mailto:support@maptio.com"
      >
        Contact us
      </a>
    </div>
  </div>
</div>
