<div
  class="card border-0"
  *ngIf="{
    isAuthenticated: userService.isAuthenticated$ | async
  } as observables"
>
  <div
    class="card-body d-flex flex-column align-items-center border-0 bg-white text-center"
  >
    <div class="card-title border-bottom h4 py-4 w-100">
      {{ name }}
    </div>

    <div *ngIf="price; else contactUsPrice" class="card-text d-flex flex-row">
      <span class="display-4">${{ price }}</span>
      <small class="ml-2 text-left align-middle align-self-center" i18n>
        per month,
        <br />
        per organization
      </small>
    </div>

    <ng-template #contactUsPrice>
      <a
        class="d-md-block mt-3 mb-2"
        [class.invisible]="observables.isAuthenticated"
        style="margin-bottom: 11px !important"
        href="mailto:support@maptio.com"
      >
        <ng-container i18n="@@contactUs">Contact us</ng-container>
      </a>
    </ng-template>

    <div class="card-text text-muted my-2">
      <b i18n="@@intendedFor">Intended for:</b>

      <br />
      <ng-content></ng-content>
      <br />
      <br />

      <ng-container i18n="@@14dayFreeTrialDiscountsAvailable">
        14 Day free trial
        <br />
        Discounts available
      </ng-container>
    </div>

    <div class="card-text">
      <button
        maptioLoginRedirect
        [isSignup]="true"
        *ngIf="!observables.isAuthenticated"
        class="btn btn-success btn-lg my-3"
      >
        <ng-container i18n="@@signUp">Sign up</ng-container>
      </button>

      <a
        *ngIf="observables.isAuthenticated && price"
        class="btn btn-success text-white btn-lg my-3"
        href="{{ billingLink }}"
      >
        <ng-container i18n="@@subscribe">Subscribe</ng-container>
      </a>

      <a
        *ngIf="observables.isAuthenticated && !price"
        class="btn btn-success text-white btn-lg my-3"
        href="mailto:support@maptio.com"
      >
        <ng-container i18n="@@contactUs">Contact us</ng-container>
      </a>
    </div>
  </div>
</div>
