<ng-template #features>
    <div>
        <b>Features</b>
    </div>
    <ul class="d-flex flex-column align-items-start p-3">
        <li>
            1 organisation
        </li>
        <li>
            Unlimited maps
        </li>
        <li>
            Circles, tree and network views
        </li>
        <li>
            Tagging
        </li>
        <li>
            Slack integration
        </li>
    </ul>
</ng-template>



<div class="d-flex justify-content-center align-items-center flex-column row">
  <div class="d-flex flex-column justify-content-center align-items-center col-12">
    <h1 class="w-100 d-none d-md-block  text-left text-md-center mb-md-0">Choose your plan</h1>
    <h3 class="w-100 d-block d-md-none text-left text-md-center mb-md-0">Choose your plan</h3>

    <div class="col-12 px-0 col-md-auto">
      <button
        *ngIf="!auth.allAuthenticated()"
        class="btn-block w-100 btn btn-success btn-md-lg my-4"
        routerLink="/signup"
      >
        Get started - try Maptio for free
      </button>
    </div>


    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
      <maptio-payment-plan
        [name]="'Tiny'"
        [price]="20"
        [text]="'1 - 12 people per organisation'"
        [billingLink]="BILLING_TINY_PLAN"
      >
      </maptio-payment-plan>

      <maptio-payment-plan
        [name]="'Small'"
        [price]="50"
        [text]="'13 - 35 people per organisation'"
        [billingLink]="BILLING_SMALL_PLAN"
      >
      </maptio-payment-plan>

      <maptio-payment-plan
        [name]="'Medium'"
        [price]="150"
        [text]="'36 - 100 people per organisation'"
        [billingLink]="BILLING_SMALL_PLAN"
      >
      </maptio-payment-plan>
    </div>

    <div class="d-flex justify-content-center align-items-stretch text-muted my-5">
      <a href="mailto:support@maptio.com?subject=Deal request">
        Struggling to afford this? Let's talk and work something out. Contact us.
      </a>
    </div>
  </div>
</div>
