<div class="d-flex justify-content-center align-items-center flex-column row">
  <div
    class="d-flex flex-column justify-content-center align-items-center col-12"
  >
    <br />

    <h1 i18n="@@pricing" class="text-bold">Pricing</h1>

    <br />

    <p class="h2 text-center" i18n="@@customersHaveDifferentAbilitiesToPay">
      Customers have very different abilities to pay,
      <br class="d-none d-md-block" />
      so we have an honor-based pricing model.
    </p>

    <br />
    <br />

    <p i18n="@@ourCauseIsToServe">
      Our cause is to serve as many other cause-driven initiatives as possible.
    </p>

    <p i18n="@@weTrustYouToPay">
      We trust you to pay the right amount for you.
    </p>

    <p i18n="@@pleaseHelpFundUs">
      Please help fund us to improve Maptio for everyone.
    </p>

    <br />
    <br />

    <p class="h3 text-center" i18n="@@youCanChooseYourOwnPrice">
      You can choose your own price level.
      <br class="d-none d-md-block" />
      All levels have full access to Maptio.
    </p>

    <br />
    <br />

    <!--
    <p class="text-center text-muted my-5" i18n>
      Pricing in US Dollars. All major credit cards accepted.
      <br />
      No minimum contract length.
    </p>
    -->

    <div
      class="d-flex flex-column flex-md-row justify-content-center align-items-stretch"
    >
      <maptio-payment-plan
        name="Strivers"
        i18n-name
        i18n="@@striversPlanDescription"
        [billingSchedule]="billingScheduleChoice"
        [prices]="{
          MONTHLY: BILLING_PLANS.STRIVERS_MONTHLY_COST
        }"
        [billingLinks]="{
          MONTHLY: BILLING_PLANS.STRIVERS_MONTHLY_URL
        }"
      >
        individuals,
        <br />
        tiny teams,
        <br />
        and the cash-poor
      </maptio-payment-plan>

      <maptio-payment-plan
        name="Pioneers"
        i18n-name
        i18n="@@pioneersPlanDescription"
        [billingSchedule]="billingScheduleChoice"
        [prices]="{
          MONTHLY: BILLING_PLANS.PIONEERS_MONTHLY_COST
        }"
        [billingLinks]="{
          MONTHLY: BILLING_PLANS.PIONEERS_MONTHLY_URL
        }"
      >
        small teams of 10-35 people
        <br />
        and non-profits
        <br />
      </maptio-payment-plan>

      <maptio-payment-plan
        name="Heroes"
        i18n-name
        i18n="@@heroesPlanDescription"
        [billingSchedule]="billingScheduleChoice"
        [prices]="{
          MONTHLY: BILLING_PLANS.HEROES_MONTHLY_COST
        }"
        [billingLinks]="{
          MONTHLY: BILLING_PLANS.HEROES_MONTHLY_URL
        }"
      >
        35 - 250 people in
        <br />
        commercial initiatives and
        <br />
        well-funded non-profits
      </maptio-payment-plan>
    </div>

    <br />
    <br />

    <h2 i18n="@@discounts">Discounts</h2>

    <p i18n="@@asACauseDrivenCompany">
      As a cause-driven company we don't want money to be a barrier for anyone.
    </p>

    <p i18n="@@youCanChooseYourIdealPrice">
      You can choose your ideal price point then take a discount you need to
      afford Maptio.
    </p>

    <p i18n="@@discountCodes20love40help">
      20% off: use code
      <b>love</b>
      <br />
      40% off: use code
      <b>help</b>
    </p>

    <p i18n="@@pleaseSupportTheDevelopmentOfMaptio">
      Please support the development of Maptio by only taking off what you
      really need.
    </p>

    <p>❤️</p>

    <div class="col-12 px-0 col-md-auto">
      <button
        maptioLoginRedirect
        [isSignup]="true"
        *ngIf="(userService.isAuthenticated$ | async) === false"
        class="btn-block w-100 btn btn-success btn-md-lg my-4"
        i18n="@@tryMaptioForFree"
      >
        Try Maptio for free
      </button>
    </div>

    <br />
    <br />
  </div>
</div>
