<div class="d-flex justify-content-center align-items-center flex-column row">
  <div class="d-flex flex-column justify-content-center align-items-center col-12">
    <h1 class="w-100 d-none d-md-block  text-left text-md-center mb-md-0">Choose your plan</h1>
    <h3 class="w-100 d-block d-md-none text-left text-md-center mb-md-0">Choose your plan</h3>

    <div class="col-12 px-0 col-md-auto">
      <button
        maptioLoginRedirect
        [isSignup]="true"
        *ngIf="(userService.isAuthenticated$ | async) === false"
        class="btn-block w-100 btn btn-success btn-md-lg my-4"
      >
        Get started - try Maptio for free
      </button>
    </div>

    <p class="text-center text-muted my-5">
      Pricing in US Dollars. All major credit cards accepted.<br>
      No minimum contract length.
    </p>

    <div
      ngbRadioGroup
      [(ngModel)]="billingScheduleChoice"
      class="btn-group btn-group-toggle mb-3"
      name="radioBasic"
    >
      <label
        ngbButtonLabel
        [class]="
          billingScheduleChoice === BillingSchedule.ANNUAL ?
          'btn-success' : 'btn-light'
        "
      >
        <input ngbButton type="radio" [value]="BillingSchedule.ANNUAL">
        Annual billing
      </label>

      <label
        ngbButtonLabel
        [class]="
          billingScheduleChoice === BillingSchedule.MONTHLY ?
          'btn-success' : 'btn-light'
        "
      >
        <input ngbButton type="radio" [value]="BillingSchedule.MONTHLY">
        Monthly billing
      </label>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-center align-items-stretch">
      <maptio-payment-plan
        [name]="'Starter'"
        [text]="'1 - 12 people'"
        [billingSchedule]="billingScheduleChoice"
        [prices]="{
          MONTHLY: BILLING_PLANS.STARTER_MONTHLY_COST,
          ANNUAL: BILLING_PLANS.STARTER_ANNUAL_COST
        }"
        [billingLinks]="{
          MONTHLY: BILLING_PLANS.STARTER_MONTHLY_URL,
          ANNUAL: BILLING_PLANS.STARTER_ANNUAL_URL
        }"
      >
      </maptio-payment-plan>

      <maptio-payment-plan
        [name]="'Small'"
        [text]="'13 - 35 people'"
        [billingSchedule]="billingScheduleChoice"
        [prices]="{
          MONTHLY: BILLING_PLANS.SMALL_MONTHLY_COST,
          ANNUAL: BILLING_PLANS.SMALL_ANNUAL_COST
        }"
        [billingLinks]="{
          MONTHLY: BILLING_PLANS.SMALL_MONTHLY_URL,
          ANNUAL: BILLING_PLANS.SMALL_ANNUAL_URL
        }"
      >
      </maptio-payment-plan>

      <maptio-payment-plan
        [name]="'Standard plan'"
        [text]="'36 - 200 people'"
        [billingSchedule]="billingScheduleChoice"
        [prices]="{
          MONTHLY: BILLING_PLANS.STANDARD_MONTHLY_COST,
          ANNUAL: BILLING_PLANS.STANDARD_ANNUAL_COST
        }"
        [billingLinks]="{
          MONTHLY: BILLING_PLANS.STANDARD_MONTHLY_URL,
          ANNUAL: BILLING_PLANS.STANDARD_ANNUAL_URL
        }"
      >
      </maptio-payment-plan>

      <maptio-payment-plan
        [name]="'Larger organizations'"
        [text]="'200+ people'"
      >
      </maptio-payment-plan>
    </div>

    <p class="text-center text-muted my-5">
      <!-- <div class="d-flex justify-content-center align-items-stretch text-muted my-5"> -->
      Struggling to afford this? Let's talk and work something out.
      <a href="mailto:support@maptio.com?subject=Deal request">
        Contact us.
      </a>
      <br>
      <br>
      Our mission is to serve the most cause-driven organizations on the planet.
      Discounts available for non-profits.
    </p>
  </div>
</div>
