<div class="d-flex rounded-right justify-content-center h-100 position-relative bg-white overflow-x-hidden"
  [class.overflow-y-hidden]="!isFullScreen" id="mapping-canvas">
  <div class="w-100">

    <div class="w-100 h-100">
      <div class="row  h-100 ">
        <div class="col-12 h-100 d-flex justify-content-between px-0">


          <div class="h-100 w-100 d-flex justify-content-end">
            <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
          </div>
          <div
            class="d-flex flex-column bg-transparent  align-items-center align-items-md-end col-12 col-md-auto z-index-1 m-3">

            <div class=" btn-group-vertical d-none d-md-flex box-shadow rounded">
              <button ngbTooltip="Zoom in" placement="left" container="body" class="btn bg-white   "
                [class.disabled]="isMapSettingsDisabled" (click)="zoomIn()">
                <i class="fa fa-plus"></i>
              </button>
              <button ngbTooltip="Zoom out" placement="left" container="body" class="btn bg-white "
                [class.disabled]="isMapSettingsDisabled" (click)="zoomOut()">
                <i class="fa fa-minus"></i>
              </button>
            </div>
            <div class=" box-shadow rounded btn-group-vertical my-3 d-none d-md-block" >
              <button ngbTooltip="Share" placement="left"
              container="body" class="btn bg-white "
                 (click)="openShare()">
                <i class="fas fa-share-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <context-menu [initiatives]="selectedInitiatives" [canDelete]="canDelete" [isReadOnly]="isReadOnlyContextMenu" [x]="selectedInitiativeX"
      [y]="selectedInitiativeY" (add)="emitAddInitiative($event)" (remove)="emitRemoveInitiative($event)"
      (edit)="emitOpenInitiative($event)" (openAccountable)="goToUserSummary($event)"></context-menu>

  </div>
</div>

<div *ngIf="isEmptyMap" class="instructions h2 d-none d-md-block">
  Click
  <button type="button" class="btn  btn-success" (click)="addFirstNode()">
    <i class="fa fa-plus"></i>
  </button> to create your first circle
</div>
<div *ngIf="isEmptyMap" class="px-4 d-flex flex-column position-absolute center-center d-md-none w-100 text-center">
  <b>Map editing is disable on mobile.</b>
  <span class="text-muted">Open Maptio on a desktop to start adding circles</span>
</div>