<ng-template #viewsButtonGroup>
  <button
    class="btn btn-light toolbar select-view circles text-dark p-1 d-flex flex-column justify-content-end align-items-center"
    #rlaCircles="routerLinkActive" [routerLinkActive]="['active']" routerLink="/map/{{datasetId}}/{{slug}}/circles">
    <span class="d-none d-md-block icon-text-label">Circles </span>
  </button>
  <button
    class="btn btn-light toolbar select-view tree text-dark p-1 d-flex flex-column justify-content-end align-items-center"
    routerLink="/map/{{datasetId}}/{{slug}}/tree" [routerLinkActive]="['active']">
    <span class="d-none d-md-block icon-text-label">Tree</span>
  </button>
  <button
    class="btn btn-light toolbar select-view network text-dark p-1 d-flex flex-column justify-content-end align-items-center"
    #rlaNetwork="routerLinkActive" [routerLinkActive]="['active']" routerLink="/map/{{datasetId}}/{{slug}}/network">
    <span class="d-none d-md-block icon-text-label">Network</span>
  </button>


</ng-template>




<div class="d-flex rounded-right justify-content-center h-100 position-relative bg-white overflow-x-hidden"
  [class.overflow-y-hidden]="!isFullScreen" id="mapping-canvas">
  <div class="w-100">

    <div class="w-100 h-100">
      <div class="row  h-100 ">
        <div class="col-12 h-100 d-flex justify-content-between px-0">


          <div class="h-100 w-100 d-flex justify-content-end" [class.m-4]="isFullScreen && rlaSummary.isActive">
            <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
          </div>
          <div
            class="d-flex flex-column bg-transparent position-absolute top-right  align-items-center align-items-md-end col-12 col-md-auto ml-md-0 pl-md-0 my-md-2 z-index-1"
            [class.mr-md-1]="!isFullScreen" [class.mr-md-2]="isFullScreen">
            <div class="btn-group-vertical mb-3 d-none d-md-block">
              <button
                class="btn btn-light toolbar p-1 text-dark d-flex flex-column justify-content-between align-items-center"
                [class.disabled]="isSearchDisabled || isMapSettingsDisabled" (click)="isSearchToggled=!isSearchToggled"
                data-toggle="collapse" href="#collapseSearch" role="button">
                <i class="fa fa-search"></i>
                <span class="icon-text-label">Search</span>
              </button>
              <button
                class="btn btn-light toolbar p-1 text-dark d-flex flex-column justify-content-between align-items-center"
                [class.disabled]="isSearchDisabled || isMapSettingsDisabled"
                (click)="isFiltersToggled=!isFiltersToggled" data-toggle="collapse" href="#collapseFilter"
                role="button">
                <i class="fa fa-filter"></i>
                <span class="icon-text-label">Filter</span>
              </button>
              <button
                class="btn btn-light toolbar p-1 text-dark d-flex flex-column justify-content-between align-items-center"
                [class.disabled]="isMapSettingsDisabled" (click)="isSharingToggled=!isSharingToggled"
                data-toggle="collapse" href="#collapseSlack" role="button">
                <i class="fab fa-slack"></i>
                <span class="icon-text-label">Share</span>
              </button>

            </div>

            <div class="d-none d-md-block btn-group-vertical my-3">
              <ng-container *ngTemplateOutlet="viewsButtonGroup"></ng-container>
              <button
                class="d-flex btn btn-light toolbar select-view summary-list text-dark p-1 btn-control flex-column justify-content-end align-items-center"
                #rlaSummary="routerLinkActive" [routerLinkActive]="['active']"
                routerLink="/map/{{datasetId}}/{{slug}}/directory">
                <span class="d-none d-md-block icon-text-label">Directory</span>
              </button>
            </div>
            <div class="d-md-none btn-group col-9 my-2">
              <ng-container *ngTemplateOutlet="viewsButtonGroup"></ng-container>
            </div>

            <div class=" btn-group-vertical my-3 d-none d-md-block">
              <button
                class="btn btn-light toolbar text-dark p-1 d-flex flex-column justify-content-between align-items-center"
                [class.disabled]="isMapSettingsDisabled" (click)="zoomOut()">
                <i class="fa fa-minus py-1"></i>
                <span class="icon-text-label">Zoom out</span>
              </button>
              <button
                class="btn btn-light toolbar text-dark p-1 d-flex flex-column justify-content-between align-items-center"
                [class.disabled]="isMapSettingsDisabled" (click)="zoomIn()">
                <i class="fa fa-plus py-1"></i>
                <span class="icon-text-label">Zoom in</span>
              </button>
              <button
                class="btn btn-light toolbar text-dark p-1 d-flex flex-column justify-content-between  align-items-center"
                [class.disabled]="isMapSettingsDisabled" (click)="resetZoom()">
                <i class="fa fa-expand-arrows-alt py-1"></i>
                <span class="icon-text-label">Zoom fit</span>
              </button>
              <button *ngIf="false"
                class="btn btn-light toolbar text-dark p-1 d-flex flex-column justify-content-between align-items-center"
                (click)="fullScreen()">
                <i class="fas  py-1" [class.fa-expand]="!isFullScreen" [class.fa-compress]="isFullScreen"
                  aria-hidden="true"></i>
                <span class="icon-text-label">{{isFullScreen ? 'Normal screen' : 'Fullscreen'}}</span>
              </button>
            </div>
            <div class=" btn-group-vertical my-3 d-none d-md-block">
              <button
                class="btn btn-light toolbar text-dark p-1 d-flex flex-column justify-content-between align-items-center"
                [class.disabled]="isMapSettingsDisabled" (click)="isSettingToggled=!isSettingToggled"
                data-toggle="collapse" href="#collapseSettings" role="button">
                <i class="fas fa-palette"></i>
                <span class="icon-text-label">Colors</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="summary-tooltip col-4 position-absolute top-left ml-3 z-index-2 mh-100 overflow-y" [style.max-height.px]="VIEWPORT_HEIGHT" *ngIf="hoveredInitiatives">
      <tooltip *ngFor="let hoveredInitiative of hoveredInitiatives" [initiative]="hoveredInitiative" [isNameOnly]="isNameOnly"
        [team]="team"></tooltip>
    </div> -->
    <context-menu [initiatives]="selectedInitiatives" [isReadOnly]="isReadOnlyContextMenu" [x]="selectedInitiativeX"
      [y]="selectedInitiativeY" (add)="emitAddInitiative($event)" (remove)="emitRemoveInitiative($event)"
      (edit)="emitOpenInitiative($event)" (openAccountable)="goToUserSummary($event)"></context-menu>

  </div>

  <div id="collapsible-options"
    class="d-flex flex-column justify-content-start align-items-end position-absolute pr-3 mx-5 my-2 windows z-index-1">
    <div closable id="collapseSearch" class="collapse rounded bg-light p-3 mb-3 col-12"
      [class.d-none]="isSearchDisabled">
      <search #search [list]="flattenInitiative" (selectInitiative)="zoomToInitiative($event)"
        (selectUser)="goToUserSummary($event)"></search>
    </div>
    <div closable id="collapseFilter" class="collapse rounded mb-3 col-12 bg-light p-3">
      <button *ngFor="let member of members" (click)="broadcastUsersSelection(member)">{{member.name}}</button>
     
      <button (click)="resetBroadcastUsersSelection()">Reset users search</button>
      <filter-tags [team]="team" [tags]="tags" (changeTagsSelection)="broadcastTagsSelection($event)"></filter-tags>
    </div>
    <div closable id="collapseSlack" class="collapse rounded mb-3 col-12 bg-light p-3">
      <slack-share [slack]="team?.slack" [team]="team" [isPrinting]="isPrinting" [hasNotified]="hasNotified"
        [hasConfigurationError]="hasConfigurationError" (shareMap)="sendSlackNotification($event)"></slack-share>
    </div>
    <div closable class="collapse rounded col-auto bg-light p-4" id="collapseSettings">
      <div class="card bg-transparent border-0">
        <div class="card-body">
          <common-color-picker [color]="settings.mapColor" [label]="'Map'" [default]="DEFAULT_MAP_COLOR"
            (change)="changeMapColor($event)"></common-color-picker>
        </div>

      </div>

    </div>
  </div>
</div>
<div *ngIf="isEmptyMap" class="instructions h2 d-none d-md-block">
  Click
  <button type="button" class="btn  btn-success" (click)="addFirstNode()">
    <i class="fa fa-plus"></i>
  </button> to create your first circle
</div>
<div *ngIf="isEmptyMap" class="px-4 d-flex flex-column position-absolute center-center d-md-none w-100 text-center">
    <b>Map editing is disable on mobile.</b> 
    <span class="text-muted">Open Maptio on a desktop to start adding circles</span>
  </div>