<div class="mt-3">

    <h2 class="ml-3">Reset your Maptio password</h2>
    <br>
    <div class="alert alert-success" role="alert" *ngIf="feedbackMessage">
        {{feedbackMessage}}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="isActivationPending">
        {{user.name}} ? Looks like you're haven't confirmed your email yet! Check your inbox or <button (click)="resendEmail()" class="btn btn-secondary">resend a confirmation email <i *ngIf="isResending" class="text-muted fa fa-circle-o-notch fa-spin fa-fw ml-3 "></i></button>
    </div>

    <form class="form-group col-lg-4" [formGroup]="changePasswordForm" (submit)="resetPassword()">
        <div class="form-group" [class.has-warning]="changePasswordForm.controls['email'].invalid  && (changePasswordForm.controls['email'].dirty || changePasswordForm.controls['email'].touched)">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control form-control-warning form-control-lg" formControlName="email" placeholder="e.g. jason.bourne@cia.gov" email>
            <small class="form-control-feedback" *ngIf="changePasswordForm.controls['email'].invalid  && (changePasswordForm.controls['email'].dirty || changePasswordForm.controls['email'].touched)">
                        This is not an email!
            </small>
        </div>
        <button type="submit" class="btn btn-success btn-lg" [class.disabled]="!changePasswordForm.valid">Reset password</button>
    </form>

</div>