<div class="d-flex  align-items-center flex-column h-75" [class.justify-content-start]="!isLoggingIn" [class.justify-content-center]="isLoggingIn">
    <div class="col-4">
        <div *ngIf="isLoggingIn">
            <h1 class="text-center">Log in to Maptio</h1>
            <div>
                <div class="alert alert-danger" role="alert" *ngIf="loginErrorMessage">
                    {{loginErrorMessage}}
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="previousAttemptMessage">
                    {{previousAttemptMessage}}
                </div>

            </div>

            <form class="form-group" [formGroup]="loginForm" (submit)="login()">

                <div class="form-group" [class.has-warning]="loginForm.controls['email'].invalid  && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                    <label for="inputEmailLogin">Email</label>
                    <input type="email" id="inputEmailLogin" formControlName="email" class="form-control form-control-warning form-control-lg"
                        placeholder="e.g. rick.sanchez@cartoonnetwork.com" required email>
                    <small class="form-control-feedback" *ngIf="loginForm.controls['email'].invalid  && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                        An email is required e.g. rick.sanchez@cartoonnetwork.com
                    </small>
                </div>
                <div class="form-group" [class.has-warning]="loginForm.controls['password'].invalid  && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control form-control-warning form-control-lg" formControlName="password" placeholder="e.g. ••••••••"
                        id="inputPassword" (input)="passwordChange()">
                    <small class="form-control-feedback" *ngIf="loginForm.controls['password'].invalid  && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                        Required
                    </small>
                </div>
                <button type="submit" class="btn btn-success btn-lg w-100" [class.disabled]="!loginForm.valid">Log in</button>

            </form>
            <p>
                <a class="mt-2 text-muted" routerLink="/signup"> Don't have an account? Sign up</a>
            </p>
            <p>
                <a class="mt-2 text-muted" routerLink="/forgot">Forgot your password? Reset it</a>
            </p>

        </div>
        <div *ngIf="!isLoggingIn">
            <h1 class="text-center">Create a password</h1>
            <!-- <h6 class="ml-3 text-warning">This is also the occasion to check your first and last name</h6> -->
            <div class="ml-3 mt-3">
                <div class="alert alert-danger " role="alert" *ngIf="loginErrorMessage">
                    {{loginErrorMessage}}
                </div>
                <div *ngIf="isUserAlreadyActive" class="alert alert-danger" role="alert">
                    Your account is already active,
                    <a routerLink="/login">log in</a>
                </div>

                <div *ngIf="activationStatusCannotBeUpdated" class="alert alert-danger" role="alert">
                    We cannot activate your account. Please email us at support@maptio.com and we'll help you out.
                </div>
            </div>


            <form class="form-group" [formGroup]="activateForm" (submit)="activateAccount()">
                <div class="form-group">
                    <label for="inputEmailActivate">Email</label>
                    <input type="email" id="inputEmailActivate" value="{{email}}" class="form-control form-control-warning form-control-lg" disabled>

                </div>
                <div class="form-group" [class.has-warning]="activateForm.controls['firstname'].invalid  && (activateForm.controls['firstname'].dirty || activateForm.controls['firstname'].touched)">
                    <label for="inputFirstname">First name</label>
                    <input type="text" id="inputFirstname" [(ngModel)]="firstname" formControlName="firstname" class="form-control form-control-warning form-control-lg"
                        placeholder="e.g. Tina" required minlength="2">
                    <small class="form-control-feedback" *ngIf="activateForm.controls['firstname'].invalid  && (activateForm.controls['firstname'].dirty || activateForm.controls['firstname'].touched)">
                        First name must be at least 2 characters
                    </small>
                </div>

                <div class="form-group" [class.has-warning]="activateForm.controls['lastname'].invalid  && (activateForm.controls['lastname'].dirty || activateForm.controls['lastname'].touched)">
                    <label for="inputLastname">Last name</label>
                    <input type="text" id="inputLastname" [(ngModel)]="lastname" class="form-control form-control-warning form-control-lg" formControlName="lastname"
                        placeholder="e.g. Belcher">
                    <small class="form-control-feedback" *ngIf="activateForm.controls['lastname'].invalid  && (activateForm.controls['lastname'].dirty || activateForm.controls['lastname'].touched)">
                        Last name must be at least 2 characters
                    </small>
                </div>
                <div class="form-group" [class.has-warning]="activateForm.controls['password'].invalid  && (activateForm.controls['password'].dirty || activateForm.controls['password'].touched)">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control form-control-warning form-control-lg" formControlName="password" placeholder="e.g. ••••••••"
                        (input)="passwordChange()">
                    <small class="form-control-feedback" *ngIf="activateForm.controls['password'].invalid  && (activateForm.controls['password'].dirty || activateForm.controls['password'].touched)">
                        Required
                    </small>
                    <small class="form-text " [class.text-muted]="!isPasswordTooWeak" [class.text-danger]="isPasswordTooWeak">
                        Password must :
                        <ul>
                            <li>
                                be at least 8 characters in length
                            </li>
                            <li>
                                include at least 1 lowercase letter
                            </li>
                            <li>
                                include 1 uppercase letter
                            </li>
                            <li>
                                include 1 number
                            </li>
                        </ul>
                    </small>
                </div>
                <div class="form-check" [class.has-warning]="activateForm.controls['isTermsAccepted'].invalid  && (activateForm.controls['isTermsAccepted'].dirty || activateForm.controls['isTermsAccepted'].touched)">
                    <label class="form-check-label">
                        <input type="checkbox" id="inputTC" formControlName="isTermsAccepted" class="form-check-input"> I agree to Maptio's
                        <a href="{{TOS_URL}}">Terms of Service</a> and
                        <a href="{{PRIVACY_URL}}">Privacy Policy</a> .

                    </label>
                </div>
                <button type="submit" class="btn btn-success btn-lg my-2 w-100" [class.disabled]="!activateForm.valid">Log in</button>

            </form>

            <div class="text-muted small">Not your account?
                <a routerLink="/login">Log in</a> or
                <a routerLink="/signup">Create an account</a>
            </div>


        </div>
    </div>
</div>