<div class="jumbotron jumbotron-fluid h-100 bg-white">
    <div class="container">
        <h1 class="display-4 d-flex justify-content-center text-success">A big thank you from the Maptio team!</h1>
        <h3 class="display-4 d-flex justify-content-around">
            <i class="fa fa-chain-broken text-muted" aria-hidden="true"></i>
        </h3>
        <p class="lead d-flex justify-content-center">
            You are now logged out.
        </p>

        <div class="d-flex  justify-content-center">
            <div class="card-deck col-4 mb-4" >
                <a class="card bg-success border-success no-underline box-shadow" 
                href="https://docs.google.com/forms/d/e/1FAIpQLSfri4IHNeSC5cWUjrh9Q6UwyjMqu6536YUVqo_061rlTRHPTg/viewform?usp=sf_link"
                target="blank">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center text-white">
                            <i class="fa fa-comments fa-3x" aria-hidden="true"></i>
                        </h5>
                        <div class="card-text">
                            <a class="text-white" >We want to make Maptio even better. Tell us what to work on next.</a>

                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="d-flex justify-content-around">
            <div class="card-deck">
                <div class="card border-white box-shadow">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">
                            <i class="fa fa-sign-in fa-3x" aria-hidden="true"></i>
                        </h5>
                        <div class="card-text">
                            <div class="d-flex flex-column justify-content-center">
                                <a routerLink="/login" class="text-success">Log back in</a>
                                <span>or</span>
                                <a routerLink="/home" class="text-success">go to homepage</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-white box-shadow">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center text-success">
                            <i class="fa fa-rss fa-3x" aria-hidden="true"></i>
                        </h5>
                        <div class="card-text">
                            Check out
                            <a href="https://medium.com/maptio/create-organisational-clarity-using-initiative-mapping-967069247380" target="blank" class="text-success">
                                the Maptio guide to initiative mapping</a>
                            <span>and</span>
                            <a href="https://medium.com/maptio" target="blank" class="text-success">
                                our blog</a>

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>