.search{
    /* padding-right: 7vw;
    background: #00000005; */
    font-weight: 400;
    /* width:30vw; */
    /* padding-left: 3vw; */
  }
  
  :host /deep/  .dropdown-item.active, .dropdown-item:active {
    /* color: #fff; */
    text-decoration: none;
    /* font-style: italic; */
    background-color: #2f81b78c !important;
  }

  :host /deep/ button.dropdown-item:nth-child(even) {
    background: #f8f9fa;
  }
  
  :host /deep/ .dropdown-menu {
    max-height: 65vh;
    overflow-y: auto;
    min-width: 100%;
    max-width: 100%;
    margin-left: 3vw;
  }