<ng-template #rt let-r="result" let-t="term">
    <div>
        <div>{{r.name}}</div>
        <small class="ml-3" *ngIf="r.accountable">
            <span *ngIf="r.accountable" class="text-muted">led by</span>
            <img [src]="r.accountable.picture" [alt]="r.accountable.name" width="16" height="16" class="rounded-circle mr-1">{{r.accountable.name}}
        </small>
        <small class="ml-3 d-flex w-100 flex-wrap" *ngIf="r.helpers.length>0">
            <span *ngIf="r.helpers.length>0" class="text-muted">with the help of</span>

            <span class="pl-1" *ngFor="let helper of r.helpers; let i=index">
                <img [src]="helper.picture" [alt]="helper.name" width="16" height="16" class="rounded-circle mr-1">{{helper.name}}
            </span>

        </small>
    </div>

</ng-template>

<div class="card bg-light border-light">
    <div class="card-body d-flex justify-content-start">

        <div class="input-group mr-2">
            <input #initiativeSearch [resultTemplate]="rt" type="text" id="initiativeSearch" class="form-control search" (selectItem)="select($event)"
                [ngbTypeahead]="searchInitiatives" [resultFormatter]="formatter" [inputFormatter]="formatter" editable="false"
                autofocus="autofocus" placement="bottom-right" placeholder="Search circles, people and description" />
            <div class="input-group-append" >
                <button ngbTooltip="Clear search" placement="top" container="body" class="btn btn-dark" (click)="initiativeSearch.value='';clearSearch()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
        </div>


    </div>
</div>