<ng-template #rt let-r="result" let-t="term">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <div class="">
                <ng-container *ngIf="r.type===SearchResultType.Initiative">
                    <div class="wrap">
                        <span>{{r.result.name}}</span>
                        <small class="" *ngIf="r.result.accountable">
                            <span *ngIf="r.result.accountable" class="">led by</span>
                            <img [src]="r.result.accountable.picture" [alt]="r.result.accountable.name" width="15" height="15" class="rounded-circle user mr-1">{{r.result.accountable.name}}
                        </small>
                        <small class="d-flex w-100 flex-wrap" *ngIf="r.result.helpers.length>0">
                            <span *ngIf="r.result.helpers.length>0" class="">with the help of</span>

                            <span class="pl-1" *ngFor="let helper of r.result.helpers; let i=index">
                                <img [src]="helper.picture" [alt]="helper.name" width="15" height="15" class="rounded-circle user mr-1">{{helper.name}}
                            </span>

                        </small>
                    </div>

                </ng-container>
                <ng-container *ngIf="r.type===SearchResultType.User">
                    <span>
                        <img [src]="r.result.picture" [alt]="r.result.name" width="30" height="30" class="rounded-circle user mr-1">{{r.result.name}}
                    </span>
                </ng-container>
            </div>
            <div class="col-2">
                <span class="text-muted small">
                    {{r.type===SearchResultType.Initiative ? "Circle" : "Person"}}
                </span>
            </div>
        </div>
    </div>
</ng-template>

<div class="card bg-transparent border-0">
    <div class="p-3 d-flex justify-content-start">

        <div class="w-100 d-flex justify-content-start">
            <input #initiativeSearch [resultTemplate]="rt" type="text" id="initiativeSearch" class="form-control" (selectItem)="select($event)"
                [ngbTypeahead]="search" [resultFormatter]="formatter" [inputFormatter]="formatter" editable="false" autofocus="autofocus"
                placement="bottom-right" placeholder="Search circles, people and description" />
            <div class="">
                <button class="btn btn-outline-secondary mx-1" (click)="initiativeSearch.value='';clearSearch()">Reset
                </button>
            </div>
        </div>


    </div>
</div>