<ng-template #adminTipContent>
  <span class="text-orange">
    You don't have permission to do this.
    <a href="{{ KB_URL_PERMISSIONS }}" target="blank">Learn more.</a>
  </span>
</ng-template>

<div class="py-2" [class.bg-light]="isEditToggled">
  <div
    class="d-flex flex-column flex-md-row align-items-md-center"
    [class.font-weight-bold]="isEditToggled"
  >
    <div
      *permissionsOnly="Permissions.canEditUser"
      class="d-none d-md-flex align-items-center col-1 px-0 justify-content-between"
    >
      <button
        class="btn bg-transparent"
        (click)="isEditToggled = !isEditToggled"
      >
        <i
          [class.fa-caret-right]="!isEditToggled"
          [class.fa-caret-down]="isEditToggled"
          class="fas"
        ></i>
      </button>

      <ng-container
        *permissionsOnly="Permissions.canDeleteUser; then thenDeleteBlock"
      ></ng-container>

      <ng-template #thenDeleteBlock>
        <button
          class="remove btn-outline-secondary btn bg-transparent"
          [class.d-none]="isOnlyMember"
          aria-hidden="true"
          mwlConfirmationPopover
          [popoverMessage]="
            'This cannot be undone ! Are you sure you want to remove this person from this organisation?'
          "
          placement="right"
          focusButton="cancel"
          appendToBody="true"
          (confirm)="deleteMember()"
          (cancel)="cancelClicked = true"
        ></button>
      </ng-template>
    </div>

    <!-- TODO: Replace these next two divs with <maptio-member ...> it's not just a matter of
         cutting and pasting because of the bootstrap classes, but would be good to do this -->
    <div class="align-middle col-md-3 col-12">
      <div class="d-flex align-items-center">
        <img class="avatar mr-1" src="{{ member.picture }}" />
        {{ member.name }}
      </div>
    </div>

    <div class="align-middle pb-0 col-12 col-md-4">
      <div class="d-flex align-items-start flex-column">
        <span>{{ member.email }}</span>

        <small
          *ngIf="member.isActivationPending && member.isInvitationSent"
          class="text-accent pull-left"
          placement="top"
          container="body"
          ngbTooltip="{{ member.name }} was sent an invitation."
        >
          Pending invitation
        </small>

        <small
          *ngIf="member.isActivationPending && !member.isInvitationSent"
          class="text-orange pull-left"
          placement="top"
          container="body"
          ngbTooltip="{{ member.name }} cannot view or edit maps."
        >
          Not yet invited
        </small>

        <small
          *ngIf="!member.isActivationPending"
          class="text-green pull-left"
          placement="top"
          container="body"
          ngbTooltip="{{ member.name }} can view and edit maps"
        >
          Active
        </small>
      </div>
    </div>

    <div class="align-middle d-none d-md-block col-md-2">
      <ng-container
        *permissionsOnly="
          Permissions.canEditUser;
          else elseRoleBlock;
          then: thenRoleBlock
        "
      >
        main
      </ng-container>

      <ng-template #elseRoleBlock>
        {{ UserRole[member.userRole] }}
      </ng-template>

      <ng-template #thenRoleBlock>
        <select
          class="form-control"
          (change)="changeUserRole($event.target.value)"
        >
          <option
            *ngFor="let userRole of UserRole | keys | slice: 0:2"
            [value]="userRole.key"
            [selected]="member.userRole"
          >
            {{ userRole.value }}
          </option>
        </select>
      </ng-template>
    </div>

    <div class="align-middle text-right ml-auto">
      <ng-container>
        <ng-container
          *ngIf="!isDisplaySendingLoader && !isDisplayUpdatingLoader"
        >
          <ng-container
            *ngIf="member.isActivationPending && !member.isInvitationSent"
          >
            <ng-container
              *permissionsOnly="
                Permissions.canInviteUser;
                then thenInviteBlock;
                else elseInviteBlock
              "
            ></ng-container>

            <ng-template #thenInviteBlock>
              <button
                class="pull-right btn btn-outline-secondary"
                (click)="inviteUser()"
                placement="left"
                container="body"
                ngbTooltip="Invite {{ member.name }} to view and edit maps"
                [disabled]="!member.email && wasInvitationAttempted"
              >
                Invite
              </button>
            </ng-template>

            <ng-template #elseInviteBlock>
              <button
                class="btn btn-outline-secondary disabled pull-right"
                [stickyPopover]="adminTipContent"
                placement="left"
              >
                Invite
                <i class="fas fa-lock ml-1"></i>
              </button>
            </ng-template>
          </ng-container>

          <ng-container *permissionsOnly="Permissions.canInviteUser">
            <button
              *ngIf="member.isActivationPending && member.isInvitationSent"
              class="btn btn-outline-secondary pull-right"
              (click)="inviteUser()"
              placement="left"
              container="body"
              ngbTooltip="Resend an invitation to {{ member.name }}"
            >
              Resend
            </button>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="isDisplaySendingLoader">
          <div
            class="indicator text-green d-flex justify-content-end align-items-center"
          >
            <i class="fas fa-circle-notch fa-spin text-green mx-1"></i>
            Sending
          </div>
        </ng-container>

        <ng-container *ngIf="isDisplayUpdatingLoader">
          <div
            class="indicator text-green d-flex justify-content-end align-items-center"
          >
            <i class="fas fa-circle-notch fa-spin text-green mx-1"></i>
            Updating
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<div class="bg-light py-2 px-3" *ngIf="isEditToggled">
  <maptio-member-form
    [member]="member"
    [team]="team"
    [showCancelButton]="true"
    [duplicateUsers]="duplicateUsers"
    (editMember)="onEditMember()"
    (cancel)="onCancelEditing()"
  ></maptio-member-form>
</div>

<div *ngIf="errorMessage" class="alert alert-danger fade show" role="alert">
  {{ errorMessage }}
</div>

<!-- TODO: Extract the two additional non-form fields from here too -->
<!-- <div class="bg-light py-2" *ngIf="isEditToggled">
  <form
    [formGroup]="editUserForm"
    (submit)="updateUser()"
    class="offset-1 col-5"
  >
    <div class="form-group form-inline row" *ngIf="member.isActivationPending">
      <label
        class="col-4 d-flex justify-content-start text-gray-light text-uppercase small"
        for="inputFirstname"
        >First name</label
      >
      <input
        type="text"
        class="col-8 form-control form-control-warning"
        formControlName="firstname"
      />
    </div>
    <div class="form-group form-inline row" *ngIf="member.isActivationPending">
      <label
        class="col-4 d-flex justify-content-start text-gray-light text-uppercase small"
        for="inputLastname"
        >Last name</label
      >
      <input
        type="text"
        class="col-8 form-control form-control-warning"
        formControlName="lastname"
      />
    </div>
    <div
      class="form-group form-inline row"
      *ngIf="this.member.isActivationPending && !this.member.isInvitationSent"
    >
      <label
        class="col-4 d-flex justify-content-start text-gray-light text-uppercase small"
        for="inputEmail"
        >Email</label
      >
      <input
        type="text"
        class="col-8 form-control form-control-warning"
        formControlName="email"
      />
    </div>
    <div class="form-group form-inline row text-muted">
      <label
        class="col-4 d-flex justify-content-start text-gray-light text-uppercase small"
        for="inputLastSeen"
        >Created</label
      >
      <span class="col-8">{{ getAgo(member.createdAt) }} ago</span>
    </div>
    <div class="form-group form-inline row text-muted">
      <label
        class="col-4 d-flex justify-content-start text-gray-light text-uppercase small"
        for="inputLastSeen"
        >Last log in</label
      >
      <span class="col-8">{{ getAgo(member.lastSeenAt) }} ago</span>
    </div>
    <div
      class="form-group form-inline row d-flex justify-content-end"
      *ngIf="member.isActivationPending"
    >
      <span class="text-green mx-1" *ngIf="isSaving">
        <i class="fas fa-circle-notch fa-spin"></i>
      </span>
      <span
        class="text-green mx-1 flash small"
        *ngIf="isSavingSuccess"
        [class.show]="isSavingSuccess"
      >
        <i class="fas fa-save"></i>Successfully saved!
      </span>
      <span class="text-danger mx-1 small" *ngIf="savingFailedMessage">{{
        savingFailedMessage
      }}</span>

      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </form>
</div> -->
