<div class="d-flex align-items-center">
  @if (label) {
    <label
      for="inputAccountable"
      class="form-label form-control-label col-form-label text-muted me-1"
      >
      {{ label }}
    </label>
  }

  @if (isShowAutocomplete || !showSelectedResult) {
    <div
      class="w-100 position-relative"
      >
      <input
        id="inputAutocomplete"
        #inputAutocomplete="ngbTypeahead"
        required="required"
        [resultTemplate]="resultTemplate"
        type="text"
        [placeholder]="placeholder"
        class="position-relative form-control background"
        [placement]="'bottom-left'"
        [(ngModel)]="item"
        (selectItem)="onSelect($event)"
        [ngbTypeahead]="search"
        [resultFormatter]="resultFormatter"
        [inputFormatter]="resultFormatter"
        (focus)="onFocus($event.target.value)"
        (blur)="onFocusOut()"
        (click)="onClick($event.target.value)"
        editable="false"
        />
      @if (isShowAutocomplete && showCancelButton) {
        <button
          class="h-100 position-absolute top-right btn btn-link btn-sm"
          (click)="isShowAutocomplete = false"
          >
          <ng-container i18n="@@cancel">Cancel</ng-container>
        </button>
      }
    </div>
  }

  @if (!isShowAutocomplete && showSelectedResult) {
    <div
      class="d-flex w-100 align-items-center"
      >
      <div class="flex-grow-1 cursor-text" (click)="onClick('')">
        <ng-content></ng-content>
      </div>
      <button
        [class.invisible]="isUnauthorized"
        class="btn btn-link btn-sm"
        (click)="onClick('')"
        >
        <ng-container i18n="@@edit">Edit</ng-container>
      </button>
    </div>
  }

  @if (removeConfirmationMessage && item && !isUnauthorized) {
    <div
      class="mx-1"
      >
      <button
        class="btn btn-outline-secondary remove"
        mwlConfirmationPopover
        [popoverMessage]="removeConfirmationMessage"
        placement="left"
        container="body"
        focusbutton="cancel"
        appendToBody="false"
        (confirm)="onRemove()"
        (cancel)="cancelClicked = true"
        i18n-popoverMessage
        confirmText="Confirm"
        cancelText="Cancel"
        i18n-confirmText="@@confirm"
        i18n-cancelText="@@cancel"
      ></button>
    </div>
  }
</div>
