<div class="border border-light p-0 rounded-bottom mb-2 tooltip-menu bg-white box-shadow pointer-none">
    <div class="card-header border-bottom-0" [class.bg-white]="isNameOnly">
        {{initiative.name}}
    </div>
    <div class="card-body d-flex flex-column  border-bottom-0 pt-0" *ngIf="!isNameOnly">
        <div class="card-title my-2" *ngIf="initiative.tags && initiative.tags.length > 0">
            <ul class="tags small">
                <li *ngFor="let tag of initiative.tags">
                    <span class="tag mr-1" [style.color]="tag.color">
                        <i class="fa fa-tag mr-1" aria-hidden="true" [style.color]="tag.color"></i>{{tag.name}}
                    </span>
                </li>
            </ul>
        </div>

        <p class="card-title my-2" *ngIf="initiative.accountable">
            <span class="d-flex align-items-center flex-nowrap">
                <img src="{{initiative.accountable?.picture}}" width="32" height="32" class="rounded-circle mr-1">
                <span class="d-flex flex-nowrap"> {{initiative.accountable?.name}}</span>

                <span class="text-muted mx-1">({{team.settings.authority}})</span>
            </span>
        </p>
        <p class="card-title text-muted my-2" *ngIf="!initiative.accountable">
            No {{team.settings.authority}}
        </p>



        <p class="card-text d-flex align-items-center flex-wrap" *ngIf="initiative.helpers && initiative.helpers.length>0">
            <span class="text-muted mr-1">with</span>
            <span *ngFor="let helper of initiative.helpers" class="my-1">
                <img src="{{helper.picture}}" alt="{{helper.name}}" width="32" height="32" class="rounded-circle mr-1">
            </span>
        </p>
        <p class="card-text d-flex align-items-center flex-wrap text-muted" *ngIf="!(initiative.helpers && initiative.helpers.length>0)">
            No {{team.settings.helper}}
        </p>



        <div class="card-text small" *ngIf="initiative.description">
            <hr>
            <markdown *ngIf="initiative.description || ''" [data]="initiative.description || ''"></markdown>
        </div>
    </div>
</div>