.color-picker {
  border: 0 !important;
  background-color: var(--light) !important;
}

.color-picker .selected-color {
  border: 0 !important;
}

.color-picker .cursor {
  border-color: var(--light) !important;
}

.preset-color {
  border-radius: 50% !important;
  border: 0 !important;
}
