svg#map {
  /* border-radius: 4px; */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background: white;
  font-family: Lato;
  cursor: auto;
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
    height: 100%; */
}

svg#map > svg {
  cursor: pointer;
  pointer-events: all;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
