<ng-template #editTipContent>
	You don't have permission to edit this.
	<a href="{{KB_URL_PERMISSIONS}}" target="blank">Learn more.</a>
</ng-template>

<ng-template #deleteTipContent>
	<span class="text-orange">You don't have permission to delete this.
		<a href="{{KB_URL_PERMISSIONS}}" target="blank">Learn more.</a>
	</span>
</ng-template>

<ng-content></ng-content>

<div class="d-flex flex-column h-100" *ngIf="!isEditMode">

	<div class="px-3">
		<div class="d-flex my-3">
			<ng-container *ngIf="node?.tags && node?.tags.length >0 ">
				<initiative-single-tag *ngFor="let tag of node?.tags; let i=index" class="mr-1" [tag]="tag">
				</initiative-single-tag>
			</ng-container>
			<ng-container *ngIf="node?.tags.length ===0">
				<span class="font-italic text-muted opacity-50">No tag</span>
			</ng-container>
		</div>

		<div class="my-3">
			<markdown *ngIf="node?.description" [data]="node?.description"></markdown>
			<span *ngIf="!node?.description" class="font-italic text-muted opacity-50">No description</span>
		</div>

		<div class="my-3">
			<ng-container *ngIf="node?.getAllParticipants() && node?.getAllParticipants().length >0 ">
				<div class="d-flex flex-column">
					<div *ngFor="let helper of node?.getAllParticipants(); let i=index" class="d-flex flex-column">
						<div class="d-flex align-items-center">
							<initiative-member-label [member]="helper" (selectMember)="onSelectMember($event)">
							</initiative-member-label>
							<span *ngIf="isAuthority(helper)">({{team?.settings.authority}})</span>
						</div>

						<div class="d-flex align-items-baseline mb-3" *ngIf="helper?.roles[0]?.description">
							<markdown class="small w-100"
								[class.prefixed]="helper.roles.length > 0 && !!helper.roles[0] "
								[data]="helper.roles ? helper.roles[0]?.description : ''"></markdown>

						</div>
					</div>


				</div>
			</ng-container>
			<ng-container *ngIf="!node?.getAllParticipants() || node?.getAllParticipants().length ===0 ">
				<span class="font-italic text-muted opacity-50">No {{team?.settings.authority | lowercase}} or
					{{team?.settings.helper | lowercase}}</span>
			</ng-container>


		</div>


	</div>




</div>


<div class="d-flex flex-column h-100" *ngIf="isEditMode">

	<div class="my-3">
		<initiative-input-name [isUnauthorized]="!canEditName()" [isEditMode]="isEditMode" [name]="node?.name"
			(save)="saveName($event)">
			<ng-container *ngTemplateOutlet="editTipContent"></ng-container>
		</initiative-input-name>
	</div>
	<div class="">
		<initiative-list-tags [isUnauthorized]="!canEditTags()" [available]="dataset?.tags" [selected]="node?.tags"
			[isEditMode]="isEditMode" (save)="saveTags($event)" (open)="openTagsPanel()">
			<ng-container *ngTemplateOutlet="editTipContent"></ng-container>
		</initiative-list-tags>
	</div>
	<div class="">
		<initiative-authority-select [isUnauthorized]="!canEditAuthority()" [isEditMode]="isEditMode" [team]="team"
			[authority]="node?.accountable" (selectMember)="onSelectMember($event)" (save)="saveAccountable($event)">
			<ng-container *ngTemplateOutlet="editTipContent"></ng-container>
		</initiative-authority-select>

	</div>

	<div class="">
		<initiative-description-textarea [isUnauthorized]="!canEditDescription()" [description]="node?.description"
			[isEditMode]="isEditMode" (save)="saveDescription($event)">
			<ng-container *ngTemplateOutlet="editTipContent"></ng-container>
		</initiative-description-textarea>

	</div>



	<div class="d-flex w-100 justify-content-end my-3">
		<initiative-helpers-select class="w-100" [isUnauthorized]="!canAddHelper()" [team]="team"
			[helpers]="node?.helpers" [user]="user" [authority]="node?.accountable" (save)="addHelpers($event)">
		</initiative-helpers-select>

	</div>

	<div class="">
		<div class="px-3 py-2 rounded"
			*ngFor="let helper of node?.getAllParticipants(); let i=index;trackBy:trackByUserId">
			<initiative-helper-input [helper]="helper" [isUnauthorized]="!canEditHelper(helper)"
				[isAuthority]="isAuthority(helper)" [team]="team" (selectMember)="onSelectMember($event)"
				(remove)="removeHelper($event)" (save)="saveHelpers()">
				<ng-container *ngTemplateOutlet="editTipContent"></ng-container>
			</initiative-helper-input>
			<initiative-helper-privilege class="my-1 px-3" [isUnauthorized]="!canEditPrivilege()"
				[isAuthority]="isAuthority(helper)" [helper]="helper" (save)="saveHelpers()">
			</initiative-helper-privilege>
		</div>
	</div>


</div>
<!-- <ul class="list-inline d-flex flex-row-reverse picture-list my-1 flex-wrap justify-content-end">
		<li class="list-inline-item rounded-circle border-thick border-white my-1"
			*ngFor="let helper of node?.getAllParticipants();trackBy:trackByUserId" >
			<img class="rounded-circle participant-picture " width="40" height="40" src="{{helper.picture}}"
				title="{{helper.name}}" placement="top" container="body" ngbTooltip="{{helper.name}}">
		</li>
	</ul> -->