<ng-template #editTipContent>
	You don't have permission to edit this.
	<a href="{{KB_URL_PERMISSIONS}}" target="blank">Learn more.</a>
</ng-template>

<ng-template #deleteTipContent>
	<span class="text-orange">You don't have permission to delete this.
		<a href="{{KB_URL_PERMISSIONS}}" target="blank">Learn more.</a>
	</span>
</ng-template>

<div *ngIf="showUnauthorized" class="alert alert-warning alert-dismissible fade show" role="alert">
	You don't have permission to edit this. {{unauthorizedTargets}}
	<a href="{{KB_URL_PERMISSIONS}}" target="blank">Learn more.</a>
	<button (click)="showUnauthorized=false" type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="d-flex flex-column h-100">
	<div class="mb-4">
		<initiative-input-name [isUnauthorized]="!canEditName()" (unauthorized)="onUnauthorized($event)"
			[name]="node?.name" (save)="saveName($event)">
			<ng-container *ngTemplateOutlet="editTipContent"></ng-container>
		</initiative-input-name>
	</div>
	<div class="mb-4">
		<initiative-list-tags [isUnauthorized]="!canEditTags()" [available]="dataset?.tags" [selected]="node?.tags"
			[isEditMode]="isEditMode" (save)="saveTags($event)" (open)="openTagsPanel()">
			<ng-container *ngTemplateOutlet="editTipContent"></ng-container>
		</initiative-list-tags>
	</div>
	<div class="mb-4">
		<initiative-authority-select [isUnauthorized]="!canEditAuthority()" [isEditMode]="isEditMode" [team]="team" [authority]="node?.accountable"
			(save)="saveAccountable($event)">
			<ng-container *ngTemplateOutlet="editTipContent"></ng-container>
		</initiative-authority-select>

	</div>

	<div class="mb-4">
		<initiative-description-textarea [isUnauthorized]="!canEditDescription()" [description]="node?.description"
			[isEditMode]="isEditMode" (save)="saveDescription($event)">
			<ng-container *ngTemplateOutlet="editTipContent"></ng-container>
		</initiative-description-textarea>

	</div>


	<div class="d-flex align-items-center text-gray-light mr-1 ">
		<i class="fas fa-users  mr-1"></i>
		<span class="text-uppercase text-bold small">Who's helping?</span>
		<div class="align-self-end flex-grow-1 ml-4">
			<initiative-helpers-select [team]="team" [helpers]="node?.helpers" [authority]="node?.accountable"
				(save)="addHelpers($event)"></initiative-helpers-select>
		</div>
	</div>

	<!-- <ul class="list-inline d-flex flex-row-reverse picture-list my-1 flex-wrap justify-content-end">
		<li class="list-inline-item rounded-circle border-thick border-white my-1"
			*ngFor="let helper of node?.getAllParticipants();trackBy:trackByUserId" >
			<img class="rounded-circle participant-picture " width="40" height="40" src="{{helper.picture}}"
				title="{{helper.name}}" placement="top" container="body" ngbTooltip="{{helper.name}}">
		</li>
	</ul> -->

	<div class="">
		<div class="my-2 bg-light p-2 rounded"
			*ngFor="let helper of node?.getAllParticipants(); let i=index;trackBy:trackByUserId">
			<initiative-helper-input [helper]="helper" [isAuthority]="isAuthority(helper)" [team]="team"
				[summaryUrl]="getSummaryUrl(helper)" (remove)="removeHelper($event)" (save)="saveHelpers()">
			</initiative-helper-input>
		</div>
	</div>


</div>