<div class="card">
    <div class="card-body">
        <div class="card-title d-flex justify-content-between align-items-baseline">
            <span class="btn-link cursor-pointer" (click)="openInitiative(initiative)">{{initiative.name}}</span>
            <span class="text-muted nowrap" *ngIf="initiative.accountable && isWithLeader">led by
                    <button  class="btn btn-link p-0" (click)="onSelectMember(initiative.accountable)">
                        <img class="rounded-circle user" width="40" height="40" src="{{initiative.accountable?.picture}}" alt="{{initiative.accountable?.name}}"
                            title="{{initiative.accountable?.name}}" placement="top" container="body" ngbTooltip="{{initiative.accountable?.name}}">
                    </button>
                </span>
        </div>
        <!-- <div class="card-subtitle">
           
        </div> -->
        <div class="card-subtitle" *ngIf="initiative.tags && initiative.tags.length>0">
            <ul class="list-inline small no-cursor">
                <li class="list-inline-item" *ngFor="let tag of initiative.tags; let i=index">
                    <span class="badge badge-pill p-2  border-thick text-white mr-1 my-1" [style.border-color]="tag.color" [style.background]="tag.color">
                        <i class="fa fa-tag mr-1" aria-hidden="true"></i>{{tag?.name}}
                    </span>
                </li>
            </ul>
        </div>
        <div class="card-subtitle" *ngIf="initiative.getRoles(initiative.accountable?.user_id)[0]?.description">
            <markdown [data]="initiative.getRoles(initiative.accountable?.user_id)[0]?.description"></markdown>
        </div>
        <div class="card-text">
            <div *ngIf="(initiative.helpers?.length !== 0)" class=" row" [class.bg-light]="isShowRoles">
                <a class="btn btn-link px-3 text-left" data-toggle="collapse" [attr.data-target]="'.'+getMultipleCollapseClass()" [attr.aria-controls]="getMultipleCollapseId()"
                    aria-expanded="false" role="button" (click)="isShowRoles=!isShowRoles">
                    <i class="fa" [class.fa-caret-right]="!isShowRoles" [class.fa-caret-down]="isShowRoles" aria-hidden="true"></i>
                </a>
                <div class="">
                    <div class="collapse {{getMultipleCollapseClass()}} w-100" id="{{getWithDescriptionId()}}">
                        <div *ngFor="let h of initiative.helpers">
                            <div class="d-flex my-1 align-items-baseline my-2">
                                <button (click)="onSelectMember(h)" class="btn btn-link p-0">
                                    <img [hidden]="h.user_id === member?.user_id " class="rounded-circle  user" width="40" height="40" src="{{h.picture}}" alt="{{h.name}}"
                                        title="{{h.name}}" placement="top" container="body" ngbTooltip="{{h.name}}">
                                </button>
                                <markdown class="small mx-1 no-margin d-flex flex-column align-items-center" *ngIf="h.roles[0]?.description" [data]="h.roles[0]?.description"></markdown>

                            </div>
                        </div>
                    </div>

                    <div class="collapse {{getMultipleCollapseClass()}} w-100 show " id="{{getNoDescriptionId()}}">
                        <div class="d-flex justify-content-start flex-wrap">
                            <ul class="list-inline d-flex flex-row-reverse picture-list my-1 flex-wrap">
                                <li class="list-inline-item rounded-circle border-thick border-white" *ngFor="let h of initiative.helpers">
                                    <button [class.d-none]="h.user_id === member?.user_id " (click)="onSelectMember(h)" class="btn btn-link p-0">
                                        <img [hidden]="h.user_id === member?.user_id " class="rounded-circle user" width="40" height="40" src="{{h.picture}}" alt="{{h.name}}"
                                            title="{{h.name}}" placement="top" container="body" ngbTooltip="{{h.name}}">
                                    </button>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>
            <span class="mb-1 small text-orange" *ngIf="(initiative.helpers?.length === 0)">No {{team.settings.helper | lowercase }}</span>

        </div>

    </div>
</div>