.profile {
    width: 45px
}

.helper {
    float: left;
    background: 50% 50% no-repeat;
    background-size: auto 100%;
    max-width: 32px;
}

.authority {
    background: 50% 50% no-repeat;
    background-size: auto 100%;
    max-width: 32px;
}

.borderless {
    border: none
}

.no-padding {
    padding: 0
}


.btn-link:focus, .btn-link:active {
    box-shadow: none!important;
}

.wrap {
    text-align: left;
    white-space: normal;
}

.no-cursor{
    pointer-events: none;
}

.hide {
    display: none;
}

.summary {
    background-color: white;
    margin-left: 3vw;
    margin-top: 9vh;
}

.summary:focus {
    outline: 0;
}