<div class="d-flex justify-content-center row">
    <div class="col-12">
        <div class="d-flex flex-column align-items-center">
            <img class="rounded-circle user" width="128" height="128" src="{{member?.picture}}">
            <h2 class="ml-1">{{member?.name}}</h2>

        </div>

        <hr>
        <div class="d-flex justify-content-between mt-3">
            <div class="w-50 mr-1">
                <h5 *ngIf="authorities.length===0" class="card-title text-muted">Not a {{_team?.settings.authority | lowercase }} yet</h5>
                <h5 *ngIf="authorities.length>0" class="card-title text-muted">{{_team?.settings.authority | titlecase }} of circles</h5>

                <div *ngFor="let i of authorities; let ix=index" class="my-2">
                    <personal-card [initiative]="i" [isWithLeader]="false"></personal-card>
                </div>


            </div>
            <div class="w-50 ml-1">

                <h5 *ngIf="helps.length===0" class="card-title text-muted">No helping participation yet</h5>
                <h5 *ngIf="helps.length>0" class="card-title text-muted">A {{_team.settings.helper | lowercase }} in circles</h5>

                <div *ngFor="let i of helps; let ix=index" class="my-2">
                    <personal-card [initiative]="i" [isWithLeader]="true"></personal-card>
                </div>


            </div>

        </div>
    </div>
</div>