svg{
    /* border-radius: 4px; */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    background: white;
    font-family: "Open Sans";
    font-weight: 600;
    cursor: auto;
    position: absolute;
    top:0;
    left:0;
    pointer-events: all;
    transition: all 500ms;
}

svg.loading{
    filter: blur(3px) opacity(0.1);

    transition: all 500ms;
    pointer-events: none;
}