<div #colorSelector>
  <ng-container *ngIf="!isMinimal && !isDisabled">
    <div class="position-relative" (blur)="toggleColorPicker=false">
      <button type="button" [style.borderColor]="color" [style.backgroundColor]="color" [style.border-color]="color"
        class="btn btn-outline-secondary" (click)="toggleColorPicker=!toggleColorPicker">
        <i class="fas fa-brush text-white"></i>
      </button>
      <color-twitter (mouseover)="toggleColorPicker=true" (mouseleave)="toggleColorPicker=false"
        style="right:0;bottom:-7rem;" class="position-absolute bottom-right" *ngIf="toggleColorPicker"
        triangle="top-right" [colors]="DEFAULT_PRESETS_COLORS" (onChangeComplete)="pickColor($event)"></color-twitter>

    </div>
  </ng-container>

  <ng-container *ngIf="isMinimal && !isDisabled">
    <color-twitter triangle="hide" [width]="'100%'" [color]="color" [colors]="DEFAULT_PRESETS_COLORS"
      (onChangeComplete)="pickColor($event)">
    </color-twitter>
  </ng-container>

  <ng-container *ngIf="isDisabled">
    <ng-template #editTipContent>
      <span class="text-orange">You don't have permission to edit this.
        <a href="{{KB_URL_PERMISSIONS}}" target="blank">Learn more.</a>
      </span>
    </ng-template>

    <button type="button" [style.color]="color" [style.border-color]="color"
      class="btn btn-outline-secondary disabled cursor-not-allowed">
      <i class="fas fa-palette"></i>
    </button>


    <button type="button" [style.borderColor]="color" [style.backgroundColor]="color"
      [style.border-color]="color" [stickyPopover]="editTipContent"
      class="btn btn-outline-secondary disabled cursor-not-allowed">
      <i class="fas fa-brush text-white"></i>
    </button>
  </ng-container>
</div>
