body{
    padding-top: 50px;
    font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;

    overflow: hidden;
}

.toggle-children{
  background-image: none;
}

a.caret-before {
    padding-right:1px !important;
}
a.caret-after {
    padding-left:1px !important;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading {
    position: absolute;
    left: 42%;
    top: 35%;
    background-image: url(/assets/images/loading.png);
    /* padding-top: 95px; */
    /* margin-bottom: 60px; */
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-size: cover;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 4s linear infinite;
    width: 150px;
    height: 150px;
    /* border: solid 1px red; */
}
