:root {
  --maptio-blue: #2f81b7;
  --maptio-orange: hsla(17, 86%, 54%, 0.90);
  --maptio-white: #fff;
  --maptio-red:#dc3545;
  --maptio-green:#28a745;
}


.transparent {
  background-color: transparent !important;
}

.without-caret.dropdown-toggle::after {
  display: none;
}

.breadcrumb {
  padding: 0 !important;
  list-style: none;
  background-color: transparent!important;
  border-radius: .25rem!important;
  margin-top: 0!important;
  margin-bottom: 0!important;
  font-size: 1.25rem!important;
  font-weight: 300!important;
  flex-wrap: nowrap!important;
}

/* Exo|Oxygen|Quicksand" rel="stylesheet">  */

html, body {
  height: 100%;
  font-family: "Open Sans",Arial, sans-serif !important

}

body {
  overflow-x: hidden;
}

.text-blue{
  color: var(--maptio-blue) !important;

}

.font-roboto{
  font-family: "Roboto" !important
}

.bg-orange{
  background : var(--maptio-orange)!important;
}

.bg-blue{
  background : var(--maptio-blue)!important;
}

.accent-blue{
  border-top:solid 6px var(--maptio-blue)!important;
}

.accent-orange{
  border-top: solid 6px var(--maptio-orange);
}

.box-shadow{
  /* box-shadow: 0px 0px 10px 1px #999; */

  /* filter: drop-shadow(0px 3px 3px #999); */     
  box-shadow: 0px 2px 4px 1px hsla(0,0%,0%, 0.2);
}

input[type="text"], input[type="email"], input[type="password"] {
  box-shadow: inset 0 2px 4px hsla(0,0%,0%, 0.08);
}

.large{
  font-size: large!important;
}

.network:before {
  content: "\e901";
  font-family: icomoon;
}

.network.menu.more:before {
  content: "\f0c9";
  font-family: FontAwesome;
}

.network.menu.less:before {
  content: "\f00d";
  font-family: FontAwesome;
}

.tree:before {
  display: inline-block;
  content: "\e903";
  font-family: icomoon;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.summary-list:before{
  content: "\f0c0";
  font-family: FontAwesome;

}

.circles{
  background-image: url(/assets/images/circles.png) ;
  background-repeat:no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  height: 6.5vh;
  width: 100%;
  padding: 0;
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.circles.menu{
  background-image: none!important;

}

.circles.menu.more:before {
  content: "\f0c9";
  font-family: FontAwesome;
}


.circles.menu.less:before {
  content: "\f00d";
  font-family: FontAwesome;
}

.cursor-pointer{
  cursor: pointer;
}

.cursor-auto{
  cursor: auto;
}

.home-background{
  background-image: url('/assets/images/screenshot-light.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}


.grayscale{
  filter:grayscale();
}


/* .circles.options, .circles.options.active{
  background-image:none !important;
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
  
}

.circles.options::before{
  content : "\f141";
  font-family: FontAwesome;
  
} */

.btn:not(:disabled):not(.disabled).active.circles, .btn.circles:not(:disabled):not(.disabled):active{
  background-image: url(/assets/images/circles.png) ;
}



.remove::before {
  content: "\f1f8";
  font-family: FontAwesome;
  cursor: pointer;
}

nav.header {
  height: 56px;
}

.nav-link {
  color: #2f81b7;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  color: #2f81b7!important;
  cursor: default;
  background-color: #f8f9fa!important;
}

.btn.focus, .btn:focus {
  box-shadow: 0 0 0 !important;
}

.form-control.focus, .form-control:focus {
  box-shadow: 0 0 0 !important;
}

.visionnary {
  width: 25px;
  height: 25px;
}

.btn-link, a:not(.btn-tag):not(.btn-control):not(.text-white):not(.text-success) {
  color: #2f81b7 !important;
}


fieldset:disabled span.icon-disabled {
  visibility: visible;
  display: inline-block;
}

fieldset span.icon-disabled {
  visibility: hidden;
  display: none;
}

.icon-disabled::before {
  content: "\f023";
  font-family: FontAwesome;
}

.strike{
  text-decoration: line-through;
}

a.card.no-underline, a.no-underline:hover {
  text-decoration: none;
}

.underline:hover{
  text-decoration: underline!important;
}

.x-small{
  font-size: x-small;
}

.xx-large{
  font-size: xx-large;
}

.control.switch{
  position: absolute;
  top: 29vh;
  right:7vw;
  z-index: 9;
}

.control.switch.collapse{
max-height: 0;
overflow: hidden;
transition: max-height .25s ease-in-out;
}

.overflow-hidden
{
  overflow: hidden;
}

.overflow-y{
  overflow-y: auto;
}

.overflow-x-hidden{
  overflow-x: hidden!important;
}

.container-fluid{
  overflow: auto;
}

.control.switch.show{
  max-height: 30vh;
  transition: max-height .25s ease-in-out;
}

.nowrap{
  white-space: nowrap;
}

.wrap{
  white-space: initial;
}

/* .slack{
  position: relative;
  padding-left:25px;
}

.slack::before{
  background-image: url(/assets/images/slack-icon.png);
  background-size: cover;
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  content: " ";
} */