p.markdown {
    margin-bottom: 0;
    /* padding-left: 0.25rem; */
}

.markdown-link {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}