ng-progress {
  }
  
  ng-progress-bar {
  }

  .ng-progress {
}

.ng-progress > .bar {
    top:56px!important
}

.spinner-icon{
  width:48px !important;
  height: 48px !important;;
  border-top-color: var(--maptio-blue)!important;
  border-left-color: var(--maptio-blue)!important;
}


.spinner{
  top:5px !important;
  left:10px !important;
}
