ng-progress {
  }
  
  ng-progress-bar {
  }

  .ng-progress {
}

.ng-progress > .bar {
    top:56px!important
}

.spinner-icon{
  width:36px !important;
  height: 36px !important;;
}


.spinner{
  top:11px !important;
  left:16px !important;
}
