ng-progress {
  }
  
  ng-progress-bar {
  }

  .ng-progress {
}

.ng-progress > .bar {
    top:56px!important
}

.spinner-icon{
  width:37px !important;
  height: 37px !important;;
  border-top-color: var(--maptio-blue)!important;
  border-left-color: var(--maptio-blue)!important;
}


.spinner{
  top:10px !important;
  left:15px !important;
}
