@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3ava5a');
  src:  url('fonts/icomoon.eot?3ava5a#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3ava5a') format('truetype'),
    url('fonts/icomoon.woff?3ava5a') format('woff'),
    url('fonts/icomoon.svg?3ava5a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circles:before {
  content: "\e900";
}
.icon-network:before {
  content: "\e901";
}
.icon-tree:before {
  content: "\e903";
}
