.arrow_box {
  position: absolute;
  left: 0;
  top: 0;
  background: #F8F9FA;
  /* border: 1px solid #444; */
  border-radius: 5px;
  width: 350px;
  padding: 10px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  z-index: 1;
}



.arrow_box .content {
  max-height: 25vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.arrow_box button {
  pointer-events: auto;
  cursor: pointer;
  color: #2f81b7;
  white-space: normal;
}

.no-white-space button{
  white-space: nowrap;
}

.arrow_box.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.1s ease-in;
}

/*
* ARROW BOTTOM
*/

.arrow_box.arrow-bottom:after, .arrow_box.arrow-bottom:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box.arrow-bottom:after {
  border-color: rgba(245, 245, 245, 0);
  border-top-color: #f8f9fa;
  border-width: 10px;
  margin-left: -10px;
}

.arrow_box.arrow-bottom:before {
  border-color: rgba(68, 68, 68, 0);
  border-top-color: transparent;
  border-width: 13px;
  margin-left: -13px;
}

/*
ARROW TOP
*/
.arrow_box.arrow-top:after, .arrow_box.arrow-top:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box.arrow-top:after {
  border-color: rgba(245, 245, 245, 0);
  border-bottom-color: #f8f9fa;
  border-width: 10px;
  margin-left: -10px;
}

.arrow_box.arrow-top:before {
  border-color: rgba(68, 68, 68, 0);
  border-bottom-color: transparent;
  border-width: 13px;
  margin-left: -13px;
}

/*
ARROW LEFT
*/
.arrow_box.arrow-left:after, .arrow_box.arrow-left:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box.arrow-left:after {
  border-color: rgba(245, 245, 245, 0);
	border-right-color: #f8f9fa;
	border-width: 10px;
	margin-top: -10px;
}
.arrow_box.arrow-left:before {
  border-color: rgba(68, 68, 68, 0);
	border-right-color: #f8f9fa;
	border-width: 13px;
	margin-top: -13px;
}

/**
ARROW RIGHT
*/
.arrow_box.arrow-right:after, .arrow_box.arrow-right:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box.arrow-right:after {
  border-color: rgba(245, 245, 245, 0);
	border-left-color: #f8f9fa;
	border-width: 10px;
	margin-top: -10px;
}
.arrow_box.arrow-right:before {
  border-color: rgba(68, 68, 68, 0);
	border-left-color: #f8f9fa;
	border-width: 13px;
	margin-top: -13px;
}