<div class="d-flex flex-column align-items-start col-12">
    <div class="mb-3 d-flex justify-content-end col-12">
        <div *hasPermission="Permissions.canAddUser; else elseBlock; then thenBlock"></div>
        <ng-template #elseBlock>
            <button class="btn btn-link" placement="top" container="body" ngbTooltip="Admin only">
                Add member
                <i class="fa fa-lock ml-1"></i>
            </button>
        </ng-template>
        <ng-template #thenBlock>
            <button class="btn btn-link" (click)="isAddUserToggled=!isAddUserToggled">Add member
                <i *ngIf="isAddUserToggled" class="fa fa-caret-up ml-1"></i>
                <i *ngIf="!isAddUserToggled" class="fa fa-caret-left ml-1"></i>
            </button>
        </ng-template>
    </div>



    <div class="col-12" *ngIf="isAddUserToggled">
        <div class="card mt-0 card-outline-secondary mb-4">
            <div class="card-block">
                <h4 class="card-title">Add a Maptio user to the team or create a new user
                </h4>
                <span class="lead text-info">Once they are imported, they must be invited to view and edit maps.</span>
                <div class="card-text">
                    <ng-template #rt let-r="result" let-t="term">
                        <img src="{{r.picture}}" width="16" alt="{{r.name}}"> {{r.email}}
                    </ng-template>

                    <div class="input-group">
                        <input #inputNewMember type="text" id="inputNewMember" [resultTemplate]="rt" placeholder="e.g. hermes.conrad@planetexpress.com"
                            class="form-control col-12" [ngModelOptions]="{standalone: true}" [ngModel]="newMember" (selectItem)="saveNewMember($event)"
                            [ngbTypeahead]="searchUsers" [resultFormatter]="formatter" [inputFormatter]="formatter" email />

                        <span class="input-group-btn" *ngIf="!searchFailed || !inputNewMember.value">
                            <button class="btn btn-primary" [class.disabled]="!isUserChosen" type="button" (click)="addMemberToTeam()">
                                Add
                            </button>
                        </span>
                    </div>
                    <small *ngIf="isAlreadyInTeam" class="form-control-feedback text-warning">Already added!</small>

                    <small class="form-text">Search for a person in Maptio by email address or enter an email address to add someone new.
                    </small>
                    <span *ngIf="searching">searching...</span>

                    <!-- </div> -->
                    <div class="col-12 mt-1" *ngIf="searchFailed && inputNewMember.value">
                        <span *ngIf="!isUserSearchedEmail">No results</span>

                        <div *ngIf="isUserSearchedEmail">

                            <div>
                                <div class="card-text">
                                    <br>
                                    <b>{{userSearched}}</b> ? We don’t know that person.
                                    <div class="alert alert-danger " role="alert" *ngIf="errorMessage">
                                        {{errorMessage}}
                                    </div>

                                    <form class="from-group mb-1" [formGroup]="inviteForm" (submit)="createUser(userSearched)">

                                        <div class="input-group mb-2">
                                            <input type="text" id="inputFirstname" formControlName="firstname" class="form-control form-control-warning " placeholder="First name"
                                                required minlength="2">
                                            <input type="text" id="inputLastname" formControlName="lastname" class="form-control form-control-warning" placeholder="Last name"
                                                required minlength="2">
                                            <button type="submit" class="btn btn-success" [class.disabled]="!inviteForm.valid">Add</button>
                                        </div>
                                        <small class="form-control-feedback text-warning" *ngIf="inviteForm.controls['lastname'].invalid  && (inviteForm.controls['lastname'].dirty || inviteForm.controls['lastname'].touched)">
                                            Last name must be at least 2 characters in length
                                        </small>
                                        <small class="form-control-feedback text-warning" *ngIf="inviteForm.controls['firstname'].invalid  && (inviteForm.controls['firstname'].dirty || inviteForm.controls['firstname'].touched)">
                                            First name must be at least 2 characters in length
                                        </small>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>


    </div>

    <div class="col-12">

        <table class="table table-hover table-sm tableSection left">
            <thead>
                <tr class="row">
                    <th class="" scope="col"></th>
                    <th class="col" scope="col"></th>
                    <th class="col-3" scope="col">Name</th>
                    <th class="col-4" scope="col">Email</th>
                    <th class="col-2" scope="col">Role</th>
                    <th class="" scope="col">
                        <button class="btn btn-success pull-right" (click)="inviteAll()">Invite/resend all</button>
                    </th>
                </tr>
            </thead>
            <tbody>

                <ngx-loading [show]="isLoading"></ngx-loading>
                <tr class="row" *ngFor="let member of (members$ | async); trackBy: trackByMemberId;let i=index" [class.deleted]="member.isDeleted">
                    <td class=" delete">
                        <ng-container *hasPermission="Permissions.canDeleteUser;then thenDeleteBlock"></ng-container>
                        <ng-template #thenDeleteBlock>
                            <span class="remove text-danger" aria-hidden="true" mwlConfirmationPopover title="This cannot be undone ! Are you sure you want to delete {{member.name}} ?"
                                placement="right" focusButton="cancel" appendToBody="true" (confirm)="deleteMember(member)" (cancel)="cancelClicked = true">
                            </span>
                        </ng-template>
                    </td>
                    <td class="col-1">
                        <img class="rounded-circle member " src="{{member.picture}}" alt="{{member.name}}">
                    </td>
                    <td class="col-3">{{member.name}}</td>
                    <td class="col-4">{{member.email}}
                        <br/>
                        <small [hidden]="!(member.isActivationPending && member.isInvitationSent)" class="text-warning pull-left" placement="top"
                            container="body" ngbTooltip="{{member.name}} was sent an invitation.">Pending</small>
                    </td>
                    <td class="col-2">
                        <div *hasPermission="Permissions.canEditUser; else elseRoleBlock; then thenRoleBlock">main</div>
                        <ng-template #elseRoleBlock>
                            {{UserRole[member.userRole]}}
                        </ng-template>
                        <ng-template #thenRoleBlock>
                            <select [disabled]="member.isDeleted" class="form-control" (change)="changeUserRole(member,$event.target.value)">
                                <option *ngFor="let userRole of UserRole | keys" [value]="userRole.key" [selected]="member.userRole">{{userRole.value}}</option>
                            </select>
                        </ng-template>

                    </td>
                    <td class="col">
                        <!-- <small [hidden]="!(member.isActivationPending && member.isInvitationSent)" class="text-warning pull-right" placement="top" container="body"
                                        ngbTooltip="{{member.name}} was sent an invitation.">Pending</small> -->
                    </td>
                    <td class="">
                        <span *ngIf="member.isDeleted" class="text-muted">(Deleted)</span>
                        <button [class.deleted]="member.isDeleted" *ngIf="!member.isActivationPending" class="btn btn-default" placement="top" container="body"
                            ngbTooltip="{{member.name}} is a confirmed user." disabled>Active</button>

                        <ng-container *ngIf="member.isActivationPending && !member.isInvitationSent">
                            <ng-container *hasPermission="Permissions.canInviteUser;then thenInviteBlock; else elseInviteBlock"></ng-container>
                            <ng-template #thenInviteBlock>
                                <button [class.deleted]="member.isDeleted" [hidden]="isDisplayLoader(member.user_id)" class="btn btn-success" (click)="inviteUser(member, i)"
                                    placement="left" container="body" ngbTooltip="Invite {{member.name}} to view and edit maps">
                                    Invite </button>
                            </ng-template>
                            <ng-template #elseInviteBlock>
                                <button class="btn btn-success disabled" placement="left" container="body" ngbTooltip="Admin only">Invite
                                    <i class="fa fa-lock ml-1"></i>
                                </button>
                            </ng-template>
                        </ng-container>

                        <button [class.deleted]="member.isDeleted" [hidden]="isDisplayLoader(member.user_id)" *ngIf="member.isActivationPending && member.isInvitationSent"
                            class="btn btn-success" (click)="resendUser(member, i)" placement="left" container="body" ngbTooltip="Resend an invitation to {{member.name}}">Resend </button>
                        <div class="sending" [hidden]="!isDisplayLoader(member.user_id)">
                            <i *ngIf="isDisplayLoader(member.user_id)" class="text-muted fa fa-circle-o-notch fa-spin fa-fw fa-2x"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>