.member {
    float: left;
    background: 50% 50% no-repeat;
    background-size: auto 100%;
    width: 30px;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

.panel {
    background-color: #808C8A;
    border-color: #808C8A;
}

.team-list-panel {
    border-right: 2px solid #eee;
}

table.tableSection {
    display: table;
    width: 100%;
}

table.tableSection.right {
    font-size: small;
}

table.tableSection thead, table.tableSection tbody {
    float: left;
    width: 100%;
}

table.tableSection.left tbody {
    /*overflow: auto;
    height: 51vh;*/
    position: relative
}

table.overflow tbody{
    overflow: auto;
    height: 55vh;
}

table.tableSection.right tbody {
    overflow: auto;
    height: 55vh;
    position: relative
}

table.tableSection tr {
    width: 100%;
    /* display: table; */
    text-align: left;
}

table.tableSection th, table.tableSection td {
    /* width: 20%; */
    vertical-align: middle;
}

td.delete {
    font-size: 1em;
    margin-left: 1vw;
    min-width: 2vw;
}

.sending {
    text-align: center;
    margin-right: 1vw;
    margin-top: 1vh;
    position: relative;
}

.wrap {
    word-wrap: break-word;
}

.border-right {
    border-right: 1px solid #f5f5f5
}

.first-row {
    background-color: #2f81b778;
}