<ng-template #adminTipContent>
    <span class="text-warning">You don't have permission to do this.
        <a href="{{KB_URL_PERMISSIONS}}" target="blank">Learn more.</a>
    </span>
</ng-template>
<div class="d-flex flex-column align-items-start">
    <div class="mb-3 d-flex justify-content-end w-100">
        <div *hasPermission="Permissions.canAddUser; else elseBlock; then thenBlock"></div>
        <ng-template #elseBlock>
            <button class="btn btn-outline-secondary disabled" [stickyPopover]="adminTipContent">
                Add member
                <i class="fa fa-lock ml-1"></i>
            </button>
        </ng-template>
        <ng-template #thenBlock>
            <button data-toggle="collapse" href="#addMemberCollapse" role="button" class="btn btn-outline-secondary" (click)="isAddUserToggled=!isAddUserToggled"
                [class.active]="isAddUserToggled">Add member
                <i class="ml-1 fa fa-user-plus" aria-hidden="true"></i>
            </button>
        </ng-template>
    </div>

    <div class="collapse w-100" id="addMemberCollapse">
        <div class="card mb-3 bg-light border-light">
            <div class="card-body">
                <h5 class="card-title">Add a Maptio user to the team or create a new user</h5>
                <h6 class="card-subtitle mb-2 text-muted">Once they are imported, they must be invited to view and edit maps.</h6>
                <div class="card-text">
                    <ng-template #rt let-r="result" let-t="term">
                        <img src="{{r.picture}}" width="16" alt="{{r.name}}"> {{r.email}}
                    </ng-template>

                    <div class="input-group w-50">
                        <input #inputNewMember type="text" id="inputNewMember" [resultTemplate]="rt" placeholder="e.g. hermes.conrad@planetexpress.com"
                            class="form-control col-12" [ngModelOptions]="{standalone: true}" [ngModel]="newMember" (selectItem)="saveNewMember($event)"
                            [ngbTypeahead]="searchUsers" [resultFormatter]="formatter" [inputFormatter]="formatter" email />
                        <div class="input-group-append" *ngIf="!searchFailed || !inputNewMember.value">
                            <button class="btn btn-outline-success" [class.disabled]="!isUserChosen" type="button" (click)="addMemberToTeam()">
                                Add
                            </button>
                        </div>
                    </div>
                    <small *ngIf="isAlreadyInTeam" class="form-control-feedback text-warning">Already added!</small>

                    <small class="form-text">Search for a person in Maptio by email address or enter an email address to add someone new.
                    </small>
                    <span *ngIf="searching">searching...</span>

                    <div class="" *ngIf="searchFailed && inputNewMember.value">
                        <span *ngIf="!isUserSearchedEmail">No results</span>

                        <div *ngIf="isUserSearchedEmail" class="w-75">

                            <br>
                            <b>{{userSearched}}</b> ? We don’t know that person.
                            <div class="alert alert-danger " role="alert" *ngIf="errorMessage">
                                {{errorMessage}}
                            </div>

                            <form class="from-group" [formGroup]="inviteForm" (submit)="createUser(userSearched)">
                                <fieldset>
                                    <div class="input-group">
                                        <input type="text" id="inputFirstname" formControlName="firstname" class="form-control form-control-warning " placeholder="First name"
                                            required minlength="2">
                                        <input type="text" id="inputLastname" formControlName="lastname" class="form-control form-control-warning" placeholder="Last name"
                                            required minlength="2">
                                        <button type="submit" class="btn btn-outline-secondary" [class.disabled]="!inviteForm.valid">Add</button>
                                        <i *ngIf="isCreatingUser" class="text-muted fa fa-circle-o-notch fa-spin fa-fw fa-2x"></i>

                                    </div>
                                    <small class="form-control-feedback text-warning" *ngIf="inviteForm.controls['lastname'].invalid  && (inviteForm.controls['lastname'].dirty || inviteForm.controls['lastname'].touched)">
                                        Last name must be at least 2 characters in length
                                    </small>
                                    <small class="form-control-feedback text-warning" *ngIf="inviteForm.controls['firstname'].invalid  && (inviteForm.controls['firstname'].dirty || inviteForm.controls['firstname'].touched)">
                                        First name must be at least 2 characters in length
                                    </small>
                                </fieldset>

                            </form>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="w-100 overflow" [style.height.vh]="70">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Permission</th>
                    <th scope="col" class="pr-0">
                        <button class="btn btn-outline-secondary pull-right" mwlConfirmationPopover title="Are you sure you want to send an invitation email to  these {{invitableUsersCount}} users?"
                            placement="top" focusButton="cancel" appendToBody="true" (confirm)="inviteAll()" (cancel)="cancelClicked = true">Invite/resend all</button>
                    </th>
                </tr>
            </thead>
            <tbody [style.height.vh]="55">
                <ngx-loading [show]="isLoading"></ngx-loading>
                <tr *ngFor="let member of (members$ | async); trackBy: trackByMemberId;let i=index" [class.text-muted]="member.isDeleted"
                    [class.font-weight-light]="member.isDeleted" [class.bold]="member.userRole===UserRole.Admin">
                    <td>
                        <ng-container *hasPermission="Permissions.canDeleteUser;then thenDeleteBlock"></ng-container>
                        <ng-template #thenDeleteBlock>
                            <span *ngIf="!member.isDeleted" class="remove text-danger" aria-hidden="true" mwlConfirmationPopover title="This cannot be undone ! Are you sure you want to delete {{member.name}} ?"
                                placement="right" focusButton="cancel" appendToBody="true" (confirm)="deleteMember(member)" (cancel)="cancelClicked = true">
                            </span>
                        </ng-template>
                    </td>
                    <td class="d-flex align-items-center">
                        <img class="rounded-circle member mr-1" src="{{member.picture}}" alt="{{member.name}}">{{member.name}}
                    </td>
                    <td>{{member.email}}</td>
                    <td>
                        <ng-container *hasPermission="Permissions.canEditUser; else elseRoleBlock; then thenRoleBlock">main</ng-container>
                        <ng-template #elseRoleBlock>
                            {{UserRole[member.userRole]}}
                        </ng-template>
                        <ng-template #thenRoleBlock>
                            <select [disabled]="member.isDeleted" class="form-control" (change)="changeUserRole(member,$event.target.value)">
                                <option *ngFor="let userRole of UserRole | keys" [value]="userRole.key" [selected]="member.userRole">{{userRole.value}}</option>
                            </select>
                        </ng-template>
                    </td>
                    <td class="pr-0">
                        <span *ngIf="member.isDeleted" class="text-muted pull-right">(Deleted)</span>
                        <ng-container *ngIf="!member.isDeleted">
                            <button *ngIf="!member.isActivationPending" class="btn btn-default pull-right" placement="top" container="body" ngbTooltip="{{member.name}} is a confirmed user."
                                disabled>Active</button>

                            <ng-container *ngIf="member.isActivationPending && !member.isInvitationSent">
                                <ng-container *hasPermission="Permissions.canInviteUser;then thenInviteBlock; else elseInviteBlock"></ng-container>
                                <ng-template #thenInviteBlock>
                                    <button [class.deleted]="member.isDeleted" [hidden]="isDisplayLoader(member.user_id)" class="pull-right btn btn-outline-secondary"
                                        (click)="inviteUser(member, i)" placement="left" container="body" ngbTooltip="Invite {{member.name}} to view and edit maps">
                                        Invite </button>
                                </ng-template>
                                <ng-template #elseInviteBlock>
                                    <button class="btn btn-outline-secondary disabled pull-right" [stickyPopover]="adminTipContent" placement='left'>Invite
                                        <i class="fa fa-lock ml-1"></i>
                                    </button>
                                </ng-template>
                            </ng-container>

                            <button [class.deleted]="member.isDeleted" [hidden]="isDisplayLoader(member.user_id)" *ngIf="member.isActivationPending && member.isInvitationSent"
                                class="btn btn-outline-secondary pull-right" (click)="resendUser(member, i)" placement="left"
                                container="body" ngbTooltip="Resend an invitation to {{member.name}}">Resend </button>
                            <div class="sending" [hidden]="!isDisplayLoader(member.user_id)">
                                <i *ngIf="isDisplayLoader(member.user_id)" class="text-muted fa fa-circle-o-notch fa-spin fa-fw fa-2x"></i>
                            </div>
                        </ng-container>

                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>