<ng-template #adminTipContent>
    <span class="text-warning">You don't have permission to do this.
        <a href="{{KB_URL_PERMISSIONS}}" target="blank">Learn more.</a>
    </span>
</ng-template>
<div class="d-flex flex-column align-items-start">


    <div class="w-100">
        <div class="card mb-3 border-0 bg-white">
            <div class="">
                <div class="card-title lead">Add members</div>
                <div class="form-group">
                    <div class="form-inline">
                        <ng-container *permissionsOnly="Permissions.canAddUser; then thenAddBlock; else elseAddBlock"></ng-container>
                        <ng-template #thenAddBlock>
                            <input #inputNewMember class="form-control col-5" type="text" (keyup)="onKeyUp(inputNewMember.value)" email>
                        </ng-template>
                        <ng-template #elseAddBlock>
                            <input disabled class="form-control col-5" type="text" />
                            <span class="text-muted" [stickyPopover]="adminTipContent">
                                <i class="fa fa-lock mx-1"></i>
                            </span>
                        </ng-template>
                        <span class="text-success" *ngIf="isSearching">
                            <i class="fa fa-circle-o-notch fa-spin fa-fw mx-1"></i>Searching
                        </span>
                    </div>
                    <small *ngIf="!isShowSelectToAdd && !isShowInviteForm" class="form-text">Search for a person in Maptio by email address, or enter an email address to add someone new.
                    </small>
                    <div *ngIf="isShowSelectToAdd" class="my-3">
                        <div class="d-flex flex-column justify-content-start align-items-start col-5 p-0">
                            <span class="">Select to add</span>
                            <button class="btn btn-outline-secondary col-12 d-flex justify-content-start align-items-center py-3" (click)="addUser(foundUser)">
                                <img class="rounded-circle mr-2" src="{{foundUser.picture}}" width="30" alt="{{foundUser.name}}">
                                <span>{{foundUser.name}}</span>
                            </button>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div *ngIf="isShowInviteForm" class="my-3 col-7 p-0">

                        <small>
                            <div>Add a first and last name for
                                <b>{{inputEmail}}</b> and we'll add them to your organization.
                            </div>
                            <div>You can invite them to view and edit the maps later. </div>
                        </small>
                        <form class="form-row d-flex justify-content-start my-1" [class.align-items-start]="!isCreatingUser" [class.align-items-center]="isCreatingUser"
                            [formGroup]="inviteForm" (submit)="createUser(inputEmail)">

                            <div>
                                <input type="text" id="inputFirstname" formControlName="firstname" class="form-control form-control-warning " [class.is-invalid]="inviteForm.controls['firstname'].invalid  && (inviteForm.controls['firstname'].dirty || inviteForm.controls['firstname'].touched)"
                                    placeholder="First name" required minlength="2">
                                <small class="invalid-feedback">
                                    2 characters minimum
                                </small>
                            </div>
                            <div>
                                <input type="text" id="inputLastname" formControlName="lastname" class="form-control form-control-warning mx-2" [class.is-invalid]="inviteForm.controls['lastname'].invalid  && (inviteForm.controls['lastname'].dirty || inviteForm.controls['lastname'].touched)"
                                    placeholder="Last name" required minlength="2">

                                <small class="invalid-feedback">
                                    2 characters minimum
                                </small>
                            </div>

                            <button type="submit" class="btn btn-success mx-3">Add</button>
                            <span class="text-success" *ngIf="isCreatingUser">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw mx-1"></i>Creating
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="w-100" [style.height.vh]="70">
        <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isAlreadyInTeam">
            {{foundUser.name}} has already been added to {{team.name}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlreadyInTeamAlert()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Permission type
                        <a href="{{KB_URL_PERMISSIONS}}" target="blank">
                            <i class="fa fa-info-circle text-muted" aria-hidden="true"></i>
                        </a>
                    </th>
                    <th scope="col" class="pr-0">
                        <button class="btn btn-outline-secondary pull-right" mwlConfirmationPopover title="Are you sure you want to send an invitation email to these {{invitableUsersCount}} users?"
                            placement="top" focusButton="cancel" appendToBody="true" (confirm)="inviteAll()" (cancel)="cancelClicked = true">Invite/resend all</button>
                    </th>
                </tr>
            </thead>
            <tbody [style.height.vh]="55">
                <tr *ngFor="let member of (members$ | async); trackBy: trackByMemberId;let i=index" 
                     [class.bold]="member.userRole===UserRole.Admin">
                    <td>
                        <ng-container *permissionsOnly="Permissions.canDeleteUser;then thenDeleteBlock"></ng-container>
                        <ng-template #thenDeleteBlock>
                            <span class="remove text-danger" [class.d-none]="team.members.length===1" aria-hidden="true" mwlConfirmationPopover
                                title="This cannot be undone ! Are you sure you want to delete {{member.name}} from this organization?"
                                placement="right" focusButton="cancel" appendToBody="true" (confirm)="deleteMember(member)" (cancel)="cancelClicked = true">
                            </span>
                        </ng-template>
                    </td>
                    <td class="d-flex align-items-center">
                        <img class="rounded-circle member mr-1" src="{{member.picture}}" alt="{{member.name}}">{{member.name}}
                    </td>
                    <td>{{member.email}}
                        <br/>
                        <small [hidden]="!(member.isActivationPending && member.isInvitationSent)" class="text-info pull-left" placement="top" container="body"
                            ngbTooltip="{{member.name}} was sent an invitation.">Pending invitation</small>
                        <small [hidden]="!(member.isActivationPending && !member.isInvitationSent)" class="text-warning pull-left" placement="top"
                            container="body" ngbTooltip="{{member.name}} cannot view or edit maps.">Not yet invited</small>
                        <small [hidden]="member.isActivationPending" class="text-success pull-left" placement="top" container="body"
                            ngbTooltip="{{member.name}} can view and edit maps">Active</small>

                    </td>
                    <td>
                        <ng-container *permissionsOnly="Permissions.canEditUser; else elseRoleBlock; then thenRoleBlock">main</ng-container>
                        <ng-template #elseRoleBlock>
                            {{UserRole[member.userRole]}}
                        </ng-template>
                        <ng-template #thenRoleBlock>
                            <select class="form-control" (change)="changeUserRole(member,$event.target.value)">
                                <option *ngFor="let userRole of UserRole | keys| slice:0:2;" [value]="userRole.key" [selected]="member.userRole">{{userRole.value}}</option>
                            </select>
                        </ng-template>
                    </td>
                    <td class="pr-0">
                        <ng-container>
                            <ng-container *ngIf="!isDisplaySendingLoader(member.user_id) && !isDisplayUpdatingLoader(member.user_id)">
                                <ng-container *ngIf="member.isActivationPending && !member.isInvitationSent">
                                    <ng-container *permissionsOnly="Permissions.canInviteUser;then thenInviteBlock; else elseInviteBlock"></ng-container>
                                    <ng-template #thenInviteBlock>
                                        <button class="pull-right btn btn-outline-secondary" (click)="inviteUser(member, i)" placement="left"
                                            container="body" ngbTooltip="Invite {{member.name}} to view and edit maps">
                                            Invite </button>
                                    </ng-template>
                                    <ng-template #elseInviteBlock>
                                        <button class="btn btn-outline-secondary disabled pull-right" [stickyPopover]="adminTipContent" placement='left'>Invite
                                            <i class="fa fa-lock ml-1"></i>
                                        </button>
                                    </ng-template>
                                </ng-container>
                                <button  *ngIf="member.isActivationPending && member.isInvitationSent" class="btn btn-outline-secondary pull-right"
                                    (click)="resendUser(member, i)" placement="left" container="body" ngbTooltip="Resend an invitation to {{member.name}}">Resend </button>
                            </ng-container>
                            <ng-container *ngIf="isDisplaySendingLoader(member.user_id)">
                                <div class="indicator text-success d-flex justify-content-end align-items-center">
                                    <i class="fa fa-circle-o-notch fa-spin fa-fw text-success mx-1"></i> Sending
                                </div>
                            </ng-container>
                            <ng-container *ngIf="isDisplayUpdatingLoader(member.user_id)">
                                <div class=" indicator text-success d-flex justify-content-end align-items-center">
                                    <i class="fa fa-circle-o-notch fa-spin fa-fw text-success mx-1"></i> Updating
                                </div>
                            </ng-container>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>