<div class="d-flex align-items-center">
    <label *ngIf="label" for="inputAccountable" class="form-control-label col-form-label text-muted mr-1">{{label}}
    </label>
    <div class="w-100 position-relative " *ngIf="isShowAutocomplete">
        <input id="inputAutocomplete" #inputAutocomplete="ngbTypeahead" required="required"
            [resultTemplate]="resultTemplate" type="text" [placeholder]="placeholder"
            class="position-relative form-control background" [placement]="'bottom-left'" [(ngModel)]="item"
            (selectItem)="onSelect($event)" [ngbTypeahead]="search" [resultFormatter]="resultFormatter"
            [inputFormatter]="resultFormatter" (focus)="focus$.next($event.target.value);isShowAutocomplete=true"
            (blur)="onFocusOut()" (click)="click$.next($event.target.value);isShowAutocomplete=true" editable="false" />
        <button *ngIf="isShowAutocomplete" class="h-100 position-absolute top-right btn btn-link btn-sm"
            (click)="isShowAutocomplete=false">Cancel</button>

    </div>
    <div class="flex-grow-1 cursor-text" *ngIf="!isShowAutocomplete" (click)="isShowAutocomplete=true">
        <ng-content ></ng-content>
    </div>


    <div class="mx-1" *ngIf="removeConfirmationMessage && item">
        <button class="btn btn-outline-secondary remove" mwlConfirmationPopover
            [popoverMessage]="removeConfirmationMessage" placement="top" container="body" focusbutton="cancel"
            appendToBody="false" (confirm)="onRemove()" (cancel)="cancelClicked=true"></button>
    </div>
</div>