<div class="w-100">
  <div class="alert alert-info" role="alert" i18n>
    You can create as many maps as you'd like for your organisation.
  </div>

  <ul class="list-inline row d-flex align-items-stretch">
    @if (teams && !isCreateMapForbidden) {
      <li class="col-6 my-2">
        <div class="card bg-gradient text-white border-0 h-100">
          <div class="card-body">
            <common-create-map
              [user]="user"
              [teams]="teams"
              [isRedirect]="true"
              (created)="onNewMap($event)"
            ></common-create-map>
          </div>
        </div>
      </li>
    }

    <ng-container
      *permissionsOnly="
        Permissions.canEditMapName;
        then canEditMapThen;
        else canEditMapElse
      "
    ></ng-container>

    <ng-template #canEditMapThen>
      @for (dataset of datasets; track dataset) {
        <li class="col-6 my-2">
          <maptio-map-card
            [dataset]="dataset"
            [isExportAvailable]="true"
            [isTeamDisplayed]="false"
            [isEdit]="true"
            (archived)="onArchive($event)"
            (restored)="onRestore($event)"
          ></maptio-map-card>
        </li>
      }
    </ng-template>

    <ng-template #canEditMapElse>
      @for (dataset of datasets; track dataset) {
        <li class="col-6 my-2">
          @if (!dataset.isArchived) {
            <maptio-map-card
              [dataset]="dataset"
              [isExportAvailable]="true"
              [isTeamDisplayed]="false"
              [isEdit]="false"
            ></maptio-map-card>
          }
        </li>
      }
    </ng-template>
  </ul>
</div>
