<div
  class="info"
  [style.font-size]="fontSize"
>
  <div class="name">{{ circle.data.name }}</div>

  <div class="tags-list cluster">
    <div class="cluster__wrapper">
      <div
        class="tag"
        *ngFor="let tag of circle.data.tags"
        [style.background-color]="tag.color"
      >
        {{ tag.name }}
      </div>
    </div>
  </div>

  <div class="helpers-list cluster">
    <div class="cluster__wrapper">
      <img
        class="picture"
        *ngIf="circle.data.accountable?.picture"
        [src]="circle.data.accountable?.picture"
        alt=""

        matTooltip="{{ circle.data.accountable?.name }}"
        [matTooltipShowDelay]="300"
        matTooltipClass="picture__tooltip"
      >

      <img
        class="picture"
        *ngFor="let helper of circle.data.helpers"
        [src]="helper.picture"
        alt=""

        matTooltip="{{ helper.name }}"
        [matTooltipShowDelay]="300"
        matTooltipClass="picture__tooltip"
      >
    </div>
  </div>
</div>
