.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: white;
}

.picture {
  height: 1.5em;
  width: 1.5em;
  border-radius: 0.75em;
}
