<ng-template #memberLabel>
    <img crossOrigin="anonymous" src="{{member?.picture}}" class="rounded-circle participant-picture cursor-pointer" [ngbTooltip]="member?.name" placement="top" container="body" />
    <span *ngIf="!isPictureOnly" class="mx-1  cursor-pointer">{{member.name}}</span>
</ng-template>

<button *ngIf="!isLabel" class="px-0 btn btn-link d-flex align-items-center" (click)="onSelect(member)">
    <ng-container *ngTemplateOutlet="memberLabel"></ng-container>

</button>


<span *ngIf="isLabel" class="d-flex align-items-center">
    <ng-container *ngTemplateOutlet="memberLabel"></ng-container>

</span>