<div class="row cursor-auto">
    <div class="d-flex col-12">
        <div class="col mr-3" *ngIf="selectedMember">
            <summary-personal [datasetId]="datasetId" [member]="selectedMember" [team]="team" [initiative]="initiative"></summary-personal>
        </div>
        <div [class.col-3]="selectedMember" [class.w-100]="!selectedMember" class="border-0" >
            <div class="card border-0 bg-transparent">
                <div *ngIf="!selectedMember">
                    <h1>Directory</h1>
                    <h6 class="text-muted" *ngIf="initiative">

                        This is a directory of organisation
                        <a routerLink="/teams/{{team.team_id}}/{{team.getSlug()}}">{{team.name}}</a>. Select a person to see their circles in map
                        <a routerLink="../circles">{{initiative?.name}}</a>: </h6>
                </div>
                <h6 *ngIf="selectedMember"> Other people</h6>
                <div class="form-group form-inline d-flex flex-column align-items-start" [class.w-25]="!selectedMember" [class.my-3]="!selectedMember" *ngIf="initiative">
                    <input id="inputQuickFilter" #inputQuickFilter placeholder="Find a person" type="text" class="form-control w-100" (keyup)="onKeyDown(inputQuickFilter.value)">
                    <div [class.invisible]="!inputQuickFilter.value" class="d-flex justify-content-between align-items-center w-100">
                        <span class="text-muted small">{{filteredMembers.length}}/{{members?.length}} people</span>

                        <button class="btn btn-link btn-sm px-0" (click)="onKeyDown('');inputQuickFilter.value=''">
                            Show all
                        </button>
                    </div>
                </div>
            </div>
           
            <ul class="card-columns p-0" [class.five-columns]="!selectedMember"  [class.one-column]="selectedMember">
                <a class="card" *ngFor="let member of filteredMembers" routerLink="." [queryParams]="{member: member.shortid}" [class.active]="selectedMember?.user_id === member?.user_id">
                    <div class="card-body" >
                        <img *ngIf="member.picture" [src]="member.picture" width="32" height="32" class="rounded-circle user mr-1">{{member.name}}
                    </div>
                </a>
            </ul>
        </div>
    </div>
</div>