<div [style.width.px]="width" class="my-5">
    <div class="row cursor-auto">
        <div class="d-flex col-12">
            <div class="col" *ngIf="selectedMember">
                <summary-personal [datasetId]="datasetId" [member]="selectedMember" [team]="team" [initiative]="initiative"></summary-personal>
            </div>
            <div [class.col-4]="selectedMember" [class.col-12]="!selectedMember" [class.border-left]="selectedMember">
                <div class="mb-3" [class.mx-3]="!selectedMember" [class.mx-0]="selectedMember">
                    <div *ngIf="!selectedMember">
                        <h2>Directory</h2>
                        <h6 class="text-muted" *ngIf="initiative">This is a directory of people involved in map
                            <a routerLink="./circles">{{initiative?.name}}</a>. Select a member to see their circles: </h6>
                    </div>
                    <span *ngIf="selectedMember"> Other people</span>
                    <div class="form-group form-inline mb-0 mt-3" *ngIf="initiative && selectedMember">
                        <div class="input-group w-75">
                            <input id="inputQuickFilter" #inputQuickFilter placeholder="Find a member" type="text" class="form-control" (keyup)="onKeyDown(inputQuickFilter.value)">
                            <div class="input-group-append">
                                <button ngbTooltip="Clear search" placement="top" container="body" class="btn btn-dark" (click)="onKeyDown('');inputQuickFilter.value=''">
                                    <i class="fas fa-eraser" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>


                    </div>
                </div>


                <ul class="nav flex-column nav-pills" *ngIf="selectedMember">
                    <li *ngFor="let member of filteredMembers" class="nav-item">
                        <a class="nav-link" routerLink="." [queryParams]="{member: member.shortid}" [class.active]="selectedMember?.user_id === member?.user_id">
                            <img [src]="member.picture" width="32" height="32" class="rounded-circle mr-1">{{member.name}}
                        </a>
                    </li>
                </ul>
                <ul class="columns p-0" *ngIf="!selectedMember">
                    <li *ngFor="let member of filteredMembers" class="nav-item">
                        <a class="nav-link" routerLink="." [queryParams]="{member: member.shortid}" [class.active]="selectedMember?.user_id === member?.user_id">
                            <img [src]="member.picture" width="32" height="32" class="rounded-circle mr-1">{{member.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>