<div class="first-person">

    <div class="row">
        <div class="col-sm-4 offset-sm-2">
            <div class="card borderless">
                <div class="card-block">
                    <h3 class="card-title"><img class="rounded-circle profile" src="{{(user |async)?.picture}}" alt="{{(user |async)?.name}}"> is
                        responsible for</h3>
                    <div class="list-group">
                        <div *ngFor="let i of authorities" class=" list-group-item flex-column align-items-start ">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{i.name}}</h5>

                            </div>
                            <span class="mb-1" *ngIf="(i.helpers?.length !== 0)">with the help of 
                                <div class="btn-group">
                                    <a *ngFor="let h of i.helpers" class="btn btn-link btn-xs no-padding">
                                        <img class="rounded-circle helper" src="{{h.picture}}" alt="{{h.name}}" title="{{h.name}}"
                                        placement="top" container="body" ngbTooltip="{{h.name}}"
                                        >
                                    </a>
                                </div>
                                </span>
                            <span class="mb-1" *ngIf="(i.helpers?.length === 0)">No helpers</span>

                            <!-- <ul>
                                    <li *ngFor="let h of i.helpers">{{h.name}}</li>
                                </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card borderless">
                <div class="card-block">
                    <h3 class="card-title"><img class="rounded-circle profile" src="{{(user |async)?.picture}}" alt="{{(user |async)?.name}}"> helps
                        </h3>
                    <div class="list-group">
                        <div *ngFor="let i of helps" class=" list-group-item flex-column align-items-start ">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{i.name}}</h5>

                            </div>
                            <span class="mb-1" *ngIf="(i.helpers?.length !== 0)">Authority  
                                        <img class="rounded-circle authority" src="{{i.accountable?.picture}}" alt="{{i.accountable?.name}}" title="{{i.accountable?.name}}"
                                        placement="top" container="body" ngbTooltip="{{i.accountable?.name}}"
                                        >
                                </span>

                            <span class="mb-1" *ngIf="(i.helpers?.length !== 0)">Helpers 
                                <div class="btn-group">
                                    <a *ngFor="let h of i.helpers" class="btn btn-link btn-xs no-padding">
                                        <img class="rounded-circle helper" src="{{h.picture}}" alt="{{h.name}}" title="{{h.name}}"
                                        placement="top" container="body" ngbTooltip="{{h.name}}"
                                        >
                                    </a>
                                </div>
                                </span>
                            <span class="mb-1" *ngIf="(i.helpers?.length === 0)">No helpers</span>

                            <!-- <ul>
                                    <li *ngFor="let h of i.helpers">{{h.name}}</li>
                                </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>