.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

/*
.label {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: left;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  color:white;
}
*/

.label,
.node--root,
.node--leaf {
  /*pointer-events: none;*/
}

.tooltip {	
  font:  "Helvetica Neue", Helvetica, Arial, sans-serif;
  
    position: absolute;			
    text-align: center;					
    padding: 2px;				
    font:  sans-serif;		
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;		
}

/*svg text {
   font-family: FontAwesome;
}*/


svg text {
  font-size:12px;
    font-weight: normal;
    font-family:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: left;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  color:white;
    transition: font-weight 100ms;
}
svg text.highlighted {
    font-weight: bold;
}

svg .icon{
  font-family: FontAwesome;
  font-size:15px;
    
}