<form [formGroup]="form" (submit)="add()" class="form-group" *ngIf="!member">
    <div class="form-group w-50">
        <input formControlName="authority" required class="form-control" type="text" name="" id="" [class.is-invalid]="isInvalid('authority')">
        <small class="form-text text-muted">
            What does your organization call the person in the main key role for each circle? e.g. Lead, Authority, Driver, Lead link,
            Source.
        </small>
    </div>
    <div class="form-group w-50">
        <input formControlName="helper" required class="form-control" type="text" name="" id="" [class.is-invalid]="isInvalid('helper')">
        <small class="form-text text-muted">And what do you call others contributing to an circle? e.g. Contributor, Helper, Role-holder, Sub-source.
        </small>
    </div>
    <div class="form-group w-50 d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-success">
            <i *ngIf="isAdding" class="fas fa-circle-notch fa-spin"></i>
            Save</button>
    </div>
</form>