<common-modal [nextActionName]="nextActionName" [previousActionName]="previousActionName" [isSkippable]="isSkippable" [isReady]="true"
    [isWithProgress]="true" [isWithProgress]="false" [progress]="progress" [progressLabel]="progressLabel" (next)="nextStep()"
    (previous)="previousStep()">

    <ng-container *ngIf="currentStep === 'Welcome'">
        <ng-container *ngTemplateOutlet="welcome"></ng-container>
    </ng-container>

    <ng-container *ngIf="currentStep === 'CreateTeam'">
        <ng-container *ngTemplateOutlet="createteam"></ng-container>
    </ng-container>

    <ng-container *ngIf="currentStep === 'AddMember'">
        <ng-container *ngTemplateOutlet="addmember"></ng-container>
    </ng-container>
    <ng-container *ngIf="currentStep === 'Terminology'">
        <ng-container *ngTemplateOutlet="terminology"></ng-container>

    </ng-container>
    <ng-container *ngIf="currentStep === 'PickColor'">
        <ng-container *ngTemplateOutlet="pickcolor"></ng-container>
    </ng-container>
    <ng-container *ngIf="currentStep === 'CreateMap'">
        <ng-container *ngTemplateOutlet="createmap"></ng-container>
    </ng-container>
    <ng-container *ngIf="currentStep === 'Ending'">
        <ng-container *ngTemplateOutlet="ending"></ng-container>
    </ng-container>
</common-modal>

<ng-template #welcome>

    <span class="display-4">
        <span class="text-accent">👋 {{user?.firstname}} </span>, your first map is just a few clicks away!</span>
    <h4 class="my-4 text-muted">
        We'll guide you through creating your first map , it should only take a few minutes.
    </h4>

</ng-template>

<ng-template #createteam>
    <h1 class="text-center">What should we call your organization?</h1>
    <div class="my-5">
        <div class="form-row w-100 d-flex justify-content-center align-items-center flex-column">
            <input [(ngModel)]="team.name" type="text" class="form-control col-6">
            <small *ngIf="teamCreationErrorMessage" class="form-text text-danger">{{teamCreationErrorMessage}}</small>
            <small *ngIf="isCreatingTeam" class="text-success">
                <i class="fas fa-circle-notch fa-spin"></i> Setting up your organization</small>
        </div>
    </div>

</ng-template>


<ng-template #addmember>
    <h1 class="text-center">Who is in
        <b>{{team.name}}</b>?</h1>
    <h4 class="text-muted">
        Add members to your organization to bring your maps to life.
    </h4>

    <div class="mt-5 ">
        <div class="my-1 d-flex justify-content-start align-items-center " *ngFor="let member of members; let i=index">
            <onboarding-add-member [member]="member"></onboarding-add-member>
        </div>
        <div class="my-3 " *ngFor="let i of getMemberIndexes()">
            <div class="d-flex justify-content-start align-items-center">
                <onboarding-add-member [team]="team" (added)="onAdded($event)"></onboarding-add-member>
            </div>
        </div>
    </div>

    <p class="text-muted mt-5">
        <span>
            <i class="fas fa-info-circle"></i>
            A great place to start is adding the 3 people who have the most responsibility in the organization.You can invite them to
            view and edit the maps later.
        </span>
    </p>

</ng-template>
<ng-template #terminology>
    <h1 class="text-center">What should we call them?</h1>

    <h4 class="text-muted">Tell us how
        <b>{{team.name}}</b> calls its people internally, it will help make the maps more realistic.</h4>

    <div class="my-4">
        <onboarding-add-terminology [team]="team" (added)="isTerminologySaved=true"></onboarding-add-terminology>

    </div>

</ng-template>

<ng-template #createmap>
    <h1 class="text-center">Your map is almost ready!</h1>

    <h4 class="text-muted">Just give a us a name, we'll create a brand new map for you.</h4>

    <div class="my-5">
        <div class="form-inline w-100 d-flex justify-content-start align-items-center">
            <label for="inputMapName" class="h5 mr-1">Map name: </label>

            <input [(ngModel)]="mapName" type="text" id="inputMapName" class="form-control col-6">
        </div>
        <small class="form-text">Most people find it helpful to ....</small>

        <small *ngIf="mapCreationErrorMessage" class="form-text text-danger">{{mapCreationErrorMessage}}</small>

        <div class="my-5 w-100 d-flex justify-content-between align-items-stretch">
            <div class="custom-control custom-radio custom-control-inline col-6">
                <input type="radio" id="emptyMapRadio" name="mapOptionsRadio" [checked]="isCreatingEmptyMap" class="custom-control-input">
                <label class="custom-control-label" for="emptyMapRadio">
                    <div class="card cursor-pointer h-100" (click)="isCreatingEmptyMap=true">
                        <div class="card-header">
                            I want to create a map from scratch
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                We'll create a completely empty map, you'll be free to add your vision and circles without our help.
                            </p>
                            <p class="card-text small">
                                Better if you have played extensively with the sample map and already know where to place your circles
                            </p>
                        </div>
                    </div>

                </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline col-6">
                <input type="radio" id="instructionsMapRadio" name="mapOptionsRadio" [checked]="!isCreatingEmptyMap" class="custom-control-input">
                <label class="custom-control-label" for="instructionsMapRadio">
                    <div class="card cursor-pointer h-100" (click)="isCreatingEmptyMap=false">
                        <div class="card-header">
                            I want some help creating my map
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                We'll create a map with some instructions to get you started
                            </p>
                            <p class="card-text small">
                                Better if you have are not sure where everything fits yet and would like a little guidance
                            </p>
                        </div>
                    </div>

                </label>
            </div>
        </div>
    </div>



</ng-template>

<ng-template #ending>

    <div class="d-flex justify-content-center align-items-center flex-column text-gradient-gold">
        <i class="fas fa-trophy  icon-ending"></i>
        <h1>Nice one!</h1>
    </div>

    <div class="d-flex justify-content-center align-items-center flex-column my-3">

        <h4 class="text-muted">Your map is ready. Go and create some circles, we'll be here if you need us.</h4>
    </div>



    <!-- <h4 class="my-5">
        You can start mapping right away. Any questions?
        <ul class="ml-2 my-3">
            <li class="h6 py-2"> Start a chat with us or email us at support@maptio.com</li>
            <li class="h6 py-2"> Read our
                <a target="blank" href="https://medium.com/maptio/create-organisational-clarity-using-initiative-mapping-967069247380">free guide</a> to mapping your organization
            </li>
            <li class="h6 py-2">
                <a target="blank" href="https://calendly.com/tomnixon/30min">Book a free mastery call</a> with Maptio founder Tom Nixon

            </li>

        </ul>
    </h4> -->
    <!-- <h4>Look forward to talking to you!</h4> -->


</ng-template>