<div *ngIf="!isLoading" class="row">
    <div *ngIf="team?.isPaying" class="col-12 my-5">
        <div>
            <h5>Subscription status</h5>
            <hr>
            <div>
                <span class="text-green">Payment is up to date
                    <i class="ml-1 fa fa-check-circle text-green" aria-hidden="true"></i>
                </span>
            </div>
        </div>

        <div *permissionsOnly="Permissions.canSubscribe" class="my-5">
            <h5>Subscription information</h5>
            <hr>
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{{BILLING_PORTAL}}">Access your invoices and billing information or cancel your subscription</a>
                    <a class="btn btn-light" target="_blank" href="{{BILLING_PORTAL}}">Billing portal</a>
                </div>
            </div>
        </div>

        <div class="my-5">
            <h5>Available plans</h5>
            <hr>
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between align-items-center">
                    <a routerLink="/pricing">See all available plans and subscribe on the pricing page</a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!team?.isPaying" class="col-12 my-5">
        <div class="mb-5" *ngIf="remaningTrialDays >=0"> You have
            <b [class.text-green]="remaningTrialDays>0" [class.text-danger]="remaningTrialDays<=0">{{remaningTrialDays}} remaining days</b> on your free trial.
        </div>

        <div class="mb-5 " *ngIf="remaningTrialDays < 0">
            <p>
              <b class="text-danger">Your free trial is over!</b>
            </p>

            <p>
                Subscribe to a plan below to continue using Maptio or
                <a href="mailto:support@maptio.com?subject=I need more time to try Maptio">ask us for an free trial extension.</a>
            </p>
        </div>

        <div>
            <h5>Plans</h5>
            <hr>
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between align-items-center">
                    <a routerLink="/pricing">See all available plans and subscribe on the pricing page</a>
                </div>
            </div>
        </div>
    </div>
</div>
