@if (showDetailsPanel) {
  <div class="search-panel">
    <maptio-search [rootCircle]="rootCircle"></maptio-search>
  </div>
}

@if (showDescriptions$ | async) {
  <div class="circle-details">
    <h1 class="circle-details__name">
      {{ selectedCircleName$ | async }}
    </h1>
    @if (selectedCircleDescription$ | async; as description) {
      <markdown
        class="circle-details__description cursor-text d-block border-0 w-100 h-100"
        [data]="description"
      ></markdown>
    }
  </div>
}

<maptio-svg-zoom-pan (click)="onBackdropClick()">
  @for (primaryCircle of rootCircle?.children; track primaryCircle) {
    <svg:g maptioCircle [circle]="primaryCircle"></svg:g>
  }
  @let selectedCircle = selectedCircle$ | async;
  @if (selectedCircle) {
    <svg:g
      [attr.transform]="
        'translate(' +
        selectedCircle.x +
        ',' +
        selectedCircle.y +
        ') scale(' +
        selectedCircle.r / 500 +
        ')'
      "
    >
      <g
        maptioCircleMenu
        [defaultRadius]="500"
        [circleNode]="selectedCircle"
      ></g>
    </svg:g>
  }
</maptio-svg-zoom-pan>
