.unresizable {
    resize: none;
}

.help-popup::before {
    content: "\f05a";
    font-family: FontAwesome;
    color: #ccc;
}

span.help-popup {
    background: transparent;
}

.authority {
    width: 20px;
}

.transparent {
    background: transparent;
}

.overflow {
    max-height: 36vh;
    overflow-y: auto;
}

.background {
    background-size: contain !important;
    padding-left: 3vw;
}