.unresizable {
    resize: none;
    background-color: white;
}

.help-popup::before {
    content: "\f05a";
    font-family: FontAwesome;
    color: #ccc;
}

span.help-popup {
    background: transparent;
}

.authority {
    width: 20px;
}

.transparent {
    background: transparent;
}

.overflow {
    max-height: 30vh;
    overflow-y: auto;
}

.background {
    background-size: contain !important;
    padding-left: 3vw;
}

.invisible{
    opacity: 0;
    height: 0
}

textarea{
    background-color: white;
}

