<form>
	<fieldset>
		<div class="mb-3">
			<div class="row">
				<div class="col-xl-12 mt-3">
					<input type="text" [disabled]="isReadOnly" class="form-control unresizable" id="inputName" type="text" name="inputName" [ngModelOptions]="{standalone: true}"
					 [ngModel]="node?.name" placeholder="Initiative name" (ngModelChange)="saveName($event)" rows="2" cols="" (blur)="onBlur()"
					/>
				</div>
			</div>
		</div>
		<div class="card mb-3">
			<div class="card-block">
				<div class="row justify-content-between no-gutters">
					<label for="inputAccountable" class="form-control-label col-form-label">Authority	
							<span class="help-popup" placement="top" container="body" ngbTooltip="The authority is the source of the initiative"></span>
							
					</label>
					
					<div class="ml-2 col">
						<ng-template #rt let-r="result" let-t="term">
							<img src="{{r.picture}}" class="rounded-circle authority" /> {{r.name}}</ng-template>
						<!-- <span *ngIf="searching">searching...</span> -->
						<div class="input-group">
							<!-- <span class="input-group-addon transparent" *ngIf="node?.accountable?.picture"><img class="rounded-circle authority" src="{{node?.accountable?.picture}}" /></span> -->
							<input #person [disabled]="isReadOnly" required="required" [resultTemplate]="rt" type="text" id="inputAccountable" placeholder="Enter team member"
							[ngStyle]="{'background': ' url(' + node?.accountable?.picture + ') no-repeat'}" 
							
							class="form-control borderless-right background" [class.borderless-left]="node?.accountable?.picture" [ngModelOptions]="{standalone: true}"
							 [ngModel]="node?.accountable" (selectItem)="saveAccountable($event)" [ngbTypeahead]="searchTeamMember" [resultFormatter]="formatter"
							 [inputFormatter]="formatter" (blur)="onBlur()" />
							
							<span class="input-group-addon remove text-danger" (click)="removeAuthority()" placement="top" container="body" ngbTooltip="Clear"></span>
						</div>
					</div>
				</div>
				<span class="help-block">helps <b>{{parent?.accountable?.name || "..."}}</b>  with <b>{{parent?.name}}</b></span>
				<div class="row">
					<div class="col-xl-12 mt-3">
						<textarea [disabled]="isReadOnly" autofocus data-provide="markdown" data-iconlibrary="fa" class="form-control initiativeMarkdownDescription"
						 id="inputDescription" [ngModelOptions]="{standalone: true}" [ngModel]="node?.description" rows="5" placeholder='Describe "{{node?.name}}" in your own words'
						 (ngModelChange)="saveDescription($event)" (blur)="onBlur()"></textarea>
					</div>
				</div>
			</div>
		</div>

		<div class="card mb-3 overflow">
			<div class="card-block">
				<h6 class="card-subtitle mb-2 text-muted">Who’s helping with this initiative?
					<span class="help-popup" placement="top" container="body" ngbTooltip="A source is rarely able to fully manifest their initiative alone. They usually need help.
						
						Helpers bring specific ideas and carry out actions to realise the vision"></span>
				</h6>
				<div class="form-group row overflow" id="members">
					<div class="col-lg-12">
						<div *ngIf="(team | async)" class="d-flex flex-wrap">
							<div *ngFor="let user of (members | async)" class="checkbox col-sm-6 small p-1">
									
								<div  *ngIf="!isAuthority(user)">
									<label><input  #helper class="inputHelper" type="checkbox" (click)="addHelper(user, helper.checked)" [checked]="isHelper(user)" [disabled]="isAuthority(user) || isReadOnly"  (blur)="onBlur()">
											<span><img src="{{user.picture}}" width="16" class="rounded-circle">
										 <a routerLink="/summary/map/{{datasetId}}/{{(dataset | async)?.initiative?.getSlug()}}/u/{{user.shortid}}/{{user.getSlug()}}">{{user.name}}</a>	
										 <!-- {{user.name}} -->
												</span> </label>
									
								</div>
								<div *ngIf="isAuthority(user)">
										<a routerLink="/summary/map/{{datasetId}}/{{(dataset | async)?.initiative?.getSlug()}}/u/{{user.shortid}}/{{user.getSlug()}}"><b >{{user.name}} </b></a>
									<span class="text-muted">(Authority)</span>
								</div>
							</div>
						</div>

						<div *ngIf="!(team | async)">No team available for selection</div>

					</div>
				</div>
			</div>
		</div>
	</fieldset>
</form>