<modal #initiativeModal [keyboard]="true" [backdrop]="true">
	<modal-header [show-close]="false">
		<h4 class="modal-title">Initiative details</h4>
	</modal-header>
	<modal-body>

		<form class="form-horizontal">
			<fieldset>
				<div class="form-group">
					<label for="inputName" class="col-lg-2 control-label">Short Name</label>
					<div class="col-lg-10">
						<input class="form-control input-sm" id="inputName" type="text" name="inputName" [ngModelOptions]="{standalone: true}" [ngModel]="data?.name"
						 placeholder="Initiative name" (ngModelChange)="saveName($event)" />
						<span class="help-block">A short but descriptive title for the initiative</span>
					</div>
				</div>

				<div class="form-group">
					<label for="select" class="col-lg-2 control-label">Accountability</label>
					<div class="col-lg-10">

						<div class="input-group">

							<ng-template #rt let-r="result" let-t="term">
								<img src="{{r.picture}}" width="16"> {{ r.name}}
							</ng-template>

							<input #person required type="text" id="inputAccountable" [resultTemplate]="rt" placeholder="Select or add an accountable team member"
							 class="form-control" [ngModelOptions]="{standalone: true}" [ngModel]="data?.accountable" (selectItem)="saveAccountable($event)"
							 [ngbTypeahead]="searchTeamMember" [resultFormatter]="formatter" [inputFormatter]="formatter" />
							<span class="input-group-btn">
	  <button [ngClass]="{'disabled': isTeamMemberFound, 'btn-success': isTeamMemberAdded}"  class="btn btn-default" type="button" (click)="addTeamMember()">
		  <i *ngIf="!isTeamMemberAdded" class="fa fa-user-plus" aria-hidden="true"></i>
		  <i *ngIf="isTeamMemberAdded" class="fa fa-check" aria-hidden="true"></i>
		  </button>
    </span>
						</div>
						<span class="help-block">The accountable team member (see RACI)</span>

					</div>
				</div>

				<div class="form-group">
					<label for="inputName" class="col-lg-2 control-label">Helpers</label>
					<div class="col-lg-10">


						<div *ngIf="team;then content else other_content"></div>

						<ng-template #content>
							<div *ngFor="let user of team?.members" class="checkbox">
								<label><input #helper class="inputHelper" type="checkbox" (click)="addHelper(user, helper.checked)" [checked]="isHelper(user)"><img src="{{user.picture}}" width="16">{{user.name}}</label>
							</div>
						</ng-template>
						<ng-template #other_content>No team available for selection</ng-template>


						<span class="help-block">List of helpers</span>
					</div>
				</div>


				<div class="form-group">
					<label for="inputDescription" class="col-lg-2 control-label">Description</label>
					<div class="col-lg-10">
						<textarea autofocus data-provide="markdown" data-iconlibrary="fa" class="form-control initiativeMarkdownDescription" id="inputDescription"
						 rows="10" [ngModelOptions]="{standalone: true}" [ngModel]="data?.description" placeholder="Description" (ngModelChange)="saveDescription($event)"></textarea>

						<span class="help-block">Describe the initiative here : budget, stakeholders, etc</span>
					</div>
				</div>
			</fieldset>
		</form>
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-primary" (click)="modal.close()">Save &amp; Close</button>
	</modal-footer>
</modal>