::ng-deep svg.background {
    background: #fff;
}

::ng-deep .initiative-map.node {
    cursor: pointer;
}

::ng-deep .initiative-map.node:hover {
    /* stroke: initial; */
    stroke-width: initial;
}

::ng-deep .initiative-map.node text {
    fill: #fff;
}

::ng-deep .initiative-map.node--leaf {
    fill: white;
    pointer-events: visible;
}

::ng-deep .initiative-map.node--leaf text {
    fill: #000;
}

::ng-deep .initiative-map.node--root {
    display: none;
}

::ng-deep svg circle.initiative-map:hover {
    stroke: #000;
    stroke-width: 3.5px;
}

::ng-deep svg text.initiative-map.accountable {
    fill: #555;
    /* stroke-width: 0px; */
    /* stroke: #555; */
}

::ng-deep .accountable.initiative-map {
    font-weight: 500;
}

/* ::ng-deep svg text.name {
    fill: #000;
} */

::ng-deep .name.initiative-map {
    font-weight: 500;
}

::ng-deep .label.initiative-map {
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: start;
    /* text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff; */
}

::ng-deep .arrow_box {
    position: absolute;
    left: 0;
    top: 0;
    background: #efefef;
    /* border: 1px solid #444; */
    border-radius: 5px;
    width: 350px;
    padding: 10px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

::ng-deep .arrow_box .content{
    max-height: 25vh;
    overflow-y: auto;
}

::ng-deep .arrow_box button {
    pointer-events: auto;
    cursor: pointer;
    color: #2F81B7;
    white-space: normal;
}

::ng-deep .arrow_box.show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.1s ease-in;
}

::ng-deep .arrow_box.arrow-bottom:after, .arrow_box.arrow-bottom:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

::ng-deep .arrow_box.arrow-bottom:after {
    border-color: rgba(245, 245, 245, 0);
    border-top-color: #f5f5f5;
    border-width: 10px;
    margin-left: -10px;
}

::ng-deep .arrow_box.arrow-bottom:before {
    border-color: rgba(68, 68, 68, 0);
    border-top-color: #444;
    border-width: 13px;
    margin-left: -13px;
}

::ng-deep .arrow_box.arrow-top:after, .arrow_box.arrow-top:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

::ng-deep .arrow_box.arrow-top:after {
    border-color: rgba(245, 245, 245, 0);
    border-bottom-color: #f5f5f5;
    border-width: 10px;
    margin-left: -10px;
}

::ng-deep .arrow_box.arrow-top:before {
    border-color: rgba(68, 68, 68, 0);
    border-bottom-color: #444;
    border-width: 13px;
    margin-left: -13px;
}