::ng-deep svg.background {
    background: #f5f5f5;
}

::ng-deep .node {
    cursor: pointer;
}

::ng-deep .node:hover {
    /* stroke: #000;
    stroke-width: 3.5px; */
}

::ng-deep .node text {
    fill: #fff;
}

::ng-deep .node--leaf {
    fill: white;
    pointer-events: visible;
}

::ng-deep .node--leaf text {
    fill: #000;
}

::ng-deep .node--root {
    display: none;
}

::ng-deep svg circle:hover {
    stroke: #000;
    stroke-width: 3.5px;
}

::ng-deep svg text.accountable {
    fill: #555;
    /* stroke-width: 0px; */
    /* stroke: #555; */
}

::ng-deep .accountable {
    font-weight: 500;
}

/* ::ng-deep svg text.name {
    fill: #000;
} */

::ng-deep .name {
    font-weight: 500;
}

::ng-deep .label {
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: start;
    /* text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff; */
}

::ng-deep .label, .node--root, .node--leaf {
    /* pointer-events: none; */
}

/* ::ng-deep .arrow_box {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    font-size: .875rem;
    word-wrap: break-word;
    opacity: 0;
    background: white;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid black;	
    width: 200px;
} */

::ng-deep .arrow_box {
    position: absolute;
    background: #f5f5f5;
    border: 1px solid #444;
    border-radius: 5px;
    width: 350px;
    padding: 10px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    opacity: 0;
    transition: opacity 0s ease-in;
}

::ng-deep .arrow_box.show {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

::ng-deep .arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

::ng-deep .arrow_box:after {
    border-color: rgba(245, 245, 245, 0);
    border-top-color: #f5f5f5;
    border-width: 10px;
    margin-left: -10px;
}

::ng-deep .arrow_box:before {
    border-color: rgba(68, 68, 68, 0);
    border-top-color: #444;
    border-width: 13px;
    margin-left: -13px;
}