.save {
  position: absolute;
  margin: 5px;
}

.save:before {
  content: "\f0c7";
  font-family: FontAwesome;
}

.control {
  position: absolute;
  right: 0.5vw;
  /* box-shadow: 1px 1px 6px #888888; */
  top: 14vh;
  margin-right: 0.5vw;
  border-radius: 4px;
  background-color: rgb(224, 224, 224);
  /* width: 43px; */
  transition: 0.3s ease-in;
}

.control.showSettings {
  right: 45vw;
  transition: 0.3s ease-in;
}

.control.first {
  top: 12vh;
}

.control.second {
  top: 29vh;
}

.control.third {
  top: 50vh;
}

.control.fourth {
  top: 83vh;
}

.background {
  background-color: #f0ad4e;
}

.background {
  background-color: #f0ad4e;
}

.control>a {
  color: gray;
  border: 1px solid lightgray;
  background-color: #FCFCFC;
  clear: both;
  width: 100%;
  height: 100%;
}

.control>a:hover {
  color: black;
}

.plus:before {
  content: "\f067";
  font-family: FontAwesome;
}

.minus:before {
  content: "\f068";
  font-family: FontAwesome;
}

.reset:before {
  content: "\f066";
  font-family: FontAwesome;
}

.settings:before {
  content: "\f1de";
  font-family: FontAwesome;
}

.edit-tag:before {
  content: "\f02c";
  font-family: FontAwesome;
}

.locked:before {
  content: "\f023";
  font-family: FontAwesome;
}

.unlocked:before {
  content: "\f13e";
  font-family: FontAwesome;
}

.btn-tag {
  /* width: 50px;
  height: 39px; */
}

.options {
  width: 44px;
}

.options:before {
  content: "\f0d7";
  font-family: FontAwesome;
}

.first-person-view:before {
  content: "\f03a";
  font-family: FontAwesome;
  height: 50px;
  padding: 0;
  color: black
}

.zoom a {
  border: 0;
}

.vertical {
  writing-mode: bt-lr;
  /* width: 44px; */
  /* height: 22px; */
  margin-left: 3px;
  margin-right: 3px;
}

.control.second>span {
  position: absolute;
  top: 85%;
}

.active-link {
  background-color: #2F81B7;
}



#sideNavSettings {
  height: 90vh;
  max-height: 90vh;
  min-width: 0.0vw;
  position: fixed;
  right: 0;
  overflow: hidden;
  transition: 0.3s ease-in;
  background-color: #fff;
  margin-top: 3vh;
  width: 0;
  padding: 0 0 0 0;
  /* border: solid #f5f5f5; */
  /* box-shadow: -9px -5px #888888; */
}

#sideNavSettings.showSettings {
  width: 45vw;
  transition: 0.3s ease-in;
  padding: 10px;
  z-index: 10;
  /* background-color: #38AECC; */
  background-color: #fff;
}

.map {
  margin-left: 0;
  transition: 0.3s ease-in;
  background-color: #f5f5f5;
}

.map.slide {
  margin-left: -45vw;
  transition: 0.3s ease-in;
}

.edit-tags .overflow {
  overflow-y: auto;
  max-height: 45vh;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  color: #959595;
  cursor: default;
  border-color: #959595;
  background-color: white;
  border: solid 2px;
}

.filter-tags {
  background-color: transparent;
  position: absolute;
  top: 2vh;
  left: 7vw;
  min-width: 80vw;
}

.toggle {
  border: none;
  background-color: transparent;
  padding: 3vh;
  margin: -3vh;
  top: 2vh;
  position: absolute;
  right: 43vw;
}

.tag-image{
  height:14px;
}