<ng-template #rt let-r="result" let-t="term">
  <div>
    <div>{{r.name}}</div>
    <small class="ml-3" *ngIf="r.accountable">
      <span *ngIf="r.accountable" class="text-muted">led by</span>
      <img [src]="r.accountable.picture" width="15" height="15" class="rounded-circle mr-1">{{r.accountable.name}}
    </small>
    <small class="ml-3 d-flex" *ngIf="r.helpers.length>0">
      <span *ngIf="r.helpers.length>0" class="text-muted">with the help of</span>

      <span class="pl-1" *ngFor="let helper of r.helpers; let i=index">
        <img [src]="helper.picture" width="15" height="15" class="rounded-circle mr-1">{{helper.name}}
      </span>

    </small>
  </div>

</ng-template>
<div class="row filter-tags d-flex justify-content-start w-100 ">
  <div class="col-11 m-1 mt-4 pl-0">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="col-8 pl-0 form-group">
        <label *ngIf="isSearching" for="initiativeSearch" class="static-value small text-muted">{{searchResultsCount}} matches</label>
        <input #initiativeSearch [resultTemplate]="rt" type="text" id="initiativeSearch" class="form-control search" (selectItem)="zoomToInitiative($event)"
          [ngbTypeahead]="searchInitiatives" [resultFormatter]="formatter" [inputFormatter]="formatter" editable="false" (focus)="initiativeSearch.value=''"
        />
        <small (click)="isFiltersToggled=!isFiltersToggled" class="form-text text-muted pull-right btn btn-link btn-sm">More
          <span class="mr-1">
            <i *ngIf="isFiltersToggled" class="fa fa-caret-down" aria-hidden="true"></i>
            <i *ngIf="!isFiltersToggled" class="fa fa-caret-left" aria-hidden="true"></i>
          </span>
        </small>
      </div>
      <div *ngIf="isFiltersToggled" class="col-8 card card-block">
        <h5 class="card-subtitle mb-2 text-muted d-flex justify-content-between">Tags
          <span class="btn btn-link btn-sm pl-0" (click)="isEditTags=!isEditTags">Edit tags
            <span class="mr-1">
              <i *ngIf="isEditTags" class="fa fa-caret-down" aria-hidden="true"></i>
              <i *ngIf="!isEditTags" class="fa fa-caret-left" aria-hidden="true"></i>
            </span>
          </span>
        </h5>
        <div class="d-flex flex-wrap">
          <span *ngFor="let tag of tags; let i=index">
            <a *ngIf="!tag.isSelected" class="btn btn-sm btn-tag btn-secondary  mr-1" [style.border-color]="tag.color" [style.color]="tag.color"
              (click)="toggleTag(tag)">
              <i class="fa fa-tag" aria-hidden="true"></i> {{tag.name}}
              <i class="fa fa-check" aria-hidden="true" [style.color]="'white'"></i>
            </a>
            <a *ngIf="tag.isSelected" class="btn btn-sm btn-tag btn-secondary  active mr-1" [style.border-color]="tag.color" [style.background-color]="tag.color"
              (click)="toggleTag(tag)">
              <i class="fa fa-tag" aria-hidden="true"></i> {{tag.name}}
              <i *ngIf="tag.isSelected" class="fa fa-check" aria-hidden="true" [style.color]="white"> </i>
            </a>
          </span>
        </div>
        <div class="edit-tags" *ngIf="isEditTags">
          <h6 class="mt-4">Edit tags</h6>
          <form class="form-group form-inline ml-3 mt-1" [formGroup]="newTagForm" (submit)="addTag()">
            <div class="d-flex col-4 pl-0 pr-0" [class.has-warning]="newTagForm.controls['name'].invalid  && (newTagForm.controls['name'].dirty || newTagForm.controls['name'].touched)"
              [style.min-width.vw]="19.5">
              <input type="text" id="inputname" formControlName="name" placeholder="New tag" required name class="w-100 form-control ">
            </div>
            <div class="d-flex col-4 ml-2 pl-2 pr-0">
              <input [style.min-width.vw]="17.2" class="form-control" placeholder="Pick a color" [(colorPicker)]="newTagColor" [style.background]="newTagColor"
                [value]="newTagColor" [cpOutputFormat]="'hex'" [cpPosition]="'bottom'" [cpPositionOffset]="'40%'" [cpPositionRelativeToArrow]="true"
                (colorPickerChange)="newTagColor=$event" formControlName="color" />
            </div>
            <button type="submit" class="btn btn-success" [class.disabled]="!newTagForm.valid">Add</button>

          </form>
          <div class="overflow ">

            <div class="form-group row ml-0" *ngFor="let tag of tags; let i=index">
              <span class="remove text-danger mr-1 mt-1" placement="top" container="body" mwlConfirmationPopover title="This cannot be undone! The tag {{tag.name}} will be removed from all initiatives too. Confirm?"
                focusbutton="cancel" appendToBody="false" (confirm)="removeTag(tag)" (cancel)="cancelClicked = true">

              </span>
              <input type="text" class="col-4 col-form-label form-control" name="inputTagName" [ngModelOptions]="{standalone: true}" [ngModel]="tag.name"
                (ngModelChange)="saveTagName(tag, $event)" (blur)="saveTagChanges()" />
              <div class="col-4">
                <input class="form-control" [(colorPicker)]="tag.color" [style.background]="tag.color" [value]="tag.color" [cpOutputFormat]="'hex'"
                  [cpPosition]="'bottom'" [cpPositionOffset]="'40%'" [cpPositionRelativeToArrow]="true" (colorPickerChange)="saveColor(tag, $event)"
                />
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="control first">
  <div class=" btn-group-vertical">

    <a class="btn btn-secondary circles icon" routerLinkActive="active-link" routerLink="/map/{{datasetId}}/{{slug}}/initiatives"
      fragment="x=761&y=761&scale=1&{{tagsFragment}}" placement="left" container="body" ngbTooltip="Circle view"></a>
    <a class="btn btn-secondary tree icon" routerLinkActive="active-link" routerLink="/map/{{datasetId}}/{{slug}}/people" fragment="x=100&y=380.5&scale=1&{{tagsFragment}}"
      placement="left" container="body" ngbTooltip="Tree view"></a>
    <a class="btn btn-secondary network icon" routerLinkActive="active-link" routerLink="/map/{{datasetId}}/{{slug}}/connections"
      fragment="x=0&y=-380.5&scale=1&{{tagsFragment}}" placement="left" container="body" ngbTooltip="Network view"></a>

    <!-- <a class="btn btn-secondary experimental icon" routerLinkActive="active-link" routerLink="/map/{{datasetId}}/{{slug}}/zoomable"
      fragment="x=640&y=460&scale=1&{{tagsFragment}}" placement="left" container="body" ngbTooltip="Experimental"></a> -->
  </div>
</div>

<div class="control  second mt-4">
  <div class=" btn-group-vertical">
    <a class="btn btn-secondary minus" (click)="zoomOut()" placement="left" container="body" ngbTooltip="Zoom out"></a>
    <a class="btn btn-secondary plus" (click)="zoomIn()" placement="left" container="body" ngbTooltip="Zoom in"></a>
    <a class="btn btn-secondary reset" (click)="resetZoom()" placement="left" container="body" ngbTooltip="Zoom fit"></a>
    <a class="btn btn-secondary settings" (click)="isSettingToggled=!isSettingToggled" placement="left" container="body" ngbTooltip="Settings"></a>
  </div>
</div>

<div class="control third mt-4" *ngIf="isSettingToggled">
  <div class="card card-block">
    <h6 class="card-subtitle">Text settings</h6>
    <div class="form-group form-inline">
      <label for="example-time-input" class="col-6 col-form-label">Text size</label>
      <div class="col-6">
        <input class="vertical transparent" #fontInput name="fontInput" type="range" min="8" max="30" value="16" (change)="changeFontSize(fontInput.value)"
          orient="vertical">
      </div>
    </div>
  </div>

</div>


<div tabIndex="-1" class="map" (focus)="isSettingToggled=false">
  <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
</div>