@if (showDescriptions$ | async) {
  <div class="circle-details">
    <h1 class="circle-details__name">
      {{ selectedCircleName$ | async }}
    </h1>
    @if (selectedCircleDescription$ | async; as description) {
      <markdown
        class="circle-details__description cursor-text d-block border-0 w-100 h-100"
        [data]="description"
      ></markdown>
    }
  </div>
}

<maptio-svg-zoom-pan class="expanded-map" (click)="onBackdropClick()">
  @for (primaryCircle of rootCircle?.children; track primaryCircle) {
    <svg:g
      maptioCircle
      [circle]="primaryCircle"
      ></svg:g>
    }
  </maptio-svg-zoom-pan>
