<div class="card" *ngIf="dataset" [class.pointer-none]="isReadOnly" [class.overflow-hidden]="dataset?.team?.isExample" [class.archived]="dataset.isArchived">
    <div *ngIf="dataset?.team?.isExample" class="corner-ribbon bottom-right bg-accent box-shadow">
        <i class="fas fa-dice mx-1"></i>Sample</div>
    <div class="card-body d-flex flex-column">
        <div class="card-title">
            <div class="d-flex justify-content-between align-items-baseline">
                <div class="w-100">
                    <div *ngIf="!isEditing" class="lead">
                        <a routerLink="/map/{{dataset?.datasetId}}/{{dataset?.initiative.getSlug()}}/circles"> {{dataset?.initiative.name}}</a>
                    </div>
                    <form *ngIf="isEditing" class="form-group form-inline d-flex align-items-start" [formGroup]="form" (submit)="save()">

                        <input class="form-control mr-1 col" formControlName="mapName" required [class.is-invalid]="form.controls['mapName'].invalid  && (form.controls['mapName'].dirty || form.controls['mapName'].touched)"
                            value="{{dataset?.initiative.name}}" *ngIf="isEditing" type="text">
                        <small class="invalid-feedback">
                            Required
                        </small>
                        <small class="text-danger" *ngIf="isUpdateFailed">
                            Update failed!
                        </small>

                        <button class="btn btn-success" type="submit">Save</button>
                        <button class="btn btn-link" (click)="isEditing=false">Cancel</button>
                    </form>
                </div>
                <div class="small text-muted my-1 nowrap" [class.d-none]="isEditing">{{dataset?.depth}} {{dataset?.depth
                    < 1 ? "circle" : "circles"}} </div>

            </div>
        </div>
        <div class="card-subtitle my-1 d-flex align-items-baseline" *ngIf="dataset?.getName()">
            <!-- <span class="grayscale mr-1">🎯</span> -->
            <span>{{dataset?.getName()}}</span>
        </div>

                <div class="card-subtitle my-2 text-muted">
                    <div class="d-flex justify-content-between">
                        <span *ngIf="dataset?.initiative.children">
                            <div *ngIf="dataset?.initiative.children[0]?.accountable" class="text-muted d-flex align-items-center">
                                <span class="">Led by</span>    
                                <img class="rounded-circle mx-1" width="32" height="32" src="{{dataset?.initiative.children[0]?.accountable?.picture}}" alt="{{dataset?.initiative.children[0]?.accountable?.name}}">
                                <a class="text-muted" routerLink="/map/{{dataset?.datasetId}}/{{dataset?.initiative.getSlug()}}/summary" [queryParams]="{member: dataset?.initiative.children[0]?.accountable?.shortid}">
                                    <span> {{dataset?.initiative.children[0]?.accountable?.name}}</span>
                                </a>

                            </div>

                            <div *ngIf="!dataset?.initiative.children[0]?.accountable" class="text-muted">
                                No vision holder yet.
                            </div>
                        </span>
                    </div>

                </div>
                <div class="card-subtitle my-2" *ngIf="isTeamDisplayed">
                    Organization
                    <a routerLink="/teams/{{dataset?.team?.team_id}}/{{dataset?.team?.getSlug()}}">{{dataset?.team?.name}}</a>

                </div>


        </div>
        <div class="card-footer border-top-0 d-flex justify-content-between align-items-center">
            <button *ngIf=" isExportAvailable" [class.invisible]="dataset.isArchived" [class.invisible]="isEditing" class="btn btn-sm btn-link pl-0 "
                (click)="export(dataset)">
                <i class="fas fa-table" aria-hidden="true"></i>
                <span *ngIf="!isExporting">Export</span>
                <span class="text-muted" *ngIf="isExporting">Exporting</span>
            </button>
            <ng-container *permissionsOnly="Permissions.canEditMapName">

                <button *ngIf="isEditAvailable && !dataset?.team?.isExample" [class.invisible]="dataset.isArchived" class="btn btn-link btn-sm underline-on-hover" [class.invisible]="isEditing"
                    (click)="isEditing=true">
                    <i class="fas fa-pen"></i> Edit name
                </button>
                <button *ngIf="isEditAvailable && !dataset?.team?.isExample" [class.invisible]="dataset.isArchived" class="btn btn-link btn-sm underline-on-hover"
                    [class.d-none]="isEditing" (click)="duplicate()">
                    <i class="fas fa-copy"></i>
                    <span *ngIf="!isCopying">Copy</span>
                    <span class="text-muted" *ngIf="isCopying">Copying</span>
                </button>
                <button *ngIf="!dataset.isArchived && isEditAvailable && !dataset?.team?.isExample" class="btn btn-link btn-sm pr-0 underline-on-hover" [class.invisible]="isEditing"
                    mwlConfirmationPopover [popoverTitle]="'Archive this map?'" [popoverMessage]="'You can retrived archived maps on the Maps section of the team page'"
                    placement="bottom" focusButton="cancel" appendToBody="true" (confirm)="archive()" (cancel)="cancelClicked = true">
                    <i class="fas fa-archive"></i> Archive
                </button>
                <button *ngIf="dataset.isArchived && !dataset?.team?.isExample" class="btn btn-link btn-sm pr-0 underline-on-hover" [class.invisible]="isEditing"
                    (click)="restore()">
                    <i class="fas fa-undo"></i> Restore
                </button>
            </ng-container>
        </div>
    </div>