<div class="card" *ngIf="dataset" [class.archived]="dataset.isArchived">
    <div class="card-body d-flex flex-column">
        <div class="card-title text-bold">
            <div class="d-flex justify-content-between align-items-start">
                <div>
                    <b *ngIf="!isEditing" class="">
                        <a routerLink="/map/{{dataset?.datasetId}}/{{dataset?.initiative.getSlug()}}/circles"> {{dataset?.initiative.name}}</a>
                    </b>
                    <form *ngIf="isEditing" class="form-group form-inline d-flex align-items-start" [formGroup]="form" (submit)="save()">
                        <div>
                            <input class="form-control form-control-sm mr-1" formControlName="mapName" required [class.is-invalid]="form.controls['mapName'].invalid  && (form.controls['mapName'].dirty || form.controls['mapName'].touched)"
                                value="{{dataset?.initiative.name}}" *ngIf="isEditing" type="text">
                            <small class="invalid-feedback">
                                Required
                            </small>
                            <small class="text-danger" *ngIf="isUpdateFailed">
                                Update failed!
                            </small>
                        </div>

                        <button class="btn btn-success btn-sm" type="submit">Save</button>
                        <button class="btn btn-link btn-sm" (click)="isEditing=false">Cancel</button>
                    </form>
                </div>
                <div>
                    <div class="small text-muted">{{dataset?.depth}} {{dataset?.depth
                        < 1 ? "circle" : "circles"}}</div>


                    </div>
                </div>

            </div>
            <div class="card-subtitle" *ngIf="isTeamDisplayed">
                Organization
                <a routerLink="/teams/{{dataset?.team?.team_id}}/{{dataset?.team?.getSlug()}}">{{dataset?.team?.name}}</a>

            </div>
            <div class="card-subtitle mt-2 text-muted small">
                <div class="d-flex justify-content-between">
                    <span *ngIf="dataset?.initiative.children">
                        <div *ngIf="dataset?.initiative.children[0]?.accountable" class="text-muted">Vision held by
                            <img class="rounded-circle" width="32" height="32" src="{{dataset?.initiative.children[0]?.accountable?.picture}}" alt="{{dataset?.initiative.children[0]?.accountable?.name}}">
                            <a class="text-muted" routerLink="/map/{{dataset?.datasetId}}/{{dataset?.initiative.getSlug()}}/summary" [queryParams]="{member: dataset?.initiative.children[0]?.accountable?.shortid}">
                                <span> {{dataset?.initiative.children[0]?.accountable?.name}}</span>
                            </a>

                        </div>

                        <div *ngIf="!dataset?.initiative.children[0]?.accountable" class="text-warning">
                            No vision holder yet.
                        </div>
                    </span>
                </div>

            </div>



        </div>
        <div class="card-footer border-top-0 d-flex justify-content-between align-items-center">
            <button *ngIf=" isExportAvailable" [class.invisible]="dataset.isArchived" class="btn btn-sm btn-link pl-0 " (click)="export(dataset)">
                <i class="fas fa-table" aria-hidden="true"></i>
                <span *ngIf="!isExporting">Export</span>
                <span class="text-muted" *ngIf="isExporting">Exporting</span>
            </button>
            <ng-container *permissionsOnly="Permissions.canEditMapName">

                <button *ngIf="isEditAvailable" [class.invisible]="dataset.isArchived" class="btn btn-link btn-sm" [class.d-none]="isEditing"
                    (click)="isEditing=true">
                    <i class="fas fa-pen"></i> Edit name
                </button>
                <button *ngIf="isEditAvailable" [class.invisible]="dataset.isArchived" class="btn btn-link btn-sm" [class.d-none]="isEditing"
                    (click)="duplicate()">
                    <i class="fas fa-copy"></i>
                    <span *ngIf="!isCopying">Copy</span>
                    <span class="text-muted" *ngIf="isCopying">Copying</span>
                </button>
                <button *ngIf="!dataset.isArchived && isEditAvailable" class="btn btn-link btn-sm pr-0" [class.d-none]="isEditing" mwlConfirmationPopover
                    [popoverTitle]="'Archive this map?'" [popoverMessage]="'You can retrived archived maps on the Maps section of the team page'"
                    placement="bottom" focusButton="cancel" appendToBody="true" (confirm)="archive()" (cancel)="cancelClicked = true">
                    <i class="fas fa-archive"></i> Archive
                </button>
                <button *ngIf="dataset.isArchived" class="btn btn-link btn-sm pr-0" [class.d-none]="isEditing" (click)="restore()">
                    <i class="fas fa-undo"></i> Restore
                </button>
            </ng-container>
        </div>
    </div>