<common-modal [nextActionName]="nextActionName" [previousActionName]="previousActionName" [isSkippable]="false" [isReady]="true"
    [isWithProgress]="false" (next)="nextStep()" (previous)="previousStep()" (close)="close()">

    <ng-container *ngIf="currentStep === 'Welcome'">
        <ng-container *ngTemplateOutlet="welcome"></ng-container>
    </ng-container>

    <ng-container *ngIf="currentStep === 'RightClick'">
        <ng-container *ngTemplateOutlet="rightclick"></ng-container>
    </ng-container>

    <ng-container *ngIf="currentStep === 'TreePanel'">
        <ng-container *ngTemplateOutlet="treepanel"></ng-container>
    </ng-container>

    <ng-container *ngIf="currentStep === 'EditPanel'">
        <ng-container *ngTemplateOutlet="editpanel"></ng-container>
    </ng-container>

    <ng-container *ngIf="currentStep === 'Directory'">
        <ng-container *ngTemplateOutlet="directory"></ng-container>
    </ng-container>

    <ng-container *ngIf="currentStep === 'Ending'">
        <ng-container *ngTemplateOutlet="ending"></ng-container>

    </ng-container>
</common-modal>


<ng-template #welcome>

    <span class="display-3">
        <span class="text-accent">👋 {{user?.firstname}}</span>, welcome to Maptio!</span>
    <h4 class="my-4 text-muted">
        Thanks for signing up and giving Maptio a try. We're really excited to have you onboard.
    </h4>

</ng-template>




<ng-template #treepanel>
    <h1>Align with one shared vision</h1>
    <div class="mt-5">
        <div class="d-flex justify-content-center align-items-center w-100">
            <div class="col-6 d-flex flex-column">
                <span class="h5 py-2">
                    <i class="far fa-check-circle mr-1"></i>Communicate your vision
                    <span class="text-accent">simply and visually</span>
                </span>
                <span class="h5 py-2">
                    <i class="far fa-check-circle mr-1"></i>
                    <span class="text-accent">Onboard new people</span> quickly</span>
                <span class="h5 py-2">
                    <i class="far fa-check-circle mr-1"></i>Build
                    <span class="text-accent">greater transparency and accountability</span> over everyone’s roles</span>
            </div>
            <div class="col">
                <img width="100%" height="auto" src="/assets/images/onboarding/full_map.png" alt="">
            </div>
        </div>
    </div>
</ng-template>

<ng-template #editpanel>
    <h1>Keep all the details in one place</h1>
    <div class="mt-5">
        <div class="d-flex justify-content-center align-items-center w-100">
            <div class="col-6 d-flex flex-column">
                <span class="h5 py-2">
                    <i class="far fa-check-circle mr-1"></i>Store relevant documents in the same place and
                    <span class="text-accent">speed up collaboration</span>
                </span>
                <span class="h5 py-2">
                    <i class="far fa-check-circle mr-1"></i>Create
                    <span class="text-accent">tailored roles</span> for each person or assign pre-made roles
                    <span class="badge badge-pill badge-success">Coming soon</span>
                </span>
            </div>
            <div class="col">
                <img class="rounded" width="100%" height="auto" src="/assets/images/onboarding/one_circle_details.png" alt="">

            </div>

        </div>
    </div>
</ng-template>

<ng-template #directory>
    <h1>Adapt with your organisation needs</h1>
    <div class="mt-5">
        <div class="d-flex justify-content-center align-items-center w-100">
            <div class="col-6 d-flex flex-column">
                <span class="h5 py-2">
                    <i class="far fa-check-circle mr-1"></i>Always know who is doing what
                </span>
                <span class="h5 py-2">
                    <i class="far fa-check-circle mr-1"></i>Always know if a role is not filled
                    <span class="badge badge-pill badge-success">Coming soon</span>
                </span>
                <span class="h5 py-2">
                    <i class="far fa-check-circle mr-1"></i>Editing the maps is fast and easy
                </span>
            </div>
            <div class="col">
                <img class="rounded" width="100%" height="auto" src="/assets/images/onboarding/one_circle.png" alt="">

            </div>

        </div>
    </div>
</ng-template>

<ng-template #rightclick>
    <h1>Updating your maps is fast and easy</h1>
    <h4 class="my-1 text-muted">
        No more initiative lists or complicated documents, update the map with a click
    </h4>
    <div class="d-flex mt-5 align-items-stretch">
        <div class="d-flex justify-content-center align-items-center w-100 flex-column">
            <span class="lead text-bold text-accent">
                <i class="fas fa-info-circle mr-1"></i>Bring up the map menu with Right-click on
                <i class="fab fa-windows"></i> or Ctrl+click on
                <i class="fab fa-apple"></i>
            </span>
            <img class="img-thumbnail" width="auto" height="75%" src="/assets/videos/right-click.gif" alt="">
        </div>
    </div>

</ng-template>


<ng-template #ending>
    <h1>
        <span class="text-accent ">{{user?.firstname}} </span>, before you start ...
    </h1>

    <h4 class="my-1 text-muted">
        The Banana App Company has shared their map with you so you can have a peek.
    </h4>

    <div class="mt-5 d-flex flex-column justify-content-start">
        <div class="d-flex align-items-center my-2">
            <div class="mr-3 explainer square">
                <img class="rounded-circle border border-thick" width="100%" height="100%" src="/assets/images/onboarding/left_panel.png" alt="">
            </div>
            <div>
                <span class="h5 my-4">
                    Open the tree of initiatives to rearrange the order
                </span>
            </div>
        </div>

        <div class="d-flex justify-content-end align-items-center my-2">

            <div>
                <div class="h5 my-4">
                    Right-click on a circle to view, edit, and more
                    <div class="text-muted">
                        Ctrl+
                        <i class="fas fa-mouse-pointer"></i> on
                        <i class="fab fa-apple"></i>
                    </div>
                </div>

            </div>
            <div class="col-auto explainer">
                <img class="border border-thick" width="auto" height="100%" src="/assets/videos/right_click.gif" alt="">
            </div>
        </div>

        <!-- <div class="d-flex align-items-center mt-5">
            <h5 class="text-bold">
                Once you're ready, create your organisation and start your 14 days free trial
            </h5>
        </div> -->
    </div>

</ng-template>