<common-modal [nextActionName]="nextActionName" [previousActionName]="previousActionName" [isSkippable]="false" [isReady]="true"
    [isWithProgress]="false" (next)="nextStep($event)" (previous)="previousStep($event)" (close)="close($event)">

    <ng-container *ngIf="currentStep === 'Welcome'">
        <ng-container *ngTemplateOutlet="welcome"></ng-container>
    </ng-container>

    <ng-container *ngIf="currentStep === 'RightClick'">
        <ng-container *ngTemplateOutlet="rightclick"></ng-container>
    </ng-container>

    <ng-container *ngIf="currentStep === 'TreePanel'">
        <ng-container *ngTemplateOutlet="treepanel"></ng-container>
    </ng-container>

    <ng-container *ngIf="currentStep === 'EditPanel'">
        <ng-container *ngTemplateOutlet="editpanel"></ng-container>
    </ng-container>

    <ng-container *ngIf="currentStep === 'Directory'">
        <ng-container *ngTemplateOutlet="directory"></ng-container>
    </ng-container>

    <ng-container *ngIf="currentStep === 'Ending'">
        <ng-container *ngTemplateOutlet="ending"></ng-container>

    </ng-container>
</common-modal>


<ng-template #welcome>

    <span class="display-4">
        <span class="text-blue">👋 {{user?.firstname}}</span>, welcome to Maptio!</span>
    <h4 class="my-4 text-muted">
        Thanks for signing up and giving Maptio a try. We're really excited to have you onboard.


    </h4>

    <h4 class="mt-5">
        <span class="text-muted">With Maptio, you will :</span>
        <div class="ml-2 my-3 d-flex flex-column justify-content-start">
            <span class="h6 py-2">
                <i class="fas fa-check mr-1"></i>Communicate your organization structure
                <b>simply and visually</b>
            </span>
            <span class="h6 py-2">
                <i class="fas fa-check mr-1"></i>
                <b>Onboard new people</b> to your organisation quickly</span>
            <span class="h6 py-2">
                <i class="fas fa-check mr-1"></i>Build
                <b>greater transparency and accountability</b> over everyone’s roles</span>
        </div>
    </h4>

</ng-template>




<ng-template #treepanel>
    <h1>All your circles always visible 🤝 </h1>
    <h4 class="text-muted my-1">Build a list all the circles in your organization and arrange them to reflect your structure </h4>
    <div class="mt-5">
        <div class="d-flex justify-content-center align-items-center w-100 flex-column">
            <span class="lead text-bold">
                <i class="fas fa-info-circle mr-1"></i> Open the left panel to see a list of all circles
            </span>
            <img width="auto" height="100%" src="/assets/videos/tree_panel.gif" alt="">

        </div>
    </div>
</ng-template>


<ng-template #editpanel>
    <h1>Keep all details in the same place 🎯 </h1>
    <h4 class="text-muted my-1">People, roles, documents and resources are kept relevant. You decide who can update the maps.</h4>
    <div class="mt-5">
        <div class="d-flex justify-content-center align-items-center w-100 flex-column">
            <span class="lead text-bold">
                <i class="fas fa-info-circle mr-1"></i>Click on an item to open and edit the circles details
            </span>
            <img width="auto" height="100%" src="/assets/videos/edit_panel.gif" alt="">

        </div>
    </div>
</ng-template>

<ng-template #directory>
    <h1>Always know who is doing what 🏆 </h1>
    <h4 class="text-muted my-1">Keep people in your organization accountable. They can review their circles at any time. </h4>
    <div class="d-flex mt-5">
        <div class="d-flex justify-content-center align-items-center w-100 flex-column">
            <span class="lead text-bold">
                <i class="fas fa-info-circle mr-1"></i> Open the directory to see people and the circles their involved in.
            </span>
            <img width="auto" height="100%" src="/assets/videos/directory.gif" alt="">
        </div>
    </div>
</ng-template>

<ng-template #rightclick>
    <h1>Updating your maps is fast and easy 💨</h1>
    <h4 class="my-1 text-muted">
        No more initiative lists or complicated documents, update the map with a click
    </h4>
    <div class="d-flex mt-5 align-items-stretch">
        <div class="d-flex justify-content-center align-items-center w-100 flex-column">
            <span class="lead text-bold">
                <i class="fas fa-info-circle mr-1"></i>Bring up the map menu with Right-click on
                <i class="fab fa-windows"></i> or Ctrl+click on
                <i class="fab fa-apple"></i>
            </span>
            <img width="auto" height="100%" src="/assets/videos/right_click.gif" alt="">
        </div>
    </div>

</ng-template>


<ng-template #ending>
    <h1>
        <span class="text-blue">{{user?.firstname}} </span>, one last thing!
    </h1>

    <h4 class="my-1 text-muted">
        We have created an sample map to get you started 💪.
    </h4>

    <div class="my-5 d-flex flex-column justify-content-start">
        <div class="d-flex align-items-center my-3">
            <span class="fa-stack fa-2x mx-2">
                <i class="fas fa-circle fa-stack-2x text-dark"></i>
                <strong class="fa-stack-1x text-light">1</strong>
            </span>
            <div>
                <span class="h5 my-4">
                    Add, edit, delete as much as you want. Go crazy!
                    <div class="text-muted">Familiarize yourself with Maptio intuitive interface</div>
                </span>
            </div>
        </div>

        <div class="d-flex align-items-center my-3">
            <span class="fa-stack fa-2x mx-2">
                <i class="fas fa-circle fa-stack-2x text-dark"></i>
                <strong class="fa-stack-1x text-light">2</strong>
            </span>
            <div>
                <span class="h5 my-4">
                    Explore the tree view & network view for a different perspective </span>
            </div>
        </div>

        <div class="d-flex align-items-center my-3">
            <span class="fa-stack fa-2x mx-2">
                <i class="fas fa-circle fa-stack-2x text-blue"></i>
                <strong class="fa-stack-1x text-light">3</strong>
            </span>
            <div>
                <span class="h5 my-4">
                    Create you own organisation and start mapping
                    <div class="text-muted">Only when you're ready! This will start you 14 days free trial.</div>
                </span>
            </div>
        </div>
    </div>

</ng-template>