<svg:g
  class="circle__button"
  [style.transform]="
    'translate(' +
    1.08 * defaultRadius * 0.707 +
    'px, ' +
    -1.08 * defaultRadius * 0.707 +
    'px)'
  "
>
  <svg:foreignObject
    [attr.x]="-24"
    [attr.y]="-24"
    [attr.width]="48"
    [attr.height]="48"
  >
    <nb-item-menu-button
      class="circle__button-element"
      [nbMenuTriggerFor]="menu.matMenu"
      (click)="$event.stopPropagation()"
    >
      +
    </nb-item-menu-button>
  </svg:foreignObject>
</svg:g>

<nb-item-menu #menu>
  <nb-menu-item [icon]="'info'" (click)="toggleDetailsPanel()">
    <span>Toggle details</span>
  </nb-menu-item>
  <nb-menu-item [icon]="'add'" (click)="addSubcircle()">
    <span>Add sub-circle</span>
  </nb-menu-item>
  <nb-menu-item [icon]="'delete'" (click)="deleteCircle()">
    <span>Delete</span>
  </nb-menu-item>
</nb-item-menu>
