<div class="h5">
  <p>
    If you love Maptio and want to continue using it, you can subscribe and
    choose your own level of contribution. Here are some suggestions, but it's
    your decision.
  </p>

  <br />

  <div ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          Companies and funded non-profits with 30 - 300 people earning their
          livelihood
        </button>
      </h2>

      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            We suggest $100 - $200 per month. Adjust upward or downward
            depending on your team size, and to find your sweet spot of
            affordability, value, and contribution.
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          Smaller, but funded, companies and non-profits
        </button>
      </h2>

      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            We suggest $40 - $80 per month. Adjust upward or downward depending
            on your team size, and to find your sweet spot of affordability,
            value, and contribution.
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          Unfunded Early-stage start-ups, and non-profits with little or no
          funding
        </button>
      </h2>

      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            How about $20 or $30 per month? If you attract revenue or funding
            later you can increase this any time.
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          Individuals using Maptio mostly as a solo tool
        </button>
      </h2>

      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            We suggest $10 - $70 per month. Adjust upward or downward depending
            on the value you get from Maptio, whether you work in a commercial
            or non-profit environment, and the relative cost of living in your
            country.
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          Initiatives and individuals with very challenging finances
        </button>
      </h2>

      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            No problem, we've got you covered. You're very welcome to use Maptio
            either for a small contribution that you choose, or email us at
            <a href="mailto:support@maptio.com">support&#64;maptio.com</a>
            to request a free account if you're unable pay. We can only offer
            free accounts if most customers do contribute money, and we might
            sometimes have to limit the number of free accounts available. So if
            you're able to make even a small contribution, please do.
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />

  <h2>Choose your monthly contribution</h2>

  <form
    (ngSubmit)="onSubmit()"
    #contributionForm="ngForm"
    class="d-flex flex-row row mb-2"
  >
    <div
      class="form-group col-md-8 col-lg-6 col-xl-5 mt-3"
      style="max-width: 329px !important"
    >
      <select
        class="form-select form-control-lg"
        id="contribution"
        required
        [(ngModel)]="contribution"
        name="contribution"
        #contributionSelect="ngModel"
      >
        <option [value]="null">Your contribution (in US$)</option>

        <option
          *ngFor="let contributionOption of contributionOptions"
          [value]="contributionOption"
        >
          ${{ contributionOption }}
        </option>
      </select>

      <div
        [hidden]="contributionSelect.valid || contributionSelect.pristine"
        class="alert alert-danger"
      >
        Please select a contribution value
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-success btn-lg my-3 col-md-2"
      i18n="@@subscribe"
      [disabled]="!contributionForm.form.valid || submitted"
    >
      Subscribe
    </button>
  </form>

  <p>
    Email
    <a href="mailto:support@maptio.com">support&#64;maptio.com</a>
    to request a free account.
  </p>

  <p>
    Remember, as well as money, we also welcome non-monetary contributions like
    testimonials, blog, and social media posts to tell your friends about us,
    and contributions to our open source project. Or perhaps you can suggest
    another way you'd like to contribute?
  </p>
</div>
